In [1]:
#Imports the necessary libraries
import pandas as pd
import os
import numpy as np
import pyodbc as odbc
from datetime import date,timedelta,datetime
import xlsxwriter
import matplotlib.image as mpimg
from openpyxl.drawing.image import Image
import matplotlib.pyplot as plt
from openpyxl import Workbook

In [2]:
# Names the needed driver, server name, and database
driver_name='SQL Server'
server_name='10.0.1.218'
database='ritascoolnet_live'
#Creates the connection string
connection_string=f"""
DRIVER={{{driver_name}}};
SERVER={server_name};
DATABASE={database};
Trust_Connection=yes"""
#Creates the Connection to SQL Server
connection=odbc.connect(connection_string)
print(connection)
# Reads in the Weekly Sales in 2024
df=pd.read_sql_query('''SELECT *
  FROM [ritas_bi].[dbo].[tmp_raw_plda]
  WHERE StartDate >= '2023-01-02' AND StartDate < '2024-12-30' ''',connection)

<pyodbc.Connection object at 0x0000017D666E56B0>

C:\Users\jharned\AppData\Local\Temp\ipykernel_31420\3841722774.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query('''SELECT *

In [3]:
product_sales=pd.read_sql_query('''Select * from ritascoolnet_live.dbo.tblProductSalesTransactions Where dteStartDate >='2023-01-02'
AND dteStartDate <'2024-12-30'  ''',connection)

C:\Users\jharned\AppData\Local\Temp\ipykernel_31420\392278636.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  product_sales=pd.read_sql_query('''Select * from ritascoolnet_live.dbo.tblProductSalesTransactions Where dteStartDate >='2023-01-02'

In [4]:
data3=pd.read_sql_query('''Select intstoreid as intStoreID,RitasID as ShopID, FC,CoolNetGroup,LegacyStoreType,State,MSAName,DMA,StoreName as ShopName,
CoOpName,Franchisee,[Parent Shop #] as ParentID,[Special Venue] as SV,StoreStatus,[Re Open Date] as ReOpenDate,OpenDate,StoreType from ritascoolnet_live.dbo.vShopDetail''',connection)

C:\Users\jharned\AppData\Local\Temp\ipykernel_31420\2542055834.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data3=pd.read_sql_query('''Select intstoreid as intStoreID,RitasID as ShopID, FC,CoolNetGroup,LegacyStoreType,State,MSAName,DMA,StoreName as ShopName,

In [5]:
data4=pd.read_sql_query('''select intstoreid as intStoreID,StoreName from ritas_bi.dbo.shopSalesRankingWeekly''',connection)

C:\Users\jharned\AppData\Local\Temp\ipykernel_31420\845349543.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data4=pd.read_sql_query('''select intstoreid as intStoreID,StoreName from ritas_bi.dbo.shopSalesRankingWeekly''',connection)

In [7]:
data4.loc[data4.intStoreID==5581,'intStoreID']=5119

In [8]:
df['Year']=df.StartDate.dt.year
df.loc[df.ShopID==31360,'ShopID']=1568
df.loc[df.ShopID==1568,'intStoreID']=5444
data3.loc[data3.ShopID==1568,'intStoreID']=5444
product_sales['Year']=product_sales.dteStartDate.dt.year
ps=product_sales
df=df.merge(data3[['intStoreID','ShopID','ParentID']],on=['intStoreID','ShopID'],how='left')

In [9]:
data4.loc[data4.StoreName=='Lincoln Financial Field PA','intStoreID']=5444

In [10]:
df=df.merge(data4[['intStoreID','StoreName']],on='intStoreID',how='left')

In [11]:
df[df.ShopID==445].StoreName.unique()

array(['Virginia Beach-Kempsville VA'], dtype=object)

In [12]:
ps['Retail_GC']=ps.intTransactionCount-ps.intUECount\
-ps.intDDCount-ps.intGHCount
ps

,intProductSalesTransactionID,intRitasStoreID,intTransactionCount,dteStartDate,dteEndDate,dteCreatedOn,vchSource,intNumberOfDays,intRegister,intUECount,intDDCount,intGHCount,intStoreid,Year,Retail_GC
0,1057377,1478,383,2023-01-02,2023-01-08,2023-01-09 10:29:06.337,SMART,7,1,0,0,0,5257.0,2023,383
1,1057381,250,331,2023-01-02,2023-01-08,2023-01-09 11:22:28.730,SMART,7,1,0,0,0,4109.0,2023,331
2,1057382,127,0,2023-01-02,2023-01-08,2023-01-09 11:37:23.040,SMART,0,1,0,0,0,773.0,2023,0
3,1058258,22,1036,2023-01-02,2023-01-08,2023-01-10 01:05:04.303,SMART,7,1,0,0,0,523.0,2023,1036
4,1058259,39,643,2023-01-02,2023-01-08,2023-01-10 01:05:04.303,SMART,7,1,0,0,0,524.0,2023,643
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42457,1186591,10836,463,2023-02-20,2023-02-26,2023-02-28 01:05:10.193,SMART,4,1,0,0,0,3302.0,2023,463
42458,1186592,11369,143,2023-02-20,2023-02-26,2023-02-28 01:05:10.193,SMART,4,1,0,0,0,4740.0,2023,143
42459,1186593,11419,136,2023-02-20,2023-02-26,2023-02-28 01:05:10.193,SMART,2,1,0,0,0,5271.0,2023,136
42460,1186594,11453,127,2023-02-20,2023-02-26,2023-02-28 01:05:10.193,SMART,2,1,0,0,0,5373.0,2023,127
42461,1190330,1403,373,2023-02-20,2023-02-26,2023-02-28 14:59:59.960,None,7,1,0,0,0,2207.0,2023,373

In [13]:
df[df.LegacyShopStatus=='Satellite Store'].LegacyShopType.unique()

array(['Mobile with POS', 'Special Venue', 'Mobile', 'Fixed Standard'],
      dtype=object)

In [14]:
total=df.pivot_table(index=['ParentID'],
                                                                                  columns='Year',
                                                                                  values='SalesMny',
                                                                                  aggfunc='sum',
                                                                                  fill_value=0).reset_index()
total['% Chg']=total.iloc[:,-1]/total.iloc[:,-2]-1
total['% Chg']=total['% Chg'].fillna(0)
total['% Chg']=total['% Chg'].replace([np.inf,np.nan],0)
total.head()

Year  ParentID         2023         2024     % Chg
0          1.0  409081.0250  398612.2120 -0.025591
1          2.0  570197.6675  555412.4075 -0.025930
2          3.0  302488.1535  267354.9320 -0.116147
3          4.0  264795.2265  264771.2268 -0.000091
4          6.0  397503.9060  425042.0439  0.069278

In [15]:
alist=['3rd Party Delivery','Full Service Catering (Open $)','Online Ordering','Catering (Bulk Ice)']
retail=df[~(df.LegacyShopType.str.contains('Mobile'))&~(
    df.ProductTypeName.isin(alist))&(df.LegacyShopStatus!='Satellite Store')].pivot_table(index=['ParentID'],
                                                                                  columns='Year',
                                                                                  values='SalesMny',
                                                                                  aggfunc='sum',
                                                                                  fill_value=0).reset_index()
retail['% Chg']=retail.iloc[:,-1]/retail.iloc[:,-2]-1
retail['% Chg']=retail['% Chg'].fillna(0)
retail['% Chg']=retail['% Chg'].replace([np.inf,np.nan],0)

In [16]:
digital_list=['3rd Party Delivery','Online Ordering']
digital=df[(df.ProductTypeName.isin(digital_list))&(df.SpecialVenue=='No')].pivot_table(index='ParentID',
                                                                                                          columns='Year',
                                                                                                          values='SalesMny',
                                                                                                          aggfunc='sum',
                                                                                                          fill_value=0)\
.reset_index()
digital['% Chg']=digital.iloc[:,-1]/digital.iloc[:,-2]-1
digital['% Chg']=digital['% Chg'].fillna(0)
digital['% Chg']=digital['% Chg'].replace([np.inf,np.nan],0)
digital.head(10)

Year  ParentID      2023      2024     % Chg
0          1.0      0.00      0.00  0.000000
1          2.0      0.00      0.00  0.000000
2          3.0  43376.26  37430.15 -0.137082
3          4.0  20923.44  14716.15 -0.296667
4          6.0  10091.69   8909.33 -0.117162
5          7.0      0.00      0.00  0.000000
6          8.0  21496.36  11417.51 -0.468863
7          9.0      0.00    448.00  0.000000
8         10.0  46624.61  81433.76  0.746583
9         11.0  12800.29  12650.55 -0.011698

In [17]:
catering=df[(df.SpecialVenue=='No')&(
    df.ProductTypeName=='Full Service Catering (Open $)')|(df.ProductTypeName=='Catering (Bulk Ice)')].pivot_table(index='ParentID',
                                                                                                        columns='Year',
                                                                                                        values='SalesMny',
                                                                                                        aggfunc='sum',
                                                                                                        fill_value=0).reset_index()
catering['% Chg']=catering.iloc[:,-1]/catering.iloc[:,-2]-1
catering['% Chg']=catering['% Chg'].fillna(0)
catering['% Chg']=catering['% Chg'].replace([np.inf,np.nan],0)
catering.head(10)

Year  ParentID     2023      2024     % Chg
0          1.0   359.90     0.000 -1.000000
1          2.0  5413.82  3254.070 -0.398933
2          3.0  1606.66  1149.700 -0.284416
3          4.0  4225.02  2416.413 -0.428071
4          6.0  2195.32  1975.480 -0.100140
5          7.0  1562.62  1499.520 -0.040381
6          8.0  5735.31  6975.600  0.216255
7          9.0   671.77   399.900 -0.404707
8         10.0  3863.40  4728.170  0.223837
9         11.0  6541.01  7725.750  0.181125

In [18]:
mobile=df[(df.LegacyShopType.str.contains('Mobile'))&(df.SpecialVenue=='No')&(
    df.ProductTypeName!='Full Service Catering (Open $)')].pivot_table(index='ParentID',
                                                                                                        columns='Year',
                                                                                                        values='SalesMny',
                                                                                                        aggfunc='sum',
                                                                                                        fill_value=0).reset_index()
mobile['% Chg']=mobile.iloc[:,-1]/mobile.iloc[:,-2]-1
mobile['% Chg']=mobile['% Chg'].fillna(0)
mobile['% Chg']=mobile['% Chg'].replace([np.inf,np.nan],0)
mobile.head()

Year  ParentID         2023         2024     % Chg
0          8.0  118177.8600   98407.0000 -0.167297
1         26.0  503790.3491  506206.9343  0.004797
2         41.0   17388.0000   10833.4500 -0.376958
3         60.0   26193.3930       0.0000 -1.000000
4         71.0  133267.0700  111267.5800 -0.165078

In [19]:
satellite=df[(df.LegacyShopStatus=='Satellite Store')&~(df.LegacyShopType.str.contains('Mobile'))].pivot_table(index=['ParentID'],
                                                                                  columns='Year',
                                                                                  values='SalesMny',
                                                                                  aggfunc='sum',
                                                                                  fill_value=0).reset_index()
satellite['% Chg']=satellite.iloc[:,-1]/satellite.iloc[:,-2]-1
satellite['% Chg']=satellite['% Chg'].fillna(0)
satellite['% Chg']=satellite['% Chg'].replace([np.inf,np.nan],0)

In [20]:
ps=ps.rename(columns={'intRitasStoreID':'ShopID'})
gc=ps.groupby(['ShopID','Year'])['Retail_GC'].sum().reset_index()
gc.loc[gc.ShopID==31360,'ShopID']=1568
gc['ParentID']=gc.ShopID.astype('int')
gc['ParentID']=gc.ShopID.astype('str')
gc['ParentID']=gc.ParentID.str[-4:]
gc['ParentID']=gc.ParentID.astype('int')
gc_total=gc
gc_total=gc_total[gc_total.ParentID!=491]
gc=gc_total.pivot_table(index='ParentID',values='Retail_GC',columns='Year',aggfunc='sum',fill_value=0)
gc['% Chg']=gc.iloc[:,-1]/gc.iloc[:,-2]-1
gc['% Chg']=gc['% Chg'].fillna(0)
gc['% Chg']=gc['% Chg'].replace([np.inf,np.nan],0)
gc=gc.reset_index()

In [21]:
sales_gc=retail[['ParentID',2024,2023]].merge(gc[['ParentID',2023,2024]],on='ParentID',how='left',suffixes=['_Sales','_GC'])
sales_gc['Avg_Check_24']=sales_gc['2024_Sales']/sales_gc['2024_GC']
sales_gc['Avg_Check_23']=sales_gc['2023_Sales']/sales_gc['2023_GC']
sales_gc['Check_%']=(sales_gc['Avg_Check_24']/sales_gc['Avg_Check_23']-1).fillna(0)
sales_gc['Check_%']

0      0.029235
1      0.023890
2     -0.013243
3      0.046740
4      0.064390
         ...
575    0.000000
576   -1.000000
577    0.000000
578    0.000000
579    0.000000
Name: Check_%, Length: 580, dtype: float64

In [22]:
test_list=[247]
for i in list(enumerate(test_list)):
    sales_summary = pd.DataFrame({
    'Sales Categories': ['Retail', 'Transaction', 'Avg Check', 'Digital', 'Catering', 'Mobile', 'Satellite','Total Sales'],
    
    '2024 Actuals': [
        retail[retail.ParentID == i[1]][2024].sum(),
        gc[gc.ParentID == i[1]][2024].sum(),
        retail[retail.ParentID == i[1]][2024].sum() / gc[gc.ParentID == i[1]][2024].sum(),
        digital[digital.ParentID == i[1]][2024].sum(),
        catering[catering.ParentID == i[1]][2024].sum(),
        mobile[mobile.ParentID == i[1]][2024].sum(),
        satellite[satellite.ParentID == i[1]][2024].sum(),
        total[total.ParentID == i[1]][2024].sum()
    ],
    
    '% Chg': [
        retail[retail.ParentID == i[1]]['% Chg'].sum(),
        gc[gc.ParentID == i[1]]['% Chg'].sum(),
        sales_gc[sales_gc.ParentID==i[1]]['Check_%'].sum(),
        digital[digital.ParentID == i[1]]['% Chg'].sum(),
        catering[catering.ParentID == i[1]]['% Chg'].sum(),
        mobile[mobile.ParentID == i[1]]['% Chg'].sum(),
        satellite[satellite.ParentID == i[1]]['% Chg'].sum(),
        total[total.ParentID == i[1]]['% Chg'].sum()
    ]
})
    print(sales_summary,i[1])

  Sales Categories   2024 Actuals     % Chg
0           Retail  226568.343100 -0.065559
1      Transaction   21810.000000 -0.104349
2        Avg Check      10.388278  0.043309
3          Digital    6397.690000 -0.349811
4         Catering    2695.370000 -0.069471
5           Mobile       0.000000  0.000000
6        Satellite       0.000000  0.000000
7      Total Sales  235661.403100 -0.076564 247

In [23]:
os.chdir(r'L:\J.Harned\2025 Business Plan')
tops_24=pd.read_excel('2025 Business Plan.Goal Worksheet Updated.xlsx',sheet_name='2024 Evals')
tops_23=pd.read_excel('2025 Business Plan.Goal Worksheet Updated.xlsx',sheet_name='2023 Evals')
cogs=pd.read_excel('2025 Business Plan.Goal Worksheet Updated.xlsx',sheet_name='COG')

In [24]:
tops_24=tops_24.fillna(0)
tops_23=tops_23.fillna(0)

In [25]:
tops_24.columns=tops_24.columns.str.strip()

In [26]:
tops_24=tops_24[['ParentID','Shop Name','GSR','Steritech','# COS']]

In [27]:
tops_24.ParentID=tops_24.ParentID.astype('int64')

In [28]:
tops_23[['ParentID','Shop Name','GSR','Steritech','# COS']]

     ParentID         Shop Name   GSR  Steritech  # COS
0         182      Frederick MD  1.00       0.94    0.0
1         267         Towson MD  0.91       0.83    0.0
2         485   College Park MD  0.63       0.87    0.0
3         175     Rio Grande NJ  0.93       0.93    0.0
4          21          Media PA  0.90       0.91    0.0
..        ...               ...   ...        ...    ...
535      1450  Woodcutter St PA  0.86       0.98    0.0
536        11       Wyndmoor PA  0.74       0.73    0.0
537       853       Yorktown NY  0.92       0.92    0.0
538      1455          Yulee FL  0.98       0.84    0.0
539       486   Zieglerville PA  0.00       0.89    0.0

[540 rows x 5 columns]

In [29]:
tops_24=tops_24[tops_24.ParentID>0]

In [30]:
df.ParentID=df.ParentID.astype('int64')

In [31]:
tops_23[tops_23.ParentID.duplicated()]

Empty DataFrame
Columns: [ParentID, Shop Name, DMA, GSR, Steritech, # COS]
Index: []

In [32]:

for i in list(enumerate(test_list)):
    tops_summary= pd.DataFrame({
    
    'T.O.P.S':['Guest Sensitivity Report (GSR)','Steritech Report','COS Violations (COS)'],
    
    '2024':[
        tops_24[tops_24.ParentID==i[1]]['GSR'].sum(),
        tops_24[tops_24.ParentID==i[1]]['Steritech'].sum(),
        tops_24[tops_24.ParentID==i[1]]['# COS'].sum()
    ],
    
    '2023':[
        tops_23[tops_23.ParentID==i[1]]['GSR'].sum(),
        tops_23[tops_23.ParentID==i[1]]['Steritech'].sum(),
        tops_23[tops_23.ParentID==i[1]]['# COS'].sum()
    ]
    
    
})
    print(tops_summary)

                          T.O.P.S  2024  2023
0  Guest Sensitivity Report (GSR)  0.65  0.71
1                Steritech Report  0.80  0.83
2            COS Violations (COS)  0.00  1.00

In [33]:
   tops_summary= pd.DataFrame({
    
    'T.O.P.S':['Guest Sensitivity Report (GSR)','Steritech Report','COS Violations (COS)'],
    
    '2024':[
        tops_24[tops_24.ParentID==87]['GSR'].sum(),
        tops_24[tops_24.ParentID==87]['Steritech'].sum(),
        tops_24[tops_24.ParentID==87]['# COS'].sum()
    ],
    
    '2023':[
        tops_23[tops_23.ParentID==87]['GSR'].sum(),
        tops_23[tops_23.ParentID==87]['Steritech'].sum(),
        tops_23[tops_23.ParentID==87]['# COS'].sum()
    ]
    
    
})
print(tops_summary)

                          T.O.P.S  2024  2023
0  Guest Sensitivity Report (GSR)  0.76  0.93
1                Steritech Report  0.86  0.96
2            COS Violations (COS)  0.00  0.00

In [34]:

for i in list(enumerate(test_list)):
    cogs_summary= pd.DataFrame({
    
    '2024 Costs':['Labor','Base COGS','Rent','Utilities'],
    
    '$':[' ',cogs[cogs.ParentID==i[1]]['Food & Paper Cost'].sum(),' ',' '],
    
    '%':[' ',cogs[cogs.ParentID==i[1]]['Food_Paper%'].sum(),' ', ' ']
    
    
})
    print(cogs_summary)

  2024 Costs         $         %
0      Labor
1  Base COGS  33995.86  0.144257
2       Rent
3  Utilities

In [35]:
cy_sales_summary= pd.DataFrame({
    '2025 Sales Goals':['Retail Sales','Transactions','Average Check','Digital (3PD + Online Ordering)',
                       'Catering (Full Service & Bulk)','Mobile','Satellite', 'Total Sales'],
    
    '% Chg':[0,'  ',' ',' ',' ',' ',' ',' '],
    
    ' ':[0,'  ',' ',' ',' ',' ',' ',' ']
})

In [36]:
# rent_summary= pd.DataFrame({
    
#     '2024 Costs':['Rent','Utilities'],
    
#     '$':[0, ' '],
    
#     '%':[0,' ']
# })

In [37]:
# rent_summary

In [38]:
df=df[df.LegacyShopStatus!='Terminated']

In [39]:
df[df.ShopID==247]

,ShopID,intStoreID,ProductCode,ProdSizeCode,DiscountCode,Register,SalesQty,SalesMny,StartDate,EndDate,...,LegacyShopStatus,ProductTypeName,ProductSizeName,SpecialVenue,CoOpStatus,CoOpName,CoOpRate,Year,ParentID,StoreName
303831,247,5119,1,5,126,1,15,44.850,2024-02-26,2024-03-03,...,Transferred,Italian Ice,Kids Ice,No,Yes,Pittsburgh,0.02,2024,247,Scott Twp. PA
303832,247,5119,1,5,126,1,29,86.710,2024-09-30,2024-10-06,...,Transferred,Italian Ice,Kids Ice,No,Yes,Pittsburgh,0.02,2024,247,Scott Twp. PA
303833,247,5119,1,5,126,1,31,89.590,2023-09-18,2023-09-24,...,Transferred,Italian Ice,Kids Ice,No,Yes,Pittsburgh,0.02,2023,247,Scott Twp. PA
303834,247,5119,1,5,126,1,38,113.620,2024-03-25,2024-03-31,...,Transferred,Italian Ice,Kids Ice,No,Yes,Pittsburgh,0.02,2024,247,Scott Twp. PA
303835,247,5119,1,5,126,1,40,115.600,2023-03-13,2023-03-19,...,Transferred,Italian Ice,Kids Ice,No,Yes,Pittsburgh,0.02,2023,247,Scott Twp. PA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1469627,247,5119,79,302,5,1,0,-2.275,2023-05-08,2023-05-14,...,Transferred,Discount,Discount,No,Yes,Pittsburgh,0.02,2023,247,Scott Twp. PA
1469628,247,5119,79,302,5,1,0,-1.734,2023-05-01,2023-05-07,...,Transferred,Discount,Discount,No,Yes,Pittsburgh,0.02,2023,247,Scott Twp. PA
1469629,247,5119,79,302,5,1,0,0.000,2023-04-17,2023-04-23,...,Transferred,Discount,Discount,No,Yes,Pittsburgh,0.02,2023,247,Scott Twp. PA
1469630,247,5119,79,302,173,1,0,-4.520,2024-07-29,2024-08-04,...,Transferred,Discount,Discount,No,Yes,Pittsburgh,0.02,2024,247,Scott Twp. PA
1469631,247,5119,79,302,173,1,0,-4.190,2024-05-20,2024-05-26,...,Transferred,Discount,Discount,No,Yes,Pittsburgh,0.02,2024,247,Scott Twp. PA

In [40]:
data3['FC']=data3.FC.str.strip()

In [41]:
data3.loc[data3.FC=='FBC','FC']='Ritas FBC'

In [42]:
data3['FC_Last']=data3.FC.str.split().str[1]

In [43]:
df=df.merge(data3[['intStoreID','ShopID','FC_Last']],on=['intStoreID','ShopID'],how='left')

In [44]:
df[df.ShopID==247]

,ShopID,intStoreID,ProductCode,ProdSizeCode,DiscountCode,Register,SalesQty,SalesMny,StartDate,EndDate,...,ProductTypeName,ProductSizeName,SpecialVenue,CoOpStatus,CoOpName,CoOpRate,Year,ParentID,StoreName,FC_Last
302756,247,5119,1,5,126,1,15,44.850,2024-02-26,2024-03-03,...,Italian Ice,Kids Ice,No,Yes,Pittsburgh,0.02,2024,247,Scott Twp. PA,Toocheck
302757,247,5119,1,5,126,1,29,86.710,2024-09-30,2024-10-06,...,Italian Ice,Kids Ice,No,Yes,Pittsburgh,0.02,2024,247,Scott Twp. PA,Toocheck
302758,247,5119,1,5,126,1,31,89.590,2023-09-18,2023-09-24,...,Italian Ice,Kids Ice,No,Yes,Pittsburgh,0.02,2023,247,Scott Twp. PA,Toocheck
302759,247,5119,1,5,126,1,38,113.620,2024-03-25,2024-03-31,...,Italian Ice,Kids Ice,No,Yes,Pittsburgh,0.02,2024,247,Scott Twp. PA,Toocheck
302760,247,5119,1,5,126,1,40,115.600,2023-03-13,2023-03-19,...,Italian Ice,Kids Ice,No,Yes,Pittsburgh,0.02,2023,247,Scott Twp. PA,Toocheck
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1446469,247,5119,79,302,5,1,0,-2.275,2023-05-08,2023-05-14,...,Discount,Discount,No,Yes,Pittsburgh,0.02,2023,247,Scott Twp. PA,Toocheck
1446470,247,5119,79,302,5,1,0,-1.734,2023-05-01,2023-05-07,...,Discount,Discount,No,Yes,Pittsburgh,0.02,2023,247,Scott Twp. PA,Toocheck
1446471,247,5119,79,302,5,1,0,0.000,2023-04-17,2023-04-23,...,Discount,Discount,No,Yes,Pittsburgh,0.02,2023,247,Scott Twp. PA,Toocheck
1446472,247,5119,79,302,173,1,0,-4.520,2024-07-29,2024-08-04,...,Discount,Discount,No,Yes,Pittsburgh,0.02,2024,247,Scott Twp. PA,Toocheck
1446473,247,5119,79,302,173,1,0,-4.190,2024-05-20,2024-05-26,...,Discount,Discount,No,Yes,Pittsburgh,0.02,2024,247,Scott Twp. PA,Toocheck

In [45]:
shopid_names=df[['ParentID','StoreName','FC_Last']].dropna().drop_duplicates(subset=['ParentID'],keep='first')
shopid_names[shopid_names.ParentID==247]

        ParentID      StoreName   FC_Last
302756       247  Scott Twp. PA  Toocheck

In [46]:
import math
from PIL import Image
os.chdir(r'L:\J.Harned\2025 Business Plan\Test')
# # #Get Logo
# image = mpimg.imread('Logo.png')

# os.chdir(r"""R:\Jeanette\2024 Product Mix by Shop""")
# plt.imsave('Logo.png', image)

test=df[df.ParentID==247]

for i, j, z in zip(enumerate(shopid_names.ParentID),enumerate(shopid_names.StoreName),enumerate(shopid_names.FC_Last)):
    sales_summary = pd.DataFrame({
    'Sales Categories': [
            'Retail', 'Transactions', 'Average Check', 'Digital (3PD + Online Ordering)', 
            'Catering (Full Service & Bulk)', 'Mobile', 'Satellite', 'Total Sales'
        ],
        
    '2024 Actuals': [
        retail[retail.ParentID == i[1]][2024].sum(),
        gc[gc.ParentID == i[1]][2024].sum(),
        retail[retail.ParentID == i[1]][2024].sum() / gc[gc.ParentID == i[1]][2024].sum(),
        digital[digital.ParentID == i[1]][2024].sum(),
        catering[catering.ParentID == i[1]][2024].sum(),
        mobile[mobile.ParentID == i[1]][2024].sum(),
        satellite[satellite.ParentID == i[1]][2024].sum(),
        total[total.ParentID == i[1]][2024].sum()
    ],
    
    '% Chg': [
        retail[retail.ParentID == i[1]]['% Chg'].sum(),
        gc[gc.ParentID == i[1]]['% Chg'].sum(),
        sales_gc[sales_gc.ParentID==i[1]]['Check_%'].sum(),
        digital[digital.ParentID == i[1]]['% Chg'].sum(),
        catering[catering.ParentID == i[1]]['% Chg'].sum(),
        mobile[mobile.ParentID == i[1]]['% Chg'].sum(),
        satellite[satellite.ParentID == i[1]]['% Chg'].sum(),
        total[total.ParentID == i[1]]['% Chg'].sum()
    ]
})

    
    
    
    tops_summary= pd.DataFrame({
    
        'T.O.P.S':['Guest Sensitivity Report (GSR)','Steritech Report','COS Violations (COS)'],
    
        '2024':[
        tops_24[tops_24.ParentID==i[1]]['GSR'].sum(),
        tops_24[tops_24.ParentID==i[1]]['Steritech'].sum(),
        tops_24[tops_24.ParentID==i[1]]['# COS'].sum()
        ],
    
        '2023':[
        tops_23[tops_23.ParentID==i[1]]['GSR'].sum(),
        tops_23[tops_23.ParentID==i[1]]['Steritech'].sum(),
        tops_23[tops_23.ParentID==i[1]]['# COS'].sum()
        ]
    
    
})
    cogs_summary= pd.DataFrame({
    
    '2024 Costs':['Labor','Base COGS','Rent','Utilities'],
    
    '$':[' ',cogs[cogs.ParentID==i[1]]['Food & Paper Cost'].sum(),' ',' '],
    
    '%':[' ',cogs[cogs.ParentID==i[1]]['Food_Paper%'].sum(),' ', ' ']
    
    
})
    
    
    writer=pd.ExcelWriter(str(z[1])+' Shop '+str(i[1])+' '+str(j[1])+' 2025 Business Plan Goals.xlsx')
    sales_summary.to_excel(writer, sheet_name='Shop '+str(i[1]),startcol=1,startrow=5,index=False)
    cogs_summary.to_excel(writer, sheet_name='Shop '+str(i[1]), startcol=1,startrow=16,index=False)
    cy_sales_summary.to_excel(writer, sheet_name='Shop '+str(i[1]), startcol=5,startrow=5,index=False)
    tops_summary.to_excel(writer, sheet_name='Shop '+str(i[1]), startcol=5,startrow=16,index=False)
#     rent_summary.to_excel(writer, sheet_name='Shop '+str(i[1]), startcol=5,startrow=21,index=False)
    
    wb=writer.book
    ws=writer.sheets['Shop '+str(i[1])]
    dollar_format=wb.add_format({'num_format':'$#,##0'})
    check_format=wb.add_format({'num_format':'$#,##0.00'})
    perc_format=wb.add_format({'num_format':'0.0%'})
    vol_format=wb.add_format({'num_format':'#,##0'})
    header_format=wb.add_format({'bold':True,'align':'center','valign':'vcenter','font_size':20,'font':'Calibri'})
    border_format=wb.add_format({'top':1,'bottom':1,'left':1,'right':1})
    odd_row_format = wb.add_format({'bg_color': '#FFFFFF'})  # White for odd rows
    even_row_format = wb.add_format({'bg_color': '#B7DEE8'})  # Light Blue for even rows
    col_header=wb.add_format({'bg_color':'#8DB4E2','bold':True,'align':'center','valign':'vcenter'})
    word_format=wb.add_format({'align':'center','valign':'vcenter','bold':True,'font_size':16,'font':'Calibri'})
    perc_color_format=wb.add_format({'num_format':'0.0%','bg_color':'#A9D18E'})
    check_color_format=wb.add_format({'num_format':'$#,##0.00','bg_color':'#A9D18E'})
    dollar_color_format=wb.add_format({'num_format':'$#,##0','bg_color':'#A9D18E'})
    dollar_results_format=wb.add_format({'num_format':'$#,##0','bg_color':'#FFE699'})
    perc_results_format=wb.add_format({'num_format':'0.0%','bg_color':'#FFE699'})
    dollar_results_format=wb.add_format({'num_format':'$#,##0','bg_color':'#FFE699'})
    vol_results_format=wb.add_format({'num_format':'#,##0','bg_color':'#FFE699'})
    disclaimer_format=wb.add_format({'font_size':8,'font':'Calibri','valign':'vcenter','text_wrap':True,'align':'left'})
    bullet_format = wb.add_format({
    'align': 'left',
    'valign': 'vcenter',
    'font_size': 12})
    
    title_format = wb.add_format({
    'bold': True,
    'font_size': 14,
    'align': 'center',
    'valign': 'vcenter',
    'bg_color': '#4F81BD',  # Blue background
    'font_color': 'white',
    'border': 1})
    
    goal_format = wb.add_format({
    'bold': True,
    'align': 'center',
    'valign': 'vcenter',
    'bg_color': '#A9D18E',  # Green background
    'border': 1})
    
    content_format = wb.add_format({
    'border': 1,'text_wrap':True,'align':'top'})
    
    
    text='2025 Action Items'
    text1='Shop # '+str(i[1])
    text2='Shop Name: '+str(j[1])
    text3='Action Item 1'
    text4='Action Item 2'
    text5='Action Item 3'
    text6='Action Item 4'
#     text7='Action Item 5'
    text8='This document is copyrighted and is not to be reproduced, displayed or posted in any form or fashion without the permission of the Legal Department of Rita’s Franchise Company, LLC (“RFC”).  As a franchisee, area developer and/or master franchisee under the Rita’s franchise system (“System”), you are being provided with this document for your sole use under the terms of your franchise agreement, area developer agreement and/or master franchise agreement (the “Franchising Agreement”). This document contains confidential information, proprietary information and trade secrets of RFC. Unauthorized disclosure of this document or any information in this document is a violation of your Franchising Agreement and will subject you to liability for violation of (i) the Franchising Agreement, (ii) the federal Economic Espionage Act of 1996, (iii) the Uniform Trade Secrets Act (including various state versions of the act), and (iv) other laws protecting confidential information, proprietary information and trade secrets.  The violation of these laws will subject the violator(s) to criminal and civil penalties.'
    
    ws.merge_range('B2:H2',text,header_format)
    ws.merge_range('B24:H24', 'Smart Goals', title_format)
    ws.merge_range('B35:H35',text8,disclaimer_format)
    ws.set_row(34,84)
    
    ws.conditional_format(xlsxwriter.utility.xl_range(5,1,len(sales_summary)+5,len(sales_summary.columns)),
                              {'type': 'no_errors', 'format': border_format})
    
    ws.conditional_format(xlsxwriter.utility.xl_range(16,1,len(cogs_summary)+16,len(cogs_summary.columns)),
                              {'type': 'no_errors', 'format': border_format})
    
    ws.conditional_format(6, 1, len(sales_summary) + 5, 3, {
                'type': 'formula',
                'criteria': 'ISEVEN(ROW()-5)',
                'format': even_row_format
            })
    ws.conditional_format(6, 1, len(sales_summary) + 5, 3, {
                'type': 'formula',
                'criteria': 'ISODD(ROW()-5)',
                'format': odd_row_format
            })
    
    ws.conditional_format(6,5,13,5, {
                'type': 'formula',
                'criteria': 'ISEVEN(ROW()-5)',
                'format': even_row_format
            })
    
    ws.conditional_format('F6:H14',{
    'type': 'no_errors',
    'format': border_format})
    
#     ws.conditional_format('F11:H14',{
#     'type': 'no_errors',
#     'format': border_format})
    
    ws.conditional_format('F17:H20',{
    'type': 'no_errors',
    'format': border_format})
    
    
    ws.write('D4',text1,word_format)
    ws.write('F4',text2,word_format)
    ws.write('B25', text3, goal_format)
    ws.write('B26', text4, goal_format)
    ws.write('B27', text5, goal_format)
    ws.write('B28', text6, goal_format)
#     ws.write('B27', text7 ,goal_format)
#     ws.write('C23', "•\n•\n•\n•\n•", bullet_format)
#     ws.write('C24', "•\n•\n•\n•\n•", bullet_format)
#     ws.write('C25', "•\n•\n•\n•\n•", bullet_format)
#     ws.write('C26', "•\n•\n•\n•\n•", bullet_format)
#     ws.write('C27', "•\n•\n•\n•\n•", bullet_format)
    
    
    ws.write_row('B6',sales_summary.columns,title_format)
    ws.write_row('B17',cogs_summary.columns,title_format)
    ws.write_row('F6',cy_sales_summary.columns,title_format)
    ws.write_row('F17',tops_summary.columns,title_format)
#     ws.write_row('F17',rent_summary.columns,title_format)
#     ws.merge_range('C23:H23', ' ', content_format)
    ws.merge_range('C25:H25', ' ', content_format)
    ws.merge_range('C28:H28', ' ', content_format)
    ws.merge_range('C26:H26',' ', content_format)
    ws.merge_range('C27:H27',' ' , content_format)
    
    ws.set_row(24,115)
    ws.set_row(25,115)
    ws.set_row(26,115)
    ws.set_row(27,115)
#     ws.set_row(26,115)
    ws.set_column('C:E',15,None)
    ws.set_column('B:B',28,None)
    ws.set_column('F:F',48,None)
    ws.set_column('G:H',15,None)
    ws.set_column('D:D',15,perc_format)
    ws.set_column('C:C',15,dollar_format)
    
    ws.write('C8',sales_summary.iloc[1,1],vol_format)
    ws.write('C9',sales_summary.iloc[2,1],check_format)
    ws.write('G18',tops_summary.iloc[0,1],perc_format)
    ws.write('H18',tops_summary.iloc[0,2],perc_format)
    ws.write('G19',tops_summary.iloc[1,1],perc_format)
    ws.write('H19',tops_summary.iloc[1,2],perc_format)
    
    ws.write('C20',cogs_summary.iloc[2,1],dollar_format)
    ws.write('C21',cogs_summary.iloc[3,1],dollar_format)
    ws.write('D20',cogs_summary.iloc[2,2],perc_format)
    ws.write('D21',cogs_summary.iloc[3,2],perc_format)
    
    
    
    ws.write('G7',' ',perc_color_format)
    ws.write('H10',' ',dollar_color_format)
    ws.write('H11',' ',dollar_color_format)
    ws.write('H12',' ',dollar_color_format)
    ws.write('H13',' ',dollar_color_format)
    ws.write('H14',' ',dollar_results_format)
    
    
    
    ws.write('H9',' ',check_color_format)
    ws.write('C18',' ',dollar_color_format)
    ws.write('C20',' ',dollar_color_format)
    ws.write('C21',' ',dollar_color_format)
    
    
    ws.write_formula('H7','=IFERROR(SUM(1+$G$7)*$C$7,' ')',dollar_results_format)
    ws.write_formula('H8','=IFERROR($H$7/$H$9,' ')',vol_results_format)
    ws.write_formula('D20','=IFERROR($C$20/$C$14,' ')',perc_results_format)
    ws.write_formula('D21','=IFERROR($C$21/$C$14,' ')',perc_results_format)
    ws.write_formula('D18','=IFERROR($C$18/$C$14,' ')',perc_results_format)
    ws.write_formula('G8','=IFERROR($H$8/$C$8-1,' ')',perc_results_format)
    ws.write_formula('G9','=IFERROR($H$9/$C$9-1,' ')',perc_results_format)
    ws.write_formula('G10','=IFERROR($H$10/$C$10-1,' ')',perc_results_format)
    ws.write_formula('G11','=IFERROR($H$11/$C$11-1,' ')',perc_results_format)
    ws.write_formula('G12','=IFERROR($H$12/$C$12-1,' ')',perc_results_format)
    ws.write_formula('G13','=IFERROR($H$13/$C$13-1,' ')',perc_results_format)
    ws.write_formula('G14','=IFERROR($H$14/$C$14-1,' ')',perc_results_format)
    ws.write_formula('H14','=IFERROR(SUM($H$7,$H$10:$H$13),' ')',dollar_results_format)
    
    ws.hide_gridlines(2)
    img = Image.open('Logo.png')
    img_resized = img.resize((100, 75))  # Resize to desired dimensions
    img_resized.save('resized_logo.png')
    ws.insert_image('B1','resized_logo.png',{'x_offset':75})
    
    
    # Set the worksheet orientation to Landscape
    ws.set_portrait()

    # Fit the worksheet to one page
    ws.fit_to_pages(1, 1)  # (width, height)

    # Optional: Adjust scaling for better fit (e.g., 90%)
    ws.set_zoom(90)
    
    ws.set_margins(left=0.25, right=0.25, top=0.25, bottom=0.25)

    writer.close()