In [1]:
#Imports the necessary libraries
import pandas as pd
import os
import numpy as np
import pyodbc as odbc
from datetime import date,timedelta,datetime
import datetime as dt
import xlsxwriter
os.chdir(r'L:\J.Harned\Calendar')
calendar=pd.read_excel('2025 Sales Calendar.xlsx')
calendar['Year']=calendar.EndDate.dt.year
os.chdir(r'G:\FinanceReports\2025\Wk13')
# Names the needed driver, server name, and database
driver_name='SQL Server'
server_name='10.0.1.218'
database='ritascoolnet_live'
#Creates the connection string
connection_string=f"""
DRIVER={{{driver_name}}};
SERVER={server_name};
DATABASE={database};
Trust_Connection=yes"""
#Creates the Connection to SQL Server
connection=odbc.connect(connection_string)
print(connection)

C:\Users\jharned\Anaconda3\lib\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
C:\Users\jharned\Anaconda3\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.4' currently installed).
  from pandas.core import (

<pyodbc.Connection object at 0x000001E607272030>

In [3]:
# Queries the tables from SQL
# Reads in the Weekly Sales in 2025
data=pd.read_sql_query('''SELECT *
  FROM [ritas_bi].[dbo].[tmp_raw_plda]
  WHERE YEAR(EndDate)=2025
  ORDER BY Week DESC''',connection)
# Reads in the Weekly Sales in 2024
df=pd.read_sql_query('''SELECT *
  FROM [ritas_bi].[dbo].[tmp_raw_plda]
  WHERE YEAR(EndDate)=2024''',connection)
#ShopDetail
data3=pd.read_sql_query('''Select intstoreid as intStoreID,RitasID as ShopID, FC,CoolNetGroup,LegacyStoreType,State,MSAName,DMA,StoreName as ShopName,
CoOpName,Franchisee,[Parent Shop #] as ParentID,[Special Venue] as SV,StoreStatus,[Re Open Date] as ReOpenDate,OpenDate,StoreType from ritascoolnet_live.dbo.vShopDetail''',connection)
product_sales_24=pd.read_sql_query('''Select * from ritascoolnet_live.dbo.tblProductSalesTransactions Where Year(dteEndDate)=2024 ''',connection)
product_sales_25=pd.read_sql_query('''Select * from ritascoolnet_live.dbo.tblProductSalesTransactions Where Year(dteEndDate)=2025 ''',connection)
ops=pd.read_sql_query('''select intstoreid as intStoreID, RitasID as ParentID,OperationsDirector as Director from ritas_bi.dbo.shopSalesRankingWeekly''',connection)

C:\Users\jharned\AppData\Local\Temp\ipykernel_744\3148519782.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data=pd.read_sql_query('''SELECT *
C:\Users\jharned\AppData\Local\Temp\ipykernel_744\3148519782.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query('''SELECT *
C:\Users\jharned\AppData\Local\Temp\ipykernel_744\3148519782.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data3=pd.read_sql_query('''Select intstoreid as intStoreID,RitasID as ShopID, FC,CoolNetGroup,LegacyStoreType,State,MSAName,DMA,StoreName as ShopName,
C:\Users\jharned\AppData\Local\Temp\ipykernel_744\3148519782.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  product_sales_24=pd.read_sql_query('''Select * from ritascoolnet_live.dbo.tblProductSalesTransactions Where Year(dteEndDate)=2024 ''',connection)
C:\Users\jharned\AppData\Local\Temp\ipykernel_744\3148519782.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  product_sales_25=pd.read_sql_query('''Select * from ritascoolnet_live.dbo.tblProductSalesTransactions Where Year(dteEndDate)=2025 ''',connection)
C:\Users\jharned\AppData\Local\Temp\ipykernel_744\3148519782.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ops=pd.read_sql_query('''select intstoreid as intStoreID, RitasID as ParentID,OperationsDirector as Director from ritas_bi.dbo.shopSalesRankingWeekly''',connection)

In [4]:
# kathy_list=['Soda','Float Upcharge','Regular Soda','Donut to go','Misc','Combo 2','OREO Cookie Sandwich Variety Pack',
#            'Unicorn Glitter','Large Misto','Small Donut Sundae','Cookie Sandwich Variety 6-Pack','Ice Super Fun Variety Pack',
#            'Specialty Float Upcharge','Hot Cider Large','Cinnamon Pretzel Bites','Stuffed Blendini','NFCD SS Promo Custard',
#            'Large Donut Sundae','Dog Bowl','Kids SS Sundae','12 oz Rainbow Gelati','Regular Chili Fries','Mens Tshirt Small - XL',
#            'Small Twisted Cola Blender','20 oz Rainbow Gelati','Large Twisted Cola Blender','Other 3rd Party Deliv Non MFA',
#            'Hot Cider Small','Frozen Custard Cakes','Waffle Bowl','20 oz Rainbow Ice','Family Pack','Chocolate Chip Cookie Custard Sand Variety Pack',
#            'Dipped Waffle Cone/Bowl Upcharge','Frozen Cookie Sand 4 Pack','Frozen Cookie Sand Variety 4 Pack','Kids Brownie Sundae','Mini Custard Cakes',
#            'Coffee Large','Coffee Small','Juice','Small Smoothie','Large Smoothie','Fresh Baked Waffle Cone/Bowl']

# data[data.ProductSizeName.isin(kathy_list)].groupby(['ShopID','ShopName','ProductCode','ProdSizeCode','ProductSizeName'])[['SalesMny','SalesQty','EndDate']]\
# .agg({'SalesMny':'sum','SalesQty':'sum','EndDate':'max'}).reset_index()\
# .to_excel('Kathy Product List.xlsx',index=False)

In [5]:
df[df.Week<=10].SalesMny.sum()

10951242.899400001

In [6]:
data3[data3.ShopID==1483]

,intStoreID,ShopID,FC,CoolNetGroup,LegacyStoreType,State,MSAName,DMA,ShopName,CoOpName,Franchisee,ParentID,SV,StoreStatus,ReOpenDate,OpenDate,StoreType
1801,2853,1483.0,Jordan Tucker,"VA Davis, Terrain & Toya",Walk-in,VA,Washington-Arlington-Alexandria,Washington DC,7592 Telegraph Rd-Alexandria VA,"Washington, D.C.",Terrain D. Davis,1483.0,No,Open,NaT,2023-06-12,Walk-in

In [8]:
def get_initials(name):
    if not isinstance(name, str) or name.strip() == "":  # Handle None or empty strings
        return name  # Keep None or empty as is
    parts = name.split()
    if len(parts) == 1:  # If only one name, return it as is
        return name
    else:
        return ''.join([part[0].upper() for part in parts])  # Extract initials

data3['FC Initials'] = data3['FC'].apply(get_initials)
data3.loc[data3.FC=='Joe Toocheck','FC Initials']='JToo'
data3.loc[data3.FC=='John Martin (FC)','FC Initials']='JM'

In [9]:
product_sales_24.loc[product_sales_24.intRitasStoreID=='1545','intStoreid']=697
product_sales_25.loc[product_sales_25.intRitasStoreID=='1545','intStoreid']=697
product_sales_24=product_sales_24[~product_sales_24.intStoreid.isnull()]

In [10]:
df[df.Week<=8].SalesMny.sum()

5120788.3628

In [11]:
data[data.ShopID==11483].groupby(['Week','EditDate'])['SalesMny'].sum()

Week  EditDate
9     2025-03-06 16:13:01.607     716.69
      2025-03-06 16:13:01.650       0.00
11    2025-03-18 22:12:08.853    1357.61
      2025-03-18 22:12:23.150       0.00
12    2025-03-25 23:11:21.220    2332.25
      2025-03-25 23:11:28.543      -1.00
13    2025-03-31 06:34:41.963    4171.29
      2025-03-31 06:34:45.143     144.55
      2025-03-31 06:34:50.990       0.00
Name: SalesMny, dtype: float64

In [12]:
this_week=data.Week.max()

In [13]:
data['Year']=2025
df['Year']=2024
product_sales_24['Year']=2024
product_sales_25['Year']=2025

In [14]:
sv=pd.read_sql_query('''Select * from ritascoolnet_live.dbo.vShopDetail''',connection)
sv=sv[['intstoreid','RitasID','Special Venue']]
sv=sv.rename(columns={'intstoreid':'intStoreID','RitasID':'ShopID','Special Venue':'SV'})

C:\Users\jharned\AppData\Local\Temp\ipykernel_744\3679232069.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  sv=pd.read_sql_query('''Select * from ritascoolnet_live.dbo.vShopDetail''',connection)

In [15]:
total_df=pd.concat([data,df]) # Combines 2023 and 2024 Sales Data
total_df=total_df.merge(sv,how='left',on=['intStoreID','ShopID']) # Merges Special Venue with Sales Data
total_df.loc[total_df.StartDate=='2023-03-20','Week']='12'
total_df.loc[total_df.StartDate=='2023-03-27','Week']='13'
total_df.loc[total_df.StartDate=='2023-10-29','StartDate']='2023-10-30'
total_df=total_df.merge(calendar[['StartDate','Week','Month']],how='left',on=['StartDate','Week']) # Adds the month column from calendar
total_df.Week=total_df.Week.astype('int')
# total_df=total_df[total_df.Week<=data.Week.max()]# Filters on the max week

C:\Users\jharned\AppData\Local\Temp\ipykernel_744\2815671358.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '12' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  total_df.loc[total_df.StartDate=='2023-03-20','Week']='12'

In [16]:
total_df['EditDate']=total_df['EditDate'].dt.strftime('%m-%d-%y')

In [18]:
product_sales=pd.concat([product_sales_24,product_sales_25])
product_sales=product_sales.rename(columns={'dteEndDate':'EndDate'})
weeks=total_df[['EndDate','Week']].drop_duplicates(keep='first')
ps=product_sales.merge(weeks[['EndDate','Week']],how='left',on='EndDate')
ps['Retail_GC']=ps.intTransactionCount-ps.intUECount\
-ps.intDDCount-ps.intGHCount

,intProductSalesTransactionID,intRitasStoreID,intTransactionCount,dteStartDate,EndDate,dteCreatedOn,vchSource,intNumberOfDays,intRegister,intUECount,intDDCount,intGHCount,intStoreid,Year,Week,Retail_GC
0,3987717,1552,1733,2024-01-01,2024-01-07,2024-01-09 13:14:51.827,None,7,1,0,0,0,5485.0,2024,1.0,1733
1,3988749,22,875,2024-01-01,2024-01-07,2024-01-09 23:30:54.950,SMART,7,1,0,22,0,5455.0,2024,1.0,853
2,3988750,142,490,2024-01-01,2024-01-07,2024-01-09 23:30:54.950,SMART,7,1,0,9,0,5458.0,2024,1.0,481
3,3988751,245,511,2024-01-01,2024-01-07,2024-01-09 23:30:54.950,SMART,7,1,0,24,0,626.0,2024,1.0,487
4,3988752,325,8,2024-01-01,2024-01-07,2024-01-09 23:30:54.950,SMART,3,1,0,0,0,3870.0,2024,1.0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25168,7260899,10937,69,2025-02-17,2025-02-23,2025-02-26 15:48:29.790,None,1,1,0,0,0,NaN,2025,8.0,69
25169,7299930,250,463,2025-02-24,2025-03-02,2025-03-03 08:54:10.260,SMART,7,1,0,0,0,NaN,2025,9.0,463
25170,7299990,127,1022,2025-02-24,2025-03-02,2025-03-03 12:28:04.203,SMART,7,1,0,0,0,NaN,2025,9.0,1022
25171,7310592,55,177,2025-02-17,2025-02-23,2025-03-04 10:35:55.310,SMART,7,1,0,0,0,NaN,2025,8.0,177
25172,7310593,305,188,2025-02-17,2025-02-23,2025-03-04 10:37:18.963,SMART,6,1,0,0,0,NaN,2025,8.0,188

In [21]:
threepd=ps.rename(columns={'intRitasStoreID':'ShopID','intTransactionCount':'Total_GC'})
total_gc=threepd.groupby(['ShopID','Year','Week','EndDate'])['Total_GC'].sum().reset_index()
total_gc.ShopID=total_gc.ShopID.astype('int')
total_gc.Week=total_gc.Week.astype('int')
total_gc.Year=total_gc.Year.astype('int')

In [23]:
total_gc=total_gc[total_gc.Week<=this_week] #filters on the max week for Guest Counts
total_gc['ShopID']=pd.to_numeric(total_gc.ShopID,errors='coerce')# Converts ShopID to integers
total_gc=total_gc.merge(calendar[['Week','Year','Month']],on=['Week','Year'],how='left') #Adds month column to Guest Counts
total_gc=total_gc.merge(data3[['ShopID','State']],on='ShopID',how='left').drop_duplicates(subset=['Week','Year','ShopID','Total_GC','Month'],
                                                                                keep='first')

In [25]:
# Pulls Marketing info needed like Coolnet Group, MSA, and DMA
data4=pd.read_sql_query('''Select * from ritascoolnet_live.dbo.vShopDetail''',connection)
data3['ParentID']=pd.to_numeric(data3.ParentID,errors='coerce')# Converts the ParentID from string to Integer
# alist=[294,446,858,1385,324,507,639,1427,1365,465,1336,1276]
# data3.loc[data3.ParentID.isin(alist),'StoreStatus']=''# this is to include sales for shops that closed in 2023 
relo=pd.read_sql_query('''Select intStoreID,dteClosedForRelocation,intParentStoreID as ParentID,
intRitasStoreID as ShopID,bitDriveThru as DT from ritascoolnet_live.dbo.GOOGLE_MAP_store''',connection)# Reads in the Google Maps

relo['dteClosedForRelocation']=pd.to_datetime(relo['dteClosedForRelocation'])

relo['ParentID']=pd.to_numeric(relo.ParentID,errors='coerce')# Converts the ParentID from string to Integer
relo['ShopID']=pd.to_numeric(relo.ShopID,errors='coerce')# Converts the ParentID from string to Integer
relo.loc[relo.ShopID==1055,'dteClosedForRelocation']='2024-05-11'
# Changes the the DT columns from numbers to simply "Yes" or "No"
relo['DT']=np.where(relo.DT>=1,'Yes','No')

C:\Users\jharned\AppData\Local\Temp\ipykernel_744\559864727.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data4=pd.read_sql_query('''Select * from ritascoolnet_live.dbo.vShopDetail''',connection)
C:\Users\jharned\AppData\Local\Temp\ipykernel_744\559864727.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  relo=pd.read_sql_query('''Select intStoreID,dteClosedForRelocation,intParentStoreID as ParentID,

In [27]:
data3=data3.merge(relo[['intStoreID','dteClosedForRelocation']],on='intStoreID',how='left')
data3['Relo Year']=data3.dteClosedForRelocation.dt.year

In [29]:
relo.loc[relo.ShopID==334,'DT']='No'

In [30]:
# Concats the two dataframes together
sales=pd.concat([data,df])

sales.loc[sales.ShopID==31360,'ShopID']=1568 #This changes the Linc's ShopID. It was changed in 2024 and at the time
                                            # of this message, 2023 sales will not line up with 2024's
sales.loc[sales.intStoreID==5444,'intStoreID']=5547
# Merges Shop Detail to the sales data frame
sales=sales.merge(data3[['intStoreID','ParentID','FC Initials','Franchisee','SV','OpenDate','Relo Year']],on='intStoreID',how='left')

In [31]:
shop_list=sales.ParentID.unique()
testing=data3[data3.ShopID.isin(shop_list)]\
.sort_values(by=['intStoreID']).drop_duplicates(subset='ShopID',keep='last')\
.sort_values(by='ShopID') # Gets the unique ShopIDs from the sales data, and filters for only them in data3
sales=sales.merge(testing[['ParentID','StoreStatus']],on='ParentID',how='left') #Merges the Store Status
sales=sales.merge(relo[['intStoreID','DT']],on='intStoreID',how='left') #Merges the DriveThru
sales.loc[sales.ParentID==218,'StoreStatus']='Open'

In [32]:

cy_sales=sales[(sales.Year==sales.Year.max())|(sales.Year==sales.Year.max()-1)]# Graps only the most recent year and the previous year
cy_sales=cy_sales[cy_sales.Week<=data.Week.max()] # Graps the lastest week from this year and the previous year
# cy_sales.loc[cy_sales.ShopID==11390,'ParentID']=11390 #Altoona is it's own separate shop apart from Bedford
excluded=['Transferred','Sold!!!']
cy_sales.loc[cy_sales.StartDate=='2023-03-20','Week']=12
cy_sales.loc[cy_sales.StartDate=='2023-03-27','Week']=13
cy_sales.loc[cy_sales.StartDate=='2023-10-29','StartDate']='2023-10-30'

In [33]:
cy_sales=cy_sales.merge(calendar[['Week','Year','Month_Name','Month']],on=['Week','Year'],how='left') #Adds month column to Sales
cy_sales.shape

(268704, 36)

In [35]:
total_gc['ShopID']=total_gc.ShopID.astype('int')

In [36]:
total_gc.loc[total_gc.ShopID==31360,'ShopID']=1568

In [37]:
total_gc['ParentID']=total_gc.ShopID.astype('int')
total_gc['ParentID']=total_gc.ShopID.astype('str')
total_gc['ParentID']=total_gc.ParentID.str[-4:]
total_gc['ParentID']=total_gc.ParentID.astype('int')
gc_total=total_gc

In [38]:
shop_details=sales[['ParentID','ShopName','FC Initials','Franchisee','State','DT','SV','StoreStatus','LegacyShopType',
                   'OpenDate','Relo Year']]
shop_details=shop_details[~shop_details.ShopName.str.contains('Mobile|mobile')]
shop_details.loc[shop_details.ParentID==374,'ShopName']='Rhode Island Avenue'
shop_details=shop_details.drop_duplicates(keep='first',subset='ParentID')

In [39]:
shop_details.loc[shop_details.ParentID==1502,'StoreStatus']='Open'

In [119]:
cy_sales['Relo Year']=cy_sales['Relo Year'].fillna('')

In [41]:
gc_group=gc_total.groupby(['ParentID','Year','Month','Week'])['Total_GC'].sum().reset_index()

In [42]:
gc_group[gc_group.ParentID==374]

      ParentID  Year  Month  Week  Total_GC
3014       374  2024      1     1       307
3015       374  2024      3     9       262
3016       374  2024      3    10       488
3017       374  2024      3    11      1374
3018       374  2024      3    12      1077
3019       374  2024      3    13       933
3020       374  2025      3     9       152
3021       374  2025      3    10       521
3022       374  2025      3    11       932
3023       374  2025      3    12      1754
3024       374  2025      3    13      1453

In [120]:
# Creates a pivot table for Year over Year sales/guest count/ Average Check comparison
cy_pivot=cy_sales.pivot_table(index=['ParentID'],columns='Year',
                     values='SalesMny',aggfunc='sum',fill_value=0).reset_index()
gc_pivot=gc_total.pivot_table(index='ParentID',columns='Year',
                     values='Total_GC',aggfunc='sum',fill_value=0).reset_index()
gc_pivot=gc_pivot.iloc[:,[0,-1,1]]
cy_pivot['%_Chng']=cy_pivot[2025].div(cy_pivot[2024])-1
cy_pivot['%_Chng'].replace([np.inf,np.nan],0,inplace=True)
gc_pivot['%_GC']=gc_pivot[2025].div(gc_pivot[2024])-1
gc_pivot['%_GC'].replace([np.inf,np.nan],0,inplace=True)

cy_pivot=cy_pivot.merge(shop_details[['ParentID','ShopName','FC Initials','Franchisee','State','DT','SV','StoreStatus']],on='ParentID')
cy_pivot['Rank']=cy_pivot[2025].rank(ascending=False)
cy_pivot=cy_pivot.iloc[:,[-1,0,4,7,8,9,10,5,6,2,1,3]]
cy_pivot.rename(columns={2025:'Sales_25',
                         2024:'Sales_24',
                        'DriveThru':'DT'},inplace=True)
gc_pivot.rename(columns={2025:'GC_25',
                         2024:'GC_24'},inplace=True)
cy_pivot['Franchisee'].fillna('RFC',inplace=True)
cy_pivot=cy_pivot.sort_values(by='Sales_25',ascending=False)
cy_pivot=cy_pivot.merge(gc_pivot,on='ParentID',how='left')
cy_pivot['Avg_Chk_25']=cy_pivot['Sales_25']/cy_pivot['GC_25']
cy_pivot['Avg_Chk_24']=cy_pivot['Sales_24']/cy_pivot['GC_24']
cy_pivot['Chk_%']=cy_pivot.iloc[:,-2]/cy_pivot.iloc[:,-1]-1
cy_pivot.replace([np.inf,np.nan],0,inplace=True)

C:\Users\jharned\AppData\Local\Temp\ipykernel_744\3199222136.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cy_pivot['%_Chng'].replace([np.inf,np.nan],0,inplace=True)
C:\Users\jharned\AppData\Local\Temp\ipykernel_744\3199222136.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  gc_pivot['%_GC'].replace([np.inf,np.nan],0,inplace=True)
C:\Users\jharned\AppData\Local\Temp\ipykernel_744\3199222136.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cy_pivot['Franchisee'].fillna('RFC',inplace=True)

In [44]:
month_name=input('Enter Month Name:') # Type the month name you would like to view

Enter Month Name:March

In [45]:
month=int(input('Enter Month Number:')) # Type the month name you would like to view

Enter Month Number:3

In [46]:
# Gets the month name from the month number in the StartDate
cm_sales=cy_sales[cy_sales.Month_Name==month_name]
cm_gc=gc_total[gc_total.Month==month]

In [48]:
# Creates a pivot table for Month over Month sales/guest count/ Average Check comparison
cm_pivot=cm_sales.pivot_table(index=['ParentID'],columns='Year',
                     values='SalesMny',aggfunc='sum',fill_value=0).reset_index()
gc_pivot=cm_gc.pivot_table(index='ParentID',columns='Year',
                     values='Total_GC',aggfunc='sum',fill_value=0).reset_index()
gc_pivot=gc_pivot.iloc[:,[0,-1,1]]
cm_pivot['%_Chng']=cm_pivot[2025].div(cm_pivot[2024])-1
cm_pivot['%_Chng'].replace([np.inf,np.nan],0,inplace=True)
gc_pivot['%_GC']=gc_pivot[2025].div(gc_pivot[2024])-1
gc_pivot['%_GC'].replace([np.inf,np.nan],0,inplace=True)

cm_pivot=cm_pivot.merge(shop_details[['ParentID','ShopName','FC Initials','Franchisee','State','DT','SV','StoreStatus']],on='ParentID')
cm_pivot['Rank']=cm_pivot[2025].rank(ascending=False)
cm_pivot=cm_pivot.iloc[:,[-1,0,4,7,8,9,10,5,6,2,1,3]]

cm_pivot.rename(columns={2025:'Sales_25',
                         2024:'Sales_24',
                        'DriveThru':'DT'},inplace=True)
gc_pivot.rename(columns={2025:'GC_25',
                         2024:'GC_24'},inplace=True)
cm_pivot['Franchisee'].fillna('RFC',inplace=True)
cm_pivot=cm_pivot.sort_values(by='Sales_25',ascending=False)
cm_pivot=cm_pivot.merge(gc_pivot,on='ParentID',how='left')
cm_pivot['Avg_Chk_25']=cm_pivot['Sales_25']/cm_pivot['GC_25']
cm_pivot['Avg_Chk_24']=cm_pivot['Sales_24']/cm_pivot['GC_24']
cm_pivot['Chk_%']=cm_pivot.iloc[:,-2]/cm_pivot.iloc[:,-1]-1
cm_pivot.replace([np.inf,np.nan],0,inplace=True)

C:\Users\jharned\AppData\Local\Temp\ipykernel_744\3460449352.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cm_pivot['%_Chng'].replace([np.inf,np.nan],0,inplace=True)
C:\Users\jharned\AppData\Local\Temp\ipykernel_744\3460449352.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  gc_pivot['%_GC'].replace([np.inf,np.nan],0,inplace=True)
C:\Users\jharned\AppData\Local\Temp\ipykernel_744\3460449352.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cm_pivot['Franchisee'].fillna('RFC',inplace=True)

,Rank,ParentID,ShopName,State,DT,SV,StoreStatus,FC Initials,Franchisee,Sales_25,Sales_24,%_Chng,GC_25,GC_24,%_GC,Avg_Chk_25,Avg_Chk_24,Chk_%
0,1.0,32.0,825 Blackwood Clementon Rd-Lindenwold NJ,NJ,Yes,No,Open,JD,John R. Vanore,126708.8110,116324.8662,0.089267,11153,10994,0.014462,11.360962,10.580759,0.073738
1,2.0,18.0,Folsom,PA,No,No,Open,JD,John R. Vanore,110597.1710,101845.7600,0.085928,8836,8468,0.043458,12.516656,12.027133,0.040702
2,3.0,37.0,Maryland Avenue,DE,No,No,Open,EL,Christopher J. Hesek,109888.3825,97306.1350,0.129306,8726,9397,-0.071406,12.593214,10.355021,0.216146
3,4.0,29.0,Collingdale,PA,Yes,No,Open,JD,John R. Vanore,101334.5780,93837.5000,0.079894,8967,8656,0.035929,11.300834,10.840746,0.042441
4,5.0,182.0,538 W South St-Frederick MD,MD,No,No,Open,DL,Keila C. Trace,94027.1625,89816.1430,0.046885,7402,7338,0.008722,12.702940,12.239867,0.037833
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
551,542.0,887.0,Six Flags America-Mitchellville MD,MD,No,Yes,Open,JT,Ramar Vaughan,0.0000,2174.3700,-1.000000,0,360,-1.000000,0.000000,6.039917,0.000000
552,542.0,1365.0,Reno,NV,No,No,Transferred,JM,Patrick F. Croarkin,0.0000,13838.6059,-1.000000,0,1178,-1.000000,0.000000,11.747543,0.000000
553,542.0,256.0,Sayreville,NJ,No,No,Open,LW,Wayne R. Barry,0.0000,36578.5996,-1.000000,0,3328,-1.000000,0.000000,10.991166,0.000000
554,542.0,1364.0,6096 Frederick Rd-Catonsville MD,MD,No,No,Terminated,LH,Albert D. Holley III,0.0000,7604.0050,-1.000000,0,1052,-1.000000,0.000000,7.228142,0.000000
555,542.0,1322.0,Fort Collins,CO,No,No,Terminated,JM,Diane R. David,0.0000,18430.3450,-1.000000,0,1891,-1.000000,0.000000,9.746348,0.000000

In [49]:
# Creates a pivot table for Week over Week sales/guest count/ Average Check comparison
cw_sales=cy_sales[cy_sales.Week==this_week]
cw_gc=gc_total[gc_total.Week==this_week]
cw_pivot=cw_sales.pivot_table(index=['ParentID'],columns='Year',
                     values='SalesMny',aggfunc='sum',fill_value=0).reset_index()
gc_pivot=cw_gc.pivot_table(index='ParentID',columns='Year',
                     values='Total_GC',aggfunc='sum',fill_value=0).reset_index()
gc_pivot=gc_pivot.iloc[:,[0,-1,1]]
cw_pivot['Week '+str(data.Week.max())+' Total System Sales%']=cw_pivot[2025].div(cw_pivot[2024])-1
cw_pivot['Week '+str(data.Week.max())+' Total System Sales%'].replace([np.inf,np.nan],0,inplace=True)
gc_pivot['Week '+str(data.Week.max())+' Total System GC%']=gc_pivot[2025].div(gc_pivot[2024])-1
gc_pivot['Week '+str(data.Week.max())+' Total System GC%'].replace([np.inf,np.nan],0,inplace=True)
cw_data=data3[~(data3.StoreStatus.isin(excluded))].sort_values(
    by='ShopID').drop_duplicates(subset='ParentID',keep='first')
cw_pivot=cw_pivot.merge(shop_details[['ParentID','ShopName','FC Initials','Franchisee','State','DT','SV','StoreStatus']],on='ParentID')
cw_pivot['Rank']=cw_pivot[2025].rank(ascending=False)
cw_pivot=cw_pivot.iloc[:,[-1,0,4,7,8,9,10,5,6,2,1,3]]
cw_pivot.rename(columns={2025:'Week '+str(data.Week.max())+' 2025 Total System Sales',
                         2024:'Week '+str(data.Week.max())+' 2024 Total System Sales',
                        'DriveThru':'DT'},inplace=True)
gc_pivot.rename(columns={2025:'Week '+str(data.Week.max())+' 2025 Total System GC',
                         2024:'Week '+str(data.Week.max())+' 2024 Total System GC'},inplace=True)
cw_pivot['Franchisee'].fillna('RFC',inplace=True)
cw_pivot=cw_pivot.sort_values(by='Week '+str(data.Week.max())+' 2025 Total System Sales',ascending=False)
cw_pivot=cw_pivot.merge(gc_pivot,on='ParentID',how='left')
# cw_pivot['Avg_Chk_25']=cw_pivot['Sales_25']/cw_pivot['GC_25']
# cw_pivot['Avg_Chk_24']=cw_pivot['Sales_24']/cw_pivot['GC_24']
# cw_pivot['Chk_%']=cw_pivot.iloc[:,-2]/cw_pivot.iloc[:,-1]-1
cw_pivot.replace([np.inf,np.nan],0,inplace=True)

C:\Users\jharned\AppData\Local\Temp\ipykernel_744\4177243263.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cw_pivot['Week '+str(data.Week.max())+' Total System Sales%'].replace([np.inf,np.nan],0,inplace=True)
C:\Users\jharned\AppData\Local\Temp\ipykernel_744\4177243263.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  gc_pivot['Week '+str(data.Week.max())+' Total System GC%'].replace([np.inf,np.nan],0,inplace=True)
C:\Users\jharned\AppData\Local\Temp\ipykernel_744\4177243263.py:23: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cw_pivot['Franchisee'].fillna('RFC',inplace=True)

,Rank,ParentID,ShopName,State,DT,SV,StoreStatus,FC Initials,Franchisee,Week 13 2025 Total System Sales,Week 13 2024 Total System Sales,Week 13 Total System Sales%,Week 13 2025 Total System GC,Week 13 2024 Total System GC,Week 13 Total System GC%
0,1.0,32.0,825 Blackwood Clementon Rd-Lindenwold NJ,NJ,Yes,No,Open,JD,John R. Vanore,31979.9635,25747.1600,0.242077,2494,2266,0.100618
1,2.0,18.0,Folsom,PA,No,No,Open,JD,John R. Vanore,28464.1155,19773.8700,0.439481,2091,1649,0.268041
2,3.0,239.0,Salisbury,MD,No,No,Open,EL,Donna L. Pinzhoffer,27912.5400,14914.0700,0.871558,2508,1502,0.669774
3,4.0,182.0,538 W South St-Frederick MD,MD,No,No,Open,DL,Keila C. Trace,27677.1165,19445.2400,0.423336,1822,1407,0.294954
4,5.0,29.0,Collingdale,PA,Yes,No,Open,JD,John R. Vanore,25938.1295,18901.5600,0.372275,2075,1712,0.212033
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
550,538.5,1322.0,Fort Collins,CO,No,No,Terminated,JM,Diane R. David,0.0000,3478.1876,-1.000000,0,281,-1.000000
551,538.5,127.0,Henderson Road,OH,Yes,No,Open,DR,Patrick Rengel,0.0000,14550.1700,-1.000000,0,1372,-1.000000
552,538.5,1132.0,2601 Geo. Washington Memorial Hwy-Yorktown VA,VA,No,No,RELO - Closed,FBC,Derrick Moore,0.0000,706.2400,-1.000000,0,126,-1.000000
553,538.5,1121.0,Gulf Shores,AL,No,No,Ceased Operations,JS,Robert J. Tarr,0.0000,12610.1050,-1.000000,0,787,-1.000000
554,538.5,519.0,Cape May,NJ,No,No,Open,JD,Michele Angelo,0.0000,1093.6910,-1.000000,0,99,-1.000000

In [50]:
sales_month=cy_sales.pivot_table(index=['ParentID','Month','Month_Name','Week','Year'],values='SalesMny',aggfunc='sum',fill_value=0).reset_index()

In [51]:
cy_pivot=cy_pivot.merge(shop_details[['ParentID','LegacyShopType','OpenDate','Relo Year']],on='ParentID',how='left')

In [52]:
sales_gc_month=sales_month.merge(gc_group[['Month','ParentID','Week','Year','Total_GC']],on=['ParentID','Month','Week','Year'],how='left').drop_duplicates(
subset=['ParentID','Month','Month_Name','Week','Year'],keep='first').fillna(0)
sales_gc_month=sales_gc_month.merge(shop_details[['ParentID','StoreStatus']],on='ParentID',how='left')
month_sales=sales_gc_month.pivot_table(index=['Month','Month_Name'],columns='Year',values=['SalesMny','Total_GC'],aggfunc='sum')
month_sales.columns = ['_'.join(map(str,col)) for col in month_sales.columns.values]
month_sales.columns = [col.replace('_', '') for col in month_sales.columns]
month_sales=month_sales.reset_index().drop('Month',axis=1).set_index('Month_Name')
month_sales.loc['YTD']=month_sales.sum(axis=0)
month_sales['Sales%']=month_sales['SalesMny2025']/month_sales['SalesMny2024']-1
month_sales['GC%']=month_sales['TotalGC2025']/month_sales['TotalGC2024']-1

In [54]:
month_sales=month_sales.rename(columns={'SalesMny2025':'2025 Total System Sales','SalesMny2024':'2024 Total System Sales',
                           'TotalGC2025':'2025 Total System GC','TotalGC2024':'2024 System Total GC'})
month_sales=month_sales.iloc[:,[1,0,4,3,2,5]]

In [56]:
month_sales.index.name='Month'

In [58]:
open_shops=cy_pivot[cy_pivot.StoreStatus=='Open']

In [60]:
tss_summary=pd.DataFrame({'':['YTD Sales','YTD GC','YTD Avg.Check'],
              'YTD 2025':
              [cy_pivot['Sales_25'].sum(),
               cy_pivot['GC_25'].sum(),
               cy_pivot['Sales_25'].sum()/cy_pivot['GC_25'].sum()],
              'YTD 2024':
              [cy_pivot['Sales_24'].sum(),
              cy_pivot['GC_24'].sum(),
              cy_pivot['Sales_24'].sum()/cy_pivot['GC_24'].sum()],
              '%':[cy_pivot['Sales_25'].sum()/cy_pivot['Sales_24'].sum()-1,
                  cy_pivot['GC_25'].sum()/cy_pivot['GC_24'].sum()-1,
                  ((cy_pivot['Sales_25'].sum()/cy_pivot['GC_25'].sum())/(cy_pivot['Sales_24'].sum()/cy_pivot['GC_24'].sum())-1)]
    
    
    
})

In [61]:
sales_gc_month=sales_month.merge(gc_group[['Month','ParentID','Week','Year','Total_GC']],on=['ParentID','Month','Week','Year'],how='left').drop_duplicates(
subset=['ParentID','Month','Month_Name','Week','Year'],keep='first').fillna(0)
sales_gc_month=sales_gc_month.merge(shop_details[['ParentID','StoreStatus']],on='ParentID',how='left')
open_sales=sales_gc_month[sales_gc_month.StoreStatus=='Open'].pivot_table(index=['Month','Month_Name'],columns='Year',values=['SalesMny','Total_GC'],aggfunc='sum')
open_sales.columns = ['_'.join(map(str,col)) for col in open_sales.columns.values]
open_sales.columns = [col.replace('_', '') for col in open_sales.columns]
open_sales=open_sales.reset_index().drop('Month',axis=1).set_index('Month_Name')
open_sales.loc['YTD']=open_sales.sum(axis=0)
open_sales['Sales%']=open_sales['SalesMny2025']/open_sales['SalesMny2024']-1
open_sales['GC%']=open_sales['TotalGC2025']/open_sales['TotalGC2024']-1

In [62]:
open_sales=open_sales.rename(columns={'SalesMny2025':'2025 Open Shop Sales','SalesMny2024':'2024 Open Shop Sales',
                           'TotalGC2025':'2025 Open Shops GC','TotalGC2024':'2024 Open Shops GC'})
open_sales=open_sales.iloc[:,[1,0,4,3,2,5]]

In [63]:
oss_summary=pd.DataFrame({'':['YTD Sales','YTD GC','YTD Avg.Check'],
              'YTD 2025':
              [open_shops['Sales_25'].sum(),
               open_shops['GC_25'].sum(),
               open_shops['Sales_25'].sum()/open_shops['GC_25'].sum()],
              'YTD 2024':
              [open_shops['Sales_24'].sum(),
              open_shops['GC_24'].sum(),
              open_shops['Sales_24'].sum()/open_shops['GC_24'].sum()],
              '%':[open_shops['Sales_25'].sum()/open_shops['Sales_24'].sum()-1,
                  open_shops['GC_25'].sum()/open_shops['GC_24'].sum()-1,
                  ((open_shops['Sales_25'].sum()/open_shops['GC_25'].sum())/(open_shops['Sales_24'].sum()/open_shops['GC_24'].sum())-1)]
    
    
    
})

In [65]:
cy_pivot.info()
cy_pivot=cy_pivot.rename(columns={'Sales_25':'YTD 2025 Total System Sales','Sales_24':'YTD 2024 Total System Sales',
                                 '%_Chng':'Total System Sales%','GC_25':'YTD 2025 Total System GC',
                                  'GC_24':'YTD 2024 Total System GC','%_GC':'Total System GC%',
                                 'Avg_Chk_25':'YTD 2025 Total System Avg Check','Avg_Chk_24':'YTD 2024 Total System Avg Check',
                                 'Chk_%':'Total System Avg Check%','OpenDate':'Open Date'})
cy_pivot=cy_pivot.iloc[:,[0,1,2,3,7,8,19,20,4,18,9,10,11,12,13,14,15,16,17,6]].fillna('')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558 entries, 0 to 557
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Rank            558 non-null    float64
 1   ParentID        558 non-null    float64
 2   ShopName        558 non-null    object
 3   State           558 non-null    object
 4   DT              558 non-null    object
 5   SV              558 non-null    object
 6   StoreStatus     558 non-null    object
 7   FC Initials     558 non-null    object
 8   Franchisee      558 non-null    object
 9   Sales_25        558 non-null    float64
 10  Sales_24        558 non-null    float64
 11  %_Chng          558 non-null    float64
 12  GC_25           558 non-null    int64
 13  GC_24           558 non-null    int64
 14  %_GC            558 non-null    float64
 15  Avg_Chk_25      558 non-null    float64
 16  Avg_Chk_24      558 non-null    float64
 17  Chk_%           558 non-null    float64
 18  LegacyShopType  558 non-null    object
 19  OpenDate        558 non-null    datetime64[ns]
 20  Relo Year       31 non-null     float64
dtypes: datetime64[ns](1), float64(10), int64(2), object(8)
memory usage: 91.7+ KB

,Rank,ParentID,ShopName,State,FC Initials,Franchisee,Open Date,Relo Year,DT,LegacyShopType,YTD 2025 Total System Sales,YTD 2024 Total System Sales,Total System Sales%,YTD 2025 Total System GC,YTD 2024 Total System GC,Total System GC%,YTD 2025 Total System Avg Check,YTD 2024 Total System Avg Check,Total System Avg Check%,StoreStatus
0,1.0,374.0,Rhode Island Avenue,DC,LH,Angela Brock,2005-08-20,,No,Walk-up,344628.9045,437043.4000,-0.211454,4812,4441,0.083540,71.618642,98.411034,-0.272250,Open
1,2.0,463.0,681 River Ave-Lakewood NJ,NJ,PG,Elliot Bohm,2007-03-02,,No,Walk-in / Walk-up,200521.8800,258476.4800,-0.224216,16509,20376,-0.189782,12.146216,12.685340,-0.042500,Open
2,3.0,836.0,1575 Pine Ridge Rd-Naples FL,FL,JS,Jason L. Gibson,2010-04-29,2019.0,Yes,Walk-in,166258.7185,141265.2110,0.176926,14563,13392,0.087440,11.416516,10.548478,0.082290,Open
3,4.0,1552.0,7007 SeaWorld Dr-Orlando FL,FL,PG,RFC,2023-12-15,,No,Special Venue,152568.1300,319101.2800,-0.521882,10443,25986,-0.598130,14.609607,12.279738,0.189733,Open
4,5.0,1065.0,11134 Palms Blvd.-Los Angeles CA,CA,JM,Nasir Awan,2014-07-25,2022.0,No,Walk-in,147706.7230,124928.8703,0.182327,10156,10368,-0.020448,14.543789,12.049467,0.207007,Open
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
553,546.5,256.0,Sayreville,NJ,LW,Wayne R. Barry,2001-06-02,,No,Walk-up,0.0000,36578.5996,-1.000000,0,3328,-1.000000,0.000000,10.991166,0.000000,Open
554,546.5,887.0,Six Flags America-Mitchellville MD,MD,JT,Ramar Vaughan,2012-04-05,,No,Special Venue,0.0000,2174.3700,-1.000000,0,360,-1.000000,0.000000,6.039917,0.000000,Open
555,546.5,1060.0,Edmondson Avenue,MD,LH,Ashish P. Parikh,2015-06-30,,No,Walk-in / Walk-up,0.0000,8057.5430,-1.000000,0,1208,-1.000000,0.000000,6.670151,0.000000,Ceased Operations
556,546.5,1053.0,Asheville NC,NC,FBC,David J. Moore,2014-08-16,,No,Walk-in,0.0000,4265.0515,-1.000000,0,532,-1.000000,0.000000,8.017014,0.000000,Terminated
557,546.5,1492.0,Oriole Park-Camden Yards-Baltimore MD,MD,LH,Brian D. Hartlieb,2022-04-08,,No,Special Venue,0.0000,11551.0000,-1.000000,0,907,-1.000000,0.000000,12.735391,0.000000,Open

In [67]:
cy_pivot.loc[cy_pivot.LegacyShopType=='Walk-in / Walk-up','LegacyShopType']='WI/WU'

In [68]:
weekly_sales=cw_pivot.iloc[:,np.r_[1,9:15]]

In [69]:
lc_sales=cy_pivot.merge(weekly_sales,on='ParentID',how='left')

In [70]:
lc_sales.iloc[:,10:-1]=lc_sales.iloc[:,10:-1].fillna(0)

In [71]:
lc_sales=lc_sales.iloc[:,np.r_[0:10,20:26,10:16,19]]
lc_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558 entries, 0 to 557
Data columns (total 23 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Rank                             558 non-null    float64
 1   ParentID                         558 non-null    float64
 2   ShopName                         558 non-null    object
 3   State                            558 non-null    object
 4   FC Initials                      558 non-null    object
 5   Franchisee                       558 non-null    object
 6   Open Date                        558 non-null    datetime64[ns]
 7   Relo Year                        558 non-null    object
 8   DT                               558 non-null    object
 9   LegacyShopType                   558 non-null    object
 10  Week 13 2025 Total System Sales  558 non-null    float64
 11  Week 13 2024 Total System Sales  558 non-null    float64
 12  Week 13 Total System Sales%      558 non-null    float64
 13  Week 13 2025 Total System GC     558 non-null    float64
 14  Week 13 2024 Total System GC     558 non-null    float64
 15  Week 13 Total System GC%         555 non-null    float64
 16  YTD 2025 Total System Sales      558 non-null    float64
 17  YTD 2024 Total System Sales      558 non-null    float64
 18  Total System Sales%              558 non-null    float64
 19  YTD 2025 Total System GC         558 non-null    int64
 20  YTD 2024 Total System GC         558 non-null    int64
 21  Total System GC%                 558 non-null    float64
 22  StoreStatus                      558 non-null    object
dtypes: datetime64[ns](1), float64(12), int64(2), object(8)
memory usage: 100.4+ KB

In [72]:
week_summary=pd.DataFrame({'':['Week '+str(this_week)+' Total Sales','Week '+str(this_week)+' Total GC','Week '+str(this_week)+' Total Avg.Check'],
              'Week ' +str(this_week)+' 2025':[
                  lc_sales.iloc[:,10].sum(),
                  lc_sales.iloc[:,13].sum(),
                  lc_sales.iloc[:,10].sum()/lc_sales.iloc[:,13].sum()],
              'Week ' +str(this_week)+' 2024':[
                  lc_sales.iloc[:,11].sum(),
                  lc_sales.iloc[:,14].sum(),
                  lc_sales.iloc[:,11].sum()/lc_sales.iloc[:,14].sum()
              ],
              '%':[
                  lc_sales.iloc[:,10].sum()/lc_sales.iloc[:,11].sum()-1,
                  lc_sales.iloc[:,13].sum()/lc_sales.iloc[:,14].sum()-1,
                  ((lc_sales.iloc[:,10].sum()/lc_sales.iloc[:,13].sum())/(lc_sales.iloc[:,11].sum()/lc_sales.iloc[:,14].sum())-1)
                  
              ]
    
    
})

In [73]:
unique_shops=cy_sales.groupby(['Year','Week','ParentID'])['SalesMny'].sum().reset_index()\
.query('SalesMny>1').pivot_table(index='Week',columns='Year',values='ParentID',aggfunc='nunique')

unique_shops=unique_shops.rename(columns={2024:'2024 # of Shops Reported',2025:'2025 # of Shops Reported'})
unique_shops

Year  2024 # of Shops Reported  2025 # of Shops Reported
Week
1                          123                       139
2                          125                       134
3                          118                       133
4                          119                       130
5                          132                       152
6                          153                       163
7                          200                       194
8                          302                       274
9                          507                       509
10                         511                       513
11                         518                       519
12                         522                       522
13                         528                       521

In [74]:
shop_names=cy_sales[['ParentID','ShopName','OpenDate','Relo Year','State','DT',
                'LegacyShopType','FC Initials','Franchisee']].drop_duplicates(subset='ParentID',keep='first')

In [75]:
shop_names['ParentID']=shop_names['ParentID'].astype('int')
cy_sales['ParentID']=cy_sales['ParentID'].astype('int')

In [76]:
weekly_comps=cy_sales[cy_sales.Year==cy_sales.Year.max()].pivot_table(index='ParentID',columns='Week',values='SalesMny',
                                                        aggfunc='sum',fill_value=0,margins=True).reset_index()
new_weekly_comps=weekly_comps.merge(shop_names,on='ParentID',how='left')
new_weekly_comps['Rank'] = new_weekly_comps['All'].rank(method='dense', ascending=False).astype(int)
new_weekly_comps = new_weekly_comps.rename(columns=lambda x: f'2025 Week {x}' if isinstance(x, (int, float)) else x)

In [78]:
new_weekly_comps=new_weekly_comps.iloc[:-1,np.r_[-1,0,-9,-6,-3,-2,-8,-7,-5,-4,1:len(new_weekly_comps.columns)-9]]
new_weekly_comps.loc[new_weekly_comps.LegacyShopType=='Walk-in / Walk-up','LegacyShopType']='WI/WU'
new_weekly_comps=new_weekly_comps.rename(columns={'OpenDate':'Open Date','All':'YTD 2025 Total Store Sales'})
new_weekly_comps=new_weekly_comps.sort_values(by='Rank')

In [80]:
ytd_row = pd.DataFrame(new_weekly_comps.iloc[:, 10:].sum()).T
ytd_row.insert(0, 'LegacyShopType', ' Weekly Totals')  # Adjust column name as needed
new_weekly_comps = pd.concat([new_weekly_comps, ytd_row], ignore_index=True)
new_weekly_comps=new_weekly_comps.fillna('')

,Rank,ParentID,ShopName,State,FC Initials,Franchisee,Open Date,Relo Year,DT,LegacyShopType,...,2025 Week 5,2025 Week 6,2025 Week 7,2025 Week 8,2025 Week 9,2025 Week 10,2025 Week 11,2025 Week 12,2025 Week 13,YTD 2025 Total Store Sales
0,2.0,374,Rhode Island Avenue,DC,LH,Angela Brock,2005-08-20,,No,Walk-up,...,26307.1800,43416.8600,9301.1000,0.0000,1827.255,6.265395e+03,1.137236e+04,1.838680e+04,2.051741e+04,3.446289e+05
1,3.0,463,681 River Ave-Lakewood NJ,NJ,PG,Elliot Bohm,2007-03-02,,No,WI/WU,...,16869.0000,13551.7200,12712.9700,15878.5000,19574.530,1.676466e+04,2.067953e+04,1.601005e+04,1.887140e+04,2.005219e+05
2,4.0,836,1575 Pine Ridge Rd-Naples FL,FL,JS,Jason L. Gibson,2010-04-29,2019.0,Yes,Walk-in,...,10608.2300,11794.0750,14586.0050,13245.9840,13815.895,1.617440e+04,1.356658e+04,1.811160e+04,1.500795e+04,1.662587e+05
3,5.0,1552,7007 SeaWorld Dr-Orlando FL,FL,PG,,2023-12-15,,No,Special Venue,...,19700.8000,21228.6700,26701.9100,27742.1000,0.000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.525681e+05
4,6.0,1065,11134 Palms Blvd.-Los Angeles CA,CA,JM,Nasir Awan,2014-07-25,2022.0,No,Walk-in,...,11043.8775,10726.1415,10649.3025,12734.5310,12573.545,1.034453e+04,1.257932e+04,1.539768e+04,1.309198e+04,1.477067e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
531,533.0,1046,100 E Rockland St-Phila. PA,PA,LG,Richard J. Gaglianese,2014-03-17,,No,Walk-up,...,0.0000,0.0000,0.0000,0.0000,0.000,0.000000e+00,1.857882e+03,2.704640e+02,0.000000e+00,2.128346e+03
532,534.0,550,Surf City,NJ,JD,Michele Angelo,2008-04-10,,No,WI/WU,...,0.0000,0.0000,0.0000,0.0000,0.000,0.000000e+00,0.000000e+00,0.000000e+00,1.286931e+03,1.286931e+03
533,535.0,468,Marley Station,MD,EL,Barry E. Kitchen,2007-04-26,,No,Mall,...,0.0000,0.0000,0.0000,0.0000,0.000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.969000e+01
534,536.0,9,902 Boardwalk-Ocean City NJ,NJ,JD,Christopher R. Tate,1991-05-01,,No,Walk-up,...,0.0000,0.0000,0.0000,0.0000,0.000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
535,,,,,,,NaT,,,Weekly Totals,...,627752.5511,692704.9574,684263.9609,968019.0909,2019542.703,2.834120e+06,4.950630e+06,5.612578e+06,5.678684e+06,2.609853e+07

In [81]:
weekly_comps=cy_sales[cy_sales.Year==cy_sales.Year.max()-1].pivot_table(index='ParentID',columns='Week',values='SalesMny',
                                                        aggfunc='sum',fill_value=0,margins=True).reset_index()
old_weekly_comps=weekly_comps.merge(shop_names,on='ParentID',how='left')
old_weekly_comps['Rank'] = old_weekly_comps['All'].rank(method='dense',ascending=False).astype(int)
old_weekly_comps = old_weekly_comps.rename(columns=lambda x: f'2024 Week {x}' if isinstance(x, (int, float)) else x)
old_weekly_comps=old_weekly_comps.iloc[:-1,np.r_[-1,0,-9,-6,-3,-2,-8,-7,-5,-4,1:len(old_weekly_comps.columns)-9]]
old_weekly_comps.loc[old_weekly_comps.LegacyShopType=='Walk-in / Walk-up','LegacyShopType']='WI/WU'
old_weekly_comps=old_weekly_comps.rename(columns={'OpenDate':'Open Date','All':'YTD 2024 Comp Store Sales'})
old_weekly_comps=old_weekly_comps.sort_values(by='Rank')
ytd_row = pd.DataFrame(old_weekly_comps.iloc[:, 10:].sum()).T
ytd_row.insert(0, 'LegacyShopType', ' Weekly Totals')  # Adjust column name as needed
old_weekly_comps = pd.concat([old_weekly_comps, ytd_row], ignore_index=True)
old_weekly_comps=old_weekly_comps.fillna('')

,Rank,ParentID,ShopName,State,FC Initials,Franchisee,Open Date,Relo Year,DT,LegacyShopType,...,2024 Week 5,2024 Week 6,2024 Week 7,2024 Week 8,2024 Week 9,2024 Week 10,2024 Week 11,2024 Week 12,2024 Week 13,YTD 2024 Comp Store Sales
0,2.0,374,Rhode Island Avenue,DC,LH,Angela Brock,2005-08-20,,No,Walk-up,...,22785.0000,23266.0000,21247.0000,1.855300e+04,1.981469e+04,58917.255,6.446212e+04,27235.925,5.832435e+04,4.370434e+05
1,3.0,1552,7007 SeaWorld Dr-Orlando FL,FL,PG,,2023-12-15,,No,Special Venue,...,13389.5800,14944.2100,12714.2500,2.534637e+04,1.964566e+04,29921.830,4.725234e+04,39000.580,6.342184e+04,3.191013e+05
2,4.0,463,681 River Ave-Lakewood NJ,NJ,PG,Elliot Bohm,2007-03-02,,No,WI/WU,...,15278.4800,25210.8400,18900.2800,1.886614e+04,3.560023e+04,21232.340,2.744995e+04,20330.800,2.087332e+04,2.584765e+05
3,5.0,445,5308 Princess Anne Rd-Virginia Beach VA,VA,FBC,Erica A. Terminello,2006-09-10,2021.0,Yes,Walk-up,...,8825.5790,7823.5590,13132.4760,6.632335e+03,3.091311e+04,24513.242,1.858647e+04,17965.895,1.195689e+04,1.900503e+05
4,6.0,1534,500 SeaWorld Dr-San Diego CA,CA,PG,,2023-06-27,,No,Special Venue,...,6781.6000,6704.8600,14527.3900,1.662222e+04,9.747810e+03,13791.520,2.104864e+04,17616.020,2.062573e+04,1.633465e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
527,529.0,689,Inner Harbor,MD,LH,Albert D. Holley III,2008-06-13,,No,Walk-up,...,0.0000,0.0000,0.0000,0.000000e+00,1.158500e+02,0.000,6.007300e+02,0.000,2.430100e+02,9.595900e+02
528,530.0,9,902 Boardwalk-Ocean City NJ,NJ,JD,Christopher R. Tate,1991-05-01,,No,Walk-up,...,0.0000,0.0000,0.0000,0.000000e+00,0.000000e+00,0.000,0.000000e+00,0.000,8.763900e+02,8.763900e+02
529,531.0,1563,1500 S Capitol St-Washington DC,DC,LH,Brian D. Hartlieb,2024-04-01,,No,Special Venue,...,0.0000,0.0000,0.0000,0.000000e+00,0.000000e+00,0.000,0.000000e+00,0.000,5.793400e+02,5.793400e+02
530,532.0,403,Mahwah,NJ,LW,Karen Passarelli,2006-05-05,,No,Walk-in,...,0.0000,0.0000,0.0000,0.000000e+00,0.000000e+00,0.000,0.000000e+00,0.000,0.000000e+00,0.000000e+00
531,,,,,,,NaT,,,Weekly Totals,...,554891.9975,656496.2606,738290.5155,1.276787e+06,2.799785e+06,3030669.071,6.095818e+06,3993328.790,4.129077e+06,2.516947e+07

In [82]:
directors=lc_sales.merge(ops[['ParentID','Director']],on='ParentID',how='left')
directors.loc[directors['Director'].isna(),'Director']='No Director'
week_ytd_cols = [col for col in directors.columns if "Week" in col or "YTD" in col]
director_group = directors.groupby('Director')[week_ytd_cols].sum().reset_index()
drop_cols = [col for col in director_group.columns if "%" in col]
director_group=director_group.drop(columns=drop_cols,axis=1)
ytd_row = pd.DataFrame(director_group.iloc[:, 1:].sum()).T
ytd_row.insert(0, 'Director', 'Totals')  # Adjust column name as needed
director_group = pd.concat([director_group, ytd_row], ignore_index=True)
director_group=director_group.fillna('')
director_group['Week '+str(this_week)+' Total Store Sales%']=director_group.iloc[:,1]/director_group.iloc[:,2]-1 
director_group['Week '+str(this_week)+' Total GC%']=director_group.iloc[:,3]/director_group.iloc[:,4]-1 
director_group['Total Store Sales%']=director_group.iloc[:,5]/director_group.iloc[:,6]-1 
director_group['Total Store GC%']=director_group.iloc[:,7]/director_group.iloc[:,8]-1 
director_group.info()
director_group=director_group.iloc[:,[0,1,2,9,3,4,10,5,6,11,7,8,12]]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 13 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Director                         5 non-null      object
 1   Week 13 2025 Total System Sales  5 non-null      float64
 2   Week 13 2024 Total System Sales  5 non-null      float64
 3   Week 13 2025 Total System GC     5 non-null      float64
 4   Week 13 2024 Total System GC     5 non-null      float64
 5   YTD 2025 Total System Sales      5 non-null      float64
 6   YTD 2024 Total System Sales      5 non-null      float64
 7   YTD 2025 Total System GC         5 non-null      float64
 8   YTD 2024 Total System GC         5 non-null      float64
 9   Week 13 Total Store Sales%       5 non-null      float64
 10  Week 13 Total GC%                5 non-null      float64
 11  Total Store Sales%               5 non-null      float64
 12  Total Store GC%                  5 non-null      float64
dtypes: float64(12), object(1)
memory usage: 648.0+ bytes

,Director,Week 13 2025 Total System Sales,Week 13 2024 Total System Sales,Week 13 Total Store Sales%,Week 13 2025 Total System GC,Week 13 2024 Total System GC,Week 13 Total GC%,YTD 2025 Total System Sales,YTD 2024 Total System Sales,Total Store Sales%,YTD 2025 Total System GC,YTD 2024 Total System GC,Total Store GC%
0,Dave Roemer,1.867359e+06,1.354762e+06,0.378367,156190.0,121297.0,0.287666,8.344696e+06,7.808598e+06,0.068655,742980.0,710010.0,0.046436
1,John D'Allesandro,2.441774e+06,1.545870e+06,0.579547,198507.0,142199.0,0.395980,9.285995e+06,8.595316e+06,0.080355,842097.0,821642.0,0.024895
2,No Director,4.077669e+04,7.810748e+04,-0.477941,3137.0,7177.0,-0.562909,1.258370e+05,4.439149e+05,-0.716529,11350.0,44117.0,-0.742730
3,Paul Greenberg,1.328774e+06,1.150337e+06,0.155117,106483.0,99807.0,0.066889,8.342005e+06,8.321637e+06,0.002448,724109.0,751329.0,-0.036229
4,Totals,5.678684e+06,4.129077e+06,0.375291,464317.0,370480.0,0.253285,2.609853e+07,2.516947e+07,0.036912,2320536.0,2327098.0,-0.002820

In [83]:
week_ytd_cols = [col for col in lc_sales.columns if "Week" in col or "YTD" in col]


fc_group = lc_sales.groupby("FC Initials")[week_ytd_cols].sum().reset_index()
drop_cols = [col for col in fc_group.columns if "%" in col]
fc_group=fc_group.drop(columns=drop_cols,axis=1)

ytd_row = pd.DataFrame(fc_group.iloc[:, 1:].sum()).T
ytd_row.insert(0, 'FC Initials', 'Totals')  # Adjust column name as needed
fc_group = pd.concat([fc_group, ytd_row], ignore_index=True)
fc_group=fc_group.fillna('')

fc_group['Week '+str(this_week)+' Total Store Sales%']=fc_group.iloc[:,1]/fc_group.iloc[:,2]-1 
fc_group['Week '+str(this_week)+' Total GC%']=fc_group.iloc[:,3]/fc_group.iloc[:,4]-1 
fc_group['Total Store Sales%']=fc_group.iloc[:,5]/fc_group.iloc[:,6]-1 
fc_group['Total Store GC%']=fc_group.iloc[:,7]/fc_group.iloc[:,8]-1 
fc_group.info()
fc_group=fc_group.iloc[:,[0,1,2,9,3,4,10,5,6,11,7,8,12]]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 13 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   FC Initials                      16 non-null     object
 1   Week 13 2025 Total System Sales  16 non-null     float64
 2   Week 13 2024 Total System Sales  16 non-null     float64
 3   Week 13 2025 Total System GC     16 non-null     float64
 4   Week 13 2024 Total System GC     16 non-null     float64
 5   YTD 2025 Total System Sales      16 non-null     float64
 6   YTD 2024 Total System Sales      16 non-null     float64
 7   YTD 2025 Total System GC         16 non-null     float64
 8   YTD 2024 Total System GC         16 non-null     float64
 9   Week 13 Total Store Sales%       16 non-null     float64
 10  Week 13 Total GC%                16 non-null     float64
 11  Total Store Sales%               16 non-null     float64
 12  Total Store GC%                  16 non-null     float64
dtypes: float64(12), object(1)
memory usage: 1.8+ KB

,FC Initials,Week 13 2025 Total System Sales,Week 13 2024 Total System Sales,Week 13 Total Store Sales%,Week 13 2025 Total System GC,Week 13 2024 Total System GC,Week 13 Total GC%,YTD 2025 Total System Sales,YTD 2024 Total System Sales,Total Store Sales%,YTD 2025 Total System GC,YTD 2024 Total System GC,Total Store GC%
0,DL,5.884396e+05,3.545640e+05,0.659615,50268.0,34631.0,0.451532,2.135590e+06,1.928467e+06,0.107403,202415.0,195135.0,0.037308
1,DR,1.815646e+05,1.358332e+05,0.336674,14083.0,11896.0,0.183843,9.491723e+05,9.165910e+05,0.035546,82956.0,84426.0,-0.017412
2,EL,5.660917e+05,3.447228e+05,0.642165,44267.0,31182.0,0.419633,2.128619e+06,1.998058e+06,0.065344,182623.0,186504.0,-0.020809
3,FBC,2.548579e+05,2.572195e+05,-0.009181,22002.0,22070.0,-0.003081,1.410552e+06,1.515009e+06,-0.068948,130604.0,135723.0,-0.037717
4,JD,2.294060e+05,1.619611e+05,0.416427,17509.0,14023.0,0.248592,9.006053e+05,8.947184e+05,0.006580,76714.0,78885.0,-0.027521
5,JF,1.893225e+05,1.291353e+05,0.466078,14876.0,11702.0,0.271236,7.800062e+05,7.376856e+05,0.057370,68792.0,70073.0,-0.018281
6,JM,2.300229e+05,1.823177e+05,0.261659,15979.0,13667.0,0.169167,1.804408e+06,1.689607e+06,0.067945,138974.0,134439.0,0.033733
7,JS,3.368288e+05,3.458175e+05,-0.025993,28918.0,30179.0,-0.041784,2.953753e+06,2.947737e+06,0.002041,270294.0,279189.0,-0.031860
8,JT,6.300807e+05,3.879868e+05,0.623975,53092.0,36418.0,0.457851,2.337851e+06,2.155114e+06,0.084792,219008.0,211890.0,0.033593
9,JToo,3.070091e+05,2.196459e+05,0.397746,26831.0,22102.0,0.213963,1.416789e+06,1.199518e+06,0.181132,136446.0,121497.0,0.123040
10,LG,4.847233e+05,3.335528e+05,0.453213,40523.0,31499.0,0.286485,1.875289e+06,1.786527e+06,0.049684,175127.0,175936.0,-0.004598
11,LH,5.302608e+05,3.822138e+05,0.387341,43893.0,30996.0,0.416086,2.198860e+06,2.140097e+06,0.027458,179665.0,174173.0,0.031532
12,LW,4.651245e+05,3.353218e+05,0.387099,36556.0,29742.0,0.229104,1.893274e+06,1.813502e+06,0.043988,171469.0,169444.0,0.011951
13,PG,1.130664e+05,1.992788e+05,-0.432622,8084.0,15924.0,-0.492339,1.046389e+06,1.417819e+06,-0.261973,81189.0,115153.0,-0.294947
14,TT,5.718850e+05,3.595057e+05,0.590754,47436.0,34449.0,0.376992,2.267376e+06,2.029016e+06,0.117475,204260.0,194631.0,0.049473
15,Totals,5.678684e+06,4.129077e+06,0.375291,464317.0,370480.0,0.253285,2.609853e+07,2.516947e+07,0.036912,2320536.0,2327098.0,-0.002820

In [87]:
alist=['3rd Party Delivery','Full Service Catering (Open $)','Online Ordering','Catering (Bulk Ice)','Donut Catering']
retail=total_df[~(total_df.LegacyShopType.str.contains('Mobile'))&~(
    total_df.ProductTypeName.isin(alist))&(total_df.SpecialVenue=='No')&(total_df.Week<=data.Week.max())&(
    total_df.LegacyShopStatus!='Satellite Store')].pivot_table(
                                                                                  columns='Year',
                                                                                  values='SalesMny',
                                                                                  aggfunc='sum',
                                                                                  fill_value=0).reset_index()
bedford=total_df[(total_df.ShopID==11390)&~(total_df.ProductTypeName.isin(alist))&(
total_df.Week<=data.Week.max())].pivot_table(
                                                                                  columns='Year',
                                                                                  values='SalesMny',
                                                                                  aggfunc='sum',
                                                                                  fill_value=0).reset_index()

retail=pd.concat([retail,bedford]).groupby('index')[[2024,2025]].sum().reset_index()
# retail['% Chg']=retail.iloc[:,2]/retail.iloc[:,1]-1
# retail['% Chg']=retail['% Chg'].fillna(0)
# retail['% Chg']=retail['% Chg'].replace([np.inf,np.nan],0)
retail.loc[retail['index']=='SalesMny','index']='Retail'

cw_retail=total_df[~(total_df.LegacyShopType.str.contains('Mobile'))&~(
    total_df.ProductTypeName.isin(alist))&(total_df.LegacyShopStatus!='Satellite Store')&(total_df.SpecialVenue=='No')&(total_df.Week==data.Week.max())].pivot_table(
                                                                                  columns='Year',
                                                                                  values='SalesMny',
                                                                                  aggfunc='sum',
                                                                                  fill_value=0).reset_index()
cw_bedford=total_df[(total_df.ShopID==11390)&~(total_df.ProductTypeName.isin(alist))&(
total_df.Week==data.Week.max())].pivot_table(
                                                                                  columns='Year',
                                                                                  values='SalesMny',
                                                                                  aggfunc='sum',
                                                                                  fill_value=0).reset_index()

cw_retail=pd.concat([cw_retail,cw_bedford]).groupby('index')[[2024,2025]].sum().reset_index()
# cw_retail['% Chg']=cw_retail.iloc[:,2]/cw_retail.iloc[:,1]-1
# cw_retail['% Chg']=cw_retail['% Chg'].fillna(0)
# cw_retail['% Chg']=cw_retail['% Chg'].replace([np.inf,np.nan],0)
cw_retail.loc[cw_retail['index']=='SalesMny','index']='Retail'

In [90]:
sv=total_df[(total_df.SpecialVenue=='Yes')&(total_df.Week<=data.Week.max())].pivot_table(columns='Year',values='SalesMny',aggfunc='sum',
                                                                                                        fill_value=0).reset_index()
# sv['% Chg']=sv.iloc[:,2]/sv.iloc[:,1]-1
# sv['% Chg']=sv['% Chg'].fillna(0)
# sv['% Chg']=sv['% Chg'].replace([np.inf,np.nan],0)
sv.loc[sv['index']=='SalesMny','index']='Special Venue'

In [91]:
cw_sv=total_df[(total_df.SpecialVenue=='Yes')&(total_df.Week==data.Week.max())].pivot_table(columns='Year',values='SalesMny',aggfunc='sum',
                                                                                                        fill_value=0).reset_index()
# cw_sv['% Chg']=cw_sv.iloc[:,2]/cw_sv.iloc[:,1]-1
# cw_sv['% Chg']=cw_sv['% Chg'].fillna(0)
# cw_sv['% Chg']=cw_sv['% Chg'].replace([np.inf,np.nan],0)
cw_sv.loc[cw_sv['index']=='SalesMny','index']='Special Venue'

Year          index       2024
0     Special Venue  217044.69

In [93]:
online=total_df[(total_df.ProductTypeName=='Online Ordering')&(total_df.SpecialVenue=='No')&(
total_df.Week<=data.Week.max())].pivot_table(
                                                                                                          columns='Year',
                                                                                                          values=['SalesMny'],
                                                                                                          aggfunc='sum',
                                                                                                          fill_value=0)\
.reset_index()
# online['% Chg']=online.iloc[:,2]/online.iloc[:,1]-1
# online['% Chg']=online['% Chg'].fillna(0)
# online['% Chg']=online['% Chg'].replace([np.inf,np.nan],0)
online.loc[online['index']=='SalesMny','index']='Online Ordering'

In [94]:
cw_online=total_df[(total_df.ProductTypeName=='Online Ordering')&(total_df.SpecialVenue=='No')&(
total_df.Week==data.Week.max())].pivot_table(
                                                                                                          columns='Year',
                                                                                                          values=['SalesMny'],
                                                                                                          aggfunc='sum',
                                                                                                          fill_value=0)\
 .reset_index()
# cw_online['% Chg']=cw_online.iloc[:,2]/cw_online.iloc[:,1]-1
# cw_online['% Chg']=cw_online['% Chg'].fillna(0)
# cw_online['% Chg']=cw_online['% Chg'].replace([np.inf,np.nan],0)
cw_online.loc[cw_online['index']=='SalesMny','index']='Online Ordering'

In [95]:
pd3=total_df[(total_df.ProductTypeName=='3rd Party Delivery')&(total_df.SpecialVenue=='No')&(
total_df.Week<=data.Week.max())].pivot_table(
                                                                                                          columns='Year',
                                                                                                          values='SalesMny',
                                                                                                          aggfunc='sum',
                                                                                                          fill_value=0)\
.reset_index()
# pd3['% Chg']=pd3.iloc[:,2]/pd3.iloc[:,1]-1
# pd3['% Chg']=pd3['% Chg'].fillna(0)
# pd3['% Chg']=pd3['% Chg'].replace([np.inf,np.nan],0)
pd3.loc[pd3['index']=='SalesMny','index']='3rd Party'

In [96]:
cw_pd3=total_df[(total_df.ProductTypeName=='3rd Party Delivery')&(total_df.SpecialVenue=='No')&(
total_df.Week==data.Week.max())].pivot_table(
                                                                                                          columns='Year',
                                                                                                          values='SalesMny',
                                                                                                          aggfunc='sum',
                                                                                                          fill_value=0)\
.reset_index()
# cw_pd3['% Chg']=cw_pd3.iloc[:,2]/cw_pd3.iloc[:,1]-1
# cw_pd3['% Chg']=cw_pd3['% Chg'].fillna(0)
# cw_pd3['% Chg']=cw_pd3['% Chg'].replace([np.inf,np.nan],0)
cw_pd3.loc[cw_pd3['index']=='SalesMny','index']='3rd Party'

In [97]:
mobile=total_df[(total_df.LegacyShopType.str.contains('Mobile'))&(total_df.SpecialVenue=='No')&(total_df.Week<=data.Week.max())].pivot_table(
                                                                                                        columns='Year',
                                                                                                        values='SalesMny',
                                                                                                        aggfunc='sum',
                                                                                                        fill_value=0).reset_index()


# mobile['% Chg']=mobile.iloc[:,2]/mobile.iloc[:,1]-1
# mobile['% Chg']=mobile['% Chg'].fillna(0)
# mobile['% Chg']=mobile['% Chg'].replace([np.inf,np.nan],0)
mobile.loc[mobile['index']=='SalesMny','index']='Mobile'

In [98]:
cw_mobile=total_df[(total_df.LegacyShopType.str.contains('Mobile'))&(total_df.SpecialVenue=='No')&(total_df.Week==data.Week.max())].pivot_table(
                                                                                                        columns='Year',
                                                                                                        values='SalesMny',
                                                                                                        aggfunc='sum',
                                                                                                        fill_value=0).reset_index()
# cw_mobile['% Chg']=cw_mobile.iloc[:,2]/cw_mobile.iloc[:,1]-1
# cw_mobile['% Chg']=cw_mobile['% Chg'].fillna(0)
# cw_mobile['% Chg']=cw_mobile['% Chg'].replace([np.inf,np.nan],0)
cw_mobile.loc[cw_mobile['index']=='SalesMny','index']='Mobile'

In [99]:
catering=total_df[(total_df.SpecialVenue=='No')&(
    total_df.ProductTypeName.str.contains('Catering'))&(total_df.Week<=data.Week.max())&(total_df.ShopID<10000)].pivot_table(
                                                                                columns='Year',
                                                                                values='SalesMny',
                                                                                aggfunc='sum',
                                                                                fill_value=0).reset_index()
bedford_catering=total_df[(total_df.ShopID==11390)&(
    total_df.ProductTypeName.str.contains('Catering'))&(total_df.Week<=data.Week.max())].pivot_table(
                                                                                columns='Year',
                                                                                values='SalesMny',
                                                                                aggfunc='sum',
                                                                                fill_value=0).reset_index()
catering=pd.concat([catering,bedford_catering]).groupby('index')[[2024,2025]].sum().reset_index()
# catering['% Chg']=catering.iloc[:,2]/catering.iloc[:,1]-1
# catering['% Chg']=catering['% Chg'].fillna(0)
# catering['% Chg']=catering['% Chg'].replace([np.inf,np.nan],0)
catering.loc[catering['index']=='SalesMny','index']='Catering'

In [101]:
cw_catering=total_df[(total_df.SpecialVenue=='No')&(
    total_df.ProductTypeName.str.contains('Catering'))&(total_df.Week==data.Week.max())&(total_df.ShopID<10000)].pivot_table(
                                                                                                        columns='Year',
                                                                                                        values='SalesMny',
                                                                                                        aggfunc='sum',
                                                                                                        fill_value=0).reset_index()
cw_bedford_catering=total_df[(total_df.ShopID==11390)&(
    total_df.ProductTypeName.str.contains('Catering'))&(total_df.Week==data.Week.max())].pivot_table(
                                                                                                        columns='Year',
                                                                                                        values='SalesMny',
                                                                                                        aggfunc='sum',
                                                                                                        fill_value=0).reset_index()

cw_catering=pd.concat([cw_catering,cw_bedford_catering]).groupby('index')[[2024,2025]].sum().reset_index()
# cw_catering['% Chg']=cw_catering.iloc[:,2]/cw_catering.iloc[:,1]-1
# cw_catering['% Chg']=cw_catering['% Chg'].fillna(0)
# cw_catering['% Chg']=cw_catering['% Chg'].replace([np.inf,np.nan],0)
cw_catering.loc[cw_catering['index']=='SalesMny','index']='Catering'

In [102]:
cw_cat=pd.concat([cw_retail,cw_sv,cw_online,cw_pd3,cw_mobile,cw_catering])

In [103]:
ytd_cat=pd.concat([retail,sv,online,pd3,mobile,catering])

In [104]:
round(data.groupby('ProductTypeName')['SalesMny'].sum(),2).sum()-round(pd.concat([retail,sv,online,pd3,mobile,catering]),2).sum().iloc[2]

-0.019999995827674866

In [105]:
data[data.Week==data.Week.max()].SalesMny.sum()-pd.concat([cw_retail,cw_sv,cw_online,cw_pd3,cw_mobile,cw_catering]).sum(axis=0).iloc[2]

0.0

In [106]:
cat=pd.merge(cw_cat,ytd_cat,on='index',suffixes=['_Week','_YTD'])
ytd_row = pd.DataFrame(cat.iloc[:, 1:].sum()).T
ytd_row.insert(0, 'index', 'Totals')  # Adjust column name as needed
cat=pd.concat([cat,ytd_row])
cat[f'Week {data.Week.max()} Sales%']=cat.iloc[:,2]/cat.iloc[:,1]-1
cat['YTD Sales%']=cat.iloc[:,4]/cat.iloc[:,3]-1
cat_sales=cat.rename(columns={'index':'Category','2024_Week':f'Week {data.Week.max()} 2024',
                    '2025_Week':f'Week {data.Week.max()} 2025',
                   '% Chg_Week':f'Week {data.Week.max()} Sales%',
                   '2024_YTD':'YTD 2024','2025_YTD':'YTD 2025','% Chg_YTD':'YTD Sales%'})
cat_sales=cat_sales.iloc[:,[0,2,1,5,4,3,-1]]
cat_sales.set_index('Category',inplace=True)

In [107]:
cat_sales=cat_sales.fillna(0)

Year,Week 13 2025,Week 13 2024,Week 13 Sales%,YTD 2025,YTD 2024,YTD Sales%
Category,,,,,,
Retail,5.194073e+06,3.496070e+06,0.485689,2.244599e+07,2.131426e+07,0.053097
Special Venue,0.000000e+00,2.170447e+05,0.000000,7.013896e+05,1.133265e+06,-0.381090
Online Ordering,1.091111e+04,2.839120e+03,2.843131,5.106194e+04,1.337782e+04,2.816910
3rd Party,3.618233e+05,3.283291e+05,0.102014,2.279631e+06,2.039823e+06,0.117563
Mobile,4.708295e+04,3.369258e+04,0.397428,2.470948e+05,3.139254e+05,-0.212887
Catering,6.479342e+04,5.110130e+04,0.267941,3.733643e+05,3.548158e+05,0.052276
Totals,5.678684e+06,4.129077e+06,0.375291,2.609853e+07,2.516947e+07,0.036912

In [110]:
lastrow=month_sales.shape[0]
lastrow_1=cat_sales.shape[0]
timestamp = datetime.now().strftime("%m-%d-%y %H%M")
with pd.ExcelWriter('Wk '+str(data.Week.max())+' Total System Sales Report WE - '+str(data.EndDate.max().strftime('%m.%d.%y'))+' - Ran On '+str(timestamp)+'.xlsx',engine='xlsxwriter',
                   datetime_format='mm/dd/yyyy') as writer:

    

    #Creates the Workbook Tab
    month_sales.to_excel(writer,startrow=5, startcol=1,sheet_name='Total Sales by Month')
    cat_sales.to_excel(writer,startrow=5,startcol=1,sheet_name='Sales By Category')
    lc_sales.to_excel(writer,
                      startrow=6,startcol=1,
                      sheet_name='YTD Total Shop Rank',index=False)
    tss_summary.to_excel(writer,startrow=1,startcol=10,sheet_name='YTD Total Shop Rank',
                        index=False)
#     month_sales.to_excel(writer,startrow=5, startcol=1,sheet_name='Total Sales by Month')
    unique_shops.to_excel(writer, startrow=7, startcol=2,sheet_name='# of Unique Shops Opened')
    new_weekly_comps.to_excel(writer,startrow=6,startcol=1,sheet_name='2025 Weekly Total Sales by Shop',index=False)
    old_weekly_comps.to_excel(writer,startrow=6,startcol=1,sheet_name='2024 Weekly Total Sales by Shop',index=False)
    fc_group.to_excel(writer, startrow=6, startcol=1, sheet_name='Total Sales By FC',index=False)
    director_group.to_excel(writer, startrow=6, startcol=1, sheet_name='Total Sales By Director',index=False)
    
    #Creates teh Sheet
    recap_workbook=writer.book
    worksheet=writer.sheets['YTD Total Shop Rank']
    worksheet2=writer.sheets['Total Sales by Month']
    worksheet3=writer.sheets['Sales By Category']
    
    # Defines the Header Fromat
    format_header2=recap_workbook.add_format()
    format_header2.set_italic()
    format_header2.set_bold()
    
    # Creates the excel spreadsheet for reveiw
    text1='Ritas Franchise Company,LLC'
    text2='Total System Sales Report By Shop'
    text3='Total System Sales Report By Month'
    category_text='Total System Sales Report By Sales Category'
    fc_comp_text='YTD Total Sales and Guest Count by Franchise Consultant'
    director_comp_text='YTD Total Sales and Guest Count by Director'
    text4='YTD 2025 v YTD 2024 Total System Sales thru WK '+str(data.Week.max())+' - WE '+str(data.EndDate.max().strftime('%m.%d.%y'))
    unique_text1='# of Unique Shops Reported Sales by Week 2025 vs 2024'
    unique_text2='Shops Must Have Reported Sales in Excess of $1 to be Counted'
    week_text25='Weekly 2025 Total Shop Sales thru Wk '+str(this_week)+' - WE '+str(data.EndDate.max().strftime('%m.%d.%y'))
    week_text24='Weekly 2024 Total Shop Sales thru Wk '+str(this_week)+' - WE '+str(data.EndDate.max().strftime('%m.%d.%y'))
    
    num_format=recap_workbook.add_format({'num_format':'$#,##0',
                                    'align':'right',
                                    'valign':'vcenter'})
    chk_format=recap_workbook.add_format({'num_format':'$#,##0.00',
                                    'align':'right',
                                    'valign':'vcenter'})
    perc_format=recap_workbook.add_format({'num_format':'0.0%',
                                    'align':'right',
                                    'valign':'vcenter'})
    gc_format=recap_workbook.add_format({'num_format':'#,##0',
                                    'align':'right',
                                    'valign':'vcenter'})
    text_format=recap_workbook.add_format({'align':'left','valign':'vcenter'})
    center_text_format=recap_workbook.add_format({'align':'center','valign':'vcenter'})
    border_format=recap_workbook.add_format({'top':2,'bottom':2,'left':2,'right':2})
    col_header=recap_workbook.add_format({'bg_color':'#548235','bold':True,'align':'center',
                                          'valign':'vcenter','text_wrap':True,'font_color':'#FFFFFF'})
    
    total_dollar_format=recap_workbook.add_format({'bold':True,
                                          'bg_color':'#d5d8dc',
                                          'num_format':'$#,##0',
                                        'align':'right',
                                        'valign':'vcenter'})
    
    ytd_format=recap_workbook.add_format({'bold':True,
                                          'bg_color':'#d5d8dc',
                                          'num_format':'$#,##0',
                                        'align':'center',
                                        'valign':'vcenter'})
    
    
    total_gc_format=recap_workbook.add_format({'bold':True,
                                          'bg_color':'#d5d8dc',
                                          'num_format':'#,##0',
                                        'align':'right',
                                        'valign':'vcenter'})
    
    total_perc_format=recap_workbook.add_format({'bold':True,
                                          'bg_color':'#d5d8dc',
                                          'num_format':'#0.0%',
                                        'align':'right',
                                        'valign':'vcenter'})
    total_format = recap_workbook.add_format({'bg_color': '#d5d8dc','bold':True})
    
    title_format=recap_workbook.add_format({'bold':True,'bg_color':'#548235','align':'center','font_color':'#FFFFFF'})
    w_title_format =recap_workbook.add_format({'bold': True, 'bg_color': '#77251F', 'align': 'center','font_color':'#FFFFFF'})
    
    # Row banding Format(Alternate based on Odd-Even Row Number)
    odd_row_format = recap_workbook.add_format({'bg_color': '#E2EFDA'})  # Light Green for odd roworksheet2
    even_row_format = recap_workbook.add_format({'bg_color': '#FFFFFF'})  # White for even roworksheet2
    
    # Define formats
    header_format_default = recap_workbook.add_format({'bg_color': '#548235', 'bold': True, 'align': 'center', 'valign': 'vcenter', 'text_wrap': True,
                                                      'font_color':'#FFFFFF'})
    header_format_special = recap_workbook.add_format({'bg_color': '#77251F', 'bold': True, 'align': 'center', 'valign': 'vcenter', 'text_wrap': True,
                                                      'font_color':'#FFFFFF'})  # Red for L9:Q9

    # Write headers with different formatting
    for col_num, header in enumerate(lc_sales.columns):
        col_letter = chr(65 + col_num)  # Convert column index to letter (A-Z, AA, AB, etc.)

        # Check if the column is within L to Q (columns 12 to 17 in zero-based index)
        if 10 <= col_num <= 15:
            worksheet.write(6, col_num + 1, header, header_format_special)  # Row 9 (0-based index is 8)
        else:
            worksheet.write(6, col_num + 1, header, header_format_default)
    
    worksheet.conditional_format(xlsxwriter.utility.xl_range(6,1,len(lc_sales)+6,len(lc_sales.columns)),
                                  {'type': 'no_errors', 'format': border_format})
    
    worksheet.conditional_format('K2:N5',{
        'type':'no_errors',
        'format': border_format
    })
    
    worksheet.conditional_format('Q2:T5',{
        'type':'no_errors',
        'format': border_format
    })
    
#     worksheet.write_row('B7',lc_sales.columns,col_header)
    worksheet.write(1,2,text1,format_header2)
    worksheet.write(2,2,text2,format_header2)
    worksheet.write(3,2,text4,format_header2)
    worksheet.write('R3',tss_summary.iloc[0,1],num_format)
    worksheet.write('S3',tss_summary.iloc[0,2],num_format)
    worksheet.write('T3',tss_summary.iloc[0,3],perc_format)
    worksheet.write('R4',tss_summary.iloc[1,1],gc_format)
    worksheet.write('S4',tss_summary.iloc[1,2],gc_format)
    worksheet.write('T4',tss_summary.iloc[1,3],perc_format)
    worksheet.write('R5',tss_summary.iloc[2,1],chk_format)
    worksheet.write('S5',tss_summary.iloc[2,2],chk_format)
    worksheet.write('T5',tss_summary.iloc[2,3],perc_format)
    
    worksheet.write_row('Q2',tss_summary.columns,title_format)
    worksheet.write('Q3',' YTD Sales',title_format)
    worksheet.write('Q4','YTD GC',title_format)
    worksheet.write('Q5','YTD Avg.Check',title_format)
    
    # Labels for weekly summary
    worksheet.write_row('K2', week_summary.columns, w_title_format)
    worksheet.write('K3', f'Week {this_week} Total Sales', w_title_format)
    worksheet.write('K4', f'Week {this_week} Total GC', w_title_format)
    worksheet.write('K5', f'Week {this_week} Total Avg.Check', w_title_format)
    
    worksheet.write('L3',week_summary.iloc[0,1],num_format)
    worksheet.write('M3',week_summary.iloc[0,2],num_format)
    worksheet.write('N3',week_summary.iloc[0,3],perc_format)
    worksheet.write('L4',week_summary.iloc[1,1],gc_format)
    worksheet.write('M4',week_summary.iloc[1,2],gc_format)
    worksheet.write('N4',week_summary.iloc[1,3],perc_format)
    worksheet.write('L5',week_summary.iloc[2,1],chk_format)
    worksheet.write('M5',week_summary.iloc[2,2],chk_format)
    worksheet.write('N5',week_summary.iloc[2,3],perc_format)
    
#     worksheet.set_column('B:C',8,center_text_format)
#     worksheet.set_column('D:D',41,text_format)
#     worksheet.set_column('E:E',4.89,center_text_format)
#     worksheet.set_column('F:F',6.29,center_text_format)
#     worksheet.set_column('G:G',24.57,text_format)
#     worksheet.set_column('H:H',10,center_text_format)
#     worksheet.set_column('I:J',4.29,center_text_format)
#     worksheet.set_column('K:K',19,text_format)
#     worksheet.set_column('L:M',10.57,num_format)
#     worksheet.set_column('N:N',10.57,perc_format)
#     worksheet.set_column('O:P',8.43,gc_format)
#     worksheet.set_column('Q:Q',11,perc_format)
#     worksheet.set_column('R:S',9.14,chk_format)
#     worksheet.set_column('T:T',9.14,perc_format)
#     worksheet.set_column('U:U',11,center_text_format)
    
    # Column formatting
    worksheet.set_column('B:C', 8, center_text_format)
    worksheet.set_column('D:D', 41, text_format)
    worksheet.set_column('E:E', 4.89, center_text_format)
    worksheet.set_column('F:F', 6.29, center_text_format)
    worksheet.set_column('G:G', 24.57, text_format)
    worksheet.set_column('H:H', 10, center_text_format)
    worksheet.set_column('I:J', 4.29, center_text_format)
    worksheet.set_column('K:K', 23, text_format)
    worksheet.set_column('L:M', 12.57, num_format)
    worksheet.set_column('N:N', 10.57, perc_format)
    worksheet.set_column('O:P', 8.43, gc_format)
    worksheet.set_column('Q:Q', 19, perc_format)
    worksheet.set_column('R:S', 10.57, num_format)
    worksheet.set_column('T:T', 11, perc_format)
    worksheet.set_column('U:V', 8.43, gc_format)
    worksheet.set_column('W:W', 11, perc_format)
    worksheet.set_column('X:X', 17.29, center_text_format)


    # Apply alternating row colors using a single conditional format
    # worksheet.conditional_format(5, 0, len(cy_pivot) + 4, len(cy_pivot.columns) - 1, {
    #                 'type': 'formula',
    #                 'criteria': 'ISEVEN(ROW()-5)',
    #                 'format': even_row_format
    #             })
    # worksheet.conditional_format(5, 0, len(cy_pivot) + 4, len(cy_pivot.columns) - 1, {
    #                 'type': 'formula',
    #                 'criteria': 'ISODD(ROW()-5)',
    #                 'format': odd_row_format
    #             })


    worksheet.insert_image('B2','Logo.png')
    worksheet.hide_gridlines(2)
    worksheet.autofilter(6,1,lc_sales.shape[0],lc_sales.shape[1])
    
    
    

    worksheet2.write(1,2,text1,format_header2)
    worksheet2.write(2,2,text3,format_header2)
    worksheet2.write(3,2,text4,format_header2)

    worksheet2.set_column('B:B',13,text_format)
    worksheet2.set_column('C:D',13,num_format)
    worksheet2.set_column('E:E',13,perc_format)
    worksheet2.set_column('F:G',13,gc_format)
    worksheet2.set_column('H:H',13,perc_format)

    worksheet2.conditional_format(xlsxwriter.utility.xl_range(5,1,len(month_sales)+5,len(month_sales.columns)+1),
                                  {'type': 'no_errors', 'format': border_format})    

    
    for col in range(1,3):
        worksheet2.write(month_sales.shape[0]+5,col+1,month_sales.iloc[-1,col-1],total_dollar_format)
  
    for col in range(4,6):
        worksheet2.write(month_sales.shape[0]+5,col+1,month_sales.iloc[-1,col-1],total_gc_format)
    for col in range(3,4):
        worksheet2.write(month_sales.shape[0]+5,col+1,month_sales.iloc[-1,col-1],total_perc_format)
    for col in range(6,7):
        worksheet2.write(month_sales.shape[0]+5,col+1,month_sales.iloc[-1,col-1],total_perc_format)

#     worksheet2.conditional_format(5, 0, len(cm_pivot) + 5, len(cm_pivot.columns) - 1, {
#                     'type': 'formula',
#                     'criteria': 'ISEVEN(ROW()-5)',
#                     'format': even_row_format
#                 })
#     worksheet2.conditional_format(5, 0, len(cm_pivot) + 5, len(cm_pivot.columns) - 1, {
#                     'type': 'formula',
#                     'criteria': 'ISODD(ROW()-5)',
#                     'format': odd_row_format
#                 })
    worksheet2.write(lastrow+5,1,'YTD Totals',ytd_format)
    worksheet2.insert_image('B2','Logo.png')
    worksheet2.hide_gridlines(2)
    worksheet2.write_row('B6',month_sales.reset_index().columns,col_header)
    
       
    worksheet3.write(1,2,text1,format_header2)
    worksheet3.write(2,2,category_text,format_header2)
    worksheet3.write(3,2,text4,format_header2)

    worksheet3.set_column('B:B',15,text_format)
    worksheet3.set_column('C:D',13,num_format)
    worksheet3.set_column('E:E',13,perc_format)
    worksheet3.set_column('F:G',13,num_format)
    worksheet3.set_column('H:H',13,perc_format)

    worksheet3.conditional_format(xlsxwriter.utility.xl_range(5,1,len(cat_sales)+5,len(cat_sales.columns)+1),
                                  {'type': 'no_errors', 'format': border_format})
    for col in range(1,3):
        worksheet3.write(cat_sales.shape[0]+5,col+1,cat_sales.iloc[-1,col-1],total_dollar_format)
  
    for col in range(4,6):
        worksheet3.write(cat_sales.shape[0]+5,col+1,cat_sales.iloc[-1,col-1],total_gc_format)
    for col in range(3,4):
        worksheet3.write(cat_sales.shape[0]+5,col+1,cat_sales.iloc[-1,col-1],total_perc_format)
    for col in range(6,7):
        worksheet3.write(cat_sales.shape[0]+5,col+1,cat_sales.iloc[-1,col-1],total_perc_format)
    
    worksheet3.write(lastrow_1+5,1,'Totals',ytd_format)
    worksheet3.insert_image('B2','Logo.png')
    worksheet3.hide_gridlines(2)
    worksheet3.write_row('B6',cat_sales.reset_index().columns,col_header)
    
    
    ws2=writer.sheets['# of Unique Shops Opened']
    ws2.conditional_format(xlsxwriter.utility.xl_range(7,2,len(unique_shops)+7,len(unique_shops.columns)+2),
                                  {'type': 'no_errors', 'format': border_format})
    
    ws2.write(1,2,text1,format_header2)
    ws2.write(2,2,unique_text1,format_header2)
    ws2.write(3,2,unique_text2,format_header2)
    ws2.write_row('C8',unique_shops.reset_index().columns,col_header)
    ws2.set_column('D:E',11,center_text_format)
    ws2.insert_image('B2','Logo.png')
    ws2.hide_gridlines(2)
    
    ws3=writer.sheets['2025 Weekly Total Sales by Shop']
    ws3.conditional_format(xlsxwriter.utility.xl_range(6,1,len(new_weekly_comps)+6,len(new_weekly_comps.columns)),
                                  {'type': 'no_errors', 'format': border_format})
    ws3.conditional_format(xlsxwriter.utility.xl_range(new_weekly_comps.shape[0]+6, 1, new_weekly_comps.shape[0]+6, len(new_weekly_comps.columns)),  # Row 7 (zero-based index is 6)
                        {'type': 'no_errors', 'format': total_format})
    
    
    ws3.write_row('B7',new_weekly_comps.columns,col_header)        
    ws3.write(1,2,text1,format_header2)
    ws3.write(2,2,week_text25,format_header2)
    ws3.set_column('B:C',8,center_text_format)
    ws3.set_column('D:D',41,text_format)
    ws3.set_column('E:E',4.89,center_text_format)
    ws3.set_column('F:F',6.29,center_text_format)
    ws3.set_column('G:G',24.57,text_format)
    ws3.set_column('H:H',10,center_text_format)
    ws3.set_column('I:J',4.29,center_text_format)
    ws3.set_column('K:K',19,text_format)
    ws3.set_column('L:ZZ',10.57,num_format)
    ws3.insert_image('B2','Logo.png')
    ws3.hide_gridlines(2)
    
    ws4=writer.sheets['2024 Weekly Total Sales by Shop']
    ws4.conditional_format(xlsxwriter.utility.xl_range(6,1,len(old_weekly_comps)+6,len(old_weekly_comps.columns)),
                                  {'type': 'no_errors', 'format': border_format})

    ws4.conditional_format(xlsxwriter.utility.xl_range(old_weekly_comps.shape[0]+6, 1, old_weekly_comps.shape[0]+6, 
                                                       len(old_weekly_comps.columns)),  # Row 7 (zero-based index is 6)
                        {'type': 'no_errors', 'format': total_format})
    
    ws4.write_row('B7',old_weekly_comps.columns,col_header)        
    ws4.write(1,2,text1,format_header2)
    ws4.write(2,2,week_text24,format_header2)
    ws4.set_column('B:C',8,center_text_format)
    ws4.set_column('D:D',41,text_format)
    ws4.set_column('E:E',4.89,center_text_format)
    ws4.set_column('F:F',6.29,center_text_format)
    ws4.set_column('G:G',24.57,text_format)
    ws4.set_column('H:H',10,center_text_format)
    ws4.set_column('I:J',4.29,center_text_format)
    ws4.set_column('K:K',19,text_format)
    ws4.set_column('L:ZZ',10.57,num_format)
    ws4.insert_image('B2','Logo.png')
    ws4.hide_gridlines(2)
    
    ws5=writer.sheets['Total Sales By FC']
    
    ws5.conditional_format(xlsxwriter.utility.xl_range(6,1,len(fc_group)+6,len(fc_group.columns)),
                                  {'type': 'no_errors', 'format': border_format})
    ws5.conditional_format(xlsxwriter.utility.xl_range(fc_group.shape[0]+6, 1, fc_group.shape[0]+6, len(fc_group.columns)),  # Row 7 (zero-based index is 6)
                        {'type': 'no_errors', 'format': total_format})
    for col_num, header in enumerate(fc_group.columns):
        col_letter = chr(65 + col_num)  # Convert column index to letter (A-Z, AA, AB, etc.)

        # Check if the column is within L to Q (columns 12 to 17 in zero-based index)
        if 1 <= col_num <= 6:
            ws5.write(6, col_num + 1, header, header_format_special)  # Row 9 (0-based index is 8)
        else:
            ws5.write(6, col_num + 1, header, header_format_default)
    
#     ws5.write_row('B7',fc_group.columns,col_header)        
    ws5.write(1,2,text1,format_header2)
    ws5.write(2,2,fc_comp_text,format_header2)

    ws5.write(3,2,text4,format_header2)
    ws5.set_column('B:B',8,center_text_format)
    ws5.set_column('C:D',10.57,num_format)
    ws5.set_column('E:E',10.57,perc_format)
    ws5.set_column('F:G',10.57,gc_format)
    ws5.set_column('H:H',10.57,perc_format)
    ws5.set_column('I:J',10.57,num_format)
    ws5.set_column('K:K',10.57,perc_format)
    ws5.set_column('L:M',10.57,gc_format)
    ws5.set_column('N:N',10.57,perc_format)
    ws5.insert_image('B2','Logo.png')
    ws5.hide_gridlines(2)
    
    ws6=writer.sheets['Total Sales By Director']
    ws6.conditional_format(xlsxwriter.utility.xl_range(6,1,len(director_group)+6,len(director_group.columns)),
                                  {'type': 'no_errors', 'format': border_format})
    ws6.conditional_format(xlsxwriter.utility.xl_range(director_group.shape[0]+6, 1, director_group.shape[0]+6, len(director_group.columns)),  # Row 7 (zero-based index is 6)
                        {'type': 'no_errors', 'format': total_format})
    
    for col_num, header in enumerate(director_group.columns):
        col_letter = chr(65 + col_num)  # Convert column index to letter (A-Z, AA, AB, etc.)

        # Check if the column is within L to Q (columns 12 to 17 in zero-based index)
        if 1 <= col_num <= 6:
            ws6.write(6, col_num + 1, header, header_format_special)  # Row 9 (0-based index is 8)
        else:
            ws6.write(6, col_num + 1, header, header_format_default)
    
#     ws6.write_row('B7',fc_group.columns,col_header)        
    ws6.write(1,2,text1,format_header2)
    ws6.write(2,2,director_comp_text,format_header2)

    ws6.write(3,2,text4,format_header2)
    ws6.set_column('B:B',16.29,center_text_format)
    ws6.set_column('C:D',10.57,num_format)
    ws6.set_column('E:E',10.57,perc_format)
    ws6.set_column('F:G',10.57,gc_format)
    ws6.set_column('H:H',10.57,perc_format)
    ws6.set_column('I:J',10.57,num_format)
    ws6.set_column('K:K',10.57,perc_format)
    ws6.set_column('L:M',10.57,gc_format)
    ws6.set_column('N:N',10.57,perc_format)
    ws6.insert_image('B2','Logo.png')
    ws6.hide_gridlines(2)

In [111]:
lastrow=open_sales.shape[0]
with pd.ExcelWriter('Open Shop Sales Report by Shop and Month thru Wk '+str(data.Week.max())+'.xlsx',
                   datetime_format='mm/dd/yyyy',engine='xlsxwriter') as writer:
    # Creates the excel spreadsheet for reveiw
    text1='Ritas Franchise Company,LLC'
    text2='Open Shop Sales Report By Shop'
    text3='Open Shop Sales Report for Month '+str(month_name)
    text4='YTD 2025 v YTD 2024 Total System Sales thru '+str(data.EndDate.max().strftime('%m-%d-%y'))


    recap_workbook=writer.book

    # Defines the Header Fromat
    format_header2=recap_workbook.add_format()
    format_header2.set_italic()
    format_header2.set_bold()

    #Creates the Workbook Tab
    open_shops.to_excel(writer,
                      startrow=5,startcol=0,
                      sheet_name='Open Shop Sales thru '+str(data.EndDate.max().strftime('%m-%d-%y')),index=False)
    oss_summary.to_excel(writer,startrow=0,startcol=8,sheet_name='Open Shop Sales thru '+str(data.EndDate.max().strftime('%m-%d-%y')),
                        index=False)
    open_sales.to_excel(writer,startrow=5, startcol=0,sheet_name='Open Shop Sales by Month')
    
    #Creates teh Sheet
    worksheet=writer.sheets['Open Shop Sales thru '+str(data.EndDate.max().strftime('%m-%d-%y'))]
    worksheet2=writer.sheets['Open Shop Sales by Month']
    
    #Adds the Header
    worksheet.write(0,1,text1,format_header2)
    worksheet.write(1,1,text2,format_header2)
    worksheet.write(2,1,text4,format_header2)
    num_format=recap_workbook.add_format({'num_format':'$#,##0',
                                    'align':'right',
                                    'valign':'vcenter'})
    chk_format=recap_workbook.add_format({'num_format':'$#,##0.00',
                                    'align':'right',
                                    'valign':'vcenter'})
    perc_format=recap_workbook.add_format({'num_format':'0.0%',
                                    'align':'right',
                                    'valign':'vcenter'})
    gc_format=recap_workbook.add_format({'num_format':'#,##0',
                                    'align':'right',
                                    'valign':'vcenter'})
    text_format=recap_workbook.add_format({
                                    'align':'left',
                                    'valign':'vcenter'})
    border_format=recap_workbook.add_format({'top':2,'bottom':2,'left':2,'right':2})
    col_header=recap_workbook.add_format({'bg_color':'#00B0F0','bold':True,'align':'center',
                                          'valign':'vcenter','text_wrap':True})
    
    total_dollar_format=recap_workbook.add_format({'bold':True,
                                          'bg_color':'#d5d8dc',
                                          'num_format':'$#,##0',
                                        'align':'right',
                                        'valign':'vcenter'})
    
    total_gc_format=recap_workbook.add_format({'bold':True,
                                          'bg_color':'#d5d8dc',
                                          'num_format':'#,##0',
                                        'align':'right',
                                        'valign':'vcenter'})
    
    total_perc_format=recap_workbook.add_format({'bold':True,
                                          'bg_color':'#d5d8dc',
                                          'num_format':'#0.0%',
                                        'align':'right',
                                        'valign':'vcenter'})
    
    ytd_format=recap_workbook.add_format({'bold':True,
                                          'bg_color':'#d5d8dc',
                                          'num_format':'$#,##0',
                                        'align':'center',
                                        'valign':'vcenter'})
    
    title_format=recap_workbook.add_format({'bold':True,'bg_color':'#00B0F0','align':'center'})
    
    # Row banding Format(Alternate based on Odd-Even Row Number)
    odd_row_format = recap_workbook.add_format({'bg_color': '#E2EFDA'})  # Light Green for odd roworksheet2
    even_row_format = recap_workbook.add_format({'bg_color': '#FFFFFF'})  # White for even roworksheet2
    
    worksheet.write('J2',oss_summary.iloc[0,1],num_format)
    worksheet.write('K2',oss_summary.iloc[0,2],num_format)
    worksheet.write('L2',oss_summary.iloc[0,3],perc_format)
    worksheet.write('J3',oss_summary.iloc[1,1],gc_format)
    worksheet.write('K3',oss_summary.iloc[1,2],gc_format)
    worksheet.write('L3',oss_summary.iloc[1,3],perc_format)
    worksheet.write('J4',oss_summary.iloc[2,1],chk_format)
    worksheet.write('K4',oss_summary.iloc[2,2],chk_format)
    worksheet.write('L4',oss_summary.iloc[2,3],perc_format)
    
    worksheet.write_row('I1',oss_summary.columns,title_format)
    worksheet.write('I2','YTD Sales',title_format)
    worksheet.write('I3','YTD GC',title_format)
    worksheet.write('I4','YTD Avg.Check',title_format)
    
    worksheet.set_column('A:B',8,text_format)
    worksheet.set_column('C:C',41,text_format)
    worksheet.set_column('D:F',8,text_format)
    worksheet.set_column('G:G',17.29,text_format)
    worksheet.set_column('H:H',16.29,text_format)
    worksheet.set_column('I:I',24.57,text_format)
    worksheet.set_column('J:Q',13,num_format)
    worksheet.set_column('M:N',10.43,gc_format)
    worksheet.set_column('L:L',13,perc_format)
    worksheet.set_column('O:O',10,perc_format)
    worksheet.set_column('R:R',10.71,perc_format)
    worksheet.set_column('P:Q',13,chk_format)
    worksheet.conditional_format(xlsxwriter.utility.xl_range(5,0,len(open_shops)+5,len(open_shops.columns)-1),
                                  {'type': 'no_errors', 'format': border_format})
    
    worksheet.conditional_format('I1:L4',{
        'type':'no_errors',
        'format': border_format
    })

    # Apply alternating row colors using a single conditional format
    # worksheet.conditional_format(5, 0, len(cy_pivot) + 4, len(cy_pivot.columns) - 1, {
    #                 'type': 'formula',
    #                 'criteria': 'ISEVEN(ROW()-5)',
    #                 'format': even_row_format
    #             })
    # worksheet.conditional_format(5, 0, len(cy_pivot) + 4, len(cy_pivot.columns) - 1, {
    #                 'type': 'formula',
    #                 'criteria': 'ISODD(ROW()-5)',
    #                 'format': odd_row_format
    #             })


    worksheet.insert_image('A1','Logo.png')
    worksheet.hide_gridlines(2)
    worksheet.autofilter(5,0,open_shops.shape[0],open_shops.shape[1]-1)
    worksheet.write_row('A6',open_shops.columns,col_header)
    
    
    

    worksheet2.write(0,1,text1,format_header2)
    worksheet2.write(1,1,text3,format_header2)
    worksheet2.write(2,1,text4,format_header2)

    worksheet2.set_column('A:A',13,text_format)
    worksheet2.set_column('B:C',22,num_format)
    worksheet2.set_column('D:D',13,perc_format)
    worksheet2.set_column('E:F',20,gc_format)
    worksheet2.set_column('G:G',13,perc_format)

    worksheet2.conditional_format(xlsxwriter.utility.xl_range(5,0,len(open_sales)+5,len(open_sales.columns)),
                                  {'type': 'no_errors', 'format': border_format})
    for col in range(0,2):
        worksheet2.write(open_sales.shape[0]+5,col+1,open_sales.iloc[-1,col],total_dollar_format)
  
    for col in range(3,5):
        worksheet2.write(open_sales.shape[0]+5,col+1,open_sales.iloc[-1,col],total_gc_format)
    for col in range(2,3):
        worksheet2.write(open_sales.shape[0]+5,col+1,open_sales.iloc[-1,col],total_perc_format)
    for col in range(5,6):
        worksheet2.write(open_sales.shape[0]+5,col+1,open_sales.iloc[-1,col],total_perc_format)

#     worksheet2.conditional_format(5, 0, len(cm_pivot) + 5, len(cm_pivot.columns) - 1, {
#                     'type': 'formula',
#                     'criteria': 'ISEVEN(ROW()-5)',
#                     'format': even_row_format
#                 })
#     worksheet2.conditional_format(5, 0, len(cm_pivot) + 5, len(cm_pivot.columns) - 1, {
#                     'type': 'formula',
#                     'criteria': 'ISODD(ROW()-5)',
#                     'format': odd_row_format
#                 })
    worksheet2.write(lastrow+5,0,'YTD Totals',ytd_format)
    worksheet2.insert_image('A1','Logo.png')
    worksheet2.hide_gridlines(2)
    worksheet2.write_row('A6',open_sales.reset_index().columns,col_header)

In [113]:

# Creates the excel spreadsheet for reveiw
text1='Ritas Franchise Company,LLC'
text2='Total System Sales Report'
text3='Total System Sales Report for Month '+str(month_name)
text4='Total System Sales Report for Week ' + str(data.Week.max())
text5='YTD 2025 v YTD 2024 Total System Sales thru '+str(data.EndDate.max().strftime('%m-%d-%y'))


recap=pd.ExcelWriter('Total System Sales Report Week '+str(data.Week.max())+' On '+str(timestamp)+' JH.xlsx',engine='xlsxwriter',
                    datetime_format='mm/dd/yyyy')
recap_workbook=recap.book

# Defines the Header Fromat
format_header2=recap_workbook.add_format()
format_header2.set_italic()
format_header2.set_bold()

#Creates the Workbook Tab
cy_pivot.to_excel(recap,
                  startrow=4,startcol=0,
                  sheet_name='YTD Sales thru '+str(data.EndDate.max().strftime('%m-%d-%y')),index=False)
#Creates teh Sheet
worksheet=recap.sheets['YTD Sales thru '+str(data.EndDate.max().strftime('%m-%d-%y'))]

#Adds the Header
worksheet.write(0,1,text1,format_header2)
worksheet.write(1,1,text2,format_header2)
worksheet.write(2,1,text5,format_header2)
num_format=recap_workbook.add_format({'num_format':'$#,##0',
                                'align':'center',
                                'valign':'center'})
chk_format=recap_workbook.add_format({'num_format':'$#,##0.00',
                                'align':'center',
                                'valign':'center'})
perc_format=recap_workbook.add_format({'num_format':'0.0%',
                                'align':'center',
                                'valign':'center'})
gc_format=recap_workbook.add_format({'num_format':'#,##0',
                                'align':'center',
                                'valign':'center'})
text_format=recap_workbook.add_format({
                                'align':'center',
                                'valign':'center'})
border_format=recap_workbook.add_format({'top':1,'bottom':1,'left':1,'right':1})
col_header=recap_workbook.add_format({'bg_color':'#548235','bold':True,'align':'center','valign':'vcenter','text_wrap':True})

# Row banding Format(Alternate based on Odd-Even Row Number)
odd_row_format = recap_workbook.add_format({'bg_color': '#E2EFDA'})  # Light Green for odd rows
even_row_format = recap_workbook.add_format({'bg_color': '#FFFFFF'})  # White for even rows

worksheet.set_column('A:B',10,text_format)
worksheet.set_column('C:C',45,text_format)
worksheet.set_column('D:E',10,text_format)
worksheet.set_column('F:F',26,text_format)
worksheet.set_column('G:G',10)
worksheet.set_column('H:I',10,text_format)
worksheet.set_column('J:J',18,text_format)
worksheet.set_column('K:L',13,num_format)
worksheet.set_column('M:M',13,perc_format)
worksheet.set_column('N:O',13,gc_format)
worksheet.set_column('P:P',13,perc_format)
worksheet.set_column('Q:R',13,chk_format)
worksheet.set_column('S:S',13,perc_format)
worksheet.conditional_format(xlsxwriter.utility.xl_range(4,0,len(cy_pivot)+4,len(cy_pivot.columns)-1),
                              {'type': 'no_errors', 'format': border_format})

#Apply alternating row colors using a single conditional format
worksheet.conditional_format(5, 0, len(cy_pivot) + 4, len(cy_pivot.columns) - 1, {
                'type': 'formula',
                'criteria': 'ISEVEN(ROW()-5)',
                'format': even_row_format
            })
worksheet.conditional_format(5, 0, len(cy_pivot) + 4, len(cy_pivot.columns) - 1, {
                'type': 'formula',
                'criteria': 'ISODD(ROW()-5)',
                'format': odd_row_format
            })


worksheet.insert_image('A1','Logo.png')
worksheet.hide_gridlines(2)
worksheet.autofilter(4,0,cy_pivot.shape[0],cy_pivot.shape[1]-1)
worksheet.write_row('A5',cy_pivot.columns,col_header)

cm_pivot.to_excel(recap, startrow=4, startcol=0,sheet_name='Sales thru '+str(month_name),index=False)
worksheet2=recap.sheets['Sales thru '+str(month_name)]
worksheet2.write(0,1,text1,format_header2)
worksheet2.write(1,1,text3,format_header2)
worksheet2.write(2,1,text5,format_header2)

worksheet2.set_column('A:H',20,text_format)
worksheet2.set_column('C:C',45,text_format)
worksheet2.set_column('I:I',26,text_format)
worksheet2.set_column('J:Q',13,num_format)
worksheet2.set_column('M:N',13,gc_format)
worksheet2.set_column('L:L',13,perc_format)
worksheet2.set_column('O:O',13,perc_format)
worksheet2.set_column('R:R',13,perc_format)
worksheet2.set_column('P:Q',13,chk_format)
worksheet2.conditional_format(xlsxwriter.utility.xl_range(4,0,len(cm_pivot)+4,len(cm_pivot.columns)-1),
                              {'type': 'no_errors', 'format': border_format})

worksheet2.conditional_format(5, 0, len(cm_pivot) + 5, len(cm_pivot.columns) - 1, {
                'type': 'formula',
                'criteria': 'ISEVEN(ROW()-5)',
                'format': even_row_format
            })
worksheet2.conditional_format(5, 0, len(cm_pivot) + 5, len(cm_pivot.columns) - 1, {
                'type': 'formula',
                'criteria': 'ISODD(ROW()-5)',
                'format': odd_row_format
            })

worksheet2.insert_image('A1','Logo.png')
worksheet2.hide_gridlines(2)
worksheet2.autofilter(4,0,cm_pivot.shape[0],cm_pivot.shape[1]-1)
worksheet2.write_row('A5',cm_pivot.columns,col_header)

cw_pivot.to_excel(recap,startrow=4,startcol=0, sheet_name='Sales Week '+str(data.Week.max()),index=False)
worksheet1=recap.sheets['Sales Week '+str(data.Week.max())]
worksheet1.write(0,1,text1,format_header2)
worksheet1.write(1,1,text4,format_header2)
worksheet1.write(2,1,text5,format_header2)

worksheet1.set_column('A:H',20,text_format)
worksheet1.set_column('C:C',45,text_format)
worksheet1.set_column('I:I',26,text_format)
worksheet1.set_column('J:Q',13,num_format)
worksheet1.set_column('M:N',13,gc_format)
worksheet1.set_column('L:L',13,perc_format)
worksheet1.set_column('O:O',13,perc_format)
worksheet1.set_column('R:R',13,perc_format)
worksheet1.set_column('P:Q',13,chk_format)
worksheet1.conditional_format(xlsxwriter.utility.xl_range(4,0,len(cw_pivot)+4,len(cw_pivot.columns)-1),
                              {'type': 'no_errors', 'format': border_format})

worksheet1.conditional_format(5, 0, len(cw_pivot) + 4, len(cw_pivot.columns) - 1, {
                'type': 'formula',
                'criteria': 'ISEVEN(ROW()-5)',
                'format': even_row_format
            })
worksheet1.conditional_format(5, 0, len(cw_pivot) + 4, len(cw_pivot.columns) - 1, {
                'type': 'formula',
                'criteria': 'ISODD(ROW()-5)',
                'format': odd_row_format
            })

worksheet1.insert_image('A1','Logo.png')
worksheet1.hide_gridlines(2)
worksheet1.autofilter(4,0,cw_pivot.shape[0],cw_pivot.shape[1]-1)
worksheet1.write_row('A5',cw_pivot.columns,col_header)

recap.close()

In [114]:
# with pd.ExcelWriter('Weekly Recap for Week '+str(data.Week.max())+'v2.xlsx',engine='xlsxwriter') as writer:
#     # Defines the workbook
#     wb=writer.book
    
#     # Defines Dollar Format
#     num_format=wb.add_format({'num_format':'$#,##0',
#                                 'align':'center',
#                                 'valign':'center'})
    
#     # Defines Check Format
#     chk_format=wb.add_format({'num_format':'$#,##0.00',
#                                 'align':'center',
#                                 'valign':'center'})
    
#     # Defines the Percent Format
#     perc_format=wb.add_format({'num_format':'0.0%',
#                                 'align':'center',
#                                 'valign':'center'})
    
#     # Defines the guest count format
#     gc_format=wb.add_format({'num_format':'#,##0',
#                                 'align':'center',
#                                 'valign':'center'})
    
#     # Defines the text format
#     text_format=wb.add_format({
#                                 'align':'center',
#                                 'valign':'center'})
    
#     # Defines Header Format
#     header_format=wb.add_format({'bold':True,'italic':True,'align':'center','valign':'vcenter'})
    
#     # Defines border format
#     border_format=recap_workbook.add_format({'top':1,'bottom':1,'left':1,'right':1})
    
#     #Defines Header Text
#     text1='Ritas Franchise Company,LLC'
#     text2='Shop Ranking Report YTD'
#     text3='Shop Ranking Report for Month '+str(month_name)
#     text4='Shop Ranking Report for Week ' + str(data.Week.max())
#     text5='Sales thru '+str(data.EndDate.max().strftime('%m-%d-%y'))
    
#     # List of DataFrames and corresponding sheet names
#     sheets_data = [
#         (cy_pivot, 'YTD Sales thru '+str(data.EndDate.max().strftime('%m-%d-%y'))),
#         (cm_pivot, 'Sales thru '+str(month_name)),
#         (cw_pivot, 'Sales Week '+str(data.Week.max()))
#     ]
    
#     for df, sheet_name in sheets_data:
#         df.to_excel(writer, startrow=5, startcol=0, sheet_name=sheet_name, index=False)
#         ws = writer.sheets[sheet_name]
            
#         # Row banding formats (for alternating colors)
#         odd_row_format = wb.add_format({'bg_color': '#FFFFFF'})  # White for odd rows
#         even_row_format = wb.add_format({'bg_color': '#E2EFDA'})  # Light Green for even rows
            
#         # Applys the border around the dataframe
#         ws.conditional_format(xlsxwriter.utility.xl_range(5,0,len(df)+5,len(df.columns)-1),
#                                       {'type': 'no_errors', 'format': border_format})

#         # Apply alternating row colors using a single conditional format
#         ws.conditional_format(5, 0, len(df) + 5, len(df.columns) - 1, {
#                 'type': 'formula',
#                 'criteria': 'ISEVEN(ROW()-5)',
#                 'format': even_row_format
#             })
#         ws.conditional_format(5, 0, len(df) + 5, len(df.columns) - 1, {
#                 'type': 'formula',
#                 'criteria': 'ISODD(ROW()-5)',
#                 'format': odd_row_format
#             })
#         # Writes headers    
#         ws.write(0,1,text1,header_format)
#         ws.write(1,1,text2,header_format)
#         ws.write(2,1,text5,header_format)
        
#         # Sets and formats the columns based on defined formatting 
#         ws.set_column('A:G',20,text_format)
#         ws.set_column('C:C',45,text_format)
#         ws.set_column('H:H',26,text_format)
#         ws.set_column('I:P',13,num_format)
#         ws.set_column('L:M',13,gc_format)
#         ws.set_column('K:K',13,perc_format)
#         ws.set_column('N:N',13,perc_format)
#         ws.set_column('Q:Q',13,perc_format)
#         ws.set_column('O:P',13,chk_format)
        
#         #Inserts Logo, hides the gridlines and adds a filter to each worksheet
#         ws.insert_image('A1','Logo.png')
#         ws.hide_gridlines(2)
#         ws.autofilter(5,0,df.shape[0],df.shape[1]-1)

In [115]:
# ue=cy_sales[cy_sales.ProductSizeName=='UberEats'].pivot_table(index=['ParentID','ShopName'],columns='Year',values='SalesMny',
#                                                            aggfunc='sum',fill_value=0).reset_index()
# ue[(ue[2023]==0)&(ue[2024]>0)].to_excel('Cierra Uber Eats.xlsx',index=False)

In [117]:
# total_df['Year']=total_df.StartDate.dt.year
# feb=total_df[(total_df.Year==2023)&(total_df.Month==2)&(total_df.ShopID<10000)&(total_df.SV=='No')].pivot_table(
#     index=['ShopID','ShopName'],columns='StartDate',values='SalesMny',aggfunc='sum').dropna()
# october=total_df[(total_df.Year==2023)&(total_df.Month==10)&(total_df.ShopID<10000)&(total_df.SV=='No')].pivot_table(
#     index=['ShopID','ShopName'],columns='StartDate',values='SalesMny',aggfunc='sum').dropna()
# october = october.loc[(october!=0).all(axis=1)]
# october = october.loc[(october>=0).all(axis=1)]
# with pd.ExcelWriter('2023 February and October Sales.xlsx',engine='xlsxwriter',datetime_format='mm/dd/yyyy') as writer:
#     feb.to_excel(writer, sheet_name='February',startrow=5,startcol=0)
#     october.to_excel(writer,sheet_name='October',startrow=5,startcol=0)
    
#     wb=writer.book
#     ws=writer.sheets['February']
#     ws1=writer.sheets['October']
#     text1='Ritas Franchise Company,LLC'
#     text2='2023 February Sales'
#     text3='2023 October Sales'
#     text4='Retail Sales Only (Special Venue/Mobiles/Satellites Excluded)'
#     text5='Shops Reported Sales Every Week'
    
#     format_header=wb.add_format({'bold':True,'italic':True,'align':'center','valign':'vcenter'})
#     format_dollar=wb.add_format({'num_format':'$#,##0','align':'center','valign':'vcenter'})
#     format_word=wb.add_format({'align':'center'})
#     border_format=wb.add_format({'top':1,'bottom':1,'left':1,'right':1})
#     ws.conditional_format(xlsxwriter.utility.xl_range(5,0,len(feb)+5,len(feb.columns)+1),
#                               {'type': 'no_errors', 'format': border_format})
#     ws1.conditional_format(xlsxwriter.utility.xl_range(5,0,len(october)+5,len(october.columns)+1),
#                               {'type': 'no_errors', 'format': border_format})
    
#     ws.write(0,1,text1,format_header)
#     ws.write(1,1,text2,format_header)
#     ws.write(2,1,text4,format_header)
#     ws.write(3,1,text5,format_header)
#     ws.set_column('A:A',20,format_word)
#     ws.set_column('B:B',40,format_word)
#     ws.set_column('C:G',20,format_dollar)
#     ws.hide_gridlines(2)
#     ws.insert_image('A1','Logo.png')
    
#     ws1.write(0,1,text1,format_header)
#     ws1.write(1,1,text3,format_header)
#     ws1.write(2,1,text4,format_header)
#     ws1.write(3,1,text5,format_header)
#     ws1.set_column('A:A',20,format_word)
#     ws1.set_column('B:B',40,format_word)
#     ws1.set_column('C:G',20,format_dollar)
#     ws1.hide_gridlines(2)
#     ws1.insert_image('A1','Logo.png')

# Bill Weekly Ranking Analysis
- Compares Core and Development Shops
- Also looks at Total and Comps
- Once Report is complete copy and past to corresponding tabs on 2025 Template Analysis report located here:\
  G:\FinanceReports\2025

In [ ]:
#All store Analysis
core=['PA','NJ','DE','MD']
core_m=cy_pivot[cy_pivot.State.isin(core)]
develop=cy_pivot[~cy_pivot.State.isin(core)]
core_dt=core_m[core_m.DT=='Yes']
develop_dt=develop[develop.DT=='Yes']
core_3pd=cy_sales[cy_sales.ProductTypeName.str.contains('Party')&(cy_sales.State.isin(core))]
dev_3pd=cy_sales[cy_sales.ProductTypeName.str.contains('Party')&~(cy_sales.State.isin(core))]

In [ ]:
core_m

In [ ]:
#State Growth
core_sales=sales[(sales.Year>=2024)&(sales.State.isin(core))&(sales.Week<=data.Week.max())].pivot_table(
index='State',columns='Year',values=['SalesMny','ParentID'],aggfunc={'SalesMny':'sum','ParentID':'nunique'}).reset_index()
core_sales['Growth']=core_sales.iloc[:,-1].div(core_sales.iloc[:,-2])-1
dev_sales=sales[(sales.Year>=2024)&~(sales.State.isin(core))&(sales.Week<=data.Week.max())].pivot_table(
index='State',columns='Year',values=['SalesMny','ParentID'],aggfunc={'SalesMny':'sum','ParentID':'nunique'},fill_value=0).reset_index()
dev_sales['Growth']=dev_sales.iloc[:,-1].div(dev_sales.iloc[:,-2])-1
dev_sales.Growth.replace([np.inf,np.nan],0,inplace=True)

In [ ]:
#Comp Store Analysis
comp=cy_pivot[(cy_pivot.loc[:,'Sales_25']>0)&(cy_pivot.loc[:,'Sales_24']>0)]
core_comp=comp[comp.State.isin(core)]
develop_comp=comp[~comp.State.isin(core)]
core_dt_comp=core_comp[core_comp.DT=='Yes']
develop_dt_comp=develop_comp[develop_comp.DT=='Yes']
core_comp_shops=core_comp.ParentID
develop_comp_shops=develop_comp.ParentID

In [ ]:
#3rd Party Sales State Analysis
core_all=core_3pd.pivot_table(index='State',columns='Year',values='SalesMny',aggfunc='sum').reset_index()
core_all['Growth']=core_all[2025]/core_all[2024]-1
core_all=core_all[['State',2025,2024,'Growth']]
dev_all=dev_3pd.pivot_table(index='State',columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()
dev_all['Growth']=dev_all[2025]/dev_all[2024]-1
dev_all=dev_all[['State',2025,2024,'Growth']]
dev_all.replace([np.inf,np.nan],0,inplace=True)
#3rd Party Comp State Analysis
core_comp_3pd=core_3pd[core_3pd.ParentID.isin(core_comp_shops)].pivot_table(
    index='State',columns='Year',values='SalesMny',aggfunc='sum').reset_index()
core_comp_3pd['Growth']=core_comp_3pd[2025]/core_comp_3pd[2024]-1
core_comp_3pd=core_comp_3pd[['State',2025,2024,'Growth']]
dev_comp_3pd=dev_3pd[dev_3pd.ParentID.isin(develop_comp_shops)].pivot_table(index='State',columns='Year',
                                                                     values='SalesMny',aggfunc='sum',fill_value=0).reset_index()
dev_comp_3pd['Growth']=dev_comp_3pd[2025]/dev_comp_3pd[2024]-1
dev_comp_3pd=dev_comp_3pd[['State',2025,2024,'Growth']]
dev_comp_3pd.Growth.replace([np.inf,np.nan],0,inplace=True)

In [ ]:
#Comp State Growth
comp_core_sales=sales[(sales.Year>=2024)&(sales.ShopID.isin(core_comp_shops))&(sales.Week<=data.Week.max())].pivot_table(
index='State',columns='Year',values=['SalesMny','ParentID'],aggfunc={'SalesMny':'sum','ParentID':'nunique'}).reset_index()
comp_core_sales['Growth']=comp_core_sales.iloc[:,-1]/comp_core_sales.iloc[:,-2]-1
comp_core_sales
comp_dev_sales=sales[(sales.Year>=2024)&(sales.ShopID.isin(develop_comp_shops))&(sales.Week<=data.Week.max())].pivot_table(
index='State',columns='Year',values=['SalesMny','ParentID'],aggfunc={'SalesMny':'sum','ParentID':'nunique'},fill_value=0).reset_index()
comp_dev_sales['Growth']=comp_dev_sales.iloc[:,-1].div(comp_dev_sales.iloc[:,-2])-1
comp_dev_sales.Growth.replace([np.inf,np.nan],0,inplace=True)

In [ ]:
core_m.rename(columns={'Sales_25':'Total Sales Wk'+str(data.Week.max())+ ' 25','Sales_24':'Total Sales Wk'+str(data.Week.max())+ ' 24'},inplace=True)
develop.rename(columns={'Sales_25':'Total Sales Wk'+str(data.Week.max())+ ' 25','Sales_24':'Total Sales Wk'+str(data.Week.max())+ ' 24'},inplace=True)
core_dt.rename(columns={'Sales_25':'Total Sales Wk'+str(data.Week.max())+ ' 25','Sales_24':'Total Sales Wk'+str(data.Week.max())+ ' 24'},inplace=True)
develop_dt.rename(columns={'Sales_25':'Total Sales Wk'+str(data.Week.max())+ ' 25','Sales_24':'Total Sales Wk'+str(data.Week.max())+ ' 24'},inplace=True)
core_comp.rename(columns={'Sales_25':'Total Sales Wk'+str(data.Week.max())+ ' 25','Sales_24':'Total Sales Wk'+str(data.Week.max())+ ' 24'},inplace=True)
develop_comp.rename(columns={'Sales_25':'Total Sales Wk'+str(data.Week.max())+ ' 25','Sales_24':'Total Sales Wk'+str(data.Week.max())+ ' 24'},inplace=True)
core_dt_comp.rename(columns={'Sales_25':'Total Sales Wk'+str(data.Week.max())+ ' 25','Sales_24':'Total Sales Wk'+str(data.Week.max())+ ' 24'},inplace=True)
develop_dt_comp.rename(columns={'Sales_25':'Total Sales Wk'+str(data.Week.max())+ ' 25','Sales_24':'Total Sales Wk'+str(data.Week.max())+ ' 24'},inplace=True)
core_all.rename(columns={2025:'Total Sales Wk'+str(data.Week.max())+ ' 25',2024:'Total Sales Wk'+str(data.Week.max())+ ' 24'},inplace=True)
dev_all.rename(columns={2025:'Total Sales Wk'+str(data.Week.max())+ ' 25',2024:'Total Sales Wk'+str(data.Week.max())+ ' 24'},inplace=True)
core_comp_3pd.rename(columns={2025:'Total Sales Wk'+str(data.Week.max())+ ' 25',2024:'Total Sales Wk'+str(data.Week.max())+ ' 24'},inplace=True)
dev_comp_3pd.rename(columns={2025:'Total Sales Wk'+str(data.Week.max())+ ' 25',2024:'Total Sales Wk'+str(data.Week.max())+ ' 24'},inplace=True)

In [ ]:
bill=pd.ExcelWriter(str(data.EndDate.dt.year.max())+' Week '+str(data.Week.max())+' Analysis-Bill .xlsx')
core_m.to_excel(bill,sheet_name='Core',index=False)
develop.to_excel(bill,sheet_name='Develop',index=False)
core_dt.to_excel(bill,sheet_name='Core DT',index=False)
develop_dt.to_excel(bill,sheet_name='Develop DT',index=False)
core_all.to_excel(bill,sheet_name='Core 3PD',index=False)
dev_all.to_excel(bill,sheet_name='Develop 3PD',index=False)
core_comp.to_excel(bill,sheet_name='Core Comp',index=False)
develop_comp.to_excel(bill,sheet_name='Develop Comp',index=False)
core_dt_comp.to_excel(bill,sheet_name='Core Comp DT',index=False)
develop_dt_comp.to_excel(bill,sheet_name='Develop Comp DT',index=False)
core_comp_3pd.to_excel(bill,sheet_name='Core Comp 3PD',index=False)
dev_comp_3pd.to_excel(bill,sheet_name='Dev Comp 3PD',index=False)
core_sales.to_excel(bill,sheet_name='Core State Growth')
dev_sales.to_excel(bill,sheet_name='Dev State Growth')
comp_core_sales.to_excel(bill, sheet_name='Comp Core State')
comp_dev_sales.to_excel(bill,sheet_name='Dev Comp Sate')
bill.close()

In [ ]:
blist=[10071,30332,11453,11237,11149,11187,11419]
total_df[(total_df.ShopID.isin(blist))&(total_df.ProdSizeCode==1284)].pivot_table(index=['ShopID','ShopName'],
                                                                                 columns='EndDate',
                                                                                 values='SalesMny',
                                                                                 aggfunc='sum',
                                                                                 fill_value=0,
                                                                                 margins=True).to_excel('Stacy Custard.xlsx')