In [1]:
#Imports the necessary libraries
import pandas as pd
import os
import numpy as np
import pyodbc as odbc
from datetime import date,timedelta,datetime
import xlsxwriter
os.chdir(r'L:\J.Harned\Calendar')
calendar=pd.read_excel('2025 Sales Calendar.xlsx')
os.chdir(r'G:\FinanceReports\2025\Wk13')

C:\Users\jharned\Anaconda3\lib\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
C:\Users\jharned\Anaconda3\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.4' currently installed).
  from pandas.core import (

In [2]:
this_year=calendar[calendar.EndDate.dt.year==date.today().year]

In [3]:
calendar

     StartDate    EndDate  Week Month_Name Quarter  Month
0   2024-01-01 2024-01-07     1    January      Q1      1
1   2024-01-08 2024-01-14     2    January      Q1      1
2   2024-01-15 2024-01-21     3    January      Q1      1
3   2024-01-22 2024-01-28     4    January      Q1      1
4   2024-01-29 2024-02-04     5   February      Q1      2
..         ...        ...   ...        ...     ...    ...
100 2025-12-01 2025-12-07    49   December      Q4     12
101 2025-12-08 2025-12-14    50   December      Q4     12
102 2025-12-15 2025-12-21    51   December      Q4     12
103 2025-12-22 2025-12-28    52   December      Q4     12
104 2025-12-29 2026-01-04    53   December      Q4     12

[105 rows x 6 columns]

In [4]:
calendar.pivot_table(index='Month_Name',columns=[calendar.EndDate.dt.year],values='Month',aggfunc='count')

EndDate     2024  2025  2026
Month_Name
April        4.0   4.0   NaN
August       4.0   4.0   NaN
December     5.0   5.0   1.0
February     4.0   4.0   NaN
January      4.0   4.0   NaN
July         4.0   4.0   NaN
June         5.0   5.0   NaN
March        5.0   5.0   NaN
May          4.0   4.0   NaN
November     4.0   4.0   NaN
October      4.0   4.0   NaN
September    5.0   5.0   NaN

In [5]:
# Names the needed driver, server name, and database
driver_name='SQL Server'
server_name='10.0.1.218'
database='ritascoolnet_live'

In [6]:
#Creates the connection string
connection_string=f"""
DRIVER={{{driver_name}}};
SERVER={server_name};
DATABASE={database};
Trust_Connection=yes"""

In [7]:
#Creates the Connection to SQL Server
connection=odbc.connect(connection_string)
print(connection)

<pyodbc.Connection object at 0x0000029B1E3B1D30>

In [8]:
# Queries the tables from SQL
# Reads in the Weekly Sales in 2023
# Data3 Gets Guest Count
df=pd.read_sql_query('''SELECT *
  FROM [ritas_bi].[dbo].[tmp_raw_plda]
  WHERE YEAR(StartDate)>=2024''',connection)
product_sales=pd.read_sql_query('''Select * from ritascoolnet_live.dbo.tblProductSalesTransactions Where Year(dteStartDate)>=2023 ''',connection)
data3=pd.read_sql_query('''Select intstoreid as intStoreID,RitasID as ShopID, FC,CoolNetGroup,LegacyStoreType,State,MSAName,DMA,StoreName as ShopName,
CoOpName,Franchisee,[Parent Shop #] as ParentID,StoreStatus,[Re Open Date] as ReOpenDate,OpenDate,StoreType from ritascoolnet_live.dbo.vShopDetail''',connection)
relo=pd.read_sql_query('''Select intStoreID,dteClosedForRelocation,intParentStoreID as ParentID,
intRitasStoreID as ShopID,bitDriveThru as DT from ritascoolnet_live.dbo.GOOGLE_MAP_store''',connection)
relo['dteClosedForRelocation']=pd.to_datetime(relo['dteClosedForRelocation'])
ops=pd.read_sql_query('''select intstoreid as intStoreID, RitasID as ParentID,OperationsDirector as Director from ritas_bi.dbo.shopSalesRankingWeekly''',connection)

C:\Users\jharned\AppData\Local\Temp\ipykernel_5928\256644893.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query('''SELECT *
C:\Users\jharned\AppData\Local\Temp\ipykernel_5928\256644893.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  product_sales=pd.read_sql_query('''Select * from ritascoolnet_live.dbo.tblProductSalesTransactions Where Year(dteStartDate)>=2023 ''',connection)
C:\Users\jharned\AppData\Local\Temp\ipykernel_5928\256644893.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data3=pd.read_sql_query('''Select intstoreid as intStoreID,RitasID as ShopID, FC,CoolNetGroup,LegacyStoreType,State,MSAName,DMA,StoreName as ShopName,
C:\Users\jharned\AppData\Local\Temp\ipykernel_5928\256644893.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  relo=pd.read_sql_query('''Select intStoreID,dteClosedForRelocation,intParentStoreID as ParentID,
C:\Users\jharned\AppData\Local\Temp\ipykernel_5928\256644893.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ops=pd.read_sql_query('''select intstoreid as intStoreID, RitasID as ParentID,OperationsDirector as Director from ritas_bi.dbo.shopSalesRankingWeekly''',connection)

In [9]:
data3[data3.ShopID==1551]

,intStoreID,ShopID,FC,CoolNetGroup,LegacyStoreType,State,MSAName,DMA,ShopName,CoOpName,Franchisee,ParentID,StoreStatus,ReOpenDate,OpenDate,StoreType
4368,5484,1551.0,Paul Greenberg,RFC Sea World,Special Venue,FL,None,None,10165 McKinley Dr-Tampa Bay FL,None,None,1551.0,Open,NaT,2024-01-26,Walk-up

In [10]:
df['Year']=df.EndDate.apply(lambda x: 2025 if x.year==2025 else 2024)

In [11]:
df[df.Year==2025].SalesMny.sum()

26098532.310499996

In [12]:
df[(df.Week==12
   )&(df.ProductTypeName=='3rd Party Delivery')&(df.Year==2025)].groupby(['ProductSizeName','EditDate'])['SalesMny'].sum()

ProductSizeName                EditDate
DoorDash                       2025-03-24 20:35:51.647         0.00
                               2025-03-25 23:11:21.220    342119.44
                               2025-03-25 23:11:23.813       570.52
                               2025-03-26 09:50:53.207       802.14
GrubHub                        2025-03-24 20:35:51.647         0.00
                               2025-03-25 23:11:21.220     12179.31
                               2025-03-26 09:50:53.210        21.87
                               2025-03-26 09:54:17.590        21.87
Other 3rd Party Deliv Non MFA  2025-03-24 20:35:51.647         0.00
UberEats                       2025-03-24 20:35:51.647         0.00
                               2025-03-25 23:11:21.220     80651.71
                               2025-03-25 23:11:23.813       636.79
                               2025-03-26 09:50:53.210       193.61
                               2025-03-26 09:54:17.590       193.61
Name: SalesMny, dtype: float64

In [13]:
df[(df.Year==2025)].groupby(['Week','EditDate','ProductTypeName'])['SalesMny'].sum()

Week  EditDate                 ProductTypeName
1     2025-01-03 16:54:44.590  3rd Party Delivery                    0.0000
                               Additional Toppings                  90.8900
                               Cookie Sandwiches                     0.0000
                               Custard                            1714.7800
                               Full Service Catering (Open $)        0.0000
                                                                    ...
13    2025-03-31 06:34:41.963  Snacks                            52741.6285
                               Sprinkles                         53548.2630
                               Test - Snacks                        77.8800
      2025-03-31 06:34:45.143  Full Service Catering (Open $)    30223.6400
      2025-03-31 06:34:50.990  Discount                         -79880.9166
Name: SalesMny, Length: 2258, dtype: float64

In [14]:
data3['Franchisee']=data3['Franchisee'].fillna('RFC')

In [15]:
this_week=df[df.Year==2025].Week.max()

In [16]:
this_week

13

In [17]:
data=df.merge(calendar[['StartDate','Week','Month','Month_Name']],on=['StartDate','Week'],how='left')
data=data[data.Month<=3]# Change this each month

In [18]:
data.head()

,ShopID,intStoreID,ProductCode,ProdSizeCode,DiscountCode,Register,SalesQty,SalesMny,StartDate,EndDate,...,LegacyShopStatus,ProductTypeName,ProductSizeName,SpecialVenue,CoOpStatus,CoOpName,CoOpRate,Year,Month,Month_Name
1,1,3817,1,5,126,1,49,146.51,2024-02-26,2024-03-03,...,Transferred,Italian Ice,Kids Ice,No,Yes,Philadelphia,0.02,2024,3,March
2,1,3817,1,5,126,1,69,206.31,2024-03-04,2024-03-10,...,Transferred,Italian Ice,Kids Ice,No,Yes,Philadelphia,0.02,2024,3,March
16,1,3817,1,7,126,1,78,348.84,2024-02-26,2024-03-03,...,Transferred,Italian Ice,Large Ice,No,Yes,Philadelphia,0.02,2024,3,March
18,1,3817,1,7,126,1,127,578.34,2024-03-25,2024-03-31,...,Transferred,Italian Ice,Large Ice,No,Yes,Philadelphia,0.02,2024,3,March
31,1,3817,1,7,126,1,216,985.05,2024-03-11,2024-03-17,...,Transferred,Italian Ice,Large Ice,No,Yes,Philadelphia,0.02,2024,3,March

In [19]:
relo['DT']=relo.DT.apply(lambda x: 'Yes' if x >0 else 'No')

In [20]:
def get_initials(name):
    if not isinstance(name, str) or name.strip() == "":  # Handle None or empty strings
        return name  # Keep None or empty as is
    parts = name.split()
    if len(parts) == 1:  # If only one name, return it as is
        return name
    else:
        return ''.join([part[0].upper() for part in parts])  # Extract initials

data3['FC Initials'] = data3['FC'].apply(get_initials)
data3.loc[data3.FC=='Joe Toocheck','FC Initials']='JToo'
data3.loc[data3.FC=='John Martin (FC)','FC Initials']='JM'

In [21]:
data3[data3.ShopID==905]

,intStoreID,ShopID,FC,CoolNetGroup,LegacyStoreType,State,MSAName,DMA,ShopName,CoOpName,Franchisee,ParentID,StoreStatus,ReOpenDate,OpenDate,StoreType,FC Initials
2326,3394,905.0,John Martin (FC),CA Faramarzi-Bulko,Walk-in,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,Santa Clarita,None,Taryn S. Bulko,905.0,Open,NaT,2013-04-04,Walk-in,JM

In [22]:
data[(data.ShopID==149)&(data.EndDate.dt.year==2025)].groupby(['Week','EditDate'])['SalesMny'].sum()\
.reset_index().sort_values(by='EditDate',ascending=False)

    Week                EditDate  SalesMny
15    13 2025-03-31 06:34:50.990     -5.00
14    13 2025-03-31 06:34:41.963   7395.90
13    12 2025-03-25 23:11:28.543     -3.00
12    12 2025-03-25 23:11:21.220  10056.74
11    11 2025-03-18 22:12:23.150     -2.00
10    11 2025-03-18 22:12:18.540     40.00
9     11 2025-03-18 22:12:08.853   6170.67
8     10 2025-03-11 22:37:27.643     -3.00
7     10 2025-03-11 22:37:23.330    134.00
6     10 2025-03-11 22:37:20.720   3632.15
5      9 2025-03-11 13:40:26.577      0.00
4      9 2025-03-11 13:40:26.470   3593.31
3      8 2025-02-25 22:46:32.580     -1.00
2      8 2025-02-25 22:46:26.333   2874.51
1      7 2025-02-18 22:48:54.240      0.00
0      7 2025-02-18 22:47:39.760   1712.74

In [23]:
data[['EditDate','Year','Week','ShopID']].drop_duplicates(keep='last').sort_values(by='EditDate').tail(10)

                      EditDate  Year  Week  ShopID
918744 2025-03-31 06:34:50.990  2025    13      12
898038 2025-03-31 06:34:50.990  2025    13     249
898021 2025-03-31 06:34:50.990  2025    13     316
900943 2025-03-31 06:34:50.990  2025    13     341
889479 2025-03-31 06:34:50.990  2025    13       4
915759 2025-03-31 06:34:50.990  2025    13    1519
920173 2025-03-31 06:34:50.990  2025    13     154
906529 2025-03-31 06:34:50.990  2025    13    1047
895154 2025-03-31 06:34:50.990  2025    13     198
896251 2025-03-31 06:34:50.990  2025    13     190

In [24]:

data['ParentID']=data.ShopID.astype('int')
data['ParentID']=data.ShopID.astype('str')
data['ParentID']=data.ParentID.str[-4:]
data['ParentID']=data.ParentID.astype('int')
data.loc[data.StartDate=='2023-03-20','Week']=12
data.loc[data.StartDate=='2023-03-27','Week']=13
data.loc[data.StartDate=='2023-10-29','StartDate']='2023-10-30'
data3.loc[data3.ShopID==10445,'ReOpenDate']='2023-04-12'
data.loc[data.ShopID==31360,'ShopID']=1568
data3.loc[data3.ShopID==11397,'OpenDate']='2021-03-14'
data3.loc[data3.ShopID==10259,'OpenDate']='2001-07-11'
data3.loc[data3.ShopID==11483,'OpenDate']='2023-06-12'
data=data.merge(data3[['intStoreID','OpenDate','ReOpenDate','FC Initials','Franchisee']],on='intStoreID',how='left')
data['OpenDate']=np.where(data.OpenDate<data.ReOpenDate,data.ReOpenDate,data.OpenDate)
data=data.merge(relo[['intStoreID','dteClosedForRelocation','DT']],on='intStoreID',how='left')

In [25]:
include=['Open','Transferred']
shops_true_comps=data[(data.ShopStatus.isin(include))|(data.ParentID==243)].pivot_table(index=['ParentID','Week','Month','Month_Name'],columns='Year',values='SalesMny',aggfunc='sum',fill_value=0)\
.reset_index()
shops_true_comps=shops_true_comps[(shops_true_comps[2024]>1)&(shops_true_comps[2025]>1)]

In [26]:
data['Days']=(data.OpenDate-data.dteClosedForRelocation).dt.days
data.Days=data.Days.fillna(0)
old_shops=data[(data.OpenDate.dt.year<=2023)]

In [27]:
include=['Open','Transferred']
old_shops=old_shops[(old_shops.ShopStatus.isin(include))|(old_shops.ParentID==243)]
old_shops=old_shops[old_shops.ParentID!=1365]

In [28]:
old_shops.ParentID.unique()

array([   1,    2,    3,    4,    6,    7,    8,   10,    9,   11,   12,
         14,   15,   16,   18,   19,   20,   21,   22,   26,   28,   29,
         30,   31,   32,   34,   36,   37,   39,   40,   41,   42,   43,
         44,   45,   47,   48,   53,   54,   55,   56,   57,   58,   59,
         60,   61,   64,   65,   66,   68,   69,   70,   71,   73,   78,
         81,   82,   83,   84,   85,   86,   87,   88,   89,   91,   92,
         94,   95,   96,   97,   98,  100,  101,  102,  104,  105,  106,
        108,  109,  111,  113,  114,  117,  118,  120,  122,  123,  124,
        125,  127,  128,  129,  133,  134,  135,  136,  138,  139,  142,
        144,  145,  148,  149,  150,  151,  152,  153,  154,  155,  156,
        158,  159,  160,  161,  163,  164,  166,  167,  169,  170,  171,
        172,  173,  175,  178,  180,  181,  182,  183,  184,  185,  186,
        187,  188,  190,  192,  194,  195,  197,  198,  200,  204,  205,
        206,  207,  209,  211,  212,  213,  214,  215,  217,  218,  221,
        223,  224,  225,  227,  229,  230,  231,  235,  237,  238,  239,
        241,  242,  243,  245,  246,  247,  248,  249,  250,  254,  256,
        257,  259,  260,  261,  263,  267,  270,  271,  274,  278,  279,
        280,  285,  286,  287,  288,  289,  290,  291,  292,  293,  295,
        298,  299,  301,  303,  304,  305,  306,  309,  311,  312,  313,
        314,  316,  322,  323,  325,  330,  331,  332,  333,  334,  335,
        337,  338,  339,  340,  341,  342,  343,  344,  345,  347,  349,
        350,  353,  354,  355,  358,  359,  361,  362,  364,  365,  366,
        368,  369,  370,  371,  372,  374,  376,  379,  380,  381,  383,
        384,  385,  386,  387,  388,  390,  391,  393,  394,  397,  399,
        400,  402,  403,  405,  410,  412,  413,  414,  417,  421,  423,
        427,  428,  429,  435,  436,  438,  440,  441,  444,  445,  452,
        453,  463,  467,  472,  473,  474,  476,  477,  484,  485,  486,
        487,  490,  493,  495,  496,  498,  501,  503,  510,  514,  516,
        518,  519,  521,  525,  532,  534,  536,  543,  545,  550,  552,
        556,  559,  560,  564,  571,  575,  579,  585,  617,  626,  628,
        638,  649,  658,  663,  676,  681,  689,  691,  704,  711,  712,
        714,  729,  731,  734,  746,  753,  764,  777,  779,  790,  803,
        824,  835,  836,  843,  847,  853,  860,  863,  872,  874,  882,
        885,  886,  887,  888,  889,  892,  897,  899,  903,  905,  912,
        929,  931,  932,  933,  934,  937,  940,  944,  952, 1018, 1040,
       1044, 1045, 1046, 1047, 1049, 1055, 1065, 1071, 1072, 1088, 1119,
       1126, 1130, 1133, 1159, 1160, 1170, 1171, 1172, 1187, 1231, 1234,
       1237, 1253, 1254, 1266, 1268, 1269, 1271, 1272, 1273, 1302, 1318,
       1334, 1335, 1337, 1348, 1352, 1355, 1356, 1357, 1362, 1368, 1369,
       1371, 1376, 1377, 1378, 1379, 1381, 1383, 1387, 1389, 1390, 1393,
       1394, 1395, 1396, 1397, 1398, 1400, 1401, 1404, 1405, 1407, 1409,
       1413, 1416, 1417, 1418, 1419, 1420, 1422, 1423, 1424, 1431, 1435,
       1436, 1440, 1442, 1446, 1449, 1450, 1451, 1453, 1455, 1456, 1459,
       1460, 1462, 1465, 1466, 1467, 1468, 1469, 1471, 1472, 1473, 1476,
       1477, 1478, 1479, 1480, 1482, 1483, 1484, 1488, 1489, 1490, 1492,
       1495, 1499, 1500, 1502, 1504, 1507, 1512, 1515, 1517, 1518, 1519,
       1520, 1522, 1530, 1534, 1552, 1568])

In [29]:
data[~(data.ShopStatus.isin(include))].ShopID.unique()

array([ 243,  382,  392,  468, 1053, 1060, 1121, 1132, 1322, 1351, 1364,
       1403, 1454], dtype=int64)

In [30]:

relo_not_new=data[(data.ReOpenDate.dt.year.isin([2024,2025]))&(data.Days<365)]

In [31]:
relo_not_new.ShopID.unique()

array([1212, 1336], dtype=int64)

In [32]:
len(old_shops[old_shops.Year==2025].ShopID.unique())

523

In [33]:
old_shops[old_shops.ShopID.isin(relo_not_new.ShopID.unique())]

Empty DataFrame
Columns: [ShopID, intStoreID, ProductCode, ProdSizeCode, DiscountCode, Register, SalesQty, SalesMny, StartDate, EndDate, EditDate, Week, DataSource, ShopName, State, Region, ShopStatus, LegacyShopType, LegacyShopStatus, ProductTypeName, ProductSizeName, SpecialVenue, CoOpStatus, CoOpName, CoOpRate, Year, Month, Month_Name, ParentID, OpenDate, ReOpenDate, FC Initials, Franchisee, dteClosedForRelocation, DT, Days]
Index: []

[0 rows x 36 columns]

In [34]:
old_shops=pd.concat([old_shops,relo_not_new])

In [35]:
data3=data3.rename(columns={'OpenDate':'OriginalOpenDate'})

In [36]:
product_sales=product_sales.rename(columns={'dteEndDate':'EndDate','intTransactionCount':'Guest_Count'})
weeks=data[['EndDate','Week']].drop_duplicates(keep='first')
ps=product_sales.merge(weeks[['EndDate','Week']],how='left',on='EndDate')
ps['Retail_GC']=ps.Guest_Count-ps.intUECount\
-ps.intDDCount-ps.intGHCount
ps['Year']=ps.EndDate.dt.year
threepd=ps.rename(columns={'intRitasStoreID':'ShopID'})
threepd.ShopID=threepd.ShopID.astype('int')
gc=threepd.groupby(['ShopID','Year','Week','EndDate'])['Guest_Count'].sum().reset_index()
gc=gc.merge(calendar[['Week','EndDate','Month','Month_Name']],on=['Week','EndDate'],how='left')

gc.Week=gc.Week.astype('int')
gc.loc[gc.ShopID==31360,'ShopID']=1568
gc['ParentID']=gc.ShopID.astype('int')
gc['ParentID']=gc.ShopID.astype('str')
gc['ParentID']=gc.ParentID.str[-4:]
gc['ParentID']=gc.ParentID.astype('int')
gc_total=gc
gc_total=gc_total[gc_total.ParentID!=491]

In [37]:
ps[['intUECount']].sum()

intUECount    185863
dtype: int64

In [38]:
gc_total=gc_total.pivot_table(index=['ParentID','Week','Month','Month_Name'],columns='Year',values='Guest_Count',aggfunc='sum',fill_value=0).reset_index()

In [39]:
gc_total[gc_total.ParentID==452]

Year  ParentID  Week  Month Month_Name  2024  2025
1869       452     8      2   February     1     0
1870       452     9      3      March   325   123
1871       452    10      3      March   198   367
1872       452    11      3      March  1255   519
1873       452    12      3      March  1400  1562
1874       452    13      3      March   891  1110

In [40]:

# this_week=data[data.Year==2025].Week.max()
sales=old_shops[old_shops.Week<=this_week]
gc_total=gc_total[gc_total.Week<=this_week]

In [41]:
#Example of stores that show 0 sales in 2025 or 2024 but are in the Product Level Detail for some reason
# example=sales.pivot_table(index=['ParentID'],columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()
# example[(example[2024]==0)&(example[2025]==0)]

In [42]:
weekly_piv=sales.pivot_table(index=['ParentID'],columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()
comp_shops=weekly_piv[(weekly_piv[2024]>1)|(weekly_piv[2025]>1)].ParentID.unique()
comp_shops=weekly_piv.ParentID.unique()
len(comp_shops)

514

In [43]:
weekly_piv

Year  ParentID         2024         2025
0            1   48746.5812   57463.4062
1            2   76250.6700   76407.6060
2            3   38853.4200   50709.8970
3            4   29882.3363   30923.4365
4            6   58178.8350   64163.5830
..         ...          ...          ...
509       1522   28081.7960   29971.6395
510       1530    8159.0600    9536.6400
511       1534  163346.5000   82316.6200
512       1552  319101.2800  152568.1300
513       1568    1886.0000       0.0000

[514 rows x 3 columns]

In [44]:
relo_24=data[(data.Days>=365)&(data.OpenDate.dt.year==2024)]
new_24=data[(data.OpenDate.dt.year==2024)&(data.Days==0)]
shops_24=pd.concat([relo_24,new_24])
shops_24_piv=shops_24[shops_24.Week<=this_week].pivot_table(index=['ParentID','Week'],columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()
shops_24_piv=shops_24_piv[(shops_24_piv[2024]>1)&(shops_24_piv[2025]>1)]

In [45]:
shops_24.ParentID.unique()

array([ 189, 1430, 1444, 1452, 1475, 1481, 1486, 1491, 1505, 1516, 1521,
       1524, 1527, 1528, 1529, 1531, 1532, 1537, 1539, 1542, 1543, 1545,
       1551, 1561, 1563, 1571, 1573, 1574])

In [46]:
relo_24

,ShopID,intStoreID,ProductCode,ProdSizeCode,DiscountCode,Register,SalesQty,SalesMny,StartDate,EndDate,...,Month,Month_Name,ParentID,OpenDate,ReOpenDate,FC Initials,Franchisee,dteClosedForRelocation,DT,Days
39985,189,5466,1,5,126,1,68,223.7200,2025-03-03,2025-03-09,...,3,March,189,2024-07-05,2024-07-05,TT,Louis A. Gioia Jr.,2021-09-27,No,1012.0
39989,189,5466,1,7,126,1,109,565.7100,2025-03-10,2025-03-16,...,3,March,189,2024-07-05,2024-07-05,TT,Louis A. Gioia Jr.,2021-09-27,No,1012.0
39990,189,5466,1,8,126,1,22,182.3800,2025-02-24,2025-03-02,...,3,March,189,2024-07-05,2024-07-05,TT,Louis A. Gioia Jr.,2021-09-27,No,1012.0
39991,189,5466,1,1246,126,1,20,81.2000,2025-01-27,2025-02-02,...,2,February,189,2024-07-05,2024-07-05,TT,Louis A. Gioia Jr.,2021-09-27,No,1012.0
39992,189,5466,1,1246,126,1,125,523.7500,2025-02-24,2025-03-02,...,3,March,189,2024-07-05,2024-07-05,TT,Louis A. Gioia Jr.,2021-09-27,No,1012.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259501,189,5466,79,302,5,1,0,0.0000,2025-01-27,2025-02-02,...,2,February,189,2024-07-05,2024-07-05,TT,Louis A. Gioia Jr.,2021-09-27,No,1012.0
259502,189,5466,79,302,5,1,0,0.0000,2025-02-10,2025-02-16,...,2,February,189,2024-07-05,2024-07-05,TT,Louis A. Gioia Jr.,2021-09-27,No,1012.0
259810,189,5466,79,302,5,1,0,-168.5810,2025-03-24,2025-03-30,...,3,March,189,2024-07-05,2024-07-05,TT,Louis A. Gioia Jr.,2021-09-27,No,1012.0
266451,189,5466,79,302,5,1,0,-113.1455,2025-03-03,2025-03-09,...,3,March,189,2024-07-05,2024-07-05,TT,Louis A. Gioia Jr.,2021-09-27,No,1012.0
266452,189,5466,79,302,173,1,0,-12.5900,2025-02-24,2025-03-02,...,3,March,189,2024-07-05,2024-07-05,TT,Louis A. Gioia Jr.,2021-09-27,No,1012.0

In [47]:
shops_24.ShopID.unique()

array([ 189, 1430, 1444, 1452, 1475, 1481, 1486, 1491, 1505, 1516, 1521,
       1524, 1527, 1528, 1529, 1531, 1532, 1537, 1539, 1542, 1543, 1545,
       1551, 1561, 1563, 1571, 1573, 1574], dtype=int64)

In [48]:
shops_24_piv=shops_24_piv.merge(gc_total,on=['ParentID','Week'],how='left',suffixes=[' Total Sales',' Total GC'])
shops_24_piv

The history saving thread hit an unexpected error (OperationalError('database is locked')).History will not be written to the database.

Year,ParentID,Week,2024 Total Sales,2025 Total Sales,Month,Month_Name,2024 Total GC,2025 Total GC
0,1430,11,5478.5495,5554.7585,3,March,565,542
1,1430,12,3913.8125,5158.0755,3,March,473,644
2,1430,13,4553.9990,4853.8725,3,March,495,400
3,1486,9,5302.7000,5626.3210,3,March,448,531
4,1486,10,8166.5000,5665.7470,3,March,756,593
5,1486,11,11365.6550,6600.5600,3,March,1012,624
6,1486,12,9428.7480,7871.9150,3,March,1048,1083
7,1486,13,9304.5520,7532.7680,3,March,876,694
8,1505,1,2967.9110,2955.6662,1,January,266,242
9,1505,2,2979.1430,3230.4266,1,January,274,310
10,1505,3,3071.3442,2603.4662,1,January,294,249
11,1505,4,4551.3260,2457.8090,1,January,414,225
12,1505,5,3948.7798,4307.1190,2,February,361,397
13,1505,6,5339.5478,3910.4216,2,February,401,369
14,1505,7,2786.9496,3699.1178,2,February,254,328
15,1505,8,4317.5840,3958.9659,2,February,373,325
16,1505,9,4200.0340,4838.7150,3,March,364,390
17,1505,10,5628.6564,3912.2864,3,March,481,328
18,1505,11,7331.3835,6088.3425,3,March,612,499
19,1505,12,5271.6223,5811.6341,3,March,600,588
20,1505,13,5007.9702,5305.5899,3,March,455,418
21,1551,4,7186.3700,7814.4300,1,January,575,627
22,1551,5,7685.5000,11446.3000,2,February,615,862
23,1551,6,9590.2900,13112.0200,2,February,767,985
24,1551,7,7619.9500,11751.1200,2,February,609,838
25,1551,8,19514.5600,17267.8800,2,February,1561,1227

In [49]:
weekly_piv_dates=sales.pivot_table(index=['ParentID','Week','Month','Month_Name'],columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()

In [50]:
weekly_piv_dates[weekly_piv_dates.ParentID==1551]

Empty DataFrame
Columns: [ParentID, Week, Month, Month_Name, 2024, 2025]
Index: []

In [51]:
merge=weekly_piv_dates.merge(gc_total,on=['ParentID','Week','Month','Month_Name'],how='left',suffixes=[' Total Sales',' Total GC'])
comps=merge[merge.ParentID.isin(comp_shops)]
new_comps=pd.concat([comps,shops_24_piv])
new_comps

Year,ParentID,Week,Month,Month_Name,2024 Total Sales,2025 Total Sales,2024 Total GC,2025 Total GC
0,1,9,3,March,4955.0000,2576.0475,386.0,188.0
1,1,10,3,March,7162.6956,7607.6580,613.0,607.0
2,1,11,3,March,17857.2470,14590.6977,1507.0,1189.0
3,1,12,3,March,9819.8516,15854.5115,944.0,1566.0
4,1,13,3,March,8951.7870,16834.4915,839.0,1237.0
...,...,...,...,...,...,...,...,...
21,1551,4,1,January,7186.3700,7814.4300,575.0,627.0
22,1551,5,2,February,7685.5000,11446.3000,615.0,862.0
23,1551,6,2,February,9590.2900,13112.0200,767.0,985.0
24,1551,7,2,February,7619.9500,11751.1200,609.0,838.0
25,1551,8,2,February,19514.5600,17267.8800,1561.0,1227.0

In [52]:
new_comps[new_comps.ParentID==1551]

Year,ParentID,Week,Month,Month_Name,2024 Total Sales,2025 Total Sales,2024 Total GC,2025 Total GC
21,1551,4,1,January,7186.37,7814.43,575.0,627.0
22,1551,5,2,February,7685.50,11446.30,615.0,862.0
23,1551,6,2,February,9590.29,13112.02,767.0,985.0
24,1551,7,2,February,7619.95,11751.12,609.0,838.0
25,1551,8,2,February,19514.56,17267.88,1561.0,1227.0

In [53]:
for_weekly_comps=new_comps

In [54]:
unique_parentid_2024_gt_1 = for_weekly_comps[for_weekly_comps['2024 Total Sales'] > 1].groupby('Week')['ParentID'].nunique()
unique_parentid_2025_gt_1 = for_weekly_comps[for_weekly_comps['2025 Total Sales'] > 1].groupby('Week')['ParentID'].nunique()
unique_shops = pd.DataFrame({
    '2024 Total Sales > 1': unique_parentid_2024_gt_1,
    '2025 Total Sales > 1': unique_parentid_2025_gt_1
})

unique_shops=unique_shops.rename(columns={'2024 Total Sales > 1':'2024 # of Shops Reported',
                                          '2025 Total Sales > 1':'2025 # of Shops Reported'})
unique_shops

      2024 # of Shops Reported  2025 # of Shops Reported
Week
1                          115                       123
2                          117                       119
3                          111                       119
4                          113                       118
5                          126                       135
6                          147                       148
7                          194                       176
8                          296                       253
9                          496                       485
10                         498                       489
11                         505                       496
12                         508                       499
13                         513                       497

In [55]:
# unique_shops=data[(data.ParentID.isin(new_comps.ParentID))&(data.Week<=this_week)].groupby(['Year','Week','ParentID'])['SalesMny'].sum().reset_index()\
# .query('SalesMny>1').pivot_table(index='Week',columns='Year',values='ParentID',aggfunc='nunique')

# unique_shops=unique_shops.rename(columns={2024:'2024 # of Shops Reported',2025:'2025 # of Shops Reported'})

In [56]:
data[data.ParentID.isin(new_comps.ParentID)].groupby(['Year','ParentID'])['SalesMny'].sum().reset_index()\
.query('SalesMny>1').pivot_table(columns='Year',values='ParentID',aggfunc='nunique')

Year      2024  2025
ParentID   516   507

In [57]:
# new_comps[new_comps.ParentID.isin([26,42,83,127,279,332,341,436,559,649,711,1383,1418,1431])].to_excel('Month Test 2.xlsx',index=False)

In [58]:
# new_comps.merge(this_year[['Week','Month_Name','Month']],on='Week',how='left').pivot_table(index=['ParentID'],
#                                                                                           columns='Month_Name',
#                                                                                           values=['2024 Total Sales',
#                                                                                                '2025 Total Sales'],aggfunc='sum',fill_value=0).to_excel('Month Test.xlsx')

In [59]:
true_comps=comps[(comps['2025 Total Sales']>0)&(comps['2024 Total Sales']>0)]
true_comps=true_comps.groupby('Week')[['2025 Total Sales','2024 Total Sales','2025 Total GC','2024 Total GC']].sum()
true_comps['Total Sales%']=true_comps['2025 Total Sales']/true_comps['2024 Total Sales']-1
true_comps['GC%']=true_comps['2025 Total GC']/true_comps['2024 Total GC']-1
true_comps=true_comps.iloc[:,[0,1,-2,2,3,-1]]

In [60]:
true_comps

Year,2025 Total Sales,2024 Total Sales,Total Sales%,2025 Total GC,2024 Total GC,GC%
Week,,,,,,
1,5.453819e+05,4.554122e+05,0.197557,39065.0,37637.0,0.037941
2,3.786842e+05,4.234451e+05,-0.105707,29259.0,32209.0,-0.091589
3,4.360312e+05,3.924181e+05,0.111139,33568.0,32669.0,0.027518
4,3.821798e+05,5.236775e+05,-0.270200,29990.0,44869.0,-0.331610
5,5.311658e+05,5.146344e+05,0.032123,43250.0,46144.0,-0.062717
6,5.961057e+05,5.823361e+05,0.023645,47615.0,51690.0,-0.078835
7,5.876584e+05,6.564396e+05,-0.104779,48815.0,57226.0,-0.146979
8,8.478773e+05,1.093861e+06,-0.224876,69887.0,97691.0,-0.284612
9,1.894458e+06,2.661575e+06,-0.288219,160475.0,231177.0,-0.305835
10,2.691893e+06,2.874305e+06,-0.063463,231476.0,256146.0,-0.096312
11,4.751737e+06,5.833141e+06,-0.185390,413873.0,514467.0,-0.195531
12,5.383129e+06,3.813838e+06,0.411473,586178.0,445770.0,0.314979
13,5.452573e+06,3.837307e+06,0.420937,446072.0,345344.0,0.291674

In [61]:
weekly_comps=new_comps.groupby('Week')[['2025 Total Sales','2024 Total Sales','2025 Total GC','2024 Total GC']].sum()

In [62]:
weekly_comps.sum(axis=0)

Year
2025 Total Sales    2.491204e+07
2024 Total Sales    2.473891e+07
2025 Total GC       2.217287e+06
2024 Total GC       2.285619e+06
dtype: float64

In [63]:
weekly_comps['Total Sales%']=weekly_comps['2025 Total Sales']/weekly_comps['2024 Total Sales']-1
weekly_comps['GC%']=weekly_comps['2025 Total GC']/weekly_comps['2024 Total GC']-1
weekly_comps=weekly_comps.iloc[:,[0,1,-2,2,3,-1]]

In [64]:
weekly_comps

Year,2025 Total Sales,2024 Total Sales,Total Sales%,2025 Total GC,2024 Total GC,GC%
Week,,,,,,
1,5.820270e+05,4.706486e+05,0.236649,42277.0,38869.0,0.087679
2,3.925387e+05,4.344860e+05,-0.096545,30408.0,33140.0,-0.082438
3,4.577861e+05,4.015927e+05,0.139926,35325.0,33250.0,0.062406
4,4.132285e+05,5.449853e+05,-0.241762,32429.0,46807.0,-0.307176
5,5.735527e+05,5.427860e+05,0.056683,46504.0,48662.0,-0.044347
6,6.393716e+05,6.443309e+05,-0.007697,50871.0,56366.0,-0.097488
7,6.211426e+05,7.251156e+05,-0.143388,51405.0,62528.0,-0.177888
8,8.997273e+05,1.261062e+06,-0.286532,74061.0,110960.0,-0.332543
9,1.910759e+06,2.758222e+06,-0.307250,161934.0,240330.0,-0.326201
10,2.716200e+06,2.982086e+06,-0.089161,233757.0,265644.0,-0.120037
11,4.792705e+06,6.004411e+06,-0.201803,417682.0,529414.0,-0.211048
12,5.426107e+06,3.920465e+06,0.384047,591708.0,456288.0,0.296786
13,5.486894e+06,4.048719e+06,0.355217,448926.0,363361.0,0.235482

In [65]:
weekly_comps=weekly_comps.rename(columns={'2025 Total Sales':'2025 Comp System Sales',
                                           '2024 Total Sales':'2024 Comp System Sales',
                                           'Total Sales%':'Comp System Sales%'})

In [66]:
weekly_comps

Year,2025 Comp System Sales,2024 Comp System Sales,Comp System Sales%,2025 Total GC,2024 Total GC,GC%
Week,,,,,,
1,5.820270e+05,4.706486e+05,0.236649,42277.0,38869.0,0.087679
2,3.925387e+05,4.344860e+05,-0.096545,30408.0,33140.0,-0.082438
3,4.577861e+05,4.015927e+05,0.139926,35325.0,33250.0,0.062406
4,4.132285e+05,5.449853e+05,-0.241762,32429.0,46807.0,-0.307176
5,5.735527e+05,5.427860e+05,0.056683,46504.0,48662.0,-0.044347
6,6.393716e+05,6.443309e+05,-0.007697,50871.0,56366.0,-0.097488
7,6.211426e+05,7.251156e+05,-0.143388,51405.0,62528.0,-0.177888
8,8.997273e+05,1.261062e+06,-0.286532,74061.0,110960.0,-0.332543
9,1.910759e+06,2.758222e+06,-0.307250,161934.0,240330.0,-0.326201
10,2.716200e+06,2.982086e+06,-0.089161,233757.0,265644.0,-0.120037
11,4.792705e+06,6.004411e+06,-0.201803,417682.0,529414.0,-0.211048
12,5.426107e+06,3.920465e+06,0.384047,591708.0,456288.0,0.296786
13,5.486894e+06,4.048719e+06,0.355217,448926.0,363361.0,0.235482

In [67]:
monthly_comps=weekly_comps.reset_index().merge(this_year[['Week','Month_Name','Month']],how='left',on='Week')
monthly_comps=monthly_comps.groupby(['Month','Month_Name'])[['2025 Comp System Sales','2024 Comp System Sales','2025 Total GC','2024 Total GC']].sum()
monthly_comps=monthly_comps.reset_index().drop('Month',axis=1).set_index('Month_Name')
monthly_comps.loc['YTD Totals']=monthly_comps.sum(axis=0)
monthly_comps['Comp System Sales%']=monthly_comps['2025 Comp System Sales']/monthly_comps['2024 Comp System Sales']-1
monthly_comps['YoY Comp System GC%']=monthly_comps['2025 Total GC']/monthly_comps['2024 Total GC']-1
monthly_comps=monthly_comps.iloc[:,[0,1,-2,2,3,-1]]
monthly_comps

,2025 Comp System Sales,2024 Comp System Sales,Comp System Sales%,2025 Total GC,2024 Total GC,YoY Comp System GC%
Month_Name,,,,,,
January,1.845580e+06,1.851713e+06,-0.003312,140439.0,152066.0,-0.076460
February,2.733794e+06,3.173294e+06,-0.138500,222841.0,278516.0,-0.199899
March,2.033266e+07,1.971390e+07,0.031387,1854007.0,1855037.0,-0.000555
YTD Totals,2.491204e+07,2.473891e+07,0.006998,2217287.0,2285619.0,-0.029896

In [68]:
monthly_comps=monthly_comps.rename(columns={'2025 Comp System Sales':'YTD 2025 YoY Comp Sales',
                                           '2024 Comp System Sales':'YTD 2024 YoY Comp Sales',
                                           'Comp System Sales%':'YoY Comp Sales%',
                                           '2025 Total GC':'YTD 2025 YoY Comp GC',
                                            '2024 Total GC':'YTD 2024 YoY Comp GC',
                                           'YoY Comp System GC%':'YoY Comp GC%'})
monthly_comps.index.names=['Month']

In [69]:
monthly_comps

,YTD 2025 YoY Comp Sales,YTD 2024 YoY Comp Sales,YoY Comp Sales%,YTD 2025 YoY Comp GC,YTD 2024 YoY Comp GC,YoY Comp GC%
Month,,,,,,
January,1.845580e+06,1.851713e+06,-0.003312,140439.0,152066.0,-0.076460
February,2.733794e+06,3.173294e+06,-0.138500,222841.0,278516.0,-0.199899
March,2.033266e+07,1.971390e+07,0.031387,1854007.0,1855037.0,-0.000555
YTD Totals,2.491204e+07,2.473891e+07,0.006998,2217287.0,2285619.0,-0.029896

In [70]:
weekly_comps.reset_index().merge(this_year[['Week','Month_Name','Month']],how='left',on='Week')

,Week,2025 Comp System Sales,2024 Comp System Sales,Comp System Sales%,2025 Total GC,2024 Total GC,GC%,Month_Name,Month
0,1,5.820270e+05,4.706486e+05,0.236649,42277.0,38869.0,0.087679,January,1
1,2,3.925387e+05,4.344860e+05,-0.096545,30408.0,33140.0,-0.082438,January,1
2,3,4.577861e+05,4.015927e+05,0.139926,35325.0,33250.0,0.062406,January,1
3,4,4.132285e+05,5.449853e+05,-0.241762,32429.0,46807.0,-0.307176,January,1
4,5,5.735527e+05,5.427860e+05,0.056683,46504.0,48662.0,-0.044347,February,2
5,6,6.393716e+05,6.443309e+05,-0.007697,50871.0,56366.0,-0.097488,February,2
6,7,6.211426e+05,7.251156e+05,-0.143388,51405.0,62528.0,-0.177888,February,2
7,8,8.997273e+05,1.261062e+06,-0.286532,74061.0,110960.0,-0.332543,February,2
8,9,1.910759e+06,2.758222e+06,-0.307250,161934.0,240330.0,-0.326201,March,3
9,10,2.716200e+06,2.982086e+06,-0.089161,233757.0,265644.0,-0.120037,March,3
10,11,4.792705e+06,6.004411e+06,-0.201803,417682.0,529414.0,-0.211048,March,3
11,12,5.426107e+06,3.920465e+06,0.384047,591708.0,456288.0,0.296786,March,3
12,13,5.486894e+06,4.048719e+06,0.355217,448926.0,363361.0,0.235482,March,3

In [71]:
true_comps=true_comps.rename(columns={'2025 Total Sales':'2025 Total System Comp Sales',
                                           '2024 Total Sales':'2024 Total System Comp Sales',
                                           'Total Sales%':'Total System Sales Comp%'})

In [72]:
# lastrow=monthly_comps.shape[0]
# with pd.ExcelWriter('Comp Sales and Guest Count for Wk'+str(this_week)+'.xlsx',engine='xlsxwriter') as writer5:
#     comp_workbook=writer5.book
#     format_header2=comp_workbook.add_format()
#     format_header2.set_italic()
#     format_header2.set_bold()
#     format_num=comp_workbook.add_format({'num_format':'$#,##0',
#                                         'align':'center',
#                                         'valign':'vcenter'})
#     format_qty=comp_workbook.add_format({'num_format':'#,##0',
#                                         'align':'center',
#                                         'valign':'vcenter'})
#     perc_format=comp_workbook.add_format({'num_format':'#0.0%',
#                                          'align':'center',
#                                          'valign':'vcenter'})
#     total_dollar_format=comp_workbook.add_format({'bold':True,
#                                           'bg_color':'#d5d8dc',
#                                           'num_format':'$#,##0',
#                                         'align':'center',
#                                         'valign':'vcenter'})
    
#     total_gc_format=comp_workbook.add_format({'bold':True,
#                                           'bg_color':'#d5d8dc',
#                                           'num_format':'#,##0',
#                                         'align':'center',
#                                         'valign':'vcenter'})
    
#     total_perc_format=comp_workbook.add_format({'bold':True,
#                                           'bg_color':'#d5d8dc',
#                                           'num_format':'#0.0%',
#                                         'align':'center',
#                                         'valign':'vcenter'})
#     a1=comp_workbook.add_format({'align':'center','valign':'vcenter','bold':True})
#     border_format=comp_workbook.add_format({'top':2,'bottom':2,'left':2,'right':2})
    
#     title='Ritas Franchise Company,LLC'
#     comp_text='Monthly Comp Sales and Guest Count (3rd Party GC Excluded)'
#     comp_text1='Comp Sales Include: Retail/Mobile/Satellite/3rd Party/Special Venue/Online'
#     comp_text2='2025 v 2024 Sales and Guest Counts thru Week '+str(this_week)
#     comp_text3='For Shops Opened Prior to 1/1/2024 and Compartive Weekly Sales For 2024 Shop Openings'
    
#     monthly_comps.to_excel(writer5,startrow=6,startcol=0, sheet_name='Comps')
#     true_comps.T.to_excel(writer5,startrow=6,startcol=0, sheet_name='''Mark's Format''')
    
#     ws=writer5.sheets['Comps']                     
#     ws.conditional_format(xlsxwriter.utility.xl_range(6,0,len(monthly_comps)+6,len(monthly_comps.columns)),
#                                   {'type': 'no_errors', 'format': border_format})
#     for col in range(0,2):
#         ws.write(monthly_comps.shape[0]+6,col+1,monthly_comps.iloc[-1,col],total_dollar_format)
  
#     for col in range(3,5):
#         ws.write(monthly_comps.shape[0]+6,col+1,monthly_comps.iloc[-1,col],total_gc_format)
#     for col in range(2,3):
#         ws.write(monthly_comps.shape[0]+6,col+1,monthly_comps.iloc[-1,col],total_perc_format)
#     for col in range(5,6):
#         ws.write(monthly_comps.shape[0]+6,col+1,monthly_comps.iloc[-1,col],total_perc_format)
        
#     ws.write(lastrow+6,0,'YTD Totals',total_dollar_format)    
#     ws.write(0,1,title,format_header2)
#     ws.write(1,1,comp_text,format_header2)
#     ws.write(2,1,comp_text1,format_header2)
#     ws.write(3,1,comp_text2,format_header2)
#     ws.write(4,1,comp_text3,format_header2)
#     ws.set_column('A:A',13)
#     ws.set_column('B:C',22,format_num)
#     ws.set_column('D:D',22,perc_format)
#     ws.set_column('E:F',15,format_qty)
#     ws.set_column('G:G',15,perc_format)
#     ws.insert_image('A1','Logo.png')
#     ws.hide_gridlines(2)
   
#     ws1=writer5.sheets['''Mark's Format''']
#     ws1.conditional_format(xlsxwriter.utility.xl_range(6,0,len(true_comps.T)+6,len(true_comps.T.columns)),
#                                   {'type': 'no_errors', 'format': border_format})
#     ws1.write(0,1,title,format_header2)
#     ws1.write(1,1,comp_text,format_header2)
#     ws1.write(2,1,comp_text1,format_header2)
#     ws1.write(3,1,comp_text2,format_header2)
#     ws1.write(4,1,comp_text3,format_header2)
#     ws1.set_column('A:ZZ',13)
#     ws1.write('A7','Week',a1)
#     ws1.set_column('A:A',22)
#     ws1.set_column('B:AZ',14)
#     ws1.set_row(7,None,format_num)
#     ws1.set_row(8,None,format_num)
#     ws1.set_row(9,None,perc_format)
#     ws1.set_row(10,None,format_qty)
#     ws1.set_row(11,None,format_qty)
#     ws1.set_row(12,None,perc_format)
#     ws1.insert_image('A1','Logo.png')
#     ws1.hide_gridlines(2)

In [73]:
data=data.merge(data3[['intStoreID','OriginalOpenDate']],on='intStoreID',how='left')
data['Open Year']=data.OriginalOpenDate.dt.year
data['Relo Year']=data.ReOpenDate.dt.year
data['Relo Year']=data['Relo Year'].fillna('')
data

,ShopID,intStoreID,ProductCode,ProdSizeCode,DiscountCode,Register,SalesQty,SalesMny,StartDate,EndDate,...,OpenDate,ReOpenDate,FC Initials,Franchisee,dteClosedForRelocation,DT,Days,OriginalOpenDate,Open Year,Relo Year
0,1,3817,1,5,126,1,49,146.51,2024-02-26,2024-03-03,...,1984-05-04,NaT,LG,David W. Thompson,NaT,No,0.0,1984-05-04,1984,
1,1,3817,1,5,126,1,69,206.31,2024-03-04,2024-03-10,...,1984-05-04,NaT,LG,David W. Thompson,NaT,No,0.0,1984-05-04,1984,
2,1,3817,1,7,126,1,78,348.84,2024-02-26,2024-03-03,...,1984-05-04,NaT,LG,David W. Thompson,NaT,No,0.0,1984-05-04,1984,
3,1,3817,1,7,126,1,127,578.34,2024-03-25,2024-03-31,...,1984-05-04,NaT,LG,David W. Thompson,NaT,No,0.0,1984-05-04,1984,
4,1,3817,1,7,126,1,216,985.05,2024-03-11,2024-03-17,...,1984-05-04,NaT,LG,David W. Thompson,NaT,No,0.0,1984-05-04,1984,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268699,20374,3844,33,214,126,1,1,9587.07,2025-02-03,2025-02-09,...,2005-08-20,NaT,LH,Angela Brock,NaT,No,0.0,2005-08-20,2005,
268700,20374,3844,33,214,126,1,1,10533.22,2024-01-01,2024-01-07,...,2005-08-20,NaT,LH,Angela Brock,NaT,No,0.0,2005-08-20,2005,
268701,20374,3844,33,214,126,1,1,11886.21,2025-01-20,2025-01-26,...,2005-08-20,NaT,LH,Angela Brock,NaT,No,0.0,2005-08-20,2005,
268702,20374,3844,33,214,126,1,1,12583.00,2024-03-25,2024-03-31,...,2005-08-20,NaT,LH,Angela Brock,NaT,No,0.0,2005-08-20,2005,
268703,20374,3844,33,214,126,1,1,16102.00,2024-03-04,2024-03-10,...,2005-08-20,NaT,LH,Angela Brock,NaT,No,0.0,2005-08-20,2005,

In [74]:
data.LegacyShopType.unique()

array(['Walk-up', 'Walk-in', 'Mall', 'Walk-in / Walk-up', 'Special Venue',
       'Mobile with POS', 'Fixed Standard', 'Mobile'], dtype=object)

In [75]:
shop_names=data[['ParentID','ShopName','OriginalOpenDate','Relo Year','State','DT',
                'LegacyShopType','FC Initials','Franchisee']].drop_duplicates(subset='ParentID',keep='first')

In [76]:
new_comps

Year,ParentID,Week,Month,Month_Name,2024 Total Sales,2025 Total Sales,2024 Total GC,2025 Total GC
0,1,9,3,March,4955.0000,2576.0475,386.0,188.0
1,1,10,3,March,7162.6956,7607.6580,613.0,607.0
2,1,11,3,March,17857.2470,14590.6977,1507.0,1189.0
3,1,12,3,March,9819.8516,15854.5115,944.0,1566.0
4,1,13,3,March,8951.7870,16834.4915,839.0,1237.0
...,...,...,...,...,...,...,...,...
21,1551,4,1,January,7186.3700,7814.4300,575.0,627.0
22,1551,5,2,February,7685.5000,11446.3000,615.0,862.0
23,1551,6,2,February,9590.2900,13112.0200,767.0,985.0
24,1551,7,2,February,7619.9500,11751.1200,609.0,838.0
25,1551,8,2,February,19514.5600,17267.8800,1561.0,1227.0

In [77]:
new_comps=new_comps\
.groupby(['ParentID'])[['2025 Total Sales','2024 Total Sales','2025 Total GC','2024 Total GC']].sum()
new_comps['YoY Total Comp Sales%']=new_comps['2025 Total Sales']/new_comps['2024 Total Sales']-1
new_comps['YoY Total Comp GC%']=new_comps['2025 Total GC']/new_comps['2024 Total GC']-1
new_comps['YTD 2025 YoY Comp Avg Check']=new_comps['2025 Total Sales']/new_comps['2025 Total GC']
new_comps['YTD 2024 YoY Comp Avg Check']=new_comps['2024 Total Sales']/new_comps['2024 Total GC']
new_comps['YoY Comp Avg Check%']=new_comps['YTD 2025 YoY Comp Avg Check']/new_comps['YTD 2024 YoY Comp Avg Check']-1
new_comps=new_comps.merge(shop_names,on='ParentID',how='left')
new_comps=new_comps.rename(columns={'2025 Total Sales':'YTD 2025 YoY Comp Sales','2024 Total Sales':'YTD 2024 YoY Comp Sales',
                                   'Total Sales%':'YoY Comp Sales%','2025 Total GC':'YTD 2025 YoY Comp GC','2024 Total GC':'YTD 2024 YoY Comp GC',
                                   'OriginalOpenDate':'Open Date'})
new_comps['Rank'] = new_comps['YTD 2025 YoY Comp Sales'].rank(method='dense', ascending=False).astype(int)

In [78]:
new_comps.info()
new_comps=new_comps.iloc[:,[18,0,10,13,16,17,11,12,14,15,1,2,5,3,4,6,7,8,9]].fillna('')
new_comps.loc[new_comps.LegacyShopType=='Walk-in / Walk-up','LegacyShopType']='WI/WU'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 518 entries, 0 to 517
Data columns (total 19 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ParentID                     518 non-null    int32
 1   YTD 2025 YoY Comp Sales      518 non-null    float64
 2   YTD 2024 YoY Comp Sales      518 non-null    float64
 3   YTD 2025 YoY Comp GC         518 non-null    float64
 4   YTD 2024 YoY Comp GC         518 non-null    float64
 5   YoY Total Comp Sales%        518 non-null    float64
 6   YoY Total Comp GC%           518 non-null    float64
 7   YTD 2025 YoY Comp Avg Check  507 non-null    float64
 8   YTD 2024 YoY Comp Avg Check  517 non-null    float64
 9   YoY Comp Avg Check%          506 non-null    float64
 10  ShopName                     518 non-null    object
 11  Open Date                    518 non-null    datetime64[ns]
 12  Relo Year                    518 non-null    object
 13  State                        518 non-null    object
 14  DT                           518 non-null    object
 15  LegacyShopType               518 non-null    object
 16  FC Initials                  518 non-null    object
 17  Franchisee                   518 non-null    object
 18  Rank                         518 non-null    int32
dtypes: datetime64[ns](1), float64(9), int32(2), object(7)
memory usage: 73.0+ KB

In [79]:
new_comps=new_comps.sort_values(by='Rank')
new_comps=new_comps.replace([np.inf,-np.inf],0)

In [80]:
new_comps.iloc[:,10:]=new_comps.iloc[:,10:].replace({'':0})

C:\Users\jharned\AppData\Local\Temp\ipykernel_5928\1077013633.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  new_comps.iloc[:,10:]=new_comps.iloc[:,10:].replace({'':0})

In [81]:
new_comps.iloc[:,10:].sum(axis=0)

YTD 2025 YoY Comp Sales        24912039.1647
YTD 2024 YoY Comp Sales        24738908.9869
YoY Total Comp Sales%              18.977514
YTD 2025 YoY Comp GC               2217287.0
YTD 2024 YoY Comp GC               2285619.0
YoY Total Comp GC%               1839.719688
YTD 2025 YoY Comp Avg Check      5646.661688
YTD 2024 YoY Comp Avg Check      5538.314904
YoY Comp Avg Check%                24.281354
dtype: object

In [82]:
summary=pd.DataFrame({'':['YTD Comp Sales','YTD Comp GC','YTD Comp Avg.Check'],
              'YTD 2025':[
                  new_comps['YTD 2025 YoY Comp Sales'].sum(),
                  new_comps['YTD 2025 YoY Comp GC'].sum(),
                  new_comps['YTD 2025 YoY Comp Sales'].sum()/new_comps['YTD 2025 YoY Comp GC'].sum()],
              'YTD 2024':[
                  new_comps['YTD 2024 YoY Comp Sales'].sum(),
                  new_comps['YTD 2024 YoY Comp GC'].sum(),
                  new_comps['YTD 2024 YoY Comp Sales'].sum()/new_comps['YTD 2024 YoY Comp GC'].sum()
              ],
              '%':[
                  new_comps['YTD 2025 YoY Comp Sales'].sum()/new_comps['YTD 2024 YoY Comp Sales'].sum()-1,
                  new_comps['YTD 2025 YoY Comp GC'].sum()/new_comps['YTD 2024 YoY Comp GC'].sum()-1,
                  ((new_comps['YTD 2025 YoY Comp Sales'].sum()/new_comps['YTD 2025 YoY Comp GC'].sum())/(new_comps['YTD 2024 YoY Comp Sales'].sum()/new_comps['YTD 2024 YoY Comp GC'].sum())-1)
                  
              ]
    
    
})

In [83]:
summary

                           YTD 2025      YTD 2024         %
0      YTD Comp Sales  2.491204e+07  2.473891e+07  0.006998
1         YTD Comp GC  2.217287e+06  2.285619e+06 -0.029896
2  YTD Comp Avg.Check  1.123537e+01  1.082372e+01  0.038032

In [84]:
for_weekly_comps[for_weekly_comps.ParentID==1551]

Year,ParentID,Week,Month,Month_Name,2024 Total Sales,2025 Total Sales,2024 Total GC,2025 Total GC
21,1551,4,1,January,7186.37,7814.43,575.0,627.0
22,1551,5,2,February,7685.50,11446.30,615.0,862.0
23,1551,6,2,February,9590.29,13112.02,767.0,985.0
24,1551,7,2,February,7619.95,11751.12,609.0,838.0
25,1551,8,2,February,19514.56,17267.88,1561.0,1227.0

In [85]:
weekly_comps=for_weekly_comps.pivot_table(index='ParentID',columns='Week',values='2025 Total Sales',
                                                        aggfunc='sum',fill_value=0,margins=True)
weekly_comps=weekly_comps.iloc[:-1,]
new_weekly_comps=weekly_comps.merge(shop_names,on='ParentID',how='left')
new_weekly_comps['Rank'] = new_weekly_comps['All'].rank(method='dense', ascending=False).astype(int)
new_weekly_comps = new_weekly_comps.rename(columns=lambda x: f'2025 Week {x}' if isinstance(x, (int, float)) else x)

In [86]:
new_weekly_comps

,ParentID,2025 Week 1,2025 Week 2,2025 Week 3,2025 Week 4,2025 Week 5,2025 Week 6,2025 Week 7,2025 Week 8,2025 Week 9,...,All,ShopName,OriginalOpenDate,Relo Year,State,DT,LegacyShopType,FC Initials,Franchisee,Rank
0,1,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0000,2576.0475,...,57463.4062,1227 Bristol Pk-Andalusia PA,1984-05-04,,PA,No,Walk-up,LG,David W. Thompson,143
1,2,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0000,6860.2255,...,76407.6060,3244 Red Lion Rd-Phila PA,1987-04-01,,PA,No,Walk-up,LG,Annmarie Brown,72
2,3,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0000,4374.7750,...,50709.8970,5901 Rising Sun Ave-Phila PA,1988-06-01,,PA,No,Walk-up,LG,"John J. Hamburg, Jr.",184
3,4,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0000,1479.1595,...,30923.4365,Pine Valley,1990-04-06,,PA,No,Walk-up,LG,Jordan L. Kasner,379
4,6,0.00,0.00,0.00,0.00,0.00,0.00,0.00,2264.9475,8527.5335,...,64163.5830,Rhawn Street,1990-06-21,,PA,No,Walk-up,LG,Jordan L. Kasner,106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
513,1530,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0000,40.9500,...,9536.6400,419 W Baltimore St-Baltimore MD,2023-08-16,,MD,No,Walk-in / Walk-up,LH,Albert D. Holley III,496
514,1534,10135.78,12893.40,9892.00,6132.88,11447.02,5578.80,11791.76,14444.9800,0.0000,...,82316.6200,500 SeaWorld Dr-San Diego CA,2023-06-27,,CA,No,Special Venue,PG,RFC,57
515,1551,0.00,0.00,0.00,7814.43,11446.30,13112.02,11751.12,17267.8800,0.0000,...,61391.7500,10165 McKinley Dr-Tampa Bay FL,2024-01-26,,FL,No,Special Venue,PG,RFC,123
516,1552,25183.06,8737.09,12941.69,10332.81,19700.80,21228.67,26701.91,27742.1000,0.0000,...,152568.1300,7007 SeaWorld Dr-Orlando FL,2023-12-15,,FL,No,Special Venue,PG,RFC,4
517,1568,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0000,0.0000,...,0.0000,1 Lincoln Financial Way-Phila PA,2023-05-06,,PA,No,Special Venue,LG,John Thain,508

In [87]:
weekly_comps=for_weekly_comps.pivot_table(index='ParentID',columns='Week',values='2024 Total Sales',
                                                        aggfunc='sum',fill_value=0,margins=True)
weekly_comps=weekly_comps.iloc[:-1,]
old_weekly_comps=weekly_comps.merge(shop_names,on='ParentID',how='left')
old_weekly_comps['Rank'] = old_weekly_comps['All'].rank(method='dense', ascending=False).astype(int)
old_weekly_comps = old_weekly_comps.rename(columns=lambda x: f'2024 Week {x}' if isinstance(x, (int, float)) else x)

In [88]:
new_weekly_comps=new_weekly_comps.iloc[:,np.r_[-1,0,-9,-6,-3,-2,-8,-7,-5,-4,1:len(new_weekly_comps.columns)-9]]
new_weekly_comps.loc[new_weekly_comps.LegacyShopType=='Walk-in / Walk-up','LegacyShopType']='WI/WU'
new_weekly_comps=new_weekly_comps.rename(columns={'OriginalOpenDate':'Open Date','All':'YTD 2025 Comp Sales'})
new_weekly_comps=new_weekly_comps.sort_values(by='Rank')
ytd_row = pd.DataFrame(new_weekly_comps.iloc[:, 10:].sum()).T
ytd_row.insert(0, 'LegacyShopType', ' Weekly Totals')  # Adjust column name as needed
new_weekly_comps = pd.concat([new_weekly_comps, ytd_row], ignore_index=True)
new_weekly_comps=new_weekly_comps.fillna('')
new_weekly_comps

,Rank,ParentID,ShopName,State,FC Initials,Franchisee,Open Date,Relo Year,DT,LegacyShopType,...,2025 Week 5,2025 Week 6,2025 Week 7,2025 Week 8,2025 Week 9,2025 Week 10,2025 Week 11,2025 Week 12,2025 Week 13,YTD 2025 Comp Sales
0,1.0,374,Rhode Island Avenue,DC,LH,Angela Brock,2005-08-20,,No,Walk-up,...,26307.1800,43416.8600,9301.1000,0.0000,1.827255e+03,6.265395e+03,11372.360,1.838680e+04,2.051741e+04,3.446289e+05
1,2.0,463,681 River Ave-Lakewood NJ,NJ,PG,Elliot Bohm,2007-03-02,,No,WI/WU,...,16869.0000,13551.7200,12712.9700,15878.5000,1.957453e+04,1.676466e+04,20679.530,1.601005e+04,1.887140e+04,2.005219e+05
2,3.0,836,1575 Pine Ridge Rd-Naples FL,FL,JS,Jason L. Gibson,2010-04-29,2019.0,Yes,Walk-in,...,10608.2300,11794.0750,14586.0050,13245.9840,1.381590e+04,1.617440e+04,13566.581,1.811160e+04,1.500795e+04,1.662587e+05
3,4.0,1552,7007 SeaWorld Dr-Orlando FL,FL,PG,RFC,2023-12-15,,No,Special Venue,...,19700.8000,21228.6700,26701.9100,27742.1000,0.000000e+00,0.000000e+00,0.000,0.000000e+00,0.000000e+00,1.525681e+05
4,5.0,1065,11134 Palms Blvd.-Los Angeles CA,CA,JM,Nasir Awan,2014-07-25,2023.0,No,Walk-in,...,11043.8775,10726.1415,10649.3025,12734.5310,1.257355e+04,1.034453e+04,12579.316,1.539768e+04,1.309198e+04,1.477067e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
514,508.0,1348,1050 Ironpigs Way-Allentown PA,PA,TT,Gregory J. Rhoads,2017-04-07,,No,Special Venue,...,0.0000,0.0000,0.0000,0.0000,0.000000e+00,0.000000e+00,0.000,0.000000e+00,0.000000e+00,0.000000e+00
515,508.0,887,Six Flags America-Mitchellville MD,MD,JT,Ramar Vaughan,2012-04-05,,No,Special Venue,...,0.0000,0.0000,0.0000,0.0000,0.000000e+00,0.000000e+00,0.000,0.000000e+00,0.000000e+00,0.000000e+00
516,508.0,9,902 Boardwalk-Ocean City NJ,NJ,JD,Christopher R. Tate,1991-05-01,,No,Walk-up,...,0.0000,0.0000,0.0000,0.0000,0.000000e+00,0.000000e+00,0.000,0.000000e+00,0.000000e+00,0.000000e+00
517,508.0,1568,1 Lincoln Financial Way-Phila PA,PA,LG,John Thain,2023-05-06,,No,Special Venue,...,0.0000,0.0000,0.0000,0.0000,0.000000e+00,0.000000e+00,0.000,0.000000e+00,0.000000e+00,0.000000e+00
518,,,,,,,NaT,,,Weekly Totals,...,573552.6534,639371.6266,621142.6427,899727.3248,1.910759e+06,2.716200e+06,4792704.729,5.426107e+06,5.486894e+06,2.491204e+07

In [89]:
old_weekly_comps=old_weekly_comps.iloc[:,np.r_[-1,0,-9,-6,-3,-2,-8,-7,-5,-4,1:len(old_weekly_comps.columns)-9]]
old_weekly_comps.loc[old_weekly_comps.LegacyShopType=='Walk-in / Walk-up','LegacyShopType']='WI/WU'
old_weekly_comps=old_weekly_comps.rename(columns={'OriginalOpenDate':'Open Date','All':'YTD 2024 Comp Sales'})
old_weekly_comps=old_weekly_comps.sort_values(by='Rank')
ytd_row = pd.DataFrame(old_weekly_comps.iloc[:, 10:].sum()).T
ytd_row.insert(0, 'LegacyShopType', ' Weekly Totals')  # Adjust column name as needed
old_weekly_comps = pd.concat([old_weekly_comps, ytd_row], ignore_index=True)
old_weekly_comps=old_weekly_comps.fillna('')
old_weekly_comps

,Rank,ParentID,ShopName,State,FC Initials,Franchisee,Open Date,Relo Year,DT,LegacyShopType,...,2024 Week 5,2024 Week 6,2024 Week 7,2024 Week 8,2024 Week 9,2024 Week 10,2024 Week 11,2024 Week 12,2024 Week 13,YTD 2024 Comp Sales
0,1.0,374,Rhode Island Avenue,DC,LH,Angela Brock,2005-08-20,,No,Walk-up,...,22785.0000,23266.0000,21247.0000,1.855300e+04,1.981469e+04,5.891726e+04,6.446212e+04,2.723592e+04,5.832435e+04,4.370434e+05
1,2.0,1552,7007 SeaWorld Dr-Orlando FL,FL,PG,RFC,2023-12-15,,No,Special Venue,...,13389.5800,14944.2100,12714.2500,2.534637e+04,1.964566e+04,2.992183e+04,4.725234e+04,3.900058e+04,6.342184e+04,3.191013e+05
2,3.0,463,681 River Ave-Lakewood NJ,NJ,PG,Elliot Bohm,2007-03-02,,No,WI/WU,...,15278.4800,25210.8400,18900.2800,1.886614e+04,3.560023e+04,2.123234e+04,2.744995e+04,2.033080e+04,2.087332e+04,2.584765e+05
3,4.0,445,5308 Princess Anne Rd-Virginia Beach VA,VA,FBC,Erica A. Terminello,2006-09-10,2023.0,Yes,Walk-up,...,8825.5790,7823.5590,13132.4760,6.632335e+03,3.091311e+04,2.451324e+04,1.858647e+04,1.796590e+04,1.195689e+04,1.900503e+05
4,5.0,1534,500 SeaWorld Dr-San Diego CA,CA,PG,RFC,2023-06-27,,No,Special Venue,...,6781.6000,6704.8600,14527.3900,1.662222e+04,9.747810e+03,1.379152e+04,2.104864e+04,1.761602e+04,2.062573e+04,1.633465e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
514,515.0,689,Inner Harbor,MD,LH,Albert D. Holley III,2008-06-13,,No,Walk-up,...,0.0000,0.0000,0.0000,0.000000e+00,1.158500e+02,0.000000e+00,6.007300e+02,0.000000e+00,2.430100e+02,9.595900e+02
515,516.0,9,902 Boardwalk-Ocean City NJ,NJ,JD,Christopher R. Tate,1991-05-01,,No,Walk-up,...,0.0000,0.0000,0.0000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,8.763900e+02,8.763900e+02
516,517.0,1212,8789 North St-Fishers IN,IN,JToo,Steven L. Wilkos,2023-04-20,2024.0,No,Walk-up,...,0.0000,0.0000,0.0000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
517,517.0,403,Mahwah,NJ,LW,Karen Passarelli,2006-05-05,,No,Walk-in,...,0.0000,0.0000,0.0000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
518,,,,,,,NaT,,,Weekly Totals,...,542786.0228,644330.9206,725115.6227,1.261062e+06,2.758222e+06,2.982086e+06,6.004411e+06,3.920465e+06,4.048719e+06,2.473891e+07

In [90]:
# old_weekly_comps.to_excel('2024 Comp Shops By Week.xlsx',index=False)

In [91]:
lc_comps=data[(data.ParentID.isin(new_comps.ParentID))&(data.Week<=this_week)].pivot_table(index='ParentID',columns=['Week','Year'],values='SalesMny',
                                                        aggfunc='sum',fill_value=0)
lc_comps.columns = [f'Week {week} {year} YoY Comp Sales' for week, year in lc_comps.columns]
lc_comps_sales_week=lc_comps.iloc[:,-2:].reset_index()

In [92]:
old_lc=lc_comps_sales_week[lc_comps_sales_week.ParentID.isin(old_shops.ParentID)]
new_lc=lc_comps_sales_week[(lc_comps_sales_week.ParentID.isin(shops_24.ParentID))&(lc_comps_sales_week.iloc[:,1]>0)&(lc_comps_sales_week.iloc[:,2]>0)]
lc_comps_sales_week=pd.concat([old_lc,new_lc])

In [93]:
lc_gc=gc[(gc.Week<=this_week)&(gc.ParentID.isin(new_comps.ParentID))].pivot_table(index='ParentID',columns=['Week','Year'],
                                  values='Guest_Count',aggfunc='sum',fill_value=0)
lc_gc.columns=[f'Week {week} {year} YoY Comp GC' for week,year in lc_gc.columns]
lc_gc_comps=lc_gc.iloc[:,-2:].reset_index()
lc_gc_comps

     ParentID  Week 13 2024 YoY Comp GC  Week 13 2025 YoY Comp GC
0           1                       839                      1237
1           2                      1261                      1652
2           3                       660                       992
3           4                       592                       723
4           6                       934                      1374
..        ...                       ...                       ...
513      1530                       193                       382
514      1534                      1650                         0
515      1551                      1948                         0
516      1552                      5074                         0
517      1568                         0                         0

[518 rows x 3 columns]

In [94]:
old_gc=lc_gc_comps[lc_gc_comps.ParentID.isin(old_shops.ParentID)]
new_gc=lc_gc_comps[(lc_gc_comps.ParentID.isin(shops_24.ParentID))&(lc_gc_comps.iloc[:,1]>0)&(lc_gc_comps.iloc[:,2]>0)]
lc_gc_comps=pd.concat([old_gc,new_gc])

In [95]:
lc_weekly=new_comps.merge(lc_comps_sales_week,on='ParentID',how='left').merge(lc_gc_comps,on='ParentID',how='left',suffixes=[' Comp Sales',' Comp GC'])
lc_weekly['Week '+str(this_week)+' YoY Comp Sales%']=lc_weekly.iloc[:,-3]/lc_weekly.iloc[:,-4]-1
lc_weekly['Week '+str(this_week)+' YoY Comp GC%']=lc_weekly.iloc[:,-2]/lc_weekly.iloc[:,-3]-1
lc_weekly=lc_weekly.replace([np.inf,-np.inf,np.NaN],0)
lc_weekly.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 518 entries, 0 to 517
Data columns (total 25 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Rank                         518 non-null    int32
 1   ParentID                     518 non-null    int32
 2   ShopName                     518 non-null    object
 3   State                        518 non-null    object
 4   FC Initials                  518 non-null    object
 5   Franchisee                   518 non-null    object
 6   Open Date                    518 non-null    datetime64[ns]
 7   Relo Year                    518 non-null    object
 8   DT                           518 non-null    object
 9   LegacyShopType               518 non-null    object
 10  YTD 2025 YoY Comp Sales      518 non-null    float64
 11  YTD 2024 YoY Comp Sales      518 non-null    float64
 12  YoY Total Comp Sales%        518 non-null    float64
 13  YTD 2025 YoY Comp GC         518 non-null    float64
 14  YTD 2024 YoY Comp GC         518 non-null    float64
 15  YoY Total Comp GC%           518 non-null    float64
 16  YTD 2025 YoY Comp Avg Check  518 non-null    float64
 17  YTD 2024 YoY Comp Avg Check  518 non-null    float64
 18  YoY Comp Avg Check%          518 non-null    float64
 19  Week 13 2024 YoY Comp Sales  518 non-null    float64
 20  Week 13 2025 YoY Comp Sales  518 non-null    float64
 21  Week 13 2024 YoY Comp GC     518 non-null    float64
 22  Week 13 2025 YoY Comp GC     518 non-null    float64
 23  Week 13 YoY Comp Sales%      518 non-null    float64
 24  Week 13 YoY Comp GC%         518 non-null    float64
dtypes: datetime64[ns](1), float64(15), int32(2), object(7)
memory usage: 97.2+ KB

C:\Users\jharned\AppData\Local\Temp\ipykernel_5928\2119236949.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  lc_weekly=lc_weekly.replace([np.inf,-np.inf,np.NaN],0)

In [96]:
lc_weekly=lc_weekly.iloc[:,np.r_[0:10,20,19,23,22,21,24,10:16]]
lc_weekly

,Rank,ParentID,ShopName,State,FC Initials,Franchisee,Open Date,Relo Year,DT,LegacyShopType,...,Week 13 YoY Comp Sales%,Week 13 2025 YoY Comp GC,Week 13 2024 YoY Comp GC,Week 13 YoY Comp GC%,YTD 2025 YoY Comp Sales,YTD 2024 YoY Comp Sales,YoY Total Comp Sales%,YTD 2025 YoY Comp GC,YTD 2024 YoY Comp GC,YoY Total Comp GC%
0,1,374,Rhode Island Avenue,DC,LH,Angela Brock,2005-08-20,,No,Walk-up,...,-0.648219,1453.0,933.0,0.557342,344628.9045,437043.4000,-0.211454,4812.0,4441.0,0.083540
1,2,463,681 River Ave-Lakewood NJ,NJ,PG,Elliot Bohm,2007-03-02,,No,WI/WU,...,-0.095908,1424.0,1571.0,-0.093571,200521.8800,258476.4800,-0.224216,16509.0,20376.0,-0.189782
2,3,836,1575 Pine Ridge Rd-Naples FL,FL,JS,Jason L. Gibson,2010-04-29,2019.0,Yes,Walk-in,...,-0.018647,1197.0,1330.0,-0.100000,166258.7185,141265.2110,0.176926,14563.0,13392.0,0.087440
3,4,1552,7007 SeaWorld Dr-Orlando FL,FL,PG,RFC,2023-12-15,,No,Special Venue,...,-1.000000,0.0,5074.0,-1.000000,152568.1300,319101.2800,-0.521882,10443.0,25986.0,-0.598130
4,5,1065,11134 Palms Blvd.-Los Angeles CA,CA,JM,Nasir Awan,2014-07-25,2023.0,No,Walk-in,...,0.208796,731.0,960.0,-0.238542,147706.7230,124928.8703,0.182327,10156.0,10368.0,-0.020448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
513,508,689,Inner Harbor,MD,LH,Albert D. Holley III,2008-06-13,,No,Walk-up,...,-1.000000,0.0,20.0,-1.000000,0.0000,959.5900,-1.000000,0.0,86.0,-1.000000
514,508,1348,1050 Ironpigs Way-Allentown PA,PA,TT,Gregory J. Rhoads,2017-04-07,,No,Special Venue,...,-1.000000,0.0,180.0,-1.000000,0.0000,1906.5700,-1.000000,0.0,180.0,-1.000000
515,508,887,Six Flags America-Mitchellville MD,MD,JT,Ramar Vaughan,2012-04-05,,No,Special Venue,...,-1.000000,0.0,342.0,-1.000000,0.0000,2174.3700,-1.000000,0.0,360.0,-1.000000
516,508,9,902 Boardwalk-Ocean City NJ,NJ,JD,Christopher R. Tate,1991-05-01,,No,Walk-up,...,-1.000000,0.0,104.0,-1.000000,0.0000,876.3900,-1.000000,0.0,104.0,-1.000000
517,508,1568,1 Lincoln Financial Way-Phila PA,PA,LG,John Thain,2023-05-06,,No,Special Venue,...,0.000000,0.0,0.0,0.000000,0.0000,1886.0000,-1.000000,0.0,150.0,-1.000000

In [97]:
week_summary=pd.DataFrame({'':['Week '+str(this_week)+' YoY Comp Sales','Week '+str(this_week)+' YoY Comp GC','Week '+str(this_week)+' YoY Comp Avg.Check'],
              'Week ' +str(this_week)+' 2025':[
                  lc_weekly.iloc[:,10].sum(),
                  lc_weekly.iloc[:,13].sum(),
                  lc_weekly.iloc[:,10].sum()/lc_weekly.iloc[:,13].sum()],
              'Week ' +str(this_week)+' 2024':[
                  lc_weekly.iloc[:,11].sum(),
                  lc_weekly.iloc[:,14].sum(),
                  lc_weekly.iloc[:,11].sum()/lc_weekly.iloc[:,14].sum()
              ],
              '%':[
                  lc_weekly.iloc[:,10].sum()/lc_weekly.iloc[:,11].sum()-1,
                  lc_weekly.iloc[:,13].sum()/lc_weekly.iloc[:,14].sum()-1,
                  ((lc_weekly.iloc[:,10].sum()/lc_weekly.iloc[:,13].sum())/(lc_weekly.iloc[:,11].sum()/lc_weekly.iloc[:,14].sum())-1)
                  
              ]
    
    
})

In [98]:
lc_weekly

,Rank,ParentID,ShopName,State,FC Initials,Franchisee,Open Date,Relo Year,DT,LegacyShopType,...,Week 13 YoY Comp Sales%,Week 13 2025 YoY Comp GC,Week 13 2024 YoY Comp GC,Week 13 YoY Comp GC%,YTD 2025 YoY Comp Sales,YTD 2024 YoY Comp Sales,YoY Total Comp Sales%,YTD 2025 YoY Comp GC,YTD 2024 YoY Comp GC,YoY Total Comp GC%
0,1,374,Rhode Island Avenue,DC,LH,Angela Brock,2005-08-20,,No,Walk-up,...,-0.648219,1453.0,933.0,0.557342,344628.9045,437043.4000,-0.211454,4812.0,4441.0,0.083540
1,2,463,681 River Ave-Lakewood NJ,NJ,PG,Elliot Bohm,2007-03-02,,No,WI/WU,...,-0.095908,1424.0,1571.0,-0.093571,200521.8800,258476.4800,-0.224216,16509.0,20376.0,-0.189782
2,3,836,1575 Pine Ridge Rd-Naples FL,FL,JS,Jason L. Gibson,2010-04-29,2019.0,Yes,Walk-in,...,-0.018647,1197.0,1330.0,-0.100000,166258.7185,141265.2110,0.176926,14563.0,13392.0,0.087440
3,4,1552,7007 SeaWorld Dr-Orlando FL,FL,PG,RFC,2023-12-15,,No,Special Venue,...,-1.000000,0.0,5074.0,-1.000000,152568.1300,319101.2800,-0.521882,10443.0,25986.0,-0.598130
4,5,1065,11134 Palms Blvd.-Los Angeles CA,CA,JM,Nasir Awan,2014-07-25,2023.0,No,Walk-in,...,0.208796,731.0,960.0,-0.238542,147706.7230,124928.8703,0.182327,10156.0,10368.0,-0.020448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
513,508,689,Inner Harbor,MD,LH,Albert D. Holley III,2008-06-13,,No,Walk-up,...,-1.000000,0.0,20.0,-1.000000,0.0000,959.5900,-1.000000,0.0,86.0,-1.000000
514,508,1348,1050 Ironpigs Way-Allentown PA,PA,TT,Gregory J. Rhoads,2017-04-07,,No,Special Venue,...,-1.000000,0.0,180.0,-1.000000,0.0000,1906.5700,-1.000000,0.0,180.0,-1.000000
515,508,887,Six Flags America-Mitchellville MD,MD,JT,Ramar Vaughan,2012-04-05,,No,Special Venue,...,-1.000000,0.0,342.0,-1.000000,0.0000,2174.3700,-1.000000,0.0,360.0,-1.000000
516,508,9,902 Boardwalk-Ocean City NJ,NJ,JD,Christopher R. Tate,1991-05-01,,No,Walk-up,...,-1.000000,0.0,104.0,-1.000000,0.0000,876.3900,-1.000000,0.0,104.0,-1.000000
517,508,1568,1 Lincoln Financial Way-Phila PA,PA,LG,John Thain,2023-05-06,,No,Special Venue,...,0.000000,0.0,0.0,0.000000,0.0000,1886.0000,-1.000000,0.0,150.0,-1.000000

In [99]:
directors=lc_weekly.merge(ops[['ParentID','Director']],on='ParentID',how='left')
directors.loc[directors['Director'].isna(),'Director']='No Director'
week_ytd_cols = [col for col in directors.columns if "Week" in col or "YTD" in col]
director_group = directors.groupby('Director')[week_ytd_cols].sum().reset_index()
drop_cols = [col for col in director_group.columns if "%" in col]
director_group=director_group.drop(columns=drop_cols,axis=1)
ytd_row = pd.DataFrame(director_group.iloc[:, 1:].sum()).T
ytd_row.insert(0, 'Director', 'Totals')  # Adjust column name as needed
director_group = pd.concat([director_group, ytd_row], ignore_index=True)
director_group=director_group.fillna('')
director_group['Week '+str(this_week)+' YoY Comp Sales%']=director_group.iloc[:,1]/director_group.iloc[:,2]-1 
director_group['Week '+str(this_week)+' YoY Comp GC%']=director_group.iloc[:,3]/director_group.iloc[:,4]-1 
director_group['YoY Comp Sales%']=director_group.iloc[:,5]/director_group.iloc[:,6]-1 
director_group['YoY Comp GC%']=director_group.iloc[:,7]/director_group.iloc[:,8]-1 
director_group.info()
director_group=director_group.iloc[:,[0,1,2,9,3,4,10,5,6,11,7,8,12]]
director_group

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Director                     5 non-null      object
 1   Week 13 2025 YoY Comp Sales  5 non-null      float64
 2   Week 13 2024 YoY Comp Sales  5 non-null      float64
 3   Week 13 2025 YoY Comp GC     5 non-null      float64
 4   Week 13 2024 YoY Comp GC     5 non-null      float64
 5   YTD 2025 YoY Comp Sales      5 non-null      float64
 6   YTD 2024 YoY Comp Sales      5 non-null      float64
 7   YTD 2025 YoY Comp GC         5 non-null      float64
 8   YTD 2024 YoY Comp GC         5 non-null      float64
 9   Week 13 YoY Comp Sales%      5 non-null      float64
 10  Week 13 YoY Comp GC%         5 non-null      float64
 11  YoY Comp Sales%              5 non-null      float64
 12  YoY Comp GC%                 5 non-null      float64
dtypes: float64(12), object(1)
memory usage: 648.0+ bytes

,Director,Week 13 2025 YoY Comp Sales,Week 13 2024 YoY Comp Sales,Week 13 YoY Comp Sales%,Week 13 2025 YoY Comp GC,Week 13 2024 YoY Comp GC,Week 13 YoY Comp GC%,YTD 2025 YoY Comp Sales,YTD 2024 YoY Comp Sales,YoY Comp Sales%,YTD 2025 YoY Comp GC,YTD 2024 YoY Comp GC,YoY Comp GC%
0,Dave Roemer,1.781477e+06,1.354183e+06,0.315537,149323.0,121253.0,0.231499,7.836754e+06,7.808019e+06,0.003680,700117.0,709966.0,-0.013872
1,John D'Allesandro,2.384269e+06,1.545870e+06,0.542347,194016.0,142199.0,0.364398,9.027213e+06,8.595316e+06,0.050248,818707.0,821642.0,-0.003572
2,No Director,3.263596e+04,2.268260e+04,0.438810,2593.0,2050.0,0.264878,1.176666e+05,1.102966e+05,0.066820,10793.0,10389.0,0.038887
3,Paul Greenberg,1.288512e+06,1.125984e+06,0.144343,102994.0,97859.0,0.052473,7.930405e+06,8.225277e+06,-0.035849,687670.0,743622.0,-0.075243
4,Totals,5.486894e+06,4.048719e+06,0.355217,448926.0,363361.0,0.235482,2.491204e+07,2.473891e+07,0.006998,2217287.0,2285619.0,-0.029896

In [100]:
week_ytd_cols = [col for col in lc_weekly.columns if "Week" in col or "YTD" in col]


fc_group = lc_weekly.groupby("FC Initials")[week_ytd_cols].sum().reset_index()
drop_cols = [col for col in fc_group.columns if "%" in col]
fc_group=fc_group.drop(columns=drop_cols,axis=1)

ytd_row = pd.DataFrame(fc_group.iloc[:, 1:].sum()).T
ytd_row.insert(0, 'FC Initials', 'Totals')  # Adjust column name as needed
fc_group = pd.concat([fc_group, ytd_row], ignore_index=True)
fc_group=fc_group.fillna('')

fc_group['Week '+str(this_week)+' YoY Comp Sales%']=fc_group.iloc[:,1]/fc_group.iloc[:,2]-1 
fc_group['Week '+str(this_week)+' YoY Comp GC%']=fc_group.iloc[:,3]/fc_group.iloc[:,4]-1 
fc_group['YoY Comp Sales%']=fc_group.iloc[:,5]/fc_group.iloc[:,6]-1 
fc_group['YoY Comp GC%']=fc_group.iloc[:,7]/fc_group.iloc[:,8]-1 
fc_group.info()
fc_group=fc_group.iloc[:,[0,1,2,9,3,4,10,5,6,11,7,8,12]]
fc_group

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   FC Initials                  16 non-null     object
 1   Week 13 2025 YoY Comp Sales  16 non-null     float64
 2   Week 13 2024 YoY Comp Sales  16 non-null     float64
 3   Week 13 2025 YoY Comp GC     16 non-null     float64
 4   Week 13 2024 YoY Comp GC     16 non-null     float64
 5   YTD 2025 YoY Comp Sales      16 non-null     float64
 6   YTD 2024 YoY Comp Sales      16 non-null     float64
 7   YTD 2025 YoY Comp GC         16 non-null     float64
 8   YTD 2024 YoY Comp GC         16 non-null     float64
 9   Week 13 YoY Comp Sales%      16 non-null     float64
 10  Week 13 YoY Comp GC%         16 non-null     float64
 11  YoY Comp Sales%              16 non-null     float64
 12  YoY Comp GC%                 16 non-null     float64
dtypes: float64(12), object(1)
memory usage: 1.8+ KB

,FC Initials,Week 13 2025 YoY Comp Sales,Week 13 2024 YoY Comp Sales,Week 13 YoY Comp Sales%,Week 13 2025 YoY Comp GC,Week 13 2024 YoY Comp GC,Week 13 YoY Comp GC%,YTD 2025 YoY Comp Sales,YTD 2024 YoY Comp Sales,YoY Comp Sales%,YTD 2025 YoY Comp GC,YTD 2024 YoY Comp GC,YoY Comp GC%
0,DL,5.861388e+05,3.632899e+05,0.613419,50201.0,35576.0,0.411092,2.088710e+06,1.972276e+06,0.059036,198386.0,199995.0,-0.008045
1,DR,1.729251e+05,1.358332e+05,0.273070,13453.0,11896.0,0.130884,8.488274e+05,9.165910e+05,-0.073930,75277.0,84426.0,-0.108367
2,EL,5.197783e+05,3.228837e+05,0.609800,40440.0,28866.0,0.400956,1.992894e+06,1.890518e+06,0.054153,170696.0,174490.0,-0.021743
3,FBC,2.483696e+05,2.556867e+05,-0.028618,21481.0,21853.0,-0.017023,1.366803e+06,1.507197e+06,-0.093149,126948.0,134713.0,-0.057641
4,JD,2.235924e+05,1.619611e+05,0.380532,17041.0,14023.0,0.215218,8.744674e+05,8.947184e+05,-0.022634,74212.0,78885.0,-0.059238
5,JF,1.893225e+05,1.291353e+05,0.466078,14876.0,11702.0,0.271236,7.800062e+05,7.376856e+05,0.057370,68792.0,70073.0,-0.018281
6,JM,2.157465e+05,1.766804e+05,0.221112,14964.0,13211.0,0.132692,1.716589e+06,1.630251e+06,0.052960,131435.0,128885.0,0.019785
7,JS,2.907602e+05,3.196788e+05,-0.090461,24915.0,28176.0,-0.115737,2.585623e+06,2.785241e+06,-0.071670,236884.0,264641.0,-0.104885
8,JT,6.205849e+05,3.771052e+05,0.645655,52242.0,35311.0,0.479482,2.304222e+06,2.100139e+06,0.097176,215573.0,206017.0,0.046385
9,JToo,2.847500e+05,2.196459e+05,0.296405,25041.0,22102.0,0.132974,1.306365e+06,1.199518e+06,0.089075,126736.0,121497.0,0.043120
10,LG,4.847233e+05,3.289565e+05,0.473518,40523.0,31076.0,0.303997,1.875289e+06,1.766371e+06,0.061662,175127.0,173887.0,0.007131
11,LH,5.389033e+05,3.881095e+05,0.388534,44806.0,31402.0,0.426852,2.198691e+06,2.174427e+06,0.011159,179943.0,176589.0,0.018993
12,LW,4.536912e+05,3.353218e+05,0.353002,35629.0,29742.0,0.197936,1.837623e+06,1.813502e+06,0.013301,166330.0,169444.0,-0.018378
13,PG,1.130664e+05,1.749253e+05,-0.353630,8084.0,13976.0,-0.421580,9.885346e+05,1.321459e+06,-0.251937,76750.0,107446.0,-0.285688
14,TT,5.445411e+05,3.595057e+05,0.514694,45230.0,34449.0,0.312955,2.147392e+06,2.029016e+06,0.058342,194198.0,194631.0,-0.002225
15,Totals,5.486894e+06,4.048719e+06,0.355217,448926.0,363361.0,0.235482,2.491204e+07,2.473891e+07,0.006998,2217287.0,2285619.0,-0.029896

# Sales By Category for YoY Comps

In [101]:
for_weekly_comps[for_weekly_comps.ParentID==1390]

Year,ParentID,Week,Month,Month_Name,2024 Total Sales,2025 Total Sales,2024 Total GC,2025 Total GC
3211,1390,1,1,January,549.6990,49.1000,81.0,14.0
3212,1390,2,1,January,577.2810,66.4120,94.0,8.0
3213,1390,3,1,January,568.5250,65.7050,92.0,11.0
3214,1390,4,1,January,998.5410,126.4650,176.0,15.0
3215,1390,5,2,February,1096.6460,76.0300,184.0,12.0
3216,1390,6,2,February,1543.4910,59.2700,255.0,11.0
3217,1390,7,2,February,974.5740,105.0460,155.0,20.0
3218,1390,8,2,February,1666.8666,173.6460,269.0,28.0
3219,1390,9,3,March,3306.7490,2770.7016,523.0,373.0
3220,1390,10,3,March,3591.4740,4245.2486,538.0,492.0
3221,1390,11,3,March,5242.8867,6558.0170,835.0,772.0
3222,1390,12,3,March,4224.7231,6601.1735,922.0,1133.0
3223,1390,13,3,March,4653.1406,6410.1170,749.0,744.0

In [102]:
alist=['3rd Party Delivery','Full Service Catering (Open $)','Online Ordering','Catering (Bulk Ice)','Donut Catering']
retail=data[~(data.LegacyShopType.str.contains('Mobile'))&~(
    data.ProductTypeName.isin(alist))&(data.SpecialVenue=='No')&(data.Week<=this_week)&(
    data.LegacyShopStatus!='Satellite Store')].pivot_table(index=['ParentID','Week','Month'],
                                                                                  columns='Year',
                                                                                  values='SalesMny',
                                                                                  aggfunc='sum',
                                                                                  fill_value=0).reset_index()

retail_sales=for_weekly_comps.merge(retail,on=['ParentID','Week','Month'],how='left')
retail_sales[['2024 Total GC','2025 Total GC']]=retail_sales[['2024 Total GC','2025 Total GC']].fillna(0)
bedford=data[(data.ShopID==11390)&~(data.ProductTypeName.isin(alist))&(
data.Week<=this_week)].pivot_table(index=['ParentID','Week','Month'],
                                                                                  columns='Year',
                                                                                  values='SalesMny',
                                                                                  aggfunc='sum',
                                                                                  fill_value=0).reset_index()
bedford_sales=for_weekly_comps.merge(bedford,on=['ParentID','Week','Month'],how='inner')


retail=pd.concat([retail_sales,bedford_sales]).dropna().groupby('ParentID')[[2024,2025]].sum().reset_index()


cw_retail=data[~(data.LegacyShopType.str.contains('Mobile'))&~(
    data.ProductTypeName.isin(alist))&(data.LegacyShopStatus!='Satellite Store')&(data.SpecialVenue=='No')&(data.Week==this_week)].pivot_table(
    index=['ParentID','Week','Month'],
    columns='Year',
    values='SalesMny',
    aggfunc='sum',
    fill_value=0).reset_index()

cw_retail_sales=for_weekly_comps.merge(cw_retail,on=['ParentID','Week','Month'],how='left')
cw_retail_sales[['2024 Total GC','2025 Total GC']]=cw_retail_sales[['2024 Total GC','2025 Total GC']].fillna(0)


cw_bedford=data[(data.ShopID==11390)&~(data.ProductTypeName.isin(alist))&(
data.Week==this_week)].pivot_table(index=['ParentID','Week','Month'],
                                            columns='Year',
                                            values='SalesMny',
                                            aggfunc='sum',
                                            fill_value=0).reset_index()
cw_bedford_sales=for_weekly_comps.merge(cw_bedford,on=['ParentID','Week','Month'],how='inner')
cw_bedford_sales[['2024 Total GC','2025 Total GC']]=cw_bedford_sales[['2024 Total GC','2025 Total GC']].fillna(0)


cw_retail=pd.concat([cw_retail_sales,cw_bedford_sales]).groupby('ParentID')[[2024,2025]].sum().reset_index()
# # cw_retail['% Chg']=cw_retail.iloc[:,2]/cw_retail.iloc[:,1]-1
# # cw_retail['% Chg']=cw_retail['% Chg'].fillna(0)
# # cw_retail['% Chg']=cw_retail['% Chg'].replace([np.inf,np.nan],0)
# cw_retail.loc[cw_retail['index']=='SalesMny','index']='Retail'

In [103]:
sv=data[(data.SpecialVenue=='Yes')&(data.Week<=this_week)].pivot_table(index=['ParentID','Week','Month'],
                                                                                   columns='Year',values='SalesMny',
                                                                                   aggfunc='sum',
                                                                                    fill_value=0).reset_index()
sv_sales=for_weekly_comps.merge(sv,on=['ParentID','Week','Month'],how='left')
sv_sales[['2024 Total GC','2025 Total GC']]=sv_sales[['2024 Total GC','2025 Total GC']].fillna(0)
sv=sv_sales.dropna().groupby('ParentID')[[2024,2025]].sum().reset_index()
online=data[(data.ProductTypeName=='Online Ordering')&(data.SpecialVenue=='No')&(
data.Week<=this_week)].pivot_table(index=['ParentID','Week','Month'],
                                                    columns='Year',
                                                    values='SalesMny',
                                                    aggfunc='sum',
                                                    fill_value=0)\
.reset_index()

online_sales=for_weekly_comps.merge(online,on=['ParentID','Week','Month'],how='left')
online_sales[['2024 Total GC','2025 Total GC']]=online_sales[['2024 Total GC','2025 Total GC']].fillna(0)
online=online_sales.dropna().groupby('ParentID')[[2024,2025]].sum().reset_index()
pd3=data[(data.ProductTypeName=='3rd Party Delivery')&(data.SpecialVenue=='No')&(
data.Week<=this_week)].pivot_table(index=['ParentID','Week','Month'],
                        columns='Year',
                        values='SalesMny',
                        aggfunc='sum',
                        fill_value=0)\
.reset_index()
pd3_sales=for_weekly_comps.merge(pd3,on=['ParentID','Week','Month'],how='left')
pd3_sales[['2024 Total GC','2025 Total GC']]=pd3_sales[['2024 Total GC','2025 Total GC']].fillna(0)
pd3=pd3_sales.dropna().groupby('ParentID')[[2024,2025]].sum().reset_index()

mobile=data[(data.LegacyShopType.str.contains('Mobile'))&(data.SpecialVenue=='No')&(data.Week<=this_week)]\
                                            .pivot_table(index=['ParentID','Week','Month'],
                                                columns='Year',
                                                values='SalesMny',
                                                aggfunc='sum',
                                                fill_value=0).reset_index()

mobile_sales=for_weekly_comps.merge(mobile,on=['ParentID','Week','Month'],how='left')
mobile_sales[['2024 Total GC','2025 Total GC']]=mobile_sales[['2024 Total GC','2025 Total GC']].fillna(0)
mobile=mobile_sales.dropna().groupby('ParentID')[[2024,2025]].sum().reset_index()

catering=data[(data.SpecialVenue=='No')&(
    data.ProductTypeName.str.contains('Catering'))&(data.Week<=this_week)&(data.ShopID<10000)].pivot_table(
    index=['ParentID','Week','Month'],
    columns='Year',
    values='SalesMny',
    aggfunc='sum',
    fill_value=0).reset_index()
bedford_catering=data[(data.ShopID==11390)&(
    data.ProductTypeName.str.contains('Catering'))&(data.Week<=this_week)].pivot_table(
    index=['ParentID','Week','Month'],
    columns='Year',
    values='SalesMny',
    aggfunc='sum',
    fill_value=0).reset_index()
catering_sales=for_weekly_comps.merge(catering,on=['ParentID','Week','Month'],how='left')
catering_sales[['2024 Total GC','2025 Total GC']]=catering_sales[['2024 Total GC','2025 Total GC']].fillna(0)
bedford_catering_sales=for_weekly_comps.merge(bedford_catering,on=['ParentID','Week','Month'],how='inner')
catering=pd.concat([catering_sales,bedford_catering_sales]).dropna().groupby('ParentID')[[2024,2025]].sum().reset_index()

In [104]:
ytd_cat=pd.DataFrame({
    'Category':['Retail','Special Venue','Online','3rd Party','Mobile','Catering'],
    '2025 YTD':[retail.sum().iloc[2],sv.sum().iloc[2],online.sum().iloc[2],pd3.sum().iloc[2],mobile.sum().iloc[2],catering.sum().iloc[2]],
    '2024 YTD':[retail.sum().iloc[1],sv.sum().iloc[1],online.sum().iloc[1],pd3.sum().iloc[1],mobile.sum().iloc[1],catering.sum().iloc[1]]})

In [105]:
ytd_cat.sum()

Category    RetailSpecial VenueOnline3rd PartyMobileCatering
2025 YTD                                       24912039.1647
2024 YTD                                       24738908.9869
dtype: object

In [106]:
this_year.EndDate.dt.year.min()

2025

In [107]:
cw_sv=data[(data.SpecialVenue=='Yes')&(data.Week==this_week)].pivot_table(index=['ParentID','Week','Month'],
                                                                                   columns='Year',values='SalesMny',
                                                                                   aggfunc='sum',
                                                                                    fill_value=0).reset_index()
current_year=this_year.EndDate.dt.year.min()

if current_year not in cw_sv.columns:
    cw_sv[current_year] = 0  # Initialize with zeros

    
cw_sv_sales=for_weekly_comps.merge(cw_sv,on=['ParentID','Week','Month'],how='left')
cw_sv_sales[['2024 Total GC','2025 Total GC']]=cw_sv_sales[['2024 Total GC','2025 Total GC']].fillna(0)
cw_sv=cw_sv_sales.dropna().groupby('ParentID')[[2024,2025]].sum().reset_index()
cw_online=data[(data.ProductTypeName=='Online Ordering')&(data.SpecialVenue=='No')&(
data.Week==this_week)].pivot_table(index=['ParentID','Week','Month'],
                                                    columns='Year',
                                                    values='SalesMny',
                                                    aggfunc='sum',
                                                    fill_value=0)\
.reset_index()

cw_online_sales=for_weekly_comps.merge(cw_online,on=['ParentID','Week','Month'],how='left')
cw_online_sales[['2024 Total GC','2025 Total GC']]=cw_online_sales[['2024 Total GC','2025 Total GC']].fillna(0)
cw_online=cw_online_sales.dropna().groupby('ParentID')[[2024,2025]].sum().reset_index()
cw_pd3=data[(data.ProductTypeName=='3rd Party Delivery')&(data.SpecialVenue=='No')&(
data.Week==this_week)].pivot_table(index=['ParentID','Week','Month'],
                        columns='Year',
                        values='SalesMny',
                        aggfunc='sum',
                        fill_value=0)\
.reset_index()
cw_pd3_sales=for_weekly_comps.merge(cw_pd3,on=['ParentID','Week','Month'],how='left')
cw_pd3_sales[['2024 Total GC','2025 Total GC']]=cw_pd3_sales[['2024 Total GC','2025 Total GC']].fillna(0)
cw_pd3=cw_pd3_sales.dropna().groupby('ParentID')[[2024,2025]].sum().reset_index()

cw_mobile=data[(data.LegacyShopType.str.contains('Mobile'))&(data.SpecialVenue=='No')&(data.Week==this_week)]\
                                            .pivot_table(index=['ParentID','Week','Month'],
                                                columns='Year',
                                                values='SalesMny',
                                                aggfunc='sum',
                                                fill_value=0).reset_index()

cw_mobile_sales=for_weekly_comps.merge(cw_mobile,on=['ParentID','Week','Month'],how='left')
cw_mobile_sales[['2024 Total GC','2025 Total GC']]=cw_mobile_sales[['2024 Total GC','2025 Total GC']].fillna(0)
cw_mobile=cw_mobile_sales.dropna().groupby('ParentID')[[2024,2025]].sum().reset_index()

cw_catering=data[(data.SpecialVenue=='No')&(
    data.ProductTypeName.str.contains('Catering'))&(data.Week==this_week)&(data.ShopID<10000)].pivot_table(
    index=['ParentID','Week','Month'],
    columns='Year',
    values='SalesMny',
    aggfunc='sum',
    fill_value=0).reset_index()
bedford_cw_catering=data[(data.ShopID==11390)&(
    data.ProductTypeName.str.contains('Catering'))&(data.Week==this_week)].pivot_table(
    index=['ParentID','Week','Month'],
    columns='Year',
    values='SalesMny',
    aggfunc='sum',
    fill_value=0).reset_index()
cw_catering_sales=for_weekly_comps.merge(cw_catering,on=['ParentID','Week','Month'],how='left')
cw_catering_sales[['2024 Total GC','2025 Total GC']]=cw_catering_sales[['2024 Total GC','2025 Total GC']].fillna(0)
bedford_cw_catering_sales=for_weekly_comps.merge(bedford_cw_catering,on=['ParentID','Week','Month'],how='inner')
cw_catering=pd.concat([cw_catering_sales,bedford_cw_catering_sales]).dropna().groupby('ParentID')[[2024,2025]].sum().reset_index()

In [108]:
cw_cat=pd.DataFrame({
    'Category':['Retail','Special Venue','Online','3rd Party','Mobile','Catering'],
    f'2025 Week {this_week}':[cw_retail.sum().iloc[2],cw_sv.sum().iloc[2],cw_online.sum().iloc[2],cw_pd3.sum().iloc[2],cw_mobile.sum().iloc[2],cw_catering.sum().iloc[2]],
    f'2024 Week {this_week}':[cw_retail.sum().iloc[1],cw_sv.sum().iloc[1],cw_online.sum().iloc[1],cw_pd3.sum().iloc[1],cw_mobile.sum().iloc[1],cw_catering.sum().iloc[1]]})

In [109]:
yoy_cat=cw_cat.merge(ytd_cat)
ytd_row = pd.DataFrame(yoy_cat.iloc[:, 1:].sum()).T
ytd_row.insert(0, 'Category', 'Totals')  # Adjust column name as needed
yoy_cat=pd.concat([yoy_cat,ytd_row])
yoy_cat[f'Week {this_week} Sales%']=yoy_cat.iloc[:,1]/yoy_cat.iloc[:,2]-1
yoy_cat['YTD Sales%']=yoy_cat.iloc[:,3]/yoy_cat.iloc[:,4]-1
yoy_cat=yoy_cat.iloc[:,[0,1,2,5,3,4,6]]
yoy_cat=yoy_cat.set_index('Category')

In [110]:
# lastrow=monthly_comps.shape[0]
# timestamp = datetime.now().strftime("%m-%d-%y %H%M")
# with pd.ExcelWriter('2025-24 Wk '+str(this_week)+' Comp Sales On '+str(timestamp)+'.xlsx',engine='xlsxwriter',
#                    datetime_format='mm/dd/yyyy') as writer6:
#     comp_workbook=writer6.book
#     format_header2=comp_workbook.add_format()
#     format_header2.set_italic()
#     format_header2.set_bold()
#     shop_format=comp_workbook.add_format({'align':'center','valign':'vcenter'})
#     text_format=comp_workbook.add_format({'align':'left','valign':'vcenter'})
#     center_text_format=comp_workbook.add_format({'align':'center','valign':'vcenter'})
#     format_num=comp_workbook.add_format({'num_format':'$#,##0',
#                                         'align':'right',
#                                         'valign':'vcenter'})
#     check_format=comp_workbook.add_format({'num_format':'$#,##0.00',
#                                         'align':'right',
#                                         'valign':'vcenter'})
    
#     format_qty=comp_workbook.add_format({'num_format':'#,##0',
#                                         'align':'right',
#                                         'valign':'vcenter'})
#     perc_format=comp_workbook.add_format({'num_format':'#0.0%',
#                                          'align':'right',
#                                          'valign':'vcenter'})
#     total_dollar_format=comp_workbook.add_format({'bold':True,
#                                           'bg_color':'#d5d8dc',
#                                           'num_format':'$#,##0',
#                                         'align':'right',
#                                         'valign':'vcenter'})
#     ytd_format=comp_workbook.add_format({'bold':True,
#                                           'bg_color':'#d5d8dc',
#                                           'num_format':'$#,##0',
#                                         'align':'center',
#                                         'valign':'vcenter'})
    
#     total_gc_format=comp_workbook.add_format({'bold':True,
#                                           'bg_color':'#d5d8dc',
#                                           'num_format':'#,##0',
#                                         'align':'right',
#                                         'valign':'vcenter'})
    
#     total_perc_format=comp_workbook.add_format({'bold':True,
#                                           'bg_color':'#d5d8dc',
#                                           'num_format':'#0.0%',
#                                         'align':'right',
#                                         'valign':'vcenter'})
#     col_header=comp_workbook.add_format({'bg_color':'#00B0F0',
#                                          'bold':True,'align':'center','valign':'vcenter',
#                                          'text_wrap':True})
#     a1=comp_workbook.add_format({'align':'center','valign':'vcenter','bold':True})
#     border_format=comp_workbook.add_format({'top':2,'bottom':2,'left':2,'right':2})
    
#     title='Ritas Franchise Company,LLC'
#     comp_text='YTD Comp Sales and Guest Count by Shop'
#     comp_text1='Comp Sales Include: Retail/Mobile/Satellite/3rd Party/Special Venue/Online'
#     comp_text2='YTD 2025 v YTD 2024 Sales and Guest Counts thru Week '+str(this_week)+' - WE '+str(data.EndDate.max().strftime('%m.%d.%y'))
#     comp_text3='Comp Sales & GC includes full year sales for existing shops prior to 1/1/24'
#     comp_text4='Comparative Weeks Only For Shops Opened Or Reopened In 2024'
    
#     lc_weekly.to_excel(writer6,startrow=8,startcol=1, sheet_name='Comps By Shop',index=False)
#     summary.to_excel(writer6, startrow=1,startcol=16,sheet_name='Comps By Shop',index=False)
#     week_summary.to_excel(writer6, startrow=1,startcol=10,sheet_name='Comps By Shop',index=False)
    
#     ws1=writer6.sheets['Comps By Shop']                     
#     ws1.conditional_format(xlsxwriter.utility.xl_range(8,1,len(lc_weekly)+8,len(lc_weekly.columns)),
#                                   {'type': 'no_errors', 'format': border_format})
#     ws1.conditional_format('K2:N5',{
#         'type':'no_errors',
#         'format': border_format
#     })
    
#     ws1.conditional_format('Q2:T5',{
#         'type':'no_errors',
#         'format': border_format
#     })
    
#     title_format=comp_workbook.add_format({'bold':True,'bg_color':'#00B0F0','align':'center'})
    
#     ws1.write_row('B9',lc_weekly.columns,col_header)     
#     ws1.write(1,2,title,format_header2)
#     ws1.write(2,2,comp_text,format_header2)
#     ws1.write(3,2,comp_text1,format_header2)
#     ws1.write(4,2,comp_text2,format_header2)
#     ws1.write(5,2,comp_text3,format_header2)
#     ws1.write(6,2,comp_text4,format_header2)
    
#     ws1.write('L3',week_summary.iloc[0,1],format_num)
#     ws1.write('M3',week_summary.iloc[0,2],format_num)
#     ws1.write('N3',week_summary.iloc[0,3],perc_format)
#     ws1.write('L4',week_summary.iloc[1,1],format_qty)
#     ws1.write('M4',week_summary.iloc[1,2],format_qty)
#     ws1.write('N4',week_summary.iloc[1,3],perc_format)
#     ws1.write('L5',week_summary.iloc[2,1],check_format)
#     ws1.write('M5',week_summary.iloc[2,2],check_format)
#     ws1.write('N5',week_summary.iloc[2,3],perc_format)
    
#     ws1.write_row('K2',week_summary.columns,title_format)
#     ws1.write('K3','Week '+str(this_week)+' Comp Sales',title_format)
#     ws1.write('K4','Week '+str(this_week)+' Comp GC',title_format)
#     ws1.write('K5','Week '+str(this_week)+'  Comp Avg.Check',title_format)
    
#     ws1.write('R3',summary.iloc[0,1],format_num)
#     ws1.write('S3',summary.iloc[0,2],format_num)
#     ws1.write('T3',summary.iloc[0,3],perc_format)
#     ws1.write('R4',summary.iloc[1,1],format_qty)
#     ws1.write('S4',summary.iloc[1,2],format_qty)
#     ws1.write('T4',summary.iloc[1,3],perc_format)
#     ws1.write('R5',summary.iloc[2,1],check_format)
#     ws1.write('S5',summary.iloc[2,2],check_format)
#     ws1.write('T5',summary.iloc[2,3],perc_format)
    
#     ws1.write_row('Q2',summary.columns,title_format)
#     ws1.write('Q3','YTD Comp Sales',title_format)
#     ws1.write('Q4','YTD Comp GC',title_format)
#     ws1.write('Q5','YTD Comp Avg.Check',title_format)
    
#     ws1.set_column('B:C',8,center_text_format)
#     ws1.set_column('D:D',41,text_format)
#     ws1.set_column('E:E',4.89,center_text_format)
#     ws1.set_column('F:F',6.29,center_text_format)
#     ws1.set_column('G:G',24.57,text_format)
#     ws1.set_column('H:H',10,center_text_format)
#     ws1.set_column('I:J',4.29,center_text_format)
#     ws1.set_column('K:K',23,text_format)
#     ws1.set_column('L:M',11.43,format_num)
#     ws1.set_column('N:N',10.57,perc_format)
#     ws1.set_column('O:P',8.43,format_qty)
#     ws1.set_column('Q:Q',19,perc_format)
#     ws1.set_column('R:S',10.57,format_num)
#     ws1.set_column('T:T',11,perc_format)
#     ws1.set_column('U:V',8.43,format_qty)
#     ws1.set_column('W:W',11,perc_format)
#     ws1.hide_gridlines(2)
#     ws1.insert_image('B2','Logo.png')

In [111]:
shops_true_comps.sum(axis=0)

Year
ParentID                                                2438944
Week                                                      32271
Month                                                      9015
Month_Name    MarchMarchMarchMarchMarchMarchMarchMarchMarchM...
2024                                              23828903.5584
2025                                              24641051.8019
dtype: object

In [113]:
shop_names_true=shops_true_comps[shops_true_comps.Week<=this_week].merge(shop_names,on='ParentID',how='left')
true_sales_gc_merge=shop_names_true.merge(gc_total, on=['ParentID','Week','Month','Month_Name'],suffixes=['_Sales','_GC'],how='left')
true_sales_gc=true_sales_gc_merge.groupby(['Month','Month_Name'])[['2025_Sales','2024_Sales','2025_GC','2024_GC']].sum()
true_sales_gc=true_sales_gc.reset_index().drop('Month',axis=1).set_index('Month_Name')
true_sales_gc.loc['YTD Totals']=true_sales_gc.sum(axis=0)
true_sales_gc['WoW Comp Sales%']=true_sales_gc['2025_Sales']/true_sales_gc['2024_Sales']-1
true_sales_gc['WoW Comp GC%']=true_sales_gc['2025_GC']/true_sales_gc['2024_GC']-1
true_sales_gc=true_sales_gc.iloc[:,[0,1,-2,2,3,-1]]
true_sales_gc=true_sales_gc.rename(columns={'2025_Sales':'YTD 2025 WoW Comp Sales','2024_Sales':'YTD 2024 WoW Comp Sales',
                             '2025_GC':'YTD 2025 WoW Comp GC','2024_GC':'YTD 2024 WoW Comp GC'})
true_sales_gc

,YTD 2025 WoW Comp Sales,YTD 2024 WoW Comp Sales,WoW Comp Sales%,YTD 2025 WoW Comp GC,YTD 2024 WoW Comp GC,WoW Comp GC%
Month_Name,,,,,,
January,1.761339e+06,1.815709e+06,-0.029944,133535.0,149207.0,-0.105035
February,2.631102e+06,2.908074e+06,-0.095243,214794.0,257689.0,-0.166460
March,2.024861e+07,1.910512e+07,0.059853,1845408.0,1801089.0,0.024607
YTD Totals,2.464105e+07,2.382890e+07,0.034082,2193737.0,2207985.0,-0.006453

In [114]:
unique_parentid_2024_gt_1 = shop_names_true[shop_names_true[2024] > 1].groupby('Week')['ParentID'].nunique()
unique_parentid_2025_gt_1 = shop_names_true[shop_names_true[2025] > 1].groupby('Week')['ParentID'].nunique()
comp_unique_shops = pd.DataFrame({
    '2024 Total Sales > 1': unique_parentid_2024_gt_1,
    '2025 Total Sales > 1': unique_parentid_2025_gt_1
})

comp_unique_shops=comp_unique_shops.rename(columns={'2024 Total Sales > 1':'2024 # of Shops Reported',
                                          '2025 Total Sales > 1':'2025 # of Shops Reported'})
comp_unique_shops

      2024 # of Shops Reported  2025 # of Shops Reported
Week
1                          104                       104
2                          107                       107
3                          105                       105
4                          106                       106
5                          115                       115
6                          128                       128
7                          155                       155
8                          231                       231
9                          479                       479
10                         483                       483
11                         493                       493
12                         496                       496
13                         494                       494

In [115]:
ytd_true_sales_gc=true_sales_gc_merge.groupby(['ParentID','ShopName','State','FC Initials','Franchisee','OriginalOpenDate',
                            'Relo Year','DT','LegacyShopType'])[['2025_Sales','2024_Sales','2025_GC','2024_GC']].sum().reset_index()
ytd_true_sales_gc['WoW Comp Sales%']=ytd_true_sales_gc['2025_Sales']/ytd_true_sales_gc['2024_Sales']-1
ytd_true_sales_gc['WoW Comp GC%']=ytd_true_sales_gc['2025_GC']/ytd_true_sales_gc['2024_GC']-1
ytd_true_sales_gc=ytd_true_sales_gc.rename(columns={'2025_Sales':'YTD 2025 WoW Comp Sales',
                                             '2024_Sales':'YTD 2024 WoW Comp Sales',
                                             '2025_GC':'YTD 2025 WoW Comp GC',
                                             '2024_GC':'YTD 2024 WoW Comp GC',
                                                   'OriginalOpenDate':'Open Date'})
ytd_true_sales_gc['Rank']=ytd_true_sales_gc['YTD 2025 WoW Comp Sales'].rank(method='dense',ascending=False).astype(int)
ytd_true_sales_gc.iloc[:,9:]=ytd_true_sales_gc.iloc[:,9:].fillna(0)

In [116]:
this_week_sales=true_sales_gc_merge[true_sales_gc_merge.Week==this_week].groupby(['ParentID','ShopName','State','FC Initials','Franchisee','OriginalOpenDate',
                            'Relo Year','DT','LegacyShopType'])[['2025_Sales','2024_Sales','2025_GC','2024_GC']].sum().reset_index()
this_week_sales=this_week_sales.rename(columns={'2025_Sales':'2025 WoW Comp Sales','2024_Sales':'2024 WoW Comp Sales',
                             '2025_GC':'2025 WoW Comp GC','2024_GC':'2024 WoW Comp GC'})
this_week_sales=this_week_sales.iloc[:,np.r_[0,9:13]].set_index('ParentID')
this_week_sales['WoW Comp Sales%']=this_week_sales.iloc[:,0]/this_week_sales.iloc[:,1]-1
this_week_sales['WoW Comp GC%']=this_week_sales.iloc[:,2]/this_week_sales.iloc[:,3]-1
this_week_sales.columns=[f'Week {this_week} {col}' for col in this_week_sales.columns ]
this_week_sales.reset_index()

,ParentID,Week 13 2025 WoW Comp Sales,Week 13 2024 WoW Comp Sales,Week 13 2025 WoW Comp GC,Week 13 2024 WoW Comp GC,Week 13 WoW Comp Sales%,Week 13 WoW Comp GC%
0,1,16834.4915,8951.7870,1237.0,839.0,0.880573,0.474374
1,2,20472.2100,13549.8275,1652.0,1261.0,0.510883,0.310071
2,3,12801.2135,7250.4770,992.0,660.0,0.765568,0.503030
3,4,8880.6670,6830.0494,723.0,592.0,0.300235,0.221284
4,6,15840.2275,9844.0375,1374.0,934.0,0.609119,0.471092
...,...,...,...,...,...,...,...
489,1518,4439.9205,5477.9335,381.0,430.0,-0.189490,-0.113953
490,1519,4276.9810,2912.6700,331.0,238.0,0.468406,0.390756
491,1520,13902.5590,10109.1600,1357.0,918.0,0.375244,0.478214
492,1522,7801.0870,4246.2535,517.0,331.0,0.837169,0.561934
493,1530,2994.9200,1321.2100,382.0,193.0,1.266801,0.979275

In [117]:
ytd_true_sales_gc[ytd_true_sales_gc.ParentID==1552]

,ParentID,ShopName,State,FC Initials,Franchisee,Open Date,Relo Year,DT,LegacyShopType,YTD 2025 WoW Comp Sales,YTD 2024 WoW Comp Sales,YTD 2025 WoW Comp GC,YTD 2024 WoW Comp GC,WoW Comp Sales%,WoW Comp GC%,Rank
503,1552,7007 SeaWorld Dr-Orlando FL,FL,PG,RFC,2023-12-15,,No,Special Venue,152568.13,119859.03,10443.0,9211.0,0.272896,0.133753,4

In [118]:
ytd_true_sales_gc.merge(this_week_sales,on='ParentID',how='left').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 504 entries, 0 to 503
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ParentID                     504 non-null    int32
 1   ShopName                     504 non-null    object
 2   State                        504 non-null    object
 3   FC Initials                  504 non-null    object
 4   Franchisee                   504 non-null    object
 5   Open Date                    504 non-null    datetime64[ns]
 6   Relo Year                    504 non-null    object
 7   DT                           504 non-null    object
 8   LegacyShopType               504 non-null    object
 9   YTD 2025 WoW Comp Sales      504 non-null    float64
 10  YTD 2024 WoW Comp Sales      504 non-null    float64
 11  YTD 2025 WoW Comp GC         504 non-null    float64
 12  YTD 2024 WoW Comp GC         504 non-null    float64
 13  WoW Comp Sales%              504 non-null    float64
 14  WoW Comp GC%                 504 non-null    float64
 15  Rank                         504 non-null    int32
 16  Week 13 2025 WoW Comp Sales  494 non-null    float64
 17  Week 13 2024 WoW Comp Sales  494 non-null    float64
 18  Week 13 2025 WoW Comp GC     494 non-null    float64
 19  Week 13 2024 WoW Comp GC     494 non-null    float64
 20  Week 13 WoW Comp Sales%      494 non-null    float64
 21  Week 13 WoW Comp GC%         494 non-null    float64
dtypes: datetime64[ns](1), float64(12), int32(2), object(7)
memory usage: 82.8+ KB

In [119]:
same_week_comp=ytd_true_sales_gc.merge(this_week_sales,on='ParentID',how='left').iloc[:,np.r_[15,0:9,16,17,20,18,19,21,9,10,13,11,12,14]]
same_week_comp.info()
same_week_comp.iloc[:,10:]=same_week_comp.iloc[:,10:].fillna(0)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 504 entries, 0 to 503
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Rank                         504 non-null    int32
 1   ParentID                     504 non-null    int32
 2   ShopName                     504 non-null    object
 3   State                        504 non-null    object
 4   FC Initials                  504 non-null    object
 5   Franchisee                   504 non-null    object
 6   Open Date                    504 non-null    datetime64[ns]
 7   Relo Year                    504 non-null    object
 8   DT                           504 non-null    object
 9   LegacyShopType               504 non-null    object
 10  Week 13 2025 WoW Comp Sales  494 non-null    float64
 11  Week 13 2024 WoW Comp Sales  494 non-null    float64
 12  Week 13 WoW Comp Sales%      494 non-null    float64
 13  Week 13 2025 WoW Comp GC     494 non-null    float64
 14  Week 13 2024 WoW Comp GC     494 non-null    float64
 15  Week 13 WoW Comp GC%         494 non-null    float64
 16  YTD 2025 WoW Comp Sales      504 non-null    float64
 17  YTD 2024 WoW Comp Sales      504 non-null    float64
 18  WoW Comp Sales%              504 non-null    float64
 19  YTD 2025 WoW Comp GC         504 non-null    float64
 20  YTD 2024 WoW Comp GC         504 non-null    float64
 21  WoW Comp GC%                 504 non-null    float64
dtypes: datetime64[ns](1), float64(12), int32(2), object(7)
memory usage: 82.8+ KB

In [120]:
weekly_summary=pd.DataFrame({'':['Week '+str(this_week)+' WoW Comp Sales','Week '+str(this_week)+' WoW Comp GC','Week '+str(this_week)+' WoW Comp Avg.Check'],
              'Week ' +str(this_week)+' 2025':[
                  same_week_comp.iloc[:,10].sum(),
                  same_week_comp.iloc[:,13].sum(),
                  same_week_comp.iloc[:,10].sum()/same_week_comp.iloc[:,13].sum()],
              'Week ' +str(this_week)+' 2024':[
                  same_week_comp.iloc[:,11].sum(),
                  same_week_comp.iloc[:,14].sum(),
                  same_week_comp.iloc[:,11].sum()/same_week_comp.iloc[:,14].sum()
              ],
              '%':[
                  same_week_comp.iloc[:,10].sum()/same_week_comp.iloc[:,11].sum()-1,
                  same_week_comp.iloc[:,13].sum()/same_week_comp.iloc[:,14].sum()-1,
                  ((same_week_comp.iloc[:,10].sum()/same_week_comp.iloc[:,13].sum())/(same_week_comp.iloc[:,11].sum()/same_week_comp.iloc[:,14].sum())-1)
                  
              ]
    
    
})
weekly_summary

                               Week 13 2025  Week 13 2024         %
0      Week 13 WoW Comp Sales  5.470266e+06  3.856174e+06  0.418574
1         Week 13 WoW Comp GC  4.475840e+05  3.471700e+05  0.289236
2  Week 13 WoW Comp Avg.Check  1.222176e+01  1.110745e+01  0.100321

In [121]:
same_week_summary=pd.DataFrame({'':['YTD WoW Comp Sales','YTD WoW Comp GC','YTD WoW Comp Avg.Check'],
              'YTD 2025':[
                  same_week_comp.iloc[:,16].sum(),
                  same_week_comp.iloc[:,19].sum(),
                  same_week_comp.iloc[:,16].sum()/same_week_comp.iloc[:,19].sum()],
              'YTD 2024':[
                  same_week_comp.iloc[:,17].sum(),
                  same_week_comp.iloc[:,20].sum(),
                  same_week_comp.iloc[:,17].sum()/same_week_comp.iloc[:,20].sum()
              ],
              '%':[
                  same_week_comp.iloc[:,16].sum()/same_week_comp.iloc[:,17].sum()-1,
                  same_week_comp.iloc[:,19].sum()/same_week_comp.iloc[:,20].sum()-1,
                  ((same_week_comp.iloc[:,16].sum()/same_week_comp.iloc[:,19].sum())/(same_week_comp.iloc[:,17].sum()/same_week_comp.iloc[:,20].sum())-1)
                  
              ]
    
    
    
})
same_week_summary

                               YTD 2025      YTD 2024         %
0      YTD WoW Comp Sales  2.464105e+07  2.382890e+07  0.034082
1         YTD WoW Comp GC  2.193737e+06  2.207985e+06 -0.006453
2  YTD WoW Comp Avg.Check  1.123245e+01  1.079215e+01  0.040799

In [122]:
same_week_comp=same_week_comp.sort_values(by='Rank')

In [123]:
same_week_comp

,Rank,ParentID,ShopName,State,FC Initials,Franchisee,Open Date,Relo Year,DT,LegacyShopType,...,Week 13 WoW Comp Sales%,Week 13 2025 WoW Comp GC,Week 13 2024 WoW Comp GC,Week 13 WoW Comp GC%,YTD 2025 WoW Comp Sales,YTD 2024 WoW Comp Sales,WoW Comp Sales%,YTD 2025 WoW Comp GC,YTD 2024 WoW Comp GC,WoW Comp GC%
245,1,374,Rhode Island Avenue,DC,LH,Angela Brock,2005-08-20,,No,Walk-up,...,-0.648219,1453.0,933.0,0.557342,344628.9045,418490.4000,-0.176495,4812.0,4441.0,0.083540
284,2,463,681 River Ave-Lakewood NJ,NJ,PG,Elliot Bohm,2007-03-02,,No,Walk-in / Walk-up,...,-0.095908,1424.0,1571.0,-0.093571,200521.8800,258476.4800,-0.224216,16509.0,20376.0,-0.189782
347,3,836,1575 Pine Ridge Rd-Naples FL,FL,JS,Jason L. Gibson,2010-04-29,2019.0,Yes,Walk-in,...,-0.018647,1197.0,1330.0,-0.100000,166258.7185,141265.2110,0.176926,14563.0,13392.0,0.087440
503,4,1552,7007 SeaWorld Dr-Orlando FL,FL,PG,RFC,2023-12-15,,No,Special Venue,...,0.000000,0.0,0.0,0.000000,152568.1300,119859.0300,0.272896,10443.0,9211.0,0.133753
381,5,1065,11134 Palms Blvd.-Los Angeles CA,CA,JM,Nasir Awan,2014-07-25,2023.0,No,Walk-in,...,0.208796,731.0,960.0,-0.238542,147706.7230,124928.8703,0.182327,10156.0,10368.0,-0.020448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,500,194,Windsor Mill,MD,LH,Albert D. Holley III,1998-07-21,,No,Walk-up,...,-0.783025,131.0,825.0,-0.841212,4419.2080,23431.7130,-0.811401,654.0,3308.0,-0.802297
337,501,734,1515 Boardwalk-Atlantic City NJ,NJ,JD,Maria Froio,2009-04-09,,No,Walk-in,...,-0.488204,295.0,580.0,-0.491379,3233.0500,6317.0700,-0.488204,295.0,580.0,-0.491379
152,502,221,105 Northumberland St-Danville PA,PA,DL,James M. Young Jr.,1999-08-05,,No,Walk-up,...,0.000000,0.0,0.0,0.000000,2520.6440,3722.1670,-0.322802,293.0,452.0,-0.351770
377,503,1046,100 E Rockland St-Phila. PA,PA,LG,Richard J. Gaglianese,2014-03-17,,No,Walk-up,...,0.000000,0.0,0.0,0.000000,2128.3460,12759.1795,-0.833191,210.0,1236.0,-0.830097
311,504,550,Surf City,NJ,JD,Michele Angelo,2008-04-10,,No,Walk-in / Walk-up,...,0.040194,82.0,84.0,-0.023810,1286.9310,1237.2030,0.040194,82.0,84.0,-0.023810

In [124]:
shop_names_true_25=shop_names_true.pivot_table(index=['ParentID','ShopName','State','FC Initials','Franchisee','OriginalOpenDate','Relo Year',
                                  'DT','LegacyShopType'],columns='Week',values=2025,aggfunc='sum',fill_value=0,margins=True
                           ).reset_index()
shop_names_true_25 = shop_names_true_25.rename(columns=lambda x: f'2025 Week {x}' if isinstance(x, (int, float)) else x)
shop_names_true_25=shop_names_true_25.iloc[:-1,]
shop_names_true_25['Rank'] = shop_names_true_25['All'].rank(method='dense', ascending=False).astype(int)
shop_names_true_25=shop_names_true_25.iloc[:,np.r_[-1,0:len(shop_names_true_25.columns)-1]]
shop_names_true_25.loc[shop_names_true_25.LegacyShopType=='Walk-in / Walk-up','LegacyShopType']='WI/WU'
shop_names_true_25=shop_names_true_25.rename(columns={'OriginalOpenDate':'Open Date','All':'YTD 2025 WoW Comp Sales'})
shop_names_true_25=shop_names_true_25.sort_values(by='Rank')
ytd_row = pd.DataFrame(shop_names_true_25.iloc[:, 10:].sum()).T
ytd_row.insert(0, 'LegacyShopType', ' Weekly Totals')  # Adjust column name as needed
shop_names_true_25 = pd.concat([shop_names_true_25, ytd_row], ignore_index=True)
shop_names_true_25=shop_names_true_25.fillna('')
shop_names_true_25.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Rank                     505 non-null    object
 1   ParentID                 505 non-null    object
 2   ShopName                 505 non-null    object
 3   State                    505 non-null    object
 4   FC Initials              505 non-null    object
 5   Franchisee               505 non-null    object
 6   Open Date                505 non-null    object
 7   Relo Year                505 non-null    object
 8   DT                       505 non-null    object
 9   LegacyShopType           505 non-null    object
 10  2025 Week 1              505 non-null    float64
 11  2025 Week 2              505 non-null    float64
 12  2025 Week 3              505 non-null    float64
 13  2025 Week 4              505 non-null    float64
 14  2025 Week 5              505 non-null    float64
 15  2025 Week 6              505 non-null    float64
 16  2025 Week 7              505 non-null    float64
 17  2025 Week 8              505 non-null    float64
 18  2025 Week 9              505 non-null    float64
 19  2025 Week 10             505 non-null    float64
 20  2025 Week 11             505 non-null    float64
 21  2025 Week 12             505 non-null    float64
 22  2025 Week 13             505 non-null    float64
 23  YTD 2025 WoW Comp Sales  505 non-null    float64
dtypes: float64(14), object(10)
memory usage: 94.8+ KB

In [125]:
shop_names_true_24=shop_names_true.pivot_table(index=['ParentID','ShopName','State','FC Initials','Franchisee','OriginalOpenDate','Relo Year',
                                  'DT','LegacyShopType'],columns='Week',values=2024,aggfunc='sum',fill_value=0,margins=True
                           ).reset_index()
shop_names_true_24 = shop_names_true_24.rename(columns=lambda x: f'2024 Week {x}' if isinstance(x, (int, float)) else x)
shop_names_true_24=shop_names_true_24.iloc[:-1,]
shop_names_true_24['Rank'] = shop_names_true_24['All'].rank(method='dense', ascending=False).astype(int)
shop_names_true_24=shop_names_true_24.iloc[:,np.r_[-1,0:len(shop_names_true_24.columns)-1]]
shop_names_true_24.loc[shop_names_true_24.LegacyShopType=='Walk-in / Walk-up','LegacyShopType']='WI/WU'
shop_names_true_24=shop_names_true_24.rename(columns={'OriginalOpenDate':'Open Date','All':'YTD 2024 WoW Comp Sales'})
shop_names_true_24=shop_names_true_24.sort_values(by='Rank')
ytd_row = pd.DataFrame(shop_names_true_24.iloc[:, 10:].sum()).T
ytd_row.insert(0, 'LegacyShopType', ' Weekly Totals')  # Adjust column name as needed
shop_names_true_24 = pd.concat([shop_names_true_24, ytd_row], ignore_index=True)
shop_names_true_24=shop_names_true_24.fillna('')
shop_names_true_24

Week,Rank,ParentID,ShopName,State,FC Initials,Franchisee,Open Date,Relo Year,DT,LegacyShopType,...,2024 Week 5,2024 Week 6,2024 Week 7,2024 Week 8,2024 Week 9,2024 Week 10,2024 Week 11,2024 Week 12,2024 Week 13,YTD 2024 WoW Comp Sales
0,1.0,374,Rhode Island Avenue,DC,LH,Angela Brock,2005-08-20 00:00:00,,No,Walk-up,...,22785.0000,23266.0000,21247.0000,0.000000e+00,1.981469e+04,5.891726e+04,6.446212e+04,2.723592e+04,5.832435e+04,4.184904e+05
1,2.0,463,681 River Ave-Lakewood NJ,NJ,PG,Elliot Bohm,2007-03-02 00:00:00,,No,WI/WU,...,15278.4800,25210.8400,18900.2800,1.886614e+04,3.560023e+04,2.123234e+04,2.744995e+04,2.033080e+04,2.087332e+04,2.584765e+05
2,3.0,445,5308 Princess Anne Rd-Virginia Beach VA,VA,FBC,Erica A. Terminello,2006-09-10 00:00:00,2023.0,Yes,Walk-up,...,8825.5790,7823.5590,13132.4760,6.632335e+03,3.091311e+04,2.451324e+04,1.858647e+04,1.796590e+04,1.195689e+04,1.900503e+05
3,4.0,22,1010 Court St-Clearwater FL,FL,JS,Derek E. Ruberti,1993-08-06 00:00:00,,Yes,Walk-up,...,9273.7360,9122.3300,7684.9640,1.251400e+04,1.413422e+04,1.477458e+04,1.812242e+04,1.528168e+04,1.676674e+04,1.512005e+05
4,5.0,1507,2881 Clark Rd-Sarasota FL,FL,JS,Brett E. Moore,2023-12-06 00:00:00,,No,WI/WU,...,9495.0000,9597.2400,9987.2200,1.199843e+04,1.258783e+04,1.482487e+04,1.685001e+04,1.435658e+04,1.372630e+04,1.465831e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,501.0,1462,8615 Liberty Rd-Randallstown MD,MD,LH,Husam K. Mutawe,2021-11-18 00:00:00,,No,WI/WU,...,0.0000,0.0000,0.0000,0.000000e+00,3.118200e+02,5.898900e+02,3.070930e+03,1.063250e+03,8.192700e+02,5.855160e+03
501,502.0,1409,1347 Kennedy Blvd-Bayonne NJ,NJ,LW,Ashraf Ashamalla,2020-02-13 00:00:00,,No,Walk-in,...,0.0000,0.0000,0.0000,0.000000e+00,0.000000e+00,0.000000e+00,1.612910e+03,2.032308e+03,2.107354e+03,5.752572e+03
502,503.0,221,105 Northumberland St-Danville PA,PA,DL,James M. Young Jr.,1999-08-05 00:00:00,,No,Walk-up,...,0.0000,0.0000,0.0000,0.000000e+00,1.090626e+03,2.631541e+03,0.000000e+00,0.000000e+00,0.000000e+00,3.722167e+03
503,504.0,550,Surf City,NJ,JD,Michele Angelo,2008-04-10 00:00:00,,No,WI/WU,...,0.0000,0.0000,0.0000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.237203e+03,1.237203e+03
504,,,,,,,,,,Weekly Totals,...,526268.6663,597265.9548,666846.5349,1.117693e+06,2.671078e+06,2.888100e+06,5.857317e+06,3.832453e+06,3.856174e+06,2.382890e+07

In [126]:
directors=same_week_comp.merge(ops[['ParentID','Director']],on='ParentID',how='left')
directors.loc[directors['Director'].isna(),'Director']='No Director'
week_ytd_cols = [col for col in directors.columns if "Week" in col or "YTD" in col]
director_group_true = directors.groupby('Director')[week_ytd_cols].sum().reset_index()
drop_cols = [col for col in director_group_true.columns if "%" in col]
director_group_true=director_group_true.drop(columns=drop_cols,axis=1)
ytd_row = pd.DataFrame(director_group_true.iloc[:, 1:].sum()).T
ytd_row.insert(0, 'Director', 'Totals')  # Adjust column name as needed
director_group_true = pd.concat([director_group_true, ytd_row], ignore_index=True)
director_group_true=director_group_true.fillna('')
director_group_true['Week '+str(this_week)+' WoW Comp Sales%']=director_group_true.iloc[:,1]/director_group_true.iloc[:,2]-1 
director_group_true['Week '+str(this_week)+' WoW Comp GC%']=director_group_true.iloc[:,3]/director_group_true.iloc[:,4]-1 
director_group_true['WoW Comp Sales%']=director_group_true.iloc[:,5]/director_group_true.iloc[:,6]-1 
director_group_true['WoW Comp GC%']=director_group_true.iloc[:,7]/director_group_true.iloc[:,8]-1 
director_group_true.info()
director_group_true=director_group_true.iloc[:,[0,1,2,9,3,4,10,5,6,11,7,8,12]]
director_group_true

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Director                     5 non-null      object
 1   Week 13 2025 WoW Comp Sales  5 non-null      float64
 2   Week 13 2024 WoW Comp Sales  5 non-null      float64
 3   Week 13 2025 WoW Comp GC     5 non-null      float64
 4   Week 13 2024 WoW Comp GC     5 non-null      float64
 5   YTD 2025 WoW Comp Sales      5 non-null      float64
 6   YTD 2024 WoW Comp Sales      5 non-null      float64
 7   YTD 2025 WoW Comp GC         5 non-null      float64
 8   YTD 2024 WoW Comp GC         5 non-null      float64
 9   Week 13 WoW Comp Sales%      5 non-null      float64
 10  Week 13 WoW Comp GC%         5 non-null      float64
 11  WoW Comp Sales%              5 non-null      float64
 12  WoW Comp GC%                 5 non-null      float64
dtypes: float64(12), object(1)
memory usage: 648.0+ bytes

,Director,Week 13 2025 WoW Comp Sales,Week 13 2024 WoW Comp Sales,Week 13 WoW Comp Sales%,Week 13 2025 WoW Comp GC,Week 13 2024 WoW Comp GC,Week 13 WoW Comp GC%,YTD 2025 WoW Comp Sales,YTD 2024 WoW Comp Sales,WoW Comp Sales%,YTD 2025 WoW Comp GC,YTD 2024 WoW Comp GC,WoW Comp GC%
0,Dave Roemer,1.769607e+06,1.280264e+06,0.382220,148399.0,115466.0,0.285218,7.670603e+06,7.535307e+06,0.017955,686444.0,689611.0,-0.004592
1,John D'Allesandro,2.379510e+06,1.524658e+06,0.560685,193598.0,139909.0,0.383742,8.969792e+06,8.373424e+06,0.071222,813568.0,800886.0,0.015835
2,No Director,3.263596e+04,2.268260e+04,0.438810,2593.0,2050.0,0.264878,1.176666e+05,1.083706e+05,0.085780,10793.0,10199.0,0.058241
3,Paul Greenberg,1.288512e+06,1.028569e+06,0.252724,102994.0,89745.0,0.147629,7.882990e+06,7.811802e+06,0.009113,682932.0,707289.0,-0.034437
4,Totals,5.470266e+06,3.856174e+06,0.418574,447584.0,347170.0,0.289236,2.464105e+07,2.382890e+07,0.034082,2193737.0,2207985.0,-0.006453

In [127]:
week_ytd_cols = [col for col in same_week_comp.columns if "Week" in col or "YTD" in col]


fc_group_true = same_week_comp.groupby("FC Initials")[week_ytd_cols].sum().reset_index()
drop_cols = [col for col in fc_group_true.columns if "%" in col]
fc_group_true=fc_group_true.drop(columns=drop_cols,axis=1)

ytd_row = pd.DataFrame(fc_group_true.iloc[:, 1:].sum()).T
ytd_row.insert(0, 'FC Initials', 'Totals')  # Adjust column name as needed
fc_group_true = pd.concat([fc_group_true, ytd_row], ignore_index=True)
fc_group_true=fc_group_true.fillna('')

fc_group_true['Week '+str(this_week)+' WoW Comp Sales%']=fc_group_true.iloc[:,1]/fc_group_true.iloc[:,2]-1 
fc_group_true['Week '+str(this_week)+' WoW Comp GC%']=fc_group_true.iloc[:,3]/fc_group_true.iloc[:,4]-1 
fc_group_true['WoW Comp Sales%']=fc_group_true.iloc[:,5]/fc_group_true.iloc[:,6]-1 
fc_group_true['WoW Comp GC%']=fc_group_true.iloc[:,7]/fc_group_true.iloc[:,8]-1 
fc_group_true.info()
fc_group_true=fc_group_true.iloc[:,[0,1,2,9,3,4,10,5,6,11,7,8,12]]
fc_group_true

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   FC Initials                  16 non-null     object
 1   Week 13 2025 WoW Comp Sales  16 non-null     float64
 2   Week 13 2024 WoW Comp Sales  16 non-null     float64
 3   Week 13 2025 WoW Comp GC     16 non-null     float64
 4   Week 13 2024 WoW Comp GC     16 non-null     float64
 5   YTD 2025 WoW Comp Sales      16 non-null     float64
 6   YTD 2024 WoW Comp Sales      16 non-null     float64
 7   YTD 2025 WoW Comp GC         16 non-null     float64
 8   YTD 2024 WoW Comp GC         16 non-null     float64
 9   Week 13 WoW Comp Sales%      16 non-null     float64
 10  Week 13 WoW Comp GC%         16 non-null     float64
 11  WoW Comp Sales%              16 non-null     float64
 12  WoW Comp GC%                 16 non-null     float64
dtypes: float64(12), object(1)
memory usage: 1.8+ KB

,FC Initials,Week 13 2025 WoW Comp Sales,Week 13 2024 WoW Comp Sales,Week 13 WoW Comp Sales%,Week 13 2025 WoW Comp GC,Week 13 2024 WoW Comp GC,Week 13 WoW Comp GC%,YTD 2025 WoW Comp Sales,YTD 2024 WoW Comp Sales,WoW Comp Sales%,YTD 2025 WoW Comp GC,YTD 2024 WoW Comp GC,WoW Comp GC%
0,DL,5.861388e+05,3.556171e+05,0.648230,50201.0,34601.0,0.450854,2.086056e+06,1.905027e+06,0.095027,198169.0,193180.0,0.025826
1,DR,1.729251e+05,1.212830e+05,0.425799,13453.0,10524.0,0.278316,8.351089e+05,8.851823e+05,-0.056568,74117.0,81473.0,-0.090288
2,EL,5.197783e+05,3.228837e+05,0.609800,40440.0,28866.0,0.400956,1.988593e+06,1.840836e+06,0.080266,170376.0,169821.0,0.003268
3,FBC,2.483696e+05,2.162546e+05,0.148505,21481.0,19089.0,0.125308,1.329379e+06,1.449774e+06,-0.083044,123622.0,130230.0,-0.050741
4,JD,2.235924e+05,1.583642e+05,0.411887,17041.0,13727.0,0.241422,8.744924e+05,8.702801e+05,0.004840,74209.0,76849.0,-0.034353
5,JF,1.893225e+05,1.291353e+05,0.466078,14876.0,11702.0,0.271236,7.735636e+05,7.314686e+05,0.057549,68268.0,69503.0,-0.017769
6,JM,2.157465e+05,1.766804e+05,0.221112,14964.0,13211.0,0.132692,1.712386e+06,1.626523e+06,0.052789,131084.0,128564.0,0.019601
7,JS,2.907602e+05,3.196788e+05,-0.090461,24915.0,28176.0,-0.115737,2.582527e+06,2.770338e+06,-0.067794,236536.0,263311.0,-0.101686
8,JT,6.205849e+05,3.750767e+05,0.654555,52242.0,34969.0,0.493952,2.276344e+06,2.083516e+06,0.092549,213286.0,204380.0,0.043576
9,JToo,2.728804e+05,2.134106e+05,0.278664,24117.0,21558.0,0.118703,1.261429e+06,1.128592e+06,0.117701,122834.0,116972.0,0.050115
10,LG,4.847233e+05,3.155890e+05,0.535932,40523.0,29686.0,0.365054,1.843660e+06,1.660264e+06,0.110462,171666.0,163208.0,0.051823
11,LH,5.389033e+05,3.763155e+05,0.432052,44806.0,30475.0,0.470254,2.134165e+06,2.140057e+06,-0.002753,175153.0,175275.0,-0.000696
12,LW,4.489330e+05,3.274079e+05,0.371173,35211.0,29065.0,0.211457,1.815012e+06,1.747674e+06,0.038530,164018.0,163655.0,0.002218
13,PG,1.130664e+05,9.087771e+04,0.244160,8084.0,7252.0,0.114727,9.864899e+05,1.038940e+06,-0.050484,76696.0,84013.0,-0.087094
14,TT,5.445411e+05,3.575991e+05,0.522770,45230.0,34269.0,0.319852,2.141847e+06,1.950432e+06,0.098140,193703.0,187551.0,0.032802
15,Totals,5.470266e+06,3.856174e+06,0.418574,447584.0,347170.0,0.289236,2.464105e+07,2.382890e+07,0.034082,2193737.0,2207985.0,-0.006453

# WoW Sales By Category

In [128]:
alist=['3rd Party Delivery','Full Service Catering (Open $)','Online Ordering','Catering (Bulk Ice)','Donut Catering']
wow_retail=data[~(data.LegacyShopType.str.contains('Mobile'))&~(
    data.ProductTypeName.isin(alist))&(data.SpecialVenue=='No')&(data.Week<=this_week)&(
    data.LegacyShopStatus!='Satellite Store')].pivot_table(index=['ParentID','Week','Month'],
                                                                                  columns='Year',
                                                                                  values='SalesMny',
                                                                                  aggfunc='sum',
                                                                                  fill_value=0).reset_index()

retail_sales=shops_true_comps[['ParentID','Week','Month']].merge(wow_retail,on=['ParentID','Week','Month'],how='left')

wow_bedford=data[(data.ShopID==11390)&~(data.ProductTypeName.isin(alist))&(
data.Week<=this_week)].pivot_table(index=['ParentID','Week','Month'],
                                                                                  columns='Year',
                                                                                  values='SalesMny',
                                                                                  aggfunc='sum',
                                                                                  fill_value=0).reset_index()
bedford_sales=shops_true_comps[['ParentID','Week','Month']].merge(wow_bedford,on=['ParentID','Week','Month'],how='inner')


wow_retail=pd.concat([retail_sales,bedford_sales]).dropna().groupby('ParentID')[[2024,2025]].sum().reset_index()

wow_sv=data[(data.SpecialVenue=='Yes')&(data.Week<=this_week)].pivot_table(index=['ParentID','Week','Month'],
                                                                                   columns='Year',values='SalesMny',
                                                                                   aggfunc='sum',
                                                                                    fill_value=0).reset_index()
sv_sales=shops_true_comps[['ParentID','Week','Month']].merge(wow_sv,on=['ParentID','Week','Month'],how='left')

wow_sv=sv_sales.dropna().groupby('ParentID')[[2024,2025]].sum().reset_index()
wow_online=data[(data.ProductTypeName=='Online Ordering')&(data.SpecialVenue=='No')&(
data.Week<=this_week)].pivot_table(index=['ParentID','Week','Month'],
                                                    columns='Year',
                                                    values='SalesMny',
                                                    aggfunc='sum',
                                                    fill_value=0)\
.reset_index()

online_sales=shops_true_comps[['ParentID','Week','Month']].merge(wow_online,on=['ParentID','Week','Month'],how='left')

wow_online=online_sales.dropna().groupby('ParentID')[[2024,2025]].sum().reset_index()
wow_pd3=data[(data.ProductTypeName=='3rd Party Delivery')&(data.SpecialVenue=='No')&(
data.Week<=this_week)].pivot_table(index=['ParentID','Week','Month'],
                        columns='Year',
                        values='SalesMny',
                        aggfunc='sum',
                        fill_value=0)\
.reset_index()
pd3_sales=shops_true_comps[['ParentID','Week','Month']].merge(wow_pd3,on=['ParentID','Week','Month'],how='left')

wow_pd3=pd3_sales.dropna().groupby('ParentID')[[2024,2025]].sum().reset_index()

wow_mobile=data[(data.LegacyShopType.str.contains('Mobile'))&(data.SpecialVenue=='No')&(data.Week<=this_week)]\
                                            .pivot_table(index=['ParentID','Week','Month'],
                                                columns='Year',
                                                values='SalesMny',
                                                aggfunc='sum',
                                                fill_value=0).reset_index()

mobile_sales=shops_true_comps[['ParentID','Week','Month']].merge(wow_mobile,on=['ParentID','Week','Month'],how='left')
wow_mobile=mobile_sales.dropna().groupby('ParentID')[[2024,2025]].sum().reset_index()

wow_catering=data[(data.SpecialVenue=='No')&(
    data.ProductTypeName.str.contains('Catering'))&(data.Week<=this_week)&(data.ShopID<10000)].pivot_table(
    index=['ParentID','Week','Month'],
    columns='Year',
    values='SalesMny',
    aggfunc='sum',
    fill_value=0).reset_index()
wow_bedford_catering=data[(data.ShopID==11390)&(
    data.ProductTypeName.str.contains('Catering'))&(data.Week<=this_week)].pivot_table(
    index=['ParentID','Week','Month'],
    columns='Year',
    values='SalesMny',
    aggfunc='sum',
    fill_value=0).reset_index()
catering_sales=shops_true_comps[['ParentID','Week','Month']].merge(wow_catering,on=['ParentID','Week','Month'],how='left')
bedford_catering_sales=shops_true_comps[['ParentID','Week','Month']].merge(wow_bedford_catering,on=['ParentID','Week','Month'],how='inner')
wow_catering=pd.concat([catering_sales,bedford_catering_sales]).dropna().groupby('ParentID')[[2024,2025]].sum().reset_index()

In [129]:
wow_cat=pd.DataFrame({
    'Category':['Retail','Special Venue','Online','3rd Party','Mobile','Catering'],
    '2025 YTD':[wow_retail.sum().iloc[2],wow_sv.sum().iloc[2],wow_online.sum().iloc[2],wow_pd3.sum().iloc[2],wow_mobile.sum().iloc[2],wow_catering.sum().iloc[2]],
    '2024 YTD':[wow_retail.sum().iloc[1],wow_sv.sum().iloc[1],wow_online.sum().iloc[1],wow_pd3.sum().iloc[1],wow_mobile.sum().iloc[1],wow_catering.sum().iloc[1]]})

In [130]:
data[(data.SpecialVenue=='Yes')&(data.Week==this_week)].pivot_table(index=['ParentID','Week','Month'],
                                                                                   columns='Year',values='SalesMny',
                                                                                   aggfunc='sum',
                                                                                    fill_value=0).reset_index()

Year  ParentID  Week  Month      2024
0           96    13      3    900.50
1          374    13      3  46719.00
2          626    13      3  19288.92
3          882    13      3   1954.75
4          887    13      3   2028.55
5          888    13      3  20143.21
6         1348    13      3   1906.57
7         1478    13      3   3571.80
8         1492    13      3  11551.00
9         1534    13      3  20625.73
10        1551    13      3  24353.48
11        1552    13      3  63421.84
12        1563    13      3    579.34

In [131]:
wow_cw_retail=data[~(data.LegacyShopType.str.contains('Mobile'))&~(
    data.ProductTypeName.isin(alist))&(data.LegacyShopStatus!='Satellite Store')&(data.SpecialVenue=='No')&(data.Week==this_week)].pivot_table(
    index=['ParentID','Week','Month'],
    columns='Year',
    values='SalesMny',
    aggfunc='sum',
    fill_value=0).reset_index()

cw_retail_sales=shops_true_comps[['ParentID','Week','Month']].merge(wow_cw_retail,on=['ParentID','Week','Month'],how='left')



wow_cw_bedford=data[(data.ShopID==11390)&~(data.ProductTypeName.isin(alist))&(
data.Week==this_week)].pivot_table(index=['ParentID','Week','Month'],
                                            columns='Year',
                                            values='SalesMny',
                                            aggfunc='sum',
                                            fill_value=0).reset_index()

cw_bedford_sales=shops_true_comps[['ParentID','Week','Month']].merge(wow_cw_bedford,on=['ParentID','Week','Month'],how='inner')



wow_cw_retail=pd.concat([cw_retail_sales,cw_bedford_sales]).groupby('ParentID')[[2024,2025]].sum().reset_index()


wow_cw_sv=data[(data.SpecialVenue=='Yes')&(data.Week==this_week)].pivot_table(index=['ParentID','Week','Month'],
                                                                                   columns='Year',values='SalesMny',
                                                                                   aggfunc='sum',
                                                                                    fill_value=0).reset_index()
current_year=this_year.EndDate.dt.year.min()

if current_year not in wow_cw_sv.columns:
    wow_cw_sv[current_year] = 0  # Initialize with zeros

    
cw_sv_sales=shops_true_comps[['ParentID','Week','Month']].merge(wow_cw_sv,on=['ParentID','Week','Month'],how='left')
wow_cw_sv=cw_sv_sales.dropna().groupby('ParentID')[[2024,2025]].sum().reset_index()


wow_cw_online=data[(data.ProductTypeName=='Online Ordering')&(data.SpecialVenue=='No')&(
data.Week==this_week)].pivot_table(index=['ParentID','Week','Month'],
                                                    columns='Year',
                                                    values='SalesMny',
                                                    aggfunc='sum',
                                                    fill_value=0)\
.reset_index()

cw_online_sales=shops_true_comps[['ParentID','Week','Month']].merge(wow_cw_online,on=['ParentID','Week','Month'],how='left')
wow_cw_online=cw_online_sales.dropna().groupby('ParentID')[[2024,2025]].sum().reset_index()

wow_cw_pd3=data[(data.ProductTypeName=='3rd Party Delivery')&(data.SpecialVenue=='No')&(
data.Week==this_week)].pivot_table(index=['ParentID','Week','Month'],
                        columns='Year',
                        values='SalesMny',
                        aggfunc='sum',
                        fill_value=0)\
.reset_index()
cw_pd3_sales=shops_true_comps[['ParentID','Week','Month']].merge(wow_cw_pd3,on=['ParentID','Week','Month'],how='left')
wow_cw_pd3=cw_pd3_sales.dropna().groupby('ParentID')[[2024,2025]].sum().reset_index()

wow_cw_mobile=data[(data.LegacyShopType.str.contains('Mobile'))&(data.SpecialVenue=='No')&(data.Week==this_week)]\
                                            .pivot_table(index=['ParentID','Week','Month'],
                                                columns='Year',
                                                values='SalesMny',
                                                aggfunc='sum',
                                                fill_value=0).reset_index()

cw_mobile_sales=shops_true_comps[['ParentID','Week','Month']].merge(wow_cw_mobile,on=['ParentID','Week','Month'],how='left')
wow_cw_mobile=cw_mobile_sales.dropna().groupby('ParentID')[[2024,2025]].sum().reset_index()

wow_cw_catering=data[(data.SpecialVenue=='No')&(
    data.ProductTypeName.str.contains('Catering'))&(data.Week==this_week)&(data.ShopID<10000)].pivot_table(
    index=['ParentID','Week','Month'],
    columns='Year',
    values='SalesMny',
    aggfunc='sum',
    fill_value=0).reset_index()
wow_bedford_cw_catering=data[(data.ShopID==11390)&(
    data.ProductTypeName.str.contains('Catering'))&(data.Week==this_week)].pivot_table(
    index=['ParentID','Week','Month'],
    columns='Year',
    values='SalesMny',
    aggfunc='sum',
    fill_value=0).reset_index()
cw_catering_sales=shops_true_comps[['ParentID','Week','Month']].merge(wow_cw_catering,on=['ParentID','Week','Month'],how='left')
bedford_cw_catering_sales=shops_true_comps[['ParentID','Week','Month']].merge(wow_bedford_cw_catering,on=['ParentID','Week','Month'],how='inner')
wow_cw_catering=pd.concat([cw_catering_sales,bedford_cw_catering_sales]).dropna().groupby('ParentID')[[2024,2025]].sum().reset_index()

In [132]:
wow_cw_cat=pd.DataFrame({
    'Category':['Retail','Special Venue','Online','3rd Party','Mobile','Catering'],
    f'2025 Week {this_week}':[wow_cw_retail.sum().iloc[2],wow_cw_sv.sum().iloc[2],wow_cw_online.sum().iloc[2],wow_cw_pd3.sum().iloc[2],
                              wow_cw_mobile.sum().iloc[2],wow_cw_catering.sum().iloc[2]],
    f'2024 Week {this_week}':[wow_cw_retail.sum().iloc[1],wow_cw_sv.sum().iloc[1],wow_cw_online.sum().iloc[1],wow_cw_pd3.sum().iloc[1],
                              wow_cw_mobile.sum().iloc[1],wow_cw_catering.sum().iloc[1]]})
wow_cat=wow_cw_cat.merge(wow_cat)
ytd_row = pd.DataFrame(wow_cat.iloc[:, 1:].sum()).T
ytd_row.insert(0, 'Category', 'Totals')  # Adjust column name as needed
wow_cat=pd.concat([wow_cat,ytd_row])
wow_cat[f'Week {this_week} Sales%']=wow_cat.iloc[:,1]/wow_cat.iloc[:,2]-1
wow_cat['YTD Sales%']=wow_cat.iloc[:,3]/wow_cat.iloc[:,4]-1
wow_cat=wow_cat.iloc[:,[0,1,2,5,3,4,6]]
wow_cat=wow_cat.set_index('Category')

In [133]:
# with pd.ExcelWriter('wow test comp.xlsx',engine='xlsxwriter') as writer:
#     cw_retail.to_excel(writer, sheet_name='Retail',index=False)
#     cw_sv.to_excel(writer, sheet_name='SV',index=False)
#     cw_online.to_excel(writer, sheet_name='Online',index=False)
#     cw_pd3.to_excel(writer, sheet_name='3rd Party',index=False)
#     cw_catering.to_excel(writer, sheet_name='Catering',index=False)
#     cw_mobile.to_excel(writer, sheet_name='Mobile',index=False)

In [134]:
lastrow=true_sales_gc.shape[0]
timestamp = datetime.now().strftime("%m-%d-%y %H%M")
with pd.ExcelWriter('Wk '+str(this_week)+' Week Over Week Comp Report WE - '+str(data.EndDate.max().strftime('%m.%d.%y'))+' - Ran On '+str(timestamp)+'.xlsx',engine='xlsxwriter',
                   datetime_format='mm/dd/yyyy') as writer5:
    comp_workbook=writer5.book
    format_header2=comp_workbook.add_format()
    format_header2.set_italic()
    format_header2.set_bold()
    shop_format=comp_workbook.add_format({'align':'center','valign':'vcenter'})
    text_format=comp_workbook.add_format({'align':'left','valign':'vcenter'})
    center_text_format=comp_workbook.add_format({'align':'center','valign':'vcenter'})
    format_num=comp_workbook.add_format({'num_format':'$#,##0',
                                        'align':'right',
                                        'valign':'vcenter'})
    check_format=comp_workbook.add_format({'num_format':'$#,##0.00',
                                        'align':'right',
                                        'valign':'vcenter'})
    
    format_qty=comp_workbook.add_format({'num_format':'#,##0',
                                        'align':'right',
                                        'valign':'vcenter'})
    perc_format=comp_workbook.add_format({'num_format':'#0.0%',
                                         'align':'right',
                                         'valign':'vcenter'})
    total_dollar_format=comp_workbook.add_format({'bold':True,
                                          'bg_color':'#d5d8dc',
                                          'num_format':'$#,##0',
                                        'align':'right',
                                        'valign':'vcenter'})
    ytd_format=comp_workbook.add_format({'bold':True,
                                          'bg_color':'#d5d8dc',
                                          'num_format':'$#,##0',
                                        'align':'center',
                                        'valign':'vcenter'})
    
    total_gc_format=comp_workbook.add_format({'bold':True,
                                          'bg_color':'#d5d8dc',
                                          'num_format':'#,##0',
                                        'align':'right',
                                        'valign':'vcenter'})
    
    total_perc_format=comp_workbook.add_format({'bold':True,
                                          'bg_color':'#d5d8dc',
                                          'num_format':'#0.0%',
                                        'align':'right',
                                        'valign':'vcenter'})
    col_header=comp_workbook.add_format({'bg_color':'#B5B16B',
                                         'bold':True,'align':'center','valign':'vcenter',
                                         'text_wrap':True})
    a1=comp_workbook.add_format({'align':'center','valign':'vcenter','bold':True})
    border_format=comp_workbook.add_format({'top':2,'bottom':2,'left':2,'right':2})
    total_format = comp_workbook.add_format({'bg_color': '#d5d8dc','bold':True})
    
    title='Ritas Franchise Company,LLC'
    comp_text='YTD Week Over Week Comp Sales and Guest Count by Shop'
    fc_comp_text='YTD Week Over Week Comp Sales and Guest Count by Franchise Consultant'
    director_comp_text='YTD Week Over Week Comp Sales and Guest Count by Director'
    category_text='YTD Week Over Week Sales Report by Sales Category'
    comp_text1='Comp Sales Include: Retail/Mobile/Satellite/3rd Party/Special Venue/Online'
    comp_text2='YTD 2025 v 2024 For Week Over Week Sales and Guest Counts thru Week '+str(this_week)+' - WE '+str(data.EndDate.max().strftime('%m.%d.%y'))
    comp_text3='Week Over Week Compartive Weekly Sales & GC For All Opened Shops'
    month_text='YTD Comp Sales and Guest Count by Month'
    unique_text1='# of Unique Comp Shops Reported Sales in Comparitive Weeks - 2025 vs 2024'
    unique_text2='Shops Must Have Reported Sales in Excess of $1 to be Counted'
    week_text25='Weekly 2025 WoW Comp Shop Sales thru Wk '+str(this_week)+' - WE '+str(data.EndDate.max().strftime('%m.%d.%y'))
    week_text24='Weekly 2024 WoW Comp Shop Sales thru Wk '+str(this_week)+' - WE '+str(data.EndDate.max().strftime('%m.%d.%y'))
    
    true_sales_gc.to_excel(writer5,startrow=8,startcol=1, sheet_name='Comps By Month')
    wow_cat.to_excel(writer5, startrow=8,startcol=1,sheet_name='Sales By Category')
    same_week_comp.to_excel(writer5,startrow=8,startcol=1, sheet_name='YTD Same Week Comp Shop Rank',index=False)
    same_week_summary.to_excel(writer5, startrow=1,startcol=16,sheet_name='YTD Same Week Comp Shop Rank',index=False)
    weekly_summary.to_excel(writer5, startrow=1,startcol=10,sheet_name='YTD Same Week Comp Shop Rank',index=False)
    comp_unique_shops.to_excel(writer5, startrow=7, startcol=2,sheet_name='Unique Shops Opened-Comps Only')
    shop_names_true_25.to_excel(writer5,startrow=8,startcol=1,sheet_name='2025 Weekly Sales Comp by Shop',index=False)
    shop_names_true_24.to_excel(writer5,startrow=8,startcol=1,sheet_name='2024 Weekly Sales Comp by Shop',index=False)
    fc_group_true.to_excel(writer5, startrow=8, startcol=1, sheet_name='Comps By FC',index=False)
    director_group_true.to_excel(writer5, startrow=8, startcol=1, sheet_name='Comps By Director',index=False)
    
    ws=writer5.sheets['Comps By Month']                     
    ws.conditional_format(xlsxwriter.utility.xl_range(8,1,len(true_sales_gc)+8,len(true_sales_gc.columns)+1),
                                  {'type': 'no_errors', 'format': border_format})
    for col in range(1,3):
        ws.write(true_sales_gc.shape[0]+8,col+1,true_sales_gc.iloc[-1,col-1],total_dollar_format)
  
    for col in range(4,6):
        ws.write(true_sales_gc.shape[0]+8,col+1,true_sales_gc.iloc[-1,col-1],total_gc_format)
    for col in range(3,4):
        ws.write(true_sales_gc.shape[0]+8,col+1,true_sales_gc.iloc[-1,col-1],total_perc_format)
    for col in range(6,7):
        ws.write(true_sales_gc.shape[0]+8,col+1,true_sales_gc.iloc[-1,col-1],total_perc_format)
    
    ws.write(lastrow+8,1,'YTD Totals',ytd_format)
    ws.write_row('B9',true_sales_gc.reset_index().columns,col_header)
    ws.write(1,2,title,format_header2)
    ws.write(2,2,month_text,format_header2)
    ws.write(3,2,comp_text1,format_header2)
    ws.write(4,2,comp_text2,format_header2)
    ws.write(5,2,comp_text3,format_header2)

    ws.set_column('B:B',13,text_format)
    ws.set_column('C:D',13,format_num)
    ws.set_column('E:E',12,perc_format)
    ws.set_column('F:G',13,format_qty)
    ws.set_column('H:H',12,perc_format)
    ws.insert_image('B2','Logo.png')
    ws.hide_gridlines(2)
    
    # Set the worksheet orientation to Landscape
    ws.set_portrait()

    # Fit the worksheet to one page
    ws.fit_to_pages(1, 0)  # (width, height)

    # Optional: Adjust scaling for better fit (e.g., 90%)
#     ws.set_zoom(90)
    
    ws.set_margins(left=0.25, right=0.25, top=0.25, bottom=0.25)
    
    ws10=writer5.sheets['Sales By Category']                     
    ws10.conditional_format(xlsxwriter.utility.xl_range(8,1,len(wow_cat)+8,len(wow_cat.columns)+1),
                                  {'type': 'no_errors', 'format': border_format})
    for col in range(1,3):
        ws10.write(wow_cat.shape[0]+8,col+1,wow_cat.iloc[-1,col-1],total_dollar_format)
  
    for col in range(4,6):
        ws10.write(wow_cat.shape[0]+8,col+1,wow_cat.iloc[-1,col-1],total_gc_format)
    for col in range(3,4):
        ws10.write(wow_cat.shape[0]+8,col+1,wow_cat.iloc[-1,col-1],total_perc_format)
    for col in range(6,7):
        ws10.write(wow_cat.shape[0]+8,col+1,wow_cat.iloc[-1,col-1],total_perc_format)
    
    ws10.write(wow_cat.shape[0]+8,1,'YTD Totals',ytd_format)
    ws10.write_row('B9',wow_cat.reset_index().columns,col_header)
    ws10.write(1,2,title,format_header2)
    ws10.write(2,2,category_text,format_header2)
    ws10.write(3,2,comp_text1,format_header2)
    ws10.write(4,2,comp_text2,format_header2)
    ws10.write(5,2,comp_text3,format_header2)

    ws10.set_column('B:B',13,text_format)
    ws10.set_column('C:D',13,format_num)
    ws10.set_column('E:E',12,perc_format)
    ws10.set_column('F:G',13,format_qty)
    ws10.set_column('H:H',12,perc_format)
    ws10.insert_image('B2','Logo.png')
    ws10.hide_gridlines(2)
    
    # Set the worksheet orientation to Landscape
    ws10.set_portrait()

    # Fit the worksheet to one page
    ws10.fit_to_pages(1, 0)  # (width, height)

    # Optional: Adjust scaling for better fit (e.g., 90%)
#     ws.set_zoom(90)
    
    ws10.set_margins(left=0.25, right=0.25, top=0.25, bottom=0.25)
    
    
    ws1=writer5.sheets['YTD Same Week Comp Shop Rank']
    
        # Define formats
    header_format_default = comp_workbook.add_format({'bg_color': '#B5B16B', 'bold': True, 'align': 'center', 'valign': 'vcenter', 'text_wrap': True})
    header_format_special = comp_workbook.add_format({'bg_color': '#7A9AA6', 'bold': True, 'align': 'center', 'valign': 'vcenter', 'text_wrap': True})  # Green for L9:Q9

    # Write headers with different formatting
    for col_num, header in enumerate(same_week_comp.columns):
        col_letter = chr(65 + col_num)  # Convert column index to letter (A-Z, AA, AB, etc.)

        # Check if the column is within L to Q (columns 12 to 17 in zero-based index)
        if 10 <= col_num <= 15:
            ws1.write(8, col_num + 1, header, header_format_special)  # Row 9 (0-based index is 8)
        else:
            ws1.write(8, col_num + 1, header, header_format_default)

    # Apply conditional formatting
    ws1.conditional_format(xlsxwriter.utility.xl_range(8,1,len(same_week_comp)+8,len(same_week_comp.columns)),
                            {'type': 'no_errors', 'format': border_format})
    ws1.conditional_format('K2:N5', {'type': 'no_errors', 'format': border_format})
    ws1.conditional_format('Q2:T5', {'type': 'no_errors', 'format': border_format})

    # Title formatting
    title_format = comp_workbook.add_format({'bold': True, 'bg_color': '#B5B16B', 'align': 'center'})
    w_title_format = comp_workbook.add_format({'bold': True, 'bg_color': '#7A9AA6', 'align': 'center'})

    # Writing data and labels
    ws1.write(1,2,title,format_header2)
    ws1.write(2,2,comp_text,format_header2)
    ws1.write(3,2,comp_text1,format_header2)
    ws1.write(4,2,comp_text2,format_header2)
    ws1.write(5,2,comp_text3,format_header2)
  

    # Weekly summary
    ws1.write('L3',weekly_summary.iloc[0,1],format_num)
    ws1.write('M3',weekly_summary.iloc[0,2],format_num)
    ws1.write('N3',weekly_summary.iloc[0,3],perc_format)
    ws1.write('L4',weekly_summary.iloc[1,1],format_qty)
    ws1.write('M4',weekly_summary.iloc[1,2],format_qty)
    ws1.write('N4',weekly_summary.iloc[1,3],perc_format)
    ws1.write('L5',weekly_summary.iloc[2,1],check_format)
    ws1.write('M5',weekly_summary.iloc[2,2],check_format)
    ws1.write('N5',weekly_summary.iloc[2,3],perc_format)

    # Labels for weekly summary
    ws1.write_row('K2', weekly_summary.columns, w_title_format)
    ws1.write('K3', f'WoW Wk {this_week} Comp Sales', w_title_format)
    ws1.write('K4', f'WoW Wk {this_week} Comp GC', w_title_format)
    ws1.write('K5', f'WoW Wk {this_week} Comp Avg.Check', w_title_format)

    # YTD Summary
    ws1.write('R3', same_week_summary.iloc[0,1], format_num)
    ws1.write('S3', same_week_summary.iloc[0,2], format_num)
    ws1.write('T3', same_week_summary.iloc[0,3], perc_format)
    ws1.write('R4', same_week_summary.iloc[1,1], format_qty)
    ws1.write('S4', same_week_summary.iloc[1,2], format_qty)
    ws1.write('T4', same_week_summary.iloc[1,3], perc_format)
    ws1.write('R5', same_week_summary.iloc[2,1], check_format)
    ws1.write('S5', same_week_summary.iloc[2,2], check_format)
    ws1.write('T5', same_week_summary.iloc[2,3], perc_format)

    # Labels for YTD summary
    ws1.write_row('Q2', same_week_summary.columns, title_format)
    ws1.write('Q3', 'YTD WoW Comp Sales', title_format)
    ws1.write('Q4', 'YTD WoW Comp GC', title_format)
    ws1.write('Q5', 'YTD WoW Comp Avg.Check', title_format)

    # Column formatting
    ws1.set_column('B:C', 8, center_text_format)
    ws1.set_column('D:D', 41, text_format)
    ws1.set_column('E:E', 4.89, center_text_format)
    ws1.set_column('F:F', 6.29, center_text_format)
    ws1.set_column('G:G', 24.57, text_format)
    ws1.set_column('H:H', 10, center_text_format)
    ws1.set_column('I:J', 4.29, center_text_format)
    ws1.set_column('K:K', 26.57, text_format)
    ws1.set_column('L:M', 14, format_num)
    ws1.set_column('N:N', 10.57, perc_format)
    ws1.set_column('O:P', 8.43, format_qty)
    ws1.set_column('Q:Q', 25, perc_format)
    ws1.set_column('R:S', 10.57, format_num)
    ws1.set_column('T:T', 11, perc_format)
    ws1.set_column('U:V', 8.43, format_qty)
    ws1.set_column('W:W', 11, perc_format)

    # Hide gridlines and insert logo
    ws1.hide_gridlines(2)
    ws1.insert_image('B2', 'Logo.png')

    # Set worksheet print settings
    ws1.set_portrait()
    ws1.set_paper(3)  # 11x17 print format
    ws1.fit_to_pages(1, 0)  # Fit to one page width


    # Optional: Adjust scaling for better fit (e.g., 90%)
#     ws.set_zoom(90)
    
    ws1.set_margins(left=0.25, right=0.25, top=0.25, bottom=0.25)
    
    ws2=writer5.sheets['Unique Shops Opened-Comps Only']
    ws2.conditional_format(xlsxwriter.utility.xl_range(7,2,len(comp_unique_shops)+7,len(comp_unique_shops.columns)+2),
                                  {'type': 'no_errors', 'format': border_format})
    
    ws2.write(1,2,title,format_header2)
    ws2.write(2,2,unique_text1,format_header2)
    ws2.write(3,2,unique_text2,format_header2)
    ws2.write_row('C8',comp_unique_shops.reset_index().columns,col_header)
    ws2.set_column('D:E',11,center_text_format)
    ws2.insert_image('B2','Logo.png')
    ws2.hide_gridlines(2)
    
    ws3=writer5.sheets['2025 Weekly Sales Comp by Shop']
    ws3.conditional_format(xlsxwriter.utility.xl_range(8,1,len(shop_names_true_25)+8,len(shop_names_true_25.columns)),
                                  {'type': 'no_errors', 'format': border_format})
    ws3.conditional_format(xlsxwriter.utility.xl_range(shop_names_true_25.shape[0]+8, 1, shop_names_true_25.shape[0]+8, len(shop_names_true_25.columns)),  # Row 7 (zero-based index is 6)
                        {'type': 'no_errors', 'format': total_format})
    
    ws3.write_row('B9',shop_names_true_25.columns,col_header)        
    ws3.write(1,2,title,format_header2)
    ws3.write(2,2,comp_text,format_header2)
    ws3.write(3,2,comp_text1,format_header2)
    ws3.write(4,2,week_text25,format_header2)
    ws3.write(5,2,comp_text3,format_header2)
    #ws3.write(6,2,comp_text4,format_header2)
    ws3.set_column('B:C',8,center_text_format)
    ws3.set_column('D:D',41,text_format)
    ws3.set_column('E:E',4.89,center_text_format)
    ws3.set_column('F:F',6.29,center_text_format)
    ws3.set_column('G:G',24.57,text_format)
    ws3.set_column('H:H',10,center_text_format)
    ws3.set_column('I:J',4.29,center_text_format)
    ws3.set_column('K:K',19,text_format)
    ws3.set_column('L:ZZ',10.57,format_num)
    ws3.insert_image('B2','Logo.png')
    ws3.hide_gridlines(2)
    
    ws4=writer5.sheets['2024 Weekly Sales Comp by Shop']
    ws4.conditional_format(xlsxwriter.utility.xl_range(8,1,len(shop_names_true_24)+8,len(shop_names_true_24.columns)),
                                  {'type': 'no_errors', 'format': border_format})
    ws4.conditional_format(xlsxwriter.utility.xl_range(shop_names_true_24.shape[0]+8, 1, shop_names_true_24.shape[0]+8, len(shop_names_true_24.columns)),  # Row 7 (zero-based index is 6)
                        {'type': 'no_errors', 'format': total_format})
    
    ws4.write_row('B9',shop_names_true_24.columns,col_header)        
    ws4.write(1,2,title,format_header2)
    ws4.write(2,2,comp_text,format_header2)
    ws4.write(3,2,comp_text1,format_header2)
    ws4.write(4,2,week_text24,format_header2)
    ws4.write(5,2,comp_text3,format_header2)
    #ws4.write(6,2,comp_text4,format_header2)
    ws4.set_column('B:C',8,center_text_format)
    ws4.set_column('D:D',41,text_format)
    ws4.set_column('E:E',4.89,center_text_format)
    ws4.set_column('F:F',6.29,center_text_format)
    ws4.set_column('G:G',24.57,text_format)
    ws4.set_column('H:H',10,center_text_format)
    ws4.set_column('I:J',4.29,center_text_format)
    ws4.set_column('K:K',19,text_format)
    ws4.set_column('L:ZZ',10.57,format_num)
    ws4.insert_image('B2','Logo.png')
    ws4.hide_gridlines(2)
    
    ws5=writer5.sheets['Comps By FC']
    ws5.conditional_format(xlsxwriter.utility.xl_range(8,1,len(fc_group_true)+8,len(fc_group_true.columns)),
                                  {'type': 'no_errors', 'format': border_format})
    ws5.conditional_format(xlsxwriter.utility.xl_range(fc_group_true.shape[0]+8, 1, fc_group_true.shape[0]+8, len(fc_group_true.columns)),  # Row 7 (zero-based index is 6)
                        {'type': 'no_errors', 'format': total_format})
    for col_num, header in enumerate(fc_group_true.columns):
        col_letter = chr(65 + col_num)  # Convert column index to letter (A-Z, AA, AB, etc.)

        # Check if the column is within L to Q (columns 12 to 17 in zero-based index)
        if 1 <= col_num <= 6:
            ws5.write(8, col_num + 1, header, header_format_special)  # Row 9 (0-based index is 8)
        else:
            ws5.write(8, col_num + 1, header, header_format_default)
    
#     ws5.write_row('B9',fc_group.columns,col_header)        
    ws5.write(1,2,title,format_header2)
    ws5.write(2,2,fc_comp_text,format_header2)
    ws5.write(3,2,comp_text1,format_header2)
    ws5.write(4,2,comp_text2,format_header2)
    ws5.write(5,2,comp_text3,format_header2)
    #ws5.write(6,2,comp_text4,format_header2)
    ws5.set_column('B:B',8,center_text_format)
    ws5.set_column('C:D',10.57,format_num)
    ws5.set_column('E:E',10.57,perc_format)
    ws5.set_column('F:G',10.57,format_qty)
    ws5.set_column('H:H',10.57,perc_format)
    ws5.set_column('I:J',10.57,format_num)
    ws5.set_column('K:K',10.57,perc_format)
    ws5.set_column('L:M',10.57,format_qty)
    ws5.set_column('N:N',10.57,perc_format)
    ws5.insert_image('B2','Logo.png')
    ws5.hide_gridlines(2)
    
    # Set the worksheet orientation to Landscape
    ws5.set_portrait()

    # Fit the worksheet to one page
    ws5.fit_to_pages(1, 0)  # (width, height)

    # Optional: Adjust scaling for better fit (e.g., 90%)
#     ws.set_zoom(90)
    
    ws5.set_margins(left=0.25, right=0.25, top=0.25, bottom=0.25)
    
    ws6=writer5.sheets['Comps By Director']
    ws6.conditional_format(xlsxwriter.utility.xl_range(8,1,len(director_group_true)+8,len(director_group_true.columns)),
                                  {'type': 'no_errors', 'format': border_format})
    ws6.conditional_format(xlsxwriter.utility.xl_range(director_group_true.shape[0]+8, 1, director_group_true.shape[0]+8, len(director_group_true.columns)),  # Row 7 (zero-based index is 6)
                        {'type': 'no_errors', 'format': total_format})
    for col_num, header in enumerate(director_group_true.columns):
        col_letter = chr(65 + col_num)  # Convert column index to letter (A-Z, AA, AB, etc.)

        # Check if the column is within L to Q (columns 12 to 17 in zero-based index)
        if 1 <= col_num <= 6:
            ws6.write(8, col_num + 1, header, header_format_special)  # Row 9 (0-based index is 8)
        else:
            ws6.write(8, col_num + 1, header, header_format_default)
    
#     ws6.write_row('B9',fc_group.columns,col_header)        
    ws6.write(1,2,title,format_header2)
    ws6.write(2,2,director_comp_text,format_header2)
    ws6.write(3,2,comp_text1,format_header2)
    ws6.write(4,2,comp_text2,format_header2)
    ws6.write(5,2,comp_text3,format_header2)
    #ws6.write(6,2,comp_text4,format_header2)
    ws6.set_column('B:B',16.29,center_text_format)
    ws6.set_column('C:D',10.57,format_num)
    ws6.set_column('E:E',10.57,perc_format)
    ws6.set_column('F:G',10.57,format_qty)
    ws6.set_column('H:H',10.57,perc_format)
    ws6.set_column('I:J',10.57,format_num)
    ws6.set_column('K:K',10.57,perc_format)
    ws6.set_column('L:M',10.57,format_qty)
    ws6.set_column('N:N',10.57,perc_format)
    ws6.insert_image('B2','Logo.png')
    ws6.hide_gridlines(2)
    
    # Set the worksheet orientation to Landscape
    ws6.set_portrait()

    # Fit the worksheet to one page
    ws6.fit_to_pages(1, 0)  # (width, height)

    # Optional: Adjust scaling for better fit (e.g., 90%)
#     ws.set_zoom(90)
    
    ws6.set_margins(left=0.25, right=0.25, top=0.25, bottom=0.25)

In [135]:
lastrow=monthly_comps.shape[0]
timestamp = datetime.now().strftime("%m-%d-%y %H%M")
with pd.ExcelWriter('Wk '+str(this_week)+' YoY Comp Sales Report WE - '+str(data.EndDate.max().strftime('%m.%d.%y'))+' - Ran On '+str(timestamp)+'.xlsx',engine='xlsxwriter',
                   datetime_format='mm/dd/yyyy') as writer5:
    comp_workbook=writer5.book
    format_header2=comp_workbook.add_format()
    format_header2.set_italic()
    format_header2.set_bold()
    shop_format=comp_workbook.add_format({'align':'center','valign':'vcenter'})
    text_format=comp_workbook.add_format({'align':'left','valign':'vcenter'})
    center_text_format=comp_workbook.add_format({'align':'center','valign':'vcenter'})
    format_num=comp_workbook.add_format({'num_format':'$#,##0',
                                        'align':'right',
                                        'valign':'vcenter'})
    check_format=comp_workbook.add_format({'num_format':'$#,##0.00',
                                        'align':'right',
                                        'valign':'vcenter'})
    
    format_qty=comp_workbook.add_format({'num_format':'#,##0',
                                        'align':'right',
                                        'valign':'vcenter'})
    perc_format=comp_workbook.add_format({'num_format':'#0.0%',
                                         'align':'right',
                                         'valign':'vcenter'})
    total_dollar_format=comp_workbook.add_format({'bold':True,
                                          'bg_color':'#d5d8dc',
                                          'num_format':'$#,##0',
                                        'align':'right',
                                        'valign':'vcenter'})
    ytd_format=comp_workbook.add_format({'bold':True,
                                          'bg_color':'#d5d8dc',
                                          'num_format':'$#,##0',
                                        'align':'center',
                                        'valign':'vcenter'})
    
    total_gc_format=comp_workbook.add_format({'bold':True,
                                          'bg_color':'#d5d8dc',
                                          'num_format':'#,##0',
                                        'align':'right',
                                        'valign':'vcenter'})
    
    total_perc_format=comp_workbook.add_format({'bold':True,
                                          'bg_color':'#d5d8dc',
                                          'num_format':'#0.0%',
                                        'align':'right',
                                        'valign':'vcenter'})
    col_header=comp_workbook.add_format({'bg_color':'#00B0F0',
                                         'bold':True,'align':'center','valign':'vcenter',
                                         'text_wrap':True})
    a1=comp_workbook.add_format({'align':'center','valign':'vcenter','bold':True})
    border_format=comp_workbook.add_format({'top':2,'bottom':2,'left':2,'right':2})
    total_format = comp_workbook.add_format({'bg_color': '#d5d8dc','bold':True})
    
    title='Ritas Franchise Company,LLC'
    comp_text='YTD Year Over Year Comp Sales and Guest Count by Shop'
    fc_comp_text='YTD Year Over Year Comp Sales and Guest Count by Franchise Consultant'
    director_comp_text='YTD Year Over Year Comp Sales and Guest Count by Director'
    category_text='Year Over Year Sales Report by Sales Category'
    comp_text1='Comp Sales Include: Retail/Mobile/Satellite/3rd Party/Special Venue/Online'
    comp_text2='YTD 2025 v 2024 For Year Over Year Sales and Guest Counts thru Week '+str(this_week)+' - WE '+str(data.EndDate.max().strftime('%m.%d.%y'))
    comp_text3='Comp Sales & GC includes full year sales for existing shops prior to 1/1/24'
    comp_text4='Comparative Weeks Only For Shops Opened Or Reopened In 2024'
    month_text='YTD Year Over Year Comp Sales and Guest Count by Month'
    unique_text1='# of Unique Comp Shops Reported Sales by Week 2025 vs 2024'
    unique_text2='Shops Must Have Reported Sales in Excess of $1 to be Counted'
    week_text25='Weekly 2025 Comp Shop Sales thru Wk '+str(this_week)+' - WE '+str(data.EndDate.max().strftime('%m.%d.%y'))
    week_text24='Weekly 2024 Comp Shop Sales thru Wk '+str(this_week)+' - WE '+str(data.EndDate.max().strftime('%m.%d.%y'))
    
    monthly_comps.to_excel(writer5,startrow=8,startcol=1, sheet_name='Comps By Month')
    yoy_cat.to_excel(writer5,startrow=8,startcol=1,sheet_name='Sales By Category')
#     new_comps.to_excel(writer5,startrow=8,startcol=1, sheet_name='Comps By Shop',index=False)
#     monthly_comps.to_excel(writer5,startrow=8,startcol=1, sheet_name='Comps By Month')
    lc_weekly.to_excel(writer5,startrow=8,startcol=1, sheet_name='YTD Comp Shop Rank',index=False)
    summary.to_excel(writer5, startrow=1,startcol=16,sheet_name='YTD Comp Shop Rank',index=False)
    week_summary.to_excel(writer5, startrow=1,startcol=10,sheet_name='YTD Comp Shop Rank',index=False)
    unique_shops.to_excel(writer5, startrow=7, startcol=2,sheet_name='Unique Shops Opened-Comps Only')
    new_weekly_comps.to_excel(writer5,startrow=8,startcol=1,sheet_name='2025 Weekly Sales Comp by Shop',index=False)
    old_weekly_comps.to_excel(writer5,startrow=8,startcol=1,sheet_name='2024 Weekly Sales Comp by Shop',index=False)
    fc_group.to_excel(writer5, startrow=8, startcol=1, sheet_name='Comps By FC',index=False)
    director_group.to_excel(writer5, startrow=8, startcol=1, sheet_name='Comps By Director',index=False)
    
    ws=writer5.sheets['Comps By Month']                     
    ws.conditional_format(xlsxwriter.utility.xl_range(8,1,len(monthly_comps)+8,len(monthly_comps.columns)+1),
                                  {'type': 'no_errors', 'format': border_format})
    for col in range(1,3):
        ws.write(monthly_comps.shape[0]+8,col+1,monthly_comps.iloc[-1,col-1],total_dollar_format)
  
    for col in range(4,6):
        ws.write(monthly_comps.shape[0]+8,col+1,monthly_comps.iloc[-1,col-1],total_gc_format)
    for col in range(3,4):
        ws.write(monthly_comps.shape[0]+8,col+1,monthly_comps.iloc[-1,col-1],total_perc_format)
    for col in range(6,7):
        ws.write(monthly_comps.shape[0]+8,col+1,monthly_comps.iloc[-1,col-1],total_perc_format)
    
    ws.write(lastrow+8,1,'YTD Totals',ytd_format)
    ws.write_row('B9',monthly_comps.reset_index().columns,col_header)
    ws.write(1,2,title,format_header2)
    ws.write(2,2,month_text,format_header2)
    ws.write(3,2,comp_text1,format_header2)
    ws.write(4,2,comp_text2,format_header2)
    ws.write(5,2,comp_text3,format_header2)
    ws.write(6,2,comp_text4, format_header2)
    ws.set_column('B:B',13,text_format)
    ws.set_column('C:D',13,format_num)
    ws.set_column('E:E',12,perc_format)
    ws.set_column('F:G',13,format_qty)
    ws.set_column('H:H',12,perc_format)
    ws.insert_image('B2','Logo.png')
    ws.hide_gridlines(2)
    
    # Set the worksheet orientation to Landscape
    ws.set_portrait()

    # Fit the worksheet to one page
    ws.fit_to_pages(1, 0)  # (width, height)

    # Optional: Adjust scaling for better fit (e.g., 90%)
#     ws.set_zoom(90)
    
    ws.set_margins(left=0.25, right=0.25, top=0.25, bottom=0.25)
    
    ws10=writer5.sheets['Sales By Category']                     
    ws10.conditional_format(xlsxwriter.utility.xl_range(8,1,len(yoy_cat)+8,len(yoy_cat.columns)+1),
                                  {'type': 'no_errors', 'format': border_format})
    for col in range(1,3):
        ws10.write(yoy_cat.shape[0]+8,col+1,yoy_cat.iloc[-1,col-1],total_dollar_format)
  
    for col in range(4,6):
        ws10.write(yoy_cat.shape[0]+8,col+1,yoy_cat.iloc[-1,col-1],total_gc_format)
    for col in range(3,4):
        ws10.write(yoy_cat.shape[0]+8,col+1,yoy_cat.iloc[-1,col-1],total_perc_format)
    for col in range(6,7):
        ws10.write(yoy_cat.shape[0]+8,col+1,yoy_cat.iloc[-1,col-1],total_perc_format)
    
    ws10.write(yoy_cat.shape[0]+8,1,'YTD Totals',ytd_format)
    ws10.write_row('B9',yoy_cat.reset_index().columns,col_header)
    ws10.write(1,2,title,format_header2)
    ws10.write(2,2,category_text,format_header2)
    ws10.write(3,2,comp_text1,format_header2)
    ws10.write(4,2,comp_text2,format_header2)
    ws10.write(5,2,comp_text3,format_header2)

    ws10.set_column('B:B',13,text_format)
    ws10.set_column('C:D',13,format_num)
    ws10.set_column('E:E',12,perc_format)
    ws10.set_column('F:G',13,format_qty)
    ws10.set_column('H:H',12,perc_format)
    ws10.insert_image('B2','Logo.png')
    ws10.hide_gridlines(2)
    
    # Set the worksheet orientation to Landscape
    ws10.set_portrait()

    # Fit the worksheet to one page
    ws10.fit_to_pages(1, 0)  # (width, height)

    # Optional: Adjust scaling for better fit (e.g., 90%)
#     ws.set_zoom(90)
    
    ws10.set_margins(left=0.25, right=0.25, top=0.25, bottom=0.25)
    
    ws1=writer5.sheets['YTD Comp Shop Rank']                     
#     ws1.conditional_format(xlsxwriter.utility.xl_range(8,1,len(new_comps)+8,len(new_comps.columns)),
#                                   {'type': 'no_errors', 'format': border_format})
#     ws1.conditional_format('K2:N5',{
#         'type':'no_errors',
#         'format': border_format
#     })
    
#     title_format=comp_workbook.add_format({'bold':True,'bg_color':'#00B0F0','align':'center'})
    
#     for col in range(0,2):
#         ws.write(new_comps.shape[0]+6,col+1,new_comps.iloc[-1,col],total_dollar_format)
  
#     for col in range(3,5):
#         ws.write(new_comps.shape[0]+6,col+1,new_comps.iloc[-1,col],total_gc_format)
#     for col in range(2,3):
#         ws.write(new_comps.shape[0]+6,col+1,new_comps.iloc[-1,col],total_perc_format)
#     for col in range(5,6):
#         ws.write(new_comps.shape[0]+6,col+1,new_comps.iloc[-1,col],total_perc_format)
        
#     ws1.write_row('B9',new_comps.columns,col_header)     
# #     ws1.write(lastrow+6,0,'YTD Totals',total_dollar_format)    
#     ws1.write(1,2,title,format_header2)
#     ws1.write(2,2,comp_text,format_header2)
#     ws1.write(3,2,comp_text1,format_header2)
#     ws1.write(4,2,comp_text2,format_header2)
#     ws1.write(5,2,comp_text3,format_header2)
#     ws1.write(6,2,comp_text4,format_header2)
    
#     ws1.write('L3',summary.iloc[0,1],format_num)
#     ws1.write('M3',summary.iloc[0,2],format_num)
#     ws1.write('N3',summary.iloc[0,3],perc_format)
#     ws1.write('L4',summary.iloc[1,1],format_qty)
#     ws1.write('M4',summary.iloc[1,2],format_qty)
#     ws1.write('N4',summary.iloc[1,3],perc_format)
#     ws1.write('L5',summary.iloc[2,1],check_format)
#     ws1.write('M5',summary.iloc[2,2],check_format)
#     ws1.write('N5',summary.iloc[2,3],perc_format)
    
#     ws1.write_row('K2',summary.columns,title_format)
#     ws1.write('K3','YTD Comp Sales',title_format)
#     ws1.write('K4','YTD Comp GC',title_format)
#     ws1.write('K5','YTD Comp Avg.Check',title_format)
    
#     ws1.set_column('B:C',8,center_text_format)
#     ws1.set_column('D:D',41,text_format)
#     ws1.set_column('E:E',4.89,center_text_format)
#     ws1.set_column('F:F',6.29,center_text_format)
#     ws1.set_column('G:G',24.57,text_format)
#     ws1.set_column('H:H',10,center_text_format)
#     ws1.set_column('I:J',4.29,center_text_format)
#     ws1.set_column('K:K',19,text_format)
#     ws1.set_column('L:M',10.57,format_num)
#     ws1.set_column('N:N',10.57,perc_format)
#     ws1.set_column('O:P',8.43,format_qty)
#     ws1.set_column('Q:Q',11,perc_format)
#     ws1.set_column('R:S',9.14,check_format)
#     ws1.set_column('T:T',9.14,perc_format)
#     ws1.insert_image('B2','Logo.png')
#     ws1.hide_gridlines(2)


    # Define formats
    header_format_default = comp_workbook.add_format({'bg_color': '#00B0F0', 'bold': True, 'align': 'center', 'valign': 'vcenter', 'text_wrap': True})
    header_format_special = comp_workbook.add_format({'bg_color': '#92D050', 'bold': True, 'align': 'center', 'valign': 'vcenter', 'text_wrap': True})  # Green for L9:Q9

    # Write headers with different formatting
    for col_num, header in enumerate(lc_weekly.columns):
        col_letter = chr(65 + col_num)  # Convert column index to letter (A-Z, AA, AB, etc.)

        # Check if the column is within L to Q (columns 12 to 17 in zero-based index)
        if 10 <= col_num <= 15:
            ws1.write(8, col_num + 1, header, header_format_special)  # Row 9 (0-based index is 8)
        else:
            ws1.write(8, col_num + 1, header, header_format_default)

    # Apply conditional formatting
    ws1.conditional_format(xlsxwriter.utility.xl_range(8,1,len(lc_weekly)+8,len(lc_weekly.columns)),
                            {'type': 'no_errors', 'format': border_format})
    ws1.conditional_format('K2:N5', {'type': 'no_errors', 'format': border_format})
    ws1.conditional_format('Q2:T5', {'type': 'no_errors', 'format': border_format})

    # Title formatting
    title_format = comp_workbook.add_format({'bold': True, 'bg_color': '#00B0F0', 'align': 'center'})
    w_title_format = comp_workbook.add_format({'bold': True, 'bg_color': '#92D050', 'align': 'center'})

    # Writing data and labels
    ws1.write(1,2,title,format_header2)
    ws1.write(2,2,comp_text,format_header2)
    ws1.write(3,2,comp_text1,format_header2)
    ws1.write(4,2,comp_text2,format_header2)
    ws1.write(5,2,comp_text3,format_header2)
    ws1.write(6,2,comp_text4,format_header2)

    # Weekly summary
    ws1.write('L3',week_summary.iloc[0,1],format_num)
    ws1.write('M3',week_summary.iloc[0,2],format_num)
    ws1.write('N3',week_summary.iloc[0,3],perc_format)
    ws1.write('L4',week_summary.iloc[1,1],format_qty)
    ws1.write('M4',week_summary.iloc[1,2],format_qty)
    ws1.write('N4',week_summary.iloc[1,3],perc_format)
    ws1.write('L5',week_summary.iloc[2,1],check_format)
    ws1.write('M5',week_summary.iloc[2,2],check_format)
    ws1.write('N5',week_summary.iloc[2,3],perc_format)

    # Labels for weekly summary
    ws1.write_row('K2', week_summary.columns, w_title_format)
    ws1.write('K3', f'Week {this_week} YoY Comp Sales', w_title_format)
    ws1.write('K4', f'Week {this_week} YoY Comp GC', w_title_format)
    ws1.write('K5', f'Week {this_week} YoY Comp Avg.Check', w_title_format)

    # YTD Summary
    ws1.write('R3', summary.iloc[0,1], format_num)
    ws1.write('S3', summary.iloc[0,2], format_num)
    ws1.write('T3', summary.iloc[0,3], perc_format)
    ws1.write('R4', summary.iloc[1,1], format_qty)
    ws1.write('S4', summary.iloc[1,2], format_qty)
    ws1.write('T4', summary.iloc[1,3], perc_format)
    ws1.write('R5', summary.iloc[2,1], check_format)
    ws1.write('S5', summary.iloc[2,2], check_format)
    ws1.write('T5', summary.iloc[2,3], perc_format)

    # Labels for YTD summary
    ws1.write_row('Q2', summary.columns, title_format)
    ws1.write('Q3', 'YTD YoY Comp Sales', title_format)
    ws1.write('Q4', 'YTD YoY Comp GC', title_format)
    ws1.write('Q5', 'YTD YoY Comp Avg.Check', title_format)

    # Column formatting
    ws1.set_column('B:C', 8, center_text_format)
    ws1.set_column('D:D', 41, text_format)
    ws1.set_column('E:E', 4.89, center_text_format)
    ws1.set_column('F:F', 6.29, center_text_format)
    ws1.set_column('G:G', 24.57, text_format)
    ws1.set_column('H:H', 10, center_text_format)
    ws1.set_column('I:J', 4.29, center_text_format)
    ws1.set_column('K:K', 26.57, text_format)
    ws1.set_column('L:M', 14, format_num)
    ws1.set_column('N:N', 10.57, perc_format)
    ws1.set_column('O:P', 8.43, format_qty)
    ws1.set_column('Q:Q', 23.14, perc_format)
    ws1.set_column('R:S', 10.57, format_num)
    ws1.set_column('T:T', 11, perc_format)
    ws1.set_column('U:V', 8.43, format_qty)
    ws1.set_column('W:W', 11, perc_format)

    # Hide gridlines and insert logo
    ws1.hide_gridlines(2)
    ws1.insert_image('B2', 'Logo.png')

    # Set worksheet print settings
    ws1.set_portrait()
    ws1.set_paper(3)  # 11x17 print format
    ws1.fit_to_pages(1, 0)  # Fit to one page width


    # Optional: Adjust scaling for better fit (e.g., 90%)
#     ws.set_zoom(90)
    
    ws1.set_margins(left=0.25, right=0.25, top=0.25, bottom=0.25)
    
    ws2=writer5.sheets['Unique Shops Opened-Comps Only']
    ws2.conditional_format(xlsxwriter.utility.xl_range(7,2,len(unique_shops)+7,len(unique_shops.columns)+2),
                                  {'type': 'no_errors', 'format': border_format})
    
    ws2.write(1,2,title,format_header2)
    ws2.write(2,2,unique_text1,format_header2)
    ws2.write(3,2,unique_text2,format_header2)
    ws2.write_row('C8',unique_shops.reset_index().columns,col_header)
    ws2.set_column('D:E',11,center_text_format)
    ws2.insert_image('B2','Logo.png')
    ws2.hide_gridlines(2)
    
    ws3=writer5.sheets['2025 Weekly Sales Comp by Shop']
    ws3.conditional_format(xlsxwriter.utility.xl_range(8,1,len(new_weekly_comps)+8,len(new_weekly_comps.columns)),
                                  {'type': 'no_errors', 'format': border_format})
    ws3.conditional_format(xlsxwriter.utility.xl_range(new_weekly_comps.shape[0]+8, 1, new_weekly_comps.shape[0]+8, len(new_weekly_comps.columns)),  # Row 7 (zero-based index is 6)
                        {'type': 'no_errors', 'format': total_format})
    
    ws3.write_row('B9',new_weekly_comps.columns,col_header)        
    ws3.write(1,2,title,format_header2)
    ws3.write(2,2,comp_text,format_header2)
    ws3.write(3,2,comp_text1,format_header2)
    ws3.write(4,2,week_text25,format_header2)
    ws3.write(5,2,comp_text3,format_header2)
    ws3.write(6,2,comp_text4,format_header2)
    ws3.set_column('B:C',8,center_text_format)
    ws3.set_column('D:D',41,text_format)
    ws3.set_column('E:E',4.89,center_text_format)
    ws3.set_column('F:F',6.29,center_text_format)
    ws3.set_column('G:G',24.57,text_format)
    ws3.set_column('H:H',10,center_text_format)
    ws3.set_column('I:J',4.29,center_text_format)
    ws3.set_column('K:K',19,text_format)
    ws3.set_column('L:ZZ',10.57,format_num)
    ws3.insert_image('B2','Logo.png')
    ws3.hide_gridlines(2)
    
    ws4=writer5.sheets['2024 Weekly Sales Comp by Shop']
    ws4.conditional_format(xlsxwriter.utility.xl_range(8,1,len(old_weekly_comps)+8,len(old_weekly_comps.columns)),
                                  {'type': 'no_errors', 'format': border_format})
    ws4.conditional_format(xlsxwriter.utility.xl_range(old_weekly_comps.shape[0]+8, 1, old_weekly_comps.shape[0]+8, len(old_weekly_comps.columns)),  # Row 7 (zero-based index is 6)
                        {'type': 'no_errors', 'format': total_format})
    
    ws4.write_row('B9',old_weekly_comps.columns,col_header)        
    ws4.write(1,2,title,format_header2)
    ws4.write(2,2,comp_text,format_header2)
    ws4.write(3,2,comp_text1,format_header2)
    ws4.write(4,2,week_text24,format_header2)
    ws4.write(5,2,comp_text3,format_header2)
    ws4.write(6,2,comp_text4,format_header2)
    ws4.set_column('B:C',8,center_text_format)
    ws4.set_column('D:D',41,text_format)
    ws4.set_column('E:E',4.89,center_text_format)
    ws4.set_column('F:F',6.29,center_text_format)
    ws4.set_column('G:G',24.57,text_format)
    ws4.set_column('H:H',10,center_text_format)
    ws4.set_column('I:J',4.29,center_text_format)
    ws4.set_column('K:K',19,text_format)
    ws4.set_column('L:ZZ',10.57,format_num)
    ws4.insert_image('B2','Logo.png')
    ws4.hide_gridlines(2)
    
    ws5=writer5.sheets['Comps By FC']
    ws5.conditional_format(xlsxwriter.utility.xl_range(8,1,len(fc_group)+8,len(fc_group.columns)),
                                  {'type': 'no_errors', 'format': border_format})
    ws5.conditional_format(xlsxwriter.utility.xl_range(fc_group.shape[0]+8, 1, fc_group.shape[0]+8, len(fc_group.columns)),  # Row 7 (zero-based index is 6)
                        {'type': 'no_errors', 'format': total_format})
    for col_num, header in enumerate(fc_group.columns):
        col_letter = chr(65 + col_num)  # Convert column index to letter (A-Z, AA, AB, etc.)

        # Check if the column is within L to Q (columns 12 to 17 in zero-based index)
        if 1 <= col_num <= 6:
            ws5.write(8, col_num + 1, header, header_format_special)  # Row 9 (0-based index is 8)
        else:
            ws5.write(8, col_num + 1, header, header_format_default)
    
#     ws5.write_row('B9',fc_group.columns,col_header)        
    ws5.write(1,2,title,format_header2)
    ws5.write(2,2,fc_comp_text,format_header2)
    ws5.write(3,2,comp_text1,format_header2)
    ws5.write(4,2,comp_text2,format_header2)
    ws5.write(5,2,comp_text3,format_header2)
    ws5.write(6,2,comp_text4,format_header2)
    ws5.set_column('B:B',8,center_text_format)
    ws5.set_column('C:D',10.57,format_num)
    ws5.set_column('E:E',10.57,perc_format)
    ws5.set_column('F:G',10.57,format_qty)
    ws5.set_column('H:H',10.57,perc_format)
    ws5.set_column('I:J',10.57,format_num)
    ws5.set_column('K:K',10.57,perc_format)
    ws5.set_column('L:M',10.57,format_qty)
    ws5.set_column('N:N',10.57,perc_format)
    ws5.insert_image('B2','Logo.png')
    ws5.hide_gridlines(2)
    
    # Set the worksheet orientation to Landscape
    ws5.set_portrait()

    # Fit the worksheet to one page
    ws5.fit_to_pages(1, 0)  # (width, height)

    # Optional: Adjust scaling for better fit (e.g., 90%)
#     ws.set_zoom(90)
    
    ws5.set_margins(left=0.25, right=0.25, top=0.25, bottom=0.25)
    
    ws6=writer5.sheets['Comps By Director']
    ws6.conditional_format(xlsxwriter.utility.xl_range(8,1,len(director_group)+8,len(director_group.columns)),
                                  {'type': 'no_errors', 'format': border_format})
    ws6.conditional_format(xlsxwriter.utility.xl_range(director_group.shape[0]+8, 1, director_group.shape[0]+8, len(director_group.columns)),  # Row 7 (zero-based index is 6)
                        {'type': 'no_errors', 'format': total_format})
    for col_num, header in enumerate(director_group.columns):
        col_letter = chr(65 + col_num)  # Convert column index to letter (A-Z, AA, AB, etc.)

        # Check if the column is within L to Q (columns 12 to 17 in zero-based index)
        if 1 <= col_num <= 6:
            ws6.write(8, col_num + 1, header, header_format_special)  # Row 9 (0-based index is 8)
        else:
            ws6.write(8, col_num + 1, header, header_format_default)
    
#     ws6.write_row('B9',fc_group.columns,col_header)        
    ws6.write(1,2,title,format_header2)
    ws6.write(2,2,director_comp_text,format_header2)
    ws6.write(3,2,comp_text1,format_header2)
    ws6.write(4,2,comp_text2,format_header2)
    ws6.write(5,2,comp_text3,format_header2)
    ws6.write(6,2,comp_text4,format_header2)
    ws6.set_column('B:B',16.29,center_text_format)
    ws6.set_column('C:D',10.57,format_num)
    ws6.set_column('E:E',10.57,perc_format)
    ws6.set_column('F:G',10.57,format_qty)
    ws6.set_column('H:H',10.57,perc_format)
    ws6.set_column('I:J',10.57,format_num)
    ws6.set_column('K:K',10.57,perc_format)
    ws6.set_column('L:M',10.57,format_qty)
    ws6.set_column('N:N',10.57,perc_format)
    ws6.insert_image('B2','Logo.png')
    ws6.hide_gridlines(2)
    
    # Set the worksheet orientation to Landscape
    ws6.set_portrait()

    # Fit the worksheet to one page
    ws6.fit_to_pages(1, 0)  # (width, height)

    # Optional: Adjust scaling for better fit (e.g., 90%)
#     ws.set_zoom(90)
    
    ws6.set_margins(left=0.25, right=0.25, top=0.25, bottom=0.25)

# Comp with Retail Sales Only

In [136]:
# no_3pd=sales[sales.ProductTypeName!='3rd Party Delivery'].pivot_table(index=['ParentID'],columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()
# comp_shops=no_3pd[(no_3pd[2023]>0)&(no_3pd[2024]>0)].ParentID.unique()
# len(comp_shops)

In [137]:
# no_3pd_dates=sales[sales.ProductTypeName!='3rd Party Delivery'].pivot_table(index=['ParentID','Week'],columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()
# merge=no_3pd_dates.merge(gc_total,on=['ParentID','Week'],how='left',suffixes=[' Retail Sales',' Retail GC'])
# merge=merge[(merge['2023 Retail Sales']>0)&(merge['2024 Retail Sales']>0)]
# no_3pd_comps=merge.groupby('Week')[['2024 Retail Sales','2023 Retail Sales','2024 Retail GC','2023 Retail GC']].sum()
# no_3pd_comps['Retail Sales%']=no_3pd_comps['2024 Retail Sales']/no_3pd_comps['2023 Retail Sales']-1
# no_3pd_comps['GC%']=no_3pd_comps['2024 Retail GC']/no_3pd_comps['2023 Retail GC']-1
# no_3pd_comps=no_3pd_comps.iloc[:,[0,1,-2,2,3,-1]]

In [138]:

# weekly_comps=true_comps.merge(no_3pd_comps[['2024 Retail Sales','2023 Retail Sales','Retail Sales%']],right_index=True,left_index=True)
# weekly_comps=weekly_comps.iloc[:,[0,1,2,-3,-2,-1,3,4,5]]

In [139]:
# no_3pd_dates=sales[sales.ProductTypeName!='3rd Party Delivery'].pivot_table(index=['ParentID','Week'],columns='Year',values='SalesMny',aggfunc='sum',fill_value=0).reset_index()
# merge=no_3pd_dates.merge(gc_total,on=['ParentID','Week'],how='left',suffixes=[' Retail Sales',' Retail GC'])
# comps=merge[merge.ParentID.isin(comp_shops)]
# no_3pd_comps=comps.groupby('Week')[['2024 Retail Sales','2023 Retail Sales','2024 Retail GC','2023 Retail GC']].sum()
# no_3pd_comps['Retail Sales%']=no_3pd_comps['2024 Retail Sales']/no_3pd_comps['2023 Retail Sales']-1
# no_3pd_comps['GC%']=no_3pd_comps['2024 Retail GC']/no_3pd_comps['2023 Retail GC']-1
# no_3pd_comps=no_3pd_comps.iloc[:,[0,1,-2,2,3,-1]]
# monthly_comps_no_3pds=no_3pd_comps.reset_index().merge(this_year[['Week','Month_Name','Month']],how='left',on='Week')
# monthly_comps_no_3pds=monthly_comps_no_3pds.groupby(['Month','Month_Name'])[['2024 Retail Sales','2023 Retail Sales','2024 Retail GC','2023 Retail GC']].sum()
# monthly_comps_no_3pds=monthly_comps_no_3pds.reset_index().drop('Month',axis=1).set_index('Month_Name')
# monthly_comps_no_3pds.loc['YTD Totals']=monthly_comps_no_3pds.sum(axis=0)
# monthly_comps_no_3pds['Retail Sales%']=monthly_comps_no_3pds['2024 Retail Sales']/monthly_comps_no_3pds['2023 Retail Sales']-1
# monthly_comps_no_3pds['GC%']=monthly_comps_no_3pds['2024 Retail GC']/monthly_comps_no_3pds['2023 Retail GC']-1
# monthly_comps_no_3pds=monthly_comps_no_3pds.iloc[:,[0,1,-2,2,3,-1]]
# monthly_comps_no_3pds

In [140]:
# monthly_comps=monthly_comps.merge(monthly_comps_no_3pds[['2024 Retail Sales','2023 Retail Sales','Retail Sales%']],right_index=True,left_index=True)
# monthly_comps=monthly_comps.iloc[:,[0,1,2,-3,-2,-1,3,4,5]]

In [141]:
# monthly_comps.iloc[:,[0,1,2,6,7,8]]

In [142]:
# lastrow=monthly_comps.shape[0]
# with pd.ExcelWriter('Comp Sales and Guest Count for Wk'+str(this_week)+' v3.xlsx',engine='xlsxwriter') as writer5:
#     comp_workbook=writer5.book
#     format_header2=comp_workbook.add_format()
#     format_header2.set_italic()
#     format_header2.set_bold()
    
#     format_num=comp_workbook.add_format({'num_format':'$#,##0',
#                                         'align':'center',
#                                         'valign':'vcenter'})
#     format_qty=comp_workbook.add_format({'num_format':'#,##0',
#                                         'align':'center',
#                                         'valign':'vcenter'})
#     perc_format=comp_workbook.add_format({'num_format':'#0.0%',
#                                          'align':'center',
#                                          'valign':'vcenter'})
    
#     total_dollar_format=comp_workbook.add_format({'bold':True,
#                                           'bg_color':'#d5d8dc',
#                                           'num_format':'$#,##0',
#                                         'align':'center',
#                                         'valign':'vcenter'})
    
#     total_gc_format=comp_workbook.add_format({'bold':True,
#                                           'bg_color':'#d5d8dc',
#                                           'num_format':'#,##0',
#                                         'align':'center',
#                                         'valign':'vcenter'})
    
#     total_perc_format=comp_workbook.add_format({'bold':True,
#                                           'bg_color':'#d5d8dc',
#                                           'num_format':'#0.0%',
#                                         'align':'center',
#                                         'valign':'vcenter'})
#     a1=comp_workbook.add_format({'align':'center','valign':'vcenter','bold':True})
#     border_format=comp_workbook.add_format({'top':2,'bottom':2,'left':2,'right':2})
    
#     title='Ritas Franchise Company,LLC'
#     comp_text='Weekly Comp Sales and Guest Count (3rd Party GC Excluded)'
#     comp_text1='Comp Total Sales Include: Retail/Mobile/Satellite/3rd Party'
#     comp_text2='Comp Retail Sales Include: Retail/Mobile/Satellite'
#     comp_text3='2024 v 2023 Sales and Guest Counts thru Week '+str(this_week)
#     comp_text4='As of '+str(data.EndDate.max().strftime('%m-%d-%y'))
    
#     monthly_comps.to_excel(writer5,startrow=7,startcol=0, sheet_name='Comps')
#     weekly_comps.T.to_excel(writer5,startrow=7,startcol=0, sheet_name='''Mark's Format''')
    
#     ws=writer5.sheets['Comps']                     
#     ws.conditional_format(xlsxwriter.utility.xl_range(7,0,len(monthly_comps)+7,len(monthly_comps.columns)),
#                                   {'type': 'no_errors', 'format': border_format})
#     for col in range(0,2):
#         ws.write(monthly_comps.shape[0]+7,col+1,monthly_comps.iloc[-1,col],total_dollar_format)
  
#     for col in range(3,5):
#         ws.write(monthly_comps.shape[0]+7,col+1,monthly_comps.iloc[-1,col],total_dollar_format)
#     for col in range(2,3):
#         ws.write(monthly_comps.shape[0]+7,col+1,monthly_comps.iloc[-1,col],total_perc_format)
#     for col in range(5,6):
#         ws.write(monthly_comps.shape[0]+7,col+1,monthly_comps.iloc[-1,col],total_perc_format)
#     for col in range(6,8):
#         ws.write(monthly_comps.shape[0]+7,col+1,monthly_comps.iloc[-1,col],total_gc_format)
#     for col in range(8,9):
#         ws.write(monthly_comps.shape[0]+7,col+1,monthly_comps.iloc[-1,col],total_perc_format)
        
    
        
#     ws.write(lastrow+7,0,'YTD Totals',total_dollar_format)    
#     ws.write(0,1,title,format_header2)
#     ws.write(1,1,comp_text,format_header2)
#     ws.write(2,1,comp_text1,format_header2)
#     ws.write(3,1,comp_text2,format_header2)
#     ws.write(4,1,comp_text3,format_header2)
#     ws.write(5,1,comp_text4,format_header2)
#     ws.set_column('A:A',13)
#     ws.set_column('B:C',15,format_num)
#     ws.set_column('D:D',15,perc_format)
#     ws.set_column('E:F',15,format_num)
#     ws.set_column('G:G',15,perc_format)
#     ws.set_column('H:I',15,format_qty)
#     ws.set_column('J:J',15,perc_format)
#     ws.insert_image('A1','Logo.png')
#     ws.hide_gridlines(2)
   
#     ws1=writer5.sheets['''Mark's Format''']
#     ws1.conditional_format(xlsxwriter.utility.xl_range(7,0,len(weekly_comps.T)+7,len(weekly_comps.T.columns)),
#                                   {'type': 'no_errors', 'format': border_format})
    
#     ws1.write(0,1,title,format_header2)
#     ws1.write(1,1,comp_text,format_header2)
#     ws1.write(2,1,comp_text1,format_header2)
#     ws1.write(3,1,comp_text2,format_header2)
#     ws1.write(4,1,comp_text3,format_header2)
#     ws1.write(5,1,comp_text4,format_header2)
#     ws1.set_column('A:ZZ',15)
#     ws1.write('A8','Week',a1)
#     ws1.set_column('A:AZ',15)
#     ws1.set_row(8,None,format_num)
#     ws1.set_row(9,None,format_num)
#     ws1.set_row(10,None,perc_format)
#     ws1.set_row(11,None,format_num)
#     ws1.set_row(12,None,format_num)
#     ws1.set_row(13,None,perc_format)
#     ws1.set_row(14,None,format_qty)
#     ws1.set_row(15,None,format_qty)
#     ws1.set_row(16,None,perc_format)
#     ws1.insert_image('A1','Logo.png')
#     ws1.hide_gridlines(2)

# Kathy Average Checks with Different Variations

In [143]:
# total_sales=sales.merge(calendar[['StartDate','Month_Name','Month']],on='StartDate',how='left')
# total_sales=total_sales[total_sales.Week<=this_week]

In [144]:
# total_sales_pivot=total_sales.pivot_table(index=['Month','Month_Name'],
#                        columns='Year',values='SalesMny',aggfunc='sum').reset_index().drop('Month',axis=1).set_index('Month_Name')
# total_sales_pivot=total_sales_pivot.iloc[:,[-1,0]]
# column=['2024 Total Sales','2023 Total Sales']
# total_sales_pivot.columns=column
# total_sales_pivot.loc['YTD Totals']=total_sales_pivot.sum(axis=0)
# total_sales_pivot['Total Sales%']=total_sales_pivot.iloc[:,0]/total_sales_pivot.iloc[:,-1]-1
# total_sales_pivot

In [145]:
# threepd.loc[threepd.ShopID==31360,'ShopID']=1568
# all_gc=threepd.groupby(['ShopID','Year','Week','StartDate'])['intTransactionCount'].sum().reset_index()
# all_gc.Week=all_gc.Week.astype('int')
# all_ts_gc=total_sales[['ShopID','StartDate','Month_Name','Month']].drop_duplicates(subset=['ShopID','StartDate'],keep='first')\
# .merge(all_gc[['StartDate','ShopID','intTransactionCount']],on=['StartDate','ShopID'],how='left').fillna(0)
# all_ts_gc=all_ts_gc.rename(columns={'intTransactionCount':'Total_GC'})
# all_ts_gc_pivot=all_ts_gc.pivot_table(index=['Month','Month_Name'],
#                        columns=ts_gc.StartDate.dt.year,values='Total_GC',aggfunc='sum').reset_index().drop('Month',axis=1).set_index('Month_Name')
# all_ts_gc_pivot=all_ts_gc_pivot.iloc[:,[-1,0]]
# column=['2024 Total_GC','2023 Total_GC']
# all_ts_gc_pivot.columns=column
# all_ts_gc_pivot
# all_ts_gc_pivot.loc['YTD Totals']=all_ts_gc_pivot.sum(axis=0)
# all_ts_gc_pivot['Total Sales%']=all_ts_gc_pivot.iloc[:,0]/all_ts_gc_pivot.iloc[:,-1]-1
# all_ts_gc_pivot

In [146]:
# totals_combined=total_sales_pivot.merge(all_ts_gc_pivot,left_on='Month_Name',right_on='Month_Name')
# totals_combined['2024 Avg Check']=totals_combined['2024 Total Sales']/totals_combined['2024 Total_GC']
# totals_combined['2023 Avg Check']=totals_combined['2023 Total Sales']/totals_combined['2023 Total_GC']
# totals_combined['Avg Check%']=totals_combined['2024 Avg Check']/totals_combined['2023 Avg Check']-1
# totals_combined

In [147]:
# ts_gc=total_sales[['ShopID','StartDate','Month_Name','Month']].drop_duplicates(subset=['ShopID','StartDate'],keep='first')\
# .merge(gc[['StartDate','ShopID','Retail_GC']],on=['StartDate','ShopID'],how='left').fillna(0)
# ts_gc_pivot=ts_gc.pivot_table(index=['Month','Month_Name'],
#                        columns=ts_gc.StartDate.dt.year,values='Retail_GC',aggfunc='sum').reset_index().drop('Month',axis=1).set_index('Month_Name')
# ts_gc_pivot=ts_gc_pivot.iloc[:,[-1,0]]
# column=['2024 Retail_GC','2023 Retail_GC']
# ts_gc_pivot.columns=column
# ts_gc_pivot.loc['YTD Totals']=ts_gc_pivot.sum(axis=0)
# ts_gc_pivot['Total GC%']=ts_gc_pivot.iloc[:,0]/ts_gc_pivot.iloc[:,-1]-1
# ts_gc_pivot

In [148]:
# total_sales_no3pd_gc=total_sales_pivot.merge(ts_gc_pivot,left_on='Month_Name',right_on='Month_Name')
# total_sales_no3pd_gc['2024 Avg Check']=total_sales_no3pd_gc['2024 Total Sales']/total_sales_no3pd_gc['2024 Retail_GC']
# total_sales_no3pd_gc['2023 Avg Check']=total_sales_no3pd_gc['2023 Total Sales']/total_sales_no3pd_gc['2023 Retail_GC']
# total_sales_no3pd_gc['Avg Check%']=total_sales_no3pd_gc['2024 Avg Check']/total_sales_no3pd_gc['2023 Avg Check']-1
# total_sales_no3pd_gc

In [149]:
# comp_sales=total_sales[total_sales.ParentID.isin(comp_shops)]
# comp_sales_pivot=comp_sales.pivot_table(index=['Month','Month_Name'],
#                        columns='Year',values='SalesMny',aggfunc='sum').reset_index().drop('Month',axis=1).set_index('Month_Name')
# comp_sales_pivot=comp_sales_pivot.iloc[:,[-1,0]]
# column=['2024 Total Sales','2023 Total Sales']
# comp_sales_pivot.columns=column
# comp_sales_pivot.loc['YTD Totals']=comp_sales_pivot.sum(axis=0)
# comp_sales_pivot['Total Sales%']=comp_sales_pivot.iloc[:,0]/comp_sales_pivot.iloc[:,-1]-1
# comp_sales_pivot

In [150]:
# all_gc=threepd.groupby(['ShopID','Year','Week','StartDate'])['intTransactionCount'].sum().reset_index()
# all_gc.Week=all_gc.Week.astype('int')
# all_gc['ParentID']=all_gc.ShopID.astype('int')
# all_gc['ParentID']=all_gc.ShopID.astype('str')
# all_gc['ParentID']=all_gc.ParentID.str[-4:]
# all_gc['ParentID']=all_gc.ParentID.astype('int')


# comp_ts_gc=comp_sales[['ParentID','StartDate','Month_Name','Month']].drop_duplicates(subset=['ParentID','StartDate'],keep='first')\
# .merge(all_gc[['StartDate','ParentID','intTransactionCount']],on=['StartDate','ParentID'],how='left').fillna(0)

# comp_ts_gc=comp_ts_gc.rename(columns={'intTransactionCount':'Total_GC'})
# comp_ts_gc_pivot=comp_ts_gc.pivot_table(index=['Month','Month_Name'],
#                        columns=comp_ts_gc.StartDate.dt.year,values='Total_GC',aggfunc='sum').reset_index().drop('Month',axis=1).set_index('Month_Name')
# comp_ts_gc_pivot=comp_ts_gc_pivot.iloc[:,[-1,0]]
# column=['2024 Total_GC','2023 Total_GC']
# comp_ts_gc_pivot.columns=column
# comp_ts_gc_pivot.loc['YTD Totals']=comp_ts_gc_pivot.sum(axis=0)
# comp_ts_gc_pivot['Total GC%']=comp_ts_gc_pivot.iloc[:,0]/comp_ts_gc_pivot.iloc[:,-1]-1
# comp_ts_gc_pivot

In [151]:
# comp_3pd_gc=comp_sales_pivot.merge(comp_ts_gc_pivot,left_on='Month_Name',right_on='Month_Name')
# comp_3pd_gc['2024 Avg Check']=comp_3pd_gc['2024 Total Sales']/comp_3pd_gc['2024 Total_GC']
# comp_3pd_gc['2023 Avg Check']=comp_3pd_gc['2023 Total Sales']/comp_3pd_gc['2023 Total_GC']
# comp_3pd_gc['Avg Check%']=comp_3pd_gc['2024 Avg Check']/comp_3pd_gc['2023 Avg Check']-1
# comp_3pd_gc

In [152]:
# new_monthly_comps=monthly_comps.drop(['2024 Retail Sales','2023 Retail Sales','Retail Sales%'],axis=1)
# new_monthly_comps['2024 Avg Check']=new_monthly_comps['2024 Total Sales']/new_monthly_comps['2024 Retail GC']
# new_monthly_comps['2023 Avg Check']=new_monthly_comps['2023 Total Sales']/new_monthly_comps['2023 Retail GC']
# new_monthly_comps['Avg Check%']=new_monthly_comps['2024 Avg Check']/new_monthly_comps['2023 Avg Check']-1
# new_monthly_comps

In [153]:
# evoke=total_sales[~total_sales.ParentID.isin([294,324,
#                                               446,465,507,639,858,1139,1276,1385,1427,1432])].pivot_table(index=['Month','Month_Name'],
#                        columns='Year',values='SalesMny',aggfunc='sum').reset_index().drop('Month',axis=1).set_index('Month_Name')
# evoke=evoke.iloc[:,[-1,0]]
# column=['2024 Total Sales','2023 Total Sales']
# evoke.columns=column
# evoke.loc['YTD Totals']=evoke.sum(axis=0)
# evoke['Total Sales%']=evoke.iloc[:,0]/evoke.iloc[:,-1]-1
# evoke

In [154]:
# evoke_gc=total_sales[['ShopID','StartDate','Month_Name','Month']].drop_duplicates(subset=['ShopID','StartDate'],keep='first')\
# .merge(gc[['StartDate','ShopID','Retail_GC']],on=['StartDate','ShopID'],how='left').fillna(0)
# evoke_gc_pivot=evoke_gc[~evoke_gc.ShopID.isin([294,324,
#                                               446,465,507,639,858,1139,1276,1385,1427,1432])].pivot_table(index=['Month','Month_Name'],
#                        columns=evoke_gc.StartDate.dt.year,values='Retail_GC',aggfunc='sum').reset_index().drop('Month',axis=1).set_index('Month_Name')
# evoke_gc_pivot=evoke_gc_pivot.iloc[:,[-1,0]]
# column=['2024 Retail_GC','2023 Retail_GC']
# evoke_gc_pivot.columns=column
# evoke_gc_pivot.loc['YTD Totals']=evoke_gc_pivot.sum(axis=0)
# evoke_gc_pivot['Total GC%']=evoke_gc_pivot.iloc[:,0]/evoke_gc_pivot.iloc[:,-1]-1
# evoke_gc_pivot

In [155]:
# evoke_3pd_gc=evoke.merge(evoke_gc_pivot,left_on='Month_Name',right_on='Month_Name')
# evoke_3pd_gc['2024 Avg Check']=evoke_3pd_gc['2024 Total Sales']/evoke_3pd_gc['2024 Retail_GC']
# evoke_3pd_gc['2023 Avg Check']=evoke_3pd_gc['2023 Total Sales']/evoke_3pd_gc['2023 Retail_GC']
# evoke_3pd_gc['Avg Check%']=evoke_3pd_gc['2024 Avg Check']/evoke_3pd_gc['2023 Avg Check']-1
# evoke_3pd_gc

In [156]:
# writer1=pd.ExcelWriter('Kathy Avg Check with Different Variations.xlsx')
# totals_combined.to_excel(writer1, sheet_name='Total Sales & GC')
# total_sales_no3pd_gc.to_excel(writer1, sheet_name='Total Sales No 3PD GC')
# comp_3pd_gc.to_excel(writer1,sheet_name='Comp Sales and GC with 3PD')
# new_monthly_comps.to_excel(writer1,sheet_name='Comp Sales with no 3PD GC')
# evoke_3pd_gc.to_excel(writer1,sheet_name='Evoke')
# writer1.close()