In [1]:
import pandas as pd
import os

In [2]:
os.chdir(r'G:\FinanceReports\2022\Wk48')

In [3]:
data=pd.read_excel('2022-SRSsales-productLevel-wk1-48.xlsx',sheet_name='2022')
data2=pd.read_excel('2022-SRSsales-productLevel-wk1-48.xlsx',sheet_name='2021')

In [5]:
data.columns

Index(['ShopID', 'intStoreID', 'ProductCode', 'ProdSizeCode', 'DiscountCode',
       'Register', 'SalesQty', 'SalesMny', 'StartDate', 'EndDate', 'EditDate',
       'Week', 'DataSource', 'ShopName', 'State', 'Region', 'ShopStatus',
       'LegacyShopType', 'LegacyShopStatus', 'ProductTypeName',
       'ProductSizeName', 'SpecialVenue', 'CoOpStatus', 'CoOpName',
       'CoOpRate'],
      dtype='object')

In [6]:
bwi=data[data.ShopID==1468]

In [7]:
grabngo=[134,556,1267,50,52,54,521,135]
donut=[521,1122,539,540]
smoothies=[1108,1110]
frzcoffee=[1146,1141]

In [8]:
bwi.groupby(['ProductTypeName','ProductSizeName','ProdSizeCode'])[['SalesQty','SalesMny']].sum().reset_index()

,ProductTypeName,ProductSizeName,ProdSizeCode,SalesQty,SalesMny
0,Additional Toppings,Additional Topping,136,370,645.2250
1,Additional Toppings,Pre-packaged Toppings,1000,3,0.0000
2,Beverages,Coffee Large,129,872,2639.9810
3,Beverages,Hot Chocolate Large,133,2,5.9800
4,Beverages,Hot Chocolate Small,132,5,14.9500
5,Beverages,Hot Cider Small,425,1,0.0000
6,Beverages,Juice,556,744,1852.3110
7,Beverages,Ritas Bottled Water,135,3940,9809.8530
8,Beverages,Soda,134,1273,3168.0270
9,Beverages,Tea Large,131,11,26.9100
10,Beverages,Tea Small,130,23,0.0000
11,Blendini/Concrete,Blendini,23,65,646.3530
12,Blendini/Concrete,Concrete,87,414,4544.3650
13,Cakes & Novelties,Individual Custard Cookie Sandwich,261,198,786.0300
14,Catering (Bulk Ice),Ice Super Fun Variety Pack,1201,1,0.0000
15,Cookies,Chocolate Chip Cookie Single,50,113,450.8700
16,Cookies,Fudge Filled Cookie Single,54,82,325.9830
17,Cookies,Sugar Cookie Single,52,59,234.2130
18,Cool Stuff Consumer Goods,Plush Ice Guy,103,34,214.6600
19,Custard,Kids SS Cup/Cone,1214,75,404.3320
20,Custard,Large Brownie Sundae,1222,19,164.5400
21,Custard,Large SS Cup/Cone,1216,244,1571.0720
22,Custard,Large SS Sundae,1219,40,323.9520
23,Custard,SS Extra Custard,32,56,87.4500
24,Custard,Small Brownie Sundae,1221,37,298.6560
25,Custard,Small SS Cup/Cone,1215,930,5562.3140
26,Custard,Small SS Sundae,1218,180,1353.7150
27,Custard,Sprinkles Upcharge,112,53,84.2700
28,Custard,Waffle Cone/Bowl Upcharge,113,57,84.7810
29,Discount,Discount,302,0,-3577.8071
30,Donuts,Donut to go,521,476,2373.2440
31,Donuts,Large Donut Sundae,540,9,77.9400
32,Donuts,Small Donut Sundae,539,46,374.5440
33,Frozen Beverages,Large Frozen Coffee,1141,107,852.5330
34,Frozen Beverages,Large Frozen Drink,1227,115,862.9650
35,Frozen Beverages,Small Frozen Coffee,1146,109,815.6610
36,Frozen Beverages,Small Frozen Drink,1226,83,584.1000
37,Full Service Catering (Open $),Full Service Catering,183,1,1654.8100
38,Gelati,Large Gelati,20,641,4451.9310
39,Gelati,Small Gelati,1247,1031,6656.7930
40,Italian Ice,Ice Flights,454,68,469.7540
41,Italian Ice,Kids Ice,5,219,974.8480
42,Italian Ice,Large Ice,7,786,4414.2340
43,Italian Ice,Quart Ice,8,28,222.1540
44,Italian Ice,Small Ice,1246,1951,10057.1820
45,Milkshakes,Large Milkshake,1230,239,2622.2140
46,Milkshakes,Small Milkshake,1229,246,2453.5440
47,Misto,Large Misto,1225,118,999.2730
48,Misto,Small Misto,1224,132,1045.0920
49,Smoothie,Large Smoothie,1110,246,2207.9440
50,Smoothie,Small Smoothie,1108,202,1712.4330
51,Snacks,Whoopie Pie,1267,85,337.9530

In [9]:
bwi[bwi.ProdSizeCode.isin(grabngo)].groupby(['ProdSizeCode','ProductSizeName'])[['SalesQty','SalesMny']].sum().reset_index()

   ProdSizeCode               ProductSizeName  SalesQty  SalesMny
0            50  Chocolate Chip Cookie Single       113   450.870
1            52           Sugar Cookie Single        59   234.213
2            54    Fudge Filled Cookie Single        82   325.983
3           134                          Soda      1273  3168.027
4           135           Ritas Bottled Water      3940  9809.853
5           521                   Donut to go       476  2373.244
6           556                         Juice       744  1852.311
7          1267                   Whoopie Pie        85   337.953

In [10]:
bwi[bwi.ProdSizeCode.isin(donut)].groupby(['ProdSizeCode','ProductSizeName'])[['SalesQty','SalesMny']].sum().reset_index()

   ProdSizeCode     ProductSizeName  SalesQty  SalesMny
0           521         Donut to go       476  2373.244
1           539  Small Donut Sundae        46   374.544
2           540  Large Donut Sundae         9    77.940

In [11]:
bwi[bwi.ProdSizeCode.isin(smoothies)].groupby(['ProdSizeCode','ProductSizeName'])[['SalesQty','SalesMny']].sum().reset_index()

   ProdSizeCode ProductSizeName  SalesQty  SalesMny
0          1108  Small Smoothie       202  1712.433
1          1110  Large Smoothie       246  2207.944

In [12]:
bwi[bwi.ProdSizeCode.isin(frzcoffee)].groupby(['ProdSizeCode','ProductSizeName'])[['SalesQty','SalesMny']].sum().reset_index()

   ProdSizeCode      ProductSizeName  SalesQty  SalesMny
0          1141  Large Frozen Coffee       107   852.533
1          1146  Small Frozen Coffee       109   815.661

In [13]:
os.chdir(r'L:\J.Harned\BWI Analysis for Brie')
writer=pd.ExcelWriter('BWI Analysis Wk48.xlsx')
bwi.groupby(['ProductTypeName','ProductSizeName','ProdSizeCode'])[['SalesQty','SalesMny']].sum().reset_index().to_excel(writer,sheet_name='Totals',index=False)
bwi.groupby('ProductTypeName')[['SalesQty','SalesMny']].sum().reset_index().to_excel(writer,sheet_name='Category Totals',index=False)
bwi[bwi.ProdSizeCode.isin(grabngo)].groupby(['ProdSizeCode','ProductSizeName'])[['SalesQty','SalesMny']].sum().reset_index().to_excel(writer,sheet_name='GrabnGo',index=False)
bwi[bwi.ProdSizeCode.isin(donut)].groupby(['ProdSizeCode','ProductSizeName'])[['SalesQty','SalesMny']].sum().reset_index().to_excel(writer,sheet_name='Donut',index=False)
bwi[bwi.ProdSizeCode.isin(smoothies)].groupby(['ProdSizeCode','ProductSizeName'])[['SalesQty','SalesMny']].sum().reset_index().to_excel(writer,sheet_name='Smoothie',index=False)
bwi[bwi.ProdSizeCode.isin(frzcoffee)].groupby(['ProdSizeCode','ProductSizeName'])[['SalesQty','SalesMny']].sum().reset_index().to_excel(writer,sheet_name='FrzCoffee',index=False)
writer.save()
writer.close()

C:\Users\jharned\Anaconda3\lib\site-packages\xlsxwriter\workbook.py:339: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")

In [31]:
bwi.SalesMny.sum()

70091.5725

In [45]:
hourly=pd.read_excel('BWI Analysis.xlsx',sheet_name='HourlyRaw')

In [48]:
hourly.groupby('intHour')['mnyAmount'].agg(['sum','mean']).reset_index().to_excel('HoursGrouped.xlsx',index=False)

In [17]:
data[data.intStoreID==2858].SalesMny.sum()

61294.789000000004

In [18]:
data[data.intStoreID==2858].Week.max()

46

In [ ]:
data[(data.ShopID==1133)|(data[data.ShopID==836])]

# For Natatlie
## Product Mix for Florida for February and March

In [4]:
florida=data[data.State=='FL']
florida['Month']=florida.StartDate.dt.month
florida['Year']=florida.StartDate.dt.year

C:\Users\jharned\AppData\Local\Temp\ipykernel_21744\3715976055.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  florida['Month']=florida.StartDate.dt.month
C:\Users\jharned\AppData\Local\Temp\ipykernel_21744\3715976055.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  florida['Year']=florida.StartDate.dt.year

In [5]:
florida

,ShopID,intStoreID,ProductCode,ProdSizeCode,DiscountCode,Register,SalesQty,SalesMny,StartDate,EndDate,...,LegacyShopType,LegacyShopStatus,ProductTypeName,ProductSizeName,SpecialVenue,CoOpStatus,CoOpName,CoOpRate,Month,Year
0,22,523,1,5,126,1,88,226.16,2022-11-28,2022-12-04,...,Walk-up,Rita's Store,Italian Ice,Kids Ice,No,No,NaN,0.0,11,2022
1,39,524,1,5,126,1,70,128.24,2022-11-28,2022-12-04,...,Walk-up,Rita's Store,Italian Ice,Kids Ice,No,No,NaN,0.0,11,2022
2,73,5024,1,5,126,1,53,130.20,2022-11-28,2022-12-04,...,Walk-up,Rita's Store,Italian Ice,Kids Ice,No,No,NaN,0.0,11,2022
3,39,524,48,1226,126,1,8,29.52,2022-11-28,2022-12-04,...,Walk-up,Rita's Store,Frozen Beverages,Small Frozen Drink,No,No,NaN,0.0,11,2022
4,22,523,1,7,126,1,198,795.88,2022-11-28,2022-12-04,...,Walk-up,Rita's Store,Italian Ice,Large Ice,No,No,NaN,0.0,11,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
615611,39,524,62,1076,126,2,0,0.00,2022-01-03,2022-01-09,...,Walk-up,Rita's Store,Full Service Catering (Open $),Catering Delivery Fee,No,No,NaN,0.0,1,2022
615612,39,524,62,1076,126,1,0,0.00,2022-01-03,2022-01-09,...,Walk-up,Rita's Store,Full Service Catering (Open $),Catering Delivery Fee,No,No,NaN,0.0,1,2022
615613,39,524,79,302,1,1,17,-17.06,2022-01-03,2022-01-09,...,Walk-up,Rita's Store,Discount,Discount,No,No,NaN,0.0,1,2022
615614,39,524,79,302,1,2,0,0.00,2022-01-03,2022-01-09,...,Walk-up,Rita's Store,Discount,Discount,No,No,NaN,0.0,1,2022
615615,39,524,79,302,2,1,0,0.00,2022-01-03,2022-01-09,...,Walk-up,Rita's Store,Discount,Discount,No,No,NaN,0.0,1,2022

In [6]:
florida2=data2[data2.State=="FL"]
florida2['Month']=florida2.StartDate.dt.month
florida2['Year']=florida2.StartDate.dt.year

C:\Users\jharned\AppData\Local\Temp\ipykernel_21744\2632158089.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  florida2['Month']=florida2.StartDate.dt.month
C:\Users\jharned\AppData\Local\Temp\ipykernel_21744\2632158089.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  florida2['Year']=florida2.StartDate.dt.year

In [7]:
florida2

,ShopID,intStoreID,ProductCode,ProdSizeCode,DiscountCode,Register,SalesQty,SalesMny,StartDate,EndDate,...,LegacyShopType,LegacyShopStatus,ProductTypeName,ProductSizeName,SpecialVenue,CoOpStatus,CoOpName,CoOpRate,Month,Year
27776,22,523,6,87,126,1,89,444.11,2021-01-04,2021-01-10,...,Walk-up,Rita's Store,Blendini/Concrete,Concrete,No,No,NaN,0.0,1,2021
27777,22,523,25,1198,126,1,2,44.00,2021-01-04,2021-01-10,...,Walk-up,Rita's Store,Catering (Bulk Ice),Ice Fun Pack,No,No,NaN,0.0,1,2021
27778,22,523,20,122,126,1,28,52.94,2021-01-04,2021-01-10,...,Walk-up,Rita's Store,Snacks,Philly Pretzel,No,No,NaN,0.0,1,2021
27779,22,523,1,8,126,1,69,383.36,2021-01-04,2021-01-10,...,Walk-up,Rita's Store,Italian Ice,Quart Ice,No,No,NaN,0.0,1,2021
27780,22,523,3,1247,126,1,171,682.29,2021-01-04,2021-01-10,...,Walk-up,Rita's Store,Gelati,Small Gelati,No,No,NaN,0.0,1,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699081,10836,3302,79,302,2,1,0,0.00,2021-11-29,2021-12-05,...,Mobile with POS,Satellite Store,Discount,Discount,No,No,NaN,0.0,11,2021
699082,10836,3302,106,1254,126,1,0,0.00,2021-11-29,2021-12-05,...,Mobile with POS,Satellite Store,3rd Party Delivery,GrubHub,No,No,NaN,0.0,11,2021
699083,10836,3302,79,302,4,1,0,0.00,2021-11-29,2021-12-05,...,Mobile with POS,Satellite Store,Discount,Discount,No,No,NaN,0.0,11,2021
699084,10836,3302,79,302,109,1,0,0.00,2021-11-29,2021-12-05,...,Mobile with POS,Satellite Store,Discount,Discount,No,No,NaN,0.0,11,2021
702157,11403,5026,33,214,126,1,1,756.96,2021-03-22,2021-03-28,...,Mobile,Satellite Store,MobileCart,Misc,No,No,NaN,0.0,3,2021

In [28]:
df=pd.concat([florida, florida2])

In [29]:
florida_total=round(df.groupby(['Year','Month','ProductTypeName'])[['SalesQty','SalesMny']].sum(),2).reset_index()

In [30]:
florida_total

     Year  Month          ProductTypeName  SalesQty  SalesMny
0    2021      1       3rd Party Delivery        27  13916.18
1    2021      1      Additional Toppings      5381   4705.37
2    2021      1                Beverages       516    838.56
3    2021      1        Blendini/Concrete      5411  29119.46
4    2021      1        Cakes & Novelties       445   2344.98
..    ...    ...                      ...       ...       ...
467  2022     11               Milkshakes      4093  25102.20
468  2022     11                    Misto      1992  10552.22
469  2022     11                  Nathans       243    964.33
470  2022     11  Non-Coded Revenue Sales       445    600.44
471  2022     11                   Snacks        96    316.56

[472 rows x 5 columns]

In [31]:
round(df.groupby(['Year','Month','ShopID','ShopName','ProductTypeName'])[['SalesQty','SalesMny']].sum(),2).reset_index()

,Year,Month,ShopID,ShopName,ProductTypeName,SalesQty,SalesMny
0,2021,1,22,Court Street,Additional Toppings,283,243.40
1,2021,1,22,Court Street,Beverages,44,58.76
2,2021,1,22,Court Street,Blendini/Concrete,443,2150.37
3,2021,1,22,Court Street,Cakes & Novelties,54,157.86
4,2021,1,22,Court Street,Catering (Bulk Ice),6,132.00
...,...,...,...,...,...,...,...
7870,2022,11,11419,4255 Tamiami Trail-Port Charlotte FL Mobile,Frozen Beverages,70,390.60
7871,2022,11,11419,4255 Tamiami Trail-Port Charlotte FL Mobile,Gelati,152,907.68
7872,2022,11,11419,4255 Tamiami Trail-Port Charlotte FL Mobile,Italian Ice,435,2025.60
7873,2022,11,11419,4255 Tamiami Trail-Port Charlotte FL Mobile,Milkshakes,18,168.30
7874,2022,11,11419,4255 Tamiami Trail-Port Charlotte FL Mobile,Misto,28,182.28

In [32]:
writer2=pd.ExcelWriter('Florida Product Mix 12.12.22.xlsx')
florida_total.to_excel(writer2,sheet_name='Raw Total',index=False)
round(df.groupby(['Year','Month','ShopID','ShopName','ProductTypeName'])[['SalesQty','SalesMny']].sum(),2).reset_index().to_excel(writer2,sheet_name='Raw Shop Total',index=False)
writer2.save()
writer2.close()

C:\Users\jharned\Anaconda3\lib\site-packages\xlsxwriter\workbook.py:339: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")