In [24]:
import pandas as pd
import os
import numpy as np
import pyodbc as odbc
import datetime as dt
from datetime import date,timedelta,datetime
import matplotlib.pyplot as plt
import seaborn as sns
import xlsxwriter
os.chdir(r'G:\FinanceReports\2024\Another Kathy Request')

In [2]:
#Names the needed driver, server name, and database
driver_name='SQL Server'
server_name='10.0.1.218'
database='ritascoolnet_live'
#Creates the connection string
connection_string=f"""
DRIVER={{{driver_name}}};
SERVER={server_name};
DATABASE={database};
Trust_Connection=yes"""
#Creates the Connection to SQL Server
connection=odbc.connect(connection_string)
print(connection)
# Queries the tables from SQL
# Reads in the Weekly Sales in 2023
data=pd.read_sql_query('''SELECT *
  FROM [ritas_bi].[dbo].[tmp_raw_plda]
  WHERE YEAR(StartDate)>=2022
  ORDER BY Week DESC''',connection)
data2=pd.read_sql_query('''SELECT *
  FROM [ritas_bi].[dbo].[tmp_raw_pldb]
  WHERE YEAR(StartDate)=2021''',connection)
data3=pd.read_sql_query('''Select intstoreid as intStoreID,RitasID as ShopID, FC,CoolNetGroup,LegacyStoreType,State,MSAName,DMA,StoreName as ShopName,StoreStatus,[Special Venue] as SV,[Parent Shop #] as CustomerNo from ritascoolnet_live.dbo.vShopDetail''',connection)

<pyodbc.Connection object at 0x0000022E236EDAC0>

C:\Users\jharned\AppData\Local\Temp\ipykernel_8364\1374300720.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data=pd.read_sql_query('''SELECT *
C:\Users\jharned\AppData\Local\Temp\ipykernel_8364\1374300720.py:20: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data2=pd.read_sql_query('''SELECT *
C:\Users\jharned\AppData\Local\Temp\ipykernel_8364\1374300720.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data3=pd.read_sql_query('''Select intstoreid as intStoreID,RitasID as ShopID, FC,CoolNetGroup,LegacyStoreType,State,MSAName,DMA,StoreName as ShopName,StoreStatus,[Special Venue] as SV,[Parent Shop #] as CustomerNo from ritascoolnet_live.dbo.vShopDetail''',connection)

In [3]:
os.chdir(r'G:\FinanceReports\YTD Files')
twenty=pd.read_excel('2020-SRSsales-productLevel-wk1-53.xlsx',sheet_name='2020')
nineteen=pd.read_excel('2019-SRSsales-productLevel-2.xlsx',sheet_name='2019')

In [4]:
data['Year']=data.StartDate.dt.year
data2['Year']=data2.StartDate.dt.year
twenty['Year']=2020
nineteen['Year']=2019
nineteen.drop(['OpenDate','FiscalMonth'],axis=1,inplace=True)

In [6]:
all_sales=pd.concat([data,data2,twenty,nineteen])
all_sales.loc[all_sales.ShopID==31360,'ShopID']=1568
all_sales.loc[all_sales.ShopID==1568,'SpecialVenue']='Yes'

In [7]:
all_sales_group=all_sales.groupby('Year')['SalesMny'].sum().reset_index()
all_sales_group

   Year      SalesMny
0  2019  1.257039e+08
1  2020  1.176912e+08
2  2021  1.453241e+08
3  2022  1.578267e+08
4  2023  1.821027e+08
5  2024  1.875692e+08

In [9]:
open_shops=data[data.Year==2024].ShopID.unique()
open_sales=all_sales[all_sales.ShopID.isin(open_shops)]
open_sales.groupby('Year')['SalesMny'].sum().reset_index()

   Year      SalesMny
0  2019  1.089751e+08
1  2020  1.100043e+08
2  2021  1.383922e+08
3  2022  1.532303e+08
4  2023  1.797617e+08
5  2024  1.875692e+08

In [28]:
open_sales.columns

Index(['ShopID', 'intStoreID', 'ProductCode', 'ProdSizeCode', 'DiscountCode',
       'Register', 'SalesQty', 'SalesMny', 'StartDate', 'EndDate', 'EditDate',
       'Week', 'DataSource', 'ShopName', 'State', 'Region', 'ShopStatus',
       'LegacyShopType', 'LegacyShopStatus', 'ProductTypeName',
       'ProductSizeName', 'SpecialVenue', 'CoOpStatus', 'CoOpName', 'CoOpRate',
       'Year'],
      dtype='object')

In [29]:
open_sales[['ProductCode','ProductSizeName']].drop_duplicates(keep='first',subset=['ProductCode','ProductSizeName']).to_excel('ProductSizeName.xlsx',index=False)

In [17]:
cater=['Full Service Catering (Open $)','Catering (Bulk Ice)']
catering=open_sales[(open_sales.SpecialVenue=='No')&(
    open_sales.ProductTypeName.isin(cater))&(open_sales.ShopID.isin(open_shops))].pivot_table(index='ShopID',
                                                                                                        columns=['Year','ProductTypeName'],
                                                                                                        values='SalesMny',
                                                                                                        aggfunc='sum',
                                                                                                        fill_value=0).reset_index()
catering.sum()

Year    ProductTypeName
ShopID                                    5.240180e+05
2019    Catering (Bulk Ice)               1.491749e+06
        Full Service Catering (Open $)    1.676205e+06
2020    Catering (Bulk Ice)               7.953833e+05
        Full Service Catering (Open $)    5.101601e+05
2021    Catering (Bulk Ice)               1.314955e+06
        Full Service Catering (Open $)    1.051591e+06
2022    Catering (Bulk Ice)               1.751303e+06
        Full Service Catering (Open $)    1.754979e+06
2023    Catering (Bulk Ice)               1.911019e+06
        Full Service Catering (Open $)    2.237996e+06
2024    Catering (Bulk Ice)               2.044004e+06
        Full Service Catering (Open $)    2.445930e+06
dtype: float64

In [18]:
catering.columns=catering.columns.map(lambda x: '_'.join([str(i) for i in x]))
catering=catering.rename(columns={'ShopID_':'ShopID'})
catering

,ShopID,2019_Catering (Bulk Ice),2019_Full Service Catering (Open $),2020_Catering (Bulk Ice),2020_Full Service Catering (Open $),2021_Catering (Bulk Ice),2021_Full Service Catering (Open $),2022_Catering (Bulk Ice),2022_Full Service Catering (Open $),2023_Catering (Bulk Ice),2023_Full Service Catering (Open $),2024_Catering (Bulk Ice),2024_Full Service Catering (Open $)
0,1,1919.23,0.0,1549.38,0.0,1921.30,0.0,1864.390,0.00,359.90,0.00,0.000,0.00
1,2,3909.79,0.0,2798.88,0.0,3289.71,0.0,3748.965,0.00,4886.03,527.79,3149.100,0.00
2,3,0.00,0.0,0.00,0.0,583.59,0.0,779.740,0.00,1211.68,394.98,1149.700,0.00
3,4,2279.32,0.0,1005.65,0.0,2524.22,0.0,4178.990,0.00,4225.02,0.00,2416.413,0.00
4,6,3249.90,0.0,1349.46,0.0,2239.17,0.0,2568.218,0.00,2195.32,0.00,1975.480,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
551,11394,0.00,0.0,0.00,0.0,0.00,0.0,0.000,0.00,0.00,0.00,0.000,13595.51
552,11407,0.00,0.0,0.00,0.0,0.00,0.0,0.000,0.00,75.00,8423.95,0.000,2439.95
553,11418,0.00,0.0,0.00,0.0,0.00,0.0,284.050,0.00,0.00,1176.00,0.000,0.00
554,11419,0.00,0.0,0.00,0.0,0.00,0.0,5055.550,3711.18,3875.26,985.00,7359.500,6254.00
555,11453,0.00,0.0,0.00,0.0,0.00,0.0,0.000,0.00,0.00,3340.00,0.000,590.00

In [32]:
shop_names=data[data.Year==2024][['ShopID','ShopName']].drop_duplicates(subset='ShopID',keep='last')
catering_shops=shop_names.merge(catering,on='ShopID',how='inner')
with pd.ExcelWriter('Catering Sales by Shop 2019-2024.xlsx') as writer1:
    catering_shops.sort_values(by='ShopID').to_excel(writer1,sheet_name='Catering Sales',index=False,startrow=5,startcol=0)
    
    wb=writer1.book
    dollar_format=wb.add_format({'num_format':'$#,##0',
                                'align':'center',
                                'valign':'vcenter'})
    header_format=wb.add_format({'bold':True,
                                'italic':True})
    border_format=wb.add_format({'right':2,'left':2,'bottom':2,'top':2})
    word_format=wb.add_format({'align':'center','valign':'vcenter'})
    
    ws=writer1.sheets['Catering Sales']
    ws.conditional_format(xlsxwriter.utility.xl_range(5,0,len(catering_shops)+5,len(catering_shops.columns)-1),
                              {'type': 'no_errors', 'format': border_format})
    
    title='Ritas Franchise Company,LLC'
    text1='Catering Sales by Product Size Name'
    text2='2019 thru '+str(data.EndDate.max().strftime('%m-%d-%y'))
    text3='Source Code: Product Level Detail'
    
    ws.write(0,1,title,header_format)
    ws.write(1,1,text1,header_format)
    ws.write(2,1,text2,header_format)
    ws.write(3,1,text3,header_format)
    ws.set_column('C:BB',12, dollar_format)
    ws.set_column('A:A',12,word_format)
    ws.set_column('B:B',40,word_format)
    ws.hide_gridlines(2)
    ws.insert_image('A1','Logo.png')

In [45]:
items=[1198,1200,1201]
these_guys=all_sales[(all_sales.Year>=2022)&(all_sales.ProdSizeCode.isin(items))].pivot_table(
    index='ShopID',columns=['Year','ProductSizeName'],values=['SalesMny','SalesQty'],aggfunc='sum',fill_value=0).reset_index()
these_guys.columns=these_guys.columns.map(lambda x: ' '.join([str(i) for i in x]))
these_guys=these_guys.rename(columns={'ShopID  ':'ShopID'})

In [46]:
these_guys.columns

Index(['ShopID', 'SalesMny 2022 2.5 Gallon', 'SalesMny 2022 Gallon',
       'SalesMny 2022 Ice Super Fun Variety Pack', 'SalesMny 2023 2.5 Gallon',
       'SalesMny 2023 Gallon', 'SalesMny 2023 Ice Super Fun Variety Pack',
       'SalesMny 2024 2.5 Gallon', 'SalesMny 2024 Gallon',
       'SalesMny 2024 Ice Super Fun Variety Pack', 'SalesQty 2022 2.5 Gallon',
       'SalesQty 2022 Gallon', 'SalesQty 2022 Ice Super Fun Variety Pack',
       'SalesQty 2023 2.5 Gallon', 'SalesQty 2023 Gallon',
       'SalesQty 2023 Ice Super Fun Variety Pack', 'SalesQty 2024 2.5 Gallon',
       'SalesQty 2024 Gallon', 'SalesQty 2024 Ice Super Fun Variety Pack'],
      dtype='object')

In [48]:
gallon=shop_names.merge(these_guys, on='ShopID',how='inner')
with pd.ExcelWriter('Party Packs Sales and Quantity by Shop 2022-2024.xlsx') as writer1:
    gallon.sort_values(by='ShopID').to_excel(writer1,sheet_name='Party Packs',index=False,startrow=5,startcol=0)
    
    wb=writer1.book
    dollar_format=wb.add_format({'num_format':'$#,##0',
                                'align':'center',
                                'valign':'vcenter'})
    qty_format=wb.add_format({'num_format':'#,##0','align':'center','valign':'vcenter'})
    header_format=wb.add_format({'bold':True,
                                'italic':True})
    border_format=wb.add_format({'right':2,'left':2,'bottom':2,'top':2})
    word_format=wb.add_format({'align':'center','valign':'vcenter'})
    
    ws=writer1.sheets['Party Packs']
    ws.conditional_format(xlsxwriter.utility.xl_range(5,0,len(gallon)+5,len(gallon.columns)-1),
                              {'type': 'no_errors', 'format': border_format})
    
    title='Ritas Franchise Company,LLC'
    text1='Party Sales and Quantity'
    text2='2022 thru '+str(data.EndDate.max().strftime('%m-%d-%y'))
    text3='Source Code: Product Level Detail'
    
    ws.write(0,1,title,header_format)
    ws.write(1,1,text1,header_format)
    ws.write(2,1,text2,header_format)
    ws.write(3,1,text3,header_format)
    ws.set_column('C:J',12, dollar_format)
    ws.set_column('K:Z',12, qty_format)
    ws.set_column('A:A',12,word_format)
    ws.set_column('B:B',40,word_format)
    ws.hide_gridlines(2)
    ws.insert_image('A1','Logo.png')