In [1]:
#Imports the necessary libraries
import pandas as pd
import os
import numpy as np
import pyodbc as odbc
from datetime import date,timedelta,datetime
import datetime as dt
import xlsxwriter
os.chdir(r'L:\J.Harned\Calendar')
calendar=pd.read_excel('2024 Sales Calendar.xlsx')
calendar['Year']=calendar.StartDate.dt.year
os.chdir(r'G:\FinanceReports\2024\Wk43')
# Names the needed driver, server name, and database
driver_name='SQL Server'
server_name='10.0.1.218'
database='ritascoolnet_live'
#Creates the connection string
connection_string=f"""
DRIVER={{{driver_name}}};
SERVER={server_name};
DATABASE={database};
Trust_Connection=yes"""
#Creates the Connection to SQL Server
connection=odbc.connect(connection_string)
print(connection)

<pyodbc.Connection object at 0x000001C67E11DB90>

In [2]:
# Queries the tables from SQL
# Reads in the Weekly Sales in 2023
data=pd.read_sql_query('''SELECT *
  FROM [ritas_bi].[dbo].[tmp_raw_plda]
  WHERE YEAR(StartDate)=2024
  ORDER BY Week DESC''',connection)
# Reads in the Weekly Sales in 2022
df=pd.read_sql_query('''SELECT *
  FROM [ritas_bi].[dbo].[tmp_raw_plda]
  WHERE YEAR(StartDate)=2023''',connection)
#ShopDetail
data3=pd.read_sql_query('''Select intstoreid as intStoreID,RitasID as ShopID, FC,CoolNetGroup,LegacyStoreType,State,MSAName,DMA,StoreName as ShopName,
CoOpName,Franchisee,[Parent Shop #] as ParentID,[Special Venue] as SV,StoreStatus,[Re Open Date] as ReOpenDate,OpenDate,StoreType from ritascoolnet_live.dbo.vShopDetail''',connection)
product_sales=pd.read_sql_query('''Select * from ritascoolnet_live.dbo.tblProductSalesTransactions Where Year(dteStartDate)>=2023 ''',connection)

C:\Users\jharned\AppData\Local\Temp\ipykernel_24588\328150858.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data=pd.read_sql_query('''SELECT *
C:\Users\jharned\AppData\Local\Temp\ipykernel_24588\328150858.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query('''SELECT *
C:\Users\jharned\AppData\Local\Temp\ipykernel_24588\328150858.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data3=pd.read_sql_query('''Select intstoreid as intStoreID,RitasID as ShopID, FC,CoolNetGroup,LegacyStoreType,State,MSAName,DMA,StoreName as ShopName,
C:\Users\jharned\AppData\Local\Temp\ipykernel_24588\328150858.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  product_sales=pd.read_sql_query('''Select * from ritascoolnet_live.dbo.tblProductSalesTransactions Where Year(dteStartDate)>=2023 ''',connection)

In [3]:
data[(data.ShopID==1574)&(data.Week==data.Week.max())].SalesMny.sum()

3733.47

In [4]:
product_sales[product_sales.dteStartDate.dt.year==2024][['intUECount','intDDCount','intGHCount']].sum().sum()

754428

In [5]:
product_sales[product_sales.dteStartDate.dt.year==2024].intUECount.sum()

154476

In [6]:
sv=pd.read_sql_query('''Select * from ritascoolnet_live.dbo.vShopDetail''',connection)
sv=sv[['intstoreid','RitasID','Special Venue']]
sv=sv.rename(columns={'intstoreid':'intStoreID','RitasID':'ShopID','Special Venue':'SV'})

C:\Users\jharned\AppData\Local\Temp\ipykernel_24588\3679232069.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  sv=pd.read_sql_query('''Select * from ritascoolnet_live.dbo.vShopDetail''',connection)

In [7]:
total_df=pd.concat([data,df]) # Combines 2023 and 2024 Sales Data
total_df=total_df.merge(sv,how='left',on=['intStoreID','ShopID']) # Merges Special Venue with Sales Data
total_df.loc[total_df.StartDate=='2023-03-20','Week']='12'
total_df.loc[total_df.StartDate=='2023-03-27','Week']='13'
total_df.loc[total_df.StartDate=='2023-10-29','StartDate']='2023-10-30'
total_df=total_df.merge(calendar[['StartDate','Week','Month']],how='left',on=['StartDate','Week']) # Adds the month column from calendar
total_df.Week=total_df.Week.astype('int')
# total_df=total_df[total_df.Week<=data.Week.max()]# Filters on the max week

C:\Users\jharned\AppData\Local\Temp\ipykernel_24588\2815671358.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '12' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  total_df.loc[total_df.StartDate=='2023-03-20','Week']='12'

In [8]:
#Just For Mark for Convention

total_df=total_df[(total_df.StartDate>='2023-10-02')&(total_df.EndDate<='2024-09-29')]

In [15]:
total_df[(total_df.StartDate>='2023-10-02')&(total_df.EndDate<='2024-09-29')].SalesMny.sum()

196078047.4716

In [9]:
product_sales=product_sales.rename(columns={'dteStartDate':'StartDate'})
weeks=total_df[['StartDate','Week']].drop_duplicates(keep='first')
ps=product_sales.merge(weeks[['StartDate','Week']],how='left',on='StartDate')
ps['Retail_GC']=ps.intTransactionCount-ps.intUECount\
-ps.intDDCount-ps.intGHCount
ps['Year']=ps.StartDate.dt.year
ps

,intProductSalesTransactionID,intRitasStoreID,intTransactionCount,StartDate,dteEndDate,dteCreatedOn,vchSource,intNumberOfDays,intRegister,intUECount,intDDCount,intGHCount,Week,Retail_GC,Year
0,1057377,1478,383,2023-01-02,2023-01-08,2023-01-09 10:29:06.337,SMART,7,1,0,0,0,NaN,383,2023
1,1057381,250,331,2023-01-02,2023-01-08,2023-01-09 11:22:28.730,SMART,7,1,0,0,0,NaN,331,2023
2,1057382,127,0,2023-01-02,2023-01-08,2023-01-09 11:37:23.040,SMART,0,1,0,0,0,NaN,0,2023
3,1058258,22,1036,2023-01-02,2023-01-08,2023-01-10 01:05:04.303,SMART,7,1,0,0,0,NaN,1036,2023
4,1058259,39,643,2023-01-02,2023-01-08,2023-01-10 01:05:04.303,SMART,7,1,0,0,0,NaN,643,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41009,6882618,1499,1,2024-11-04,2024-11-10,2024-11-04 13:10:01.023,SMART,1,1,0,0,0,NaN,1,2024
41010,6882619,1502,2,2024-11-04,2024-11-10,2024-11-04 13:10:01.023,SMART,1,1,0,0,0,NaN,2,2024
41011,6882620,1512,3,2024-11-04,2024-11-10,2024-11-04 13:10:01.023,SMART,1,1,0,0,0,NaN,3,2024
41012,6882621,1516,2,2024-11-04,2024-11-10,2024-11-04 13:10:01.023,SMART,1,1,0,0,0,NaN,2,2024
41013,6882622,1543,2,2024-11-04,2024-11-10,2024-11-04 13:10:01.023,SMART,1,1,0,0,0,NaN,2,2024

In [10]:
threepd=ps.rename(columns={'intRitasStoreID':'ShopID'})
total_gc=threepd.groupby(['ShopID','Year','Week','StartDate'])['Retail_GC'].sum().reset_index()
total_gc.ShopID=total_gc.ShopID.astype('int')
total_gc.Week=total_gc.Week.astype('int')

In [11]:
total_gc=total_gc[(total_gc.StartDate>=total_df.StartDate.min())&(total_gc.StartDate<=total_df.EndDate.max())]
total_gc['ShopID']=pd.to_numeric(total_gc.ShopID,errors='coerce')# Converts ShopID to integers
total_gc=total_gc.merge(calendar[['Week','Year','Month']],on=['Week','Year'],how='left') #Adds month column to Guest Counts
total_df['Year']=total_df.StartDate.dt.year #Adds Year column
total_gc=total_gc.merge(data3[['ShopID','State']],on='ShopID',how='left').drop_duplicates(subset=['Week','Year','ShopID','Retail_GC','Month'],
                                                                                keep='first')

In [12]:
# Pulls Marketing info needed like Coolnet Group, MSA, and DMA
data4=pd.read_sql_query('''Select * from ritascoolnet_live.dbo.vShopDetail''',connection)
data3['ParentID']=pd.to_numeric(data3.ParentID,errors='coerce')# Converts the ParentID from string to Integer
alist=[294,446,858,1385,324,507,639,1427,1365,465,1336,1276]
data3.loc[data3.ParentID.isin(alist),'StoreStatus']=''# this is to include sales for shops that closed in 2023 
relo=pd.read_sql_query('''Select intStoreID,dteClosedForRelocation,intParentStoreID as ParentID,
intRitasStoreID as ShopID,bitDriveThru as DT from ritascoolnet_live.dbo.GOOGLE_MAP_store''',connection)# Reads in the Google Maps
relo['ParentID']=pd.to_numeric(relo.ParentID,errors='coerce')# Converts the ParentID from string to Integer
relo['ShopID']=pd.to_numeric(relo.ShopID,errors='coerce')# Converts the ParentID from string to Integer
relo.loc[relo.ShopID==1055,'dteClosedForRelocation']='2024-05-11'
# Changes the the DT columns from numbers to simply "Yes" or "No"
relo['DT']=np.where(relo.DT>=1,'Yes','No')

C:\Users\jharned\AppData\Local\Temp\ipykernel_24588\4208398029.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data4=pd.read_sql_query('''Select * from ritascoolnet_live.dbo.vShopDetail''',connection)
C:\Users\jharned\AppData\Local\Temp\ipykernel_24588\4208398029.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  relo=pd.read_sql_query('''Select intStoreID,dteClosedForRelocation,intParentStoreID as ParentID,

In [13]:
data3[data3.ShopID==1139]

,intStoreID,ShopID,FC,CoolNetGroup,LegacyStoreType,State,MSAName,DMA,ShopName,CoOpName,Franchisee,ParentID,SV,StoreStatus,ReOpenDate,OpenDate,StoreType
2849,3927,1139.0,Michael Rathman,AD CA Northern CA Rasmussen,Walk-in,CA,San Francisco-Oakland-Berkeley,San Francisco-Oakland-San Jose,Brentwood,None,Anthony P. Damiano,1139.0,No,Transferred,NaT,2016-12-02,Undefined
3829,4920,1139.0,Michael Rathman,CA Arellano,Walk-in,CA,San Francisco-Oakland-Berkeley,San Francisco-Oakland-San Jose,Brentwood,None,Gregory J. Arellano,1139.0,No,Transferred,NaT,2016-12-02,Walk-in
4108,5211,1139.0,John Martin (FC),CA Meza,Walk-in,CA,San Francisco-Oakland-Berkeley,San Francisco-Oakland-San Jose,Brentwood,None,John J. Meza Jr.,1139.0,No,Terminated,NaT,2016-12-02,Walk-in

In [14]:
sales=pd.concat([data,df])
sales.loc[sales.ShopID==31360,'ShopID']=1568 #This changes the Linc's ShopID. It was changed in 2024 and at the time
                                            # of this message, 2023 sales will not line up with 2024's
sales.loc[sales.intStoreID==5444,'intStoreID']=5547

sales=sales.merge(data3[['intStoreID','ParentID','FC','Franchisee','SV']],on='intStoreID',how='left')# merges multipe dataframes
                                                                                                # together using intStoreID as the key
data3=data3.merge(relo[['intStoreID','DT']],on='intStoreID',how='left')
sales['Year']=sales.StartDate.dt.year
cy_sales=sales[(sales.Year==sales.Year.max())|(sales.Year==sales.Year.max()-1)]# Graps only the most recent year and the previous year
cy_sales=cy_sales[cy_sales.Week<=data.Week.max()] # Graps the lastest week from this year and the previous year
# cy_sales.loc[cy_sales.ShopID==11390,'ParentID']=11390 #Altoona is it's own separate shop apart from Bedford
excluded=['Transferred','Sold!!!']
cy_sales.loc[cy_sales.StartDate=='2023-03-20','Week']=12
cy_sales.loc[cy_sales.StartDate=='2023-03-27','Week']=13

In [16]:
cy_sales=cy_sales.merge(calendar[['Week','Year','Month_Name']],on=['Week','Year'],how='left') #Adds month column to Sales
cy_sales.shape

(1385621, 31)

In [17]:
cy_sales[cy_sales.ShopID==1139]

,ShopID,intStoreID,ProductCode,ProdSizeCode,DiscountCode,Register,SalesQty,SalesMny,StartDate,EndDate,...,SpecialVenue,CoOpStatus,CoOpName,CoOpRate,ParentID,FC,Franchisee,SV,Year,Month_Name
1090653,1139,5211,1,5,126,1,9,26.010,2023-01-09,2023-01-15,...,No,No,None,0.0,1139.0,John Martin (FC),John J. Meza Jr.,No,2023,January
1090654,1139,5211,1,5,126,1,17,49.130,2023-01-02,2023-01-08,...,No,No,None,0.0,1139.0,John Martin (FC),John J. Meza Jr.,No,2023,January
1090655,1139,5211,1,5,126,1,25,72.250,2023-02-20,2023-02-26,...,No,No,None,0.0,1139.0,John Martin (FC),John J. Meza Jr.,No,2023,February
1090656,1139,5211,1,5,126,1,29,83.810,2023-03-13,2023-03-19,...,No,No,None,0.0,1139.0,John Martin (FC),John J. Meza Jr.,No,2023,March
1090657,1139,5211,1,5,126,1,30,86.700,2023-05-01,2023-05-07,...,No,No,None,0.0,1139.0,John Martin (FC),John J. Meza Jr.,No,2023,May
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1383094,1139,5211,79,302,5,1,0,-5.686,2023-10-02,2023-10-08,...,No,No,None,0.0,1139.0,John Martin (FC),John J. Meza Jr.,No,2023,October
1383095,1139,5211,79,302,5,1,0,-4.690,2023-02-06,2023-02-12,...,No,No,None,0.0,1139.0,John Martin (FC),John J. Meza Jr.,No,2023,February
1383096,1139,5211,79,302,5,1,0,-3.440,2023-04-03,2023-04-09,...,No,No,None,0.0,1139.0,John Martin (FC),John J. Meza Jr.,No,2023,April
1383097,1139,5211,79,302,5,1,0,-2.097,2023-02-20,2023-02-26,...,No,No,None,0.0,1139.0,John Martin (FC),John J. Meza Jr.,No,2023,February
1383098,1139,5211,79,302,5,1,0,0.000,2023-10-09,2023-10-15,...,No,No,None,0.0,1139.0,John Martin (FC),John J. Meza Jr.,No,2023,October

In [18]:
total_gc['ShopID']=total_gc.ShopID.astype('int')

In [19]:
total_gc.loc[total_gc.ShopID==31360,'ShopID']=1568

In [20]:
total_gc['ParentID']=total_gc.ShopID.astype('int')
total_gc['ParentID']=total_gc.ShopID.astype('str')
total_gc['ParentID']=total_gc.ParentID.str[-4:]
total_gc['ParentID']=total_gc.ParentID.astype('int')
gc_total=total_gc

In [23]:
total_df.SalesMny.sum()/gc_total.Retail_GC.sum()

11.873788718068589

In [ ]:
testing=data3.sort_values(by='intStoreID').drop_duplicates(subset=['ShopID','ParentID'],keep='last')

In [ ]:
# Creates a pivot table for Year over Year sales/guest count/ Average Check comparison
cy_pivot=cy_sales.pivot_table(index=['ParentID'],columns='Year',
                     values='SalesMny',aggfunc='sum',fill_value=0).reset_index()
gc_pivot=gc_total.pivot_table(index='ParentID',columns='Year',
                     values='Retail_GC',aggfunc='sum',fill_value=0).reset_index()
gc_pivot=gc_pivot.iloc[:,[0,-1,1]]
cy_pivot['%_Chng']=cy_pivot[2024].div(cy_pivot[2023])-1
cy_pivot['%_Chng'].replace([np.inf,np.nan],0,inplace=True)
gc_pivot['%_GC']=gc_pivot[2024].div(gc_pivot[2023])-1
gc_pivot['%_GC'].replace([np.inf,np.nan],0,inplace=True)
cy_data=data3[~(data3.StoreStatus.isin(excluded))].sort_values(
    by='ShopID').drop_duplicates(subset='ParentID',keep='first')
cy_pivot=cy_pivot.merge(cy_data[['ParentID','ShopName','FC','Franchisee','State','DT','SV']],on='ParentID')
cy_pivot['Rank']=cy_pivot[2024].rank(ascending=False)
cy_pivot=cy_pivot.iloc[:,[-1,0,4,-4,-3,-2,5,6,2,1,3]]
cy_pivot.rename(columns={2024:'Sales_24',
                         2023:'Sales_23',
                        'DriveThru':'DT'},inplace=True)
gc_pivot.rename(columns={2024:'GC_24',
                         2023:'GC_23'},inplace=True)
cy_pivot['Franchisee'].fillna('RFC',inplace=True)
cy_pivot=cy_pivot.sort_values(by='Sales_24',ascending=False)
cy_pivot=cy_pivot.merge(gc_pivot,on='ParentID',how='left')
cy_pivot['Avg_Chk_24']=cy_pivot['Sales_24']/cy_pivot['GC_24']
cy_pivot['Avg_Chk_23']=cy_pivot['Sales_23']/cy_pivot['GC_23']
cy_pivot['Chk_%']=cy_pivot.iloc[:,-2]/cy_pivot.iloc[:,-1]-1
cy_pivot.replace([np.inf,np.nan],0,inplace=True)
cy_pivot

In [ ]:
cy_data[cy_data.ShopID==1139]

In [ ]:
cy_pivot.Sales_24.sum()

In [ ]:
month_name=input('Enter Month Name:') # Type the month name you would like to view

In [ ]:
month=int(input('Enter Month Number:')) # Type the month name you would like to view

In [ ]:
# Gets the month name from the month number in the StartDate
cm_sales=cy_sales[cy_sales.Month_Name==month_name]
cm_gc=gc_total[gc_total.Month==month]

In [ ]:
cm_sales

In [ ]:
# Creates a pivot table for Month over Month sales/guest count/ Average Check comparison
cm_pivot=cm_sales.pivot_table(index=['ParentID'],columns='Year',
                     values='SalesMny',aggfunc='sum',fill_value=0).reset_index()
gc_pivot=cm_gc.pivot_table(index='ParentID',columns='Year',
                     values='Retail_GC',aggfunc='sum',fill_value=0).reset_index()
gc_pivot=gc_pivot.iloc[:,[0,-1,1]]
cm_pivot['%_Chng']=cm_pivot[2024].div(cm_pivot[2023])-1
cm_pivot['%_Chng'].replace([np.inf,np.nan],0,inplace=True)
gc_pivot['%_GC']=gc_pivot[2024].div(gc_pivot[2023])-1
gc_pivot['%_GC'].replace([np.inf,np.nan],0,inplace=True)
cm_data=data3[~(data3.StoreStatus.isin(excluded))].sort_values(
    by='ShopID').drop_duplicates(subset='ParentID',keep='first')
cm_pivot=cm_pivot.merge(cm_data[['ParentID','ShopName','FC','Franchisee','State','DT','SV']],on='ParentID')
cm_pivot['Rank']=cm_pivot[2024].rank(ascending=False)
cm_pivot=cm_pivot.iloc[:,[-1,0,4,-4,-3,-2,5,6,2,1,3]]
cm_pivot.rename(columns={2024:'Sales_24',
                         2023:'Sales_23',
                        'DriveThru':'DT'},inplace=True)
gc_pivot.rename(columns={2024:'GC_24',
                         2023:'GC_23'},inplace=True)
cm_pivot['Franchisee'].fillna('RFC',inplace=True)
cm_pivot=cm_pivot.sort_values(by='Sales_24',ascending=False)
cm_pivot=cm_pivot.merge(gc_pivot,on='ParentID',how='left')
cm_pivot['Avg_Chk_24']=cm_pivot['Sales_24']/cm_pivot['GC_24']
cm_pivot['Avg_Chk_23']=cm_pivot['Sales_23']/cm_pivot['GC_23']
cm_pivot['Chk_%']=cm_pivot.iloc[:,-2]/cm_pivot.iloc[:,-1]-1
cm_pivot.replace([np.inf,np.nan],0,inplace=True)
cm_pivot

In [ ]:
cm_gc.pivot_table(index='ParentID',columns='Year',
                     values='Retail_GC',aggfunc='sum',fill_value=0).reset_index()

In [ ]:
# Creates a pivot table for Week over Week sales/guest count/ Average Check comparison
cw_sales=cy_sales[cy_sales.Week==data.Week.max()]
cw_gc=gc_total[gc_total.Week==data.Week.max()]
cw_pivot=cw_sales.pivot_table(index=['ParentID'],columns='Year',
                     values='SalesMny',aggfunc='sum',fill_value=0).reset_index()
gc_pivot=cw_gc.pivot_table(index='ParentID',columns='Year',
                     values='Retail_GC',aggfunc='sum',fill_value=0).reset_index()
gc_pivot=gc_pivot.iloc[:,[0,-1,1]]
cw_pivot['%_Chng']=cw_pivot[2024].div(cw_pivot[2023])-1
cw_pivot['%_Chng'].replace([np.inf,np.nan],0,inplace=True)
gc_pivot['%_GC']=gc_pivot[2024].div(gc_pivot[2023])-1
gc_pivot['%_GC'].replace([np.inf,np.nan],0,inplace=True)
cw_data=data3[~(data3.StoreStatus.isin(excluded))].sort_values(
    by='ShopID').drop_duplicates(subset='ParentID',keep='first')
cw_pivot=cw_pivot.merge(cw_data[['ParentID','ShopName','FC','Franchisee','State','DT','SV']],on='ParentID')
cw_pivot['Rank']=cw_pivot[2024].rank(ascending=False)
cw_pivot=cw_pivot.iloc[:,[-1,0,4,-4,-3,-2,5,6,2,1,3]]
cw_pivot.rename(columns={2024:'Sales_24',
                         2023:'Sales_23',
                        'DriveThru':'DT'},inplace=True)
gc_pivot.rename(columns={2024:'GC_24',
                         2023:'GC_23'},inplace=True)
cw_pivot['Franchisee'].fillna('RFC',inplace=True)
cw_pivot=cw_pivot.sort_values(by='Sales_24',ascending=False)
cw_pivot=cw_pivot.merge(gc_pivot,on='ParentID',how='left')
cw_pivot['Avg_Chk_24']=cw_pivot['Sales_24']/cw_pivot['GC_24']
cw_pivot['Avg_Chk_23']=cw_pivot['Sales_23']/cw_pivot['GC_23']
cw_pivot['Chk_%']=cw_pivot.iloc[:,-2]/cw_pivot.iloc[:,-1]-1
cw_pivot.replace([np.inf,np.nan],0,inplace=True)
cw_pivot

In [ ]:

# Creates the excel spreadsheet for reveiw
text1='Ritas Franchise Company,LLC'
text2='Shop Ranking Report YTD'
text3='Shop Ranking Report for Month '+str(month_name)
text4='Shop Ranking Report for Week ' + str(data.Week.max())
text5='Sales thru '+str(data.EndDate.max().strftime('%m-%d-%y'))


recap=pd.ExcelWriter('Weekly Recap for Week '+str(data.Week.max())+'v2.xlsx')
recap_workbook=recap.book

# Defines the Header Fromat
format_header2=recap_workbook.add_format()
format_header2.set_italic()
format_header2.set_bold()

#Creates the Workbook Tab
cy_pivot.to_excel(recap,
                  startrow=4,startcol=0,
                  sheet_name='YTD Sales thru '+str(data.EndDate.max().strftime('%m-%d-%y')),index=False)
#Creates teh Sheet
worksheet=recap.sheets['YTD Sales thru '+str(data.EndDate.max().strftime('%m-%d-%y'))]

#Adds the Header
worksheet.write(0,1,text1,format_header2)
worksheet.write(1,1,text2,format_header2)
worksheet.write(2,1,text5,format_header2)
num_format=recap_workbook.add_format({'num_format':'$#,##0',
                                'align':'center',
                                'valign':'center'})
chk_format=recap_workbook.add_format({'num_format':'$#,##0.00',
                                'align':'center',
                                'valign':'center'})
perc_format=recap_workbook.add_format({'num_format':'0.0%',
                                'align':'center',
                                'valign':'center'})
gc_format=recap_workbook.add_format({'num_format':'#,##0',
                                'align':'center',
                                'valign':'center'})
text_format=recap_workbook.add_format({
                                'align':'center',
                                'valign':'center'})
border_format=recap_workbook.add_format({'top':1,'bottom':1,'left':1,'right':1})
col_header=recap_workbook.add_format({'bg_color':'#548235','bold':True,'align':'center','valign':'vcenter'})

# Row banding Format(Alternate based on Odd-Even Row Number)
odd_row_format = recap_workbook.add_format({'bg_color': '#E2EFDA'})  # Light Green for odd rows
even_row_format = recap_workbook.add_format({'bg_color': '#FFFFFF'})  # White for even rows

worksheet.set_column('A:G',20,text_format)
worksheet.set_column('C:C',45,text_format)
worksheet.set_column('H:H',26,text_format)
worksheet.set_column('I:P',13,num_format)
worksheet.set_column('L:M',13,gc_format)
worksheet.set_column('K:K',13,perc_format)
worksheet.set_column('N:N',13,perc_format)
worksheet.set_column('Q:Q',13,perc_format)
worksheet.set_column('O:P',13,chk_format)
worksheet.conditional_format(xlsxwriter.utility.xl_range(4,0,len(cy_pivot)+4,len(cy_pivot.columns)-1),
                              {'type': 'no_errors', 'format': border_format})

# Apply alternating row colors using a single conditional format
worksheet.conditional_format(5, 0, len(cy_pivot) + 4, len(cy_pivot.columns) - 1, {
                'type': 'formula',
                'criteria': 'ISEVEN(ROW()-5)',
                'format': even_row_format
            })
worksheet.conditional_format(5, 0, len(cy_pivot) + 4, len(cy_pivot.columns) - 1, {
                'type': 'formula',
                'criteria': 'ISODD(ROW()-5)',
                'format': odd_row_format
            })

worksheet.insert_image('A1','Logo.png')
worksheet.hide_gridlines(2)
worksheet.autofilter(4,0,cy_pivot.shape[0],cy_pivot.shape[1]-1)
worksheet.write_row('A5',cy_pivot.columns,col_header)

cm_pivot.to_excel(recap, startrow=4, startcol=0,sheet_name='Sales thru '+str(month_name),index=False)
worksheet2=recap.sheets['Sales thru '+str(month_name)]
worksheet2.write(0,1,text1,format_header2)
worksheet2.write(1,1,text3,format_header2)
worksheet2.write(2,1,text5,format_header2)

worksheet2.set_column('A:G',20,text_format)
worksheet2.set_column('C:C',45,text_format)
worksheet2.set_column('H:H',26,text_format)
worksheet2.set_column('I:P',13,num_format)
worksheet2.set_column('L:M',13,gc_format)
worksheet2.set_column('K:K',13,perc_format)
worksheet2.set_column('N:N',13,perc_format)
worksheet2.set_column('Q:Q',13,perc_format)
worksheet2.set_column('O:P',13,chk_format)
worksheet2.conditional_format(xlsxwriter.utility.xl_range(4,0,len(cm_pivot)+4,len(cm_pivot.columns)-1),
                              {'type': 'no_errors', 'format': border_format})

worksheet2.conditional_format(5, 0, len(cm_pivot) + 5, len(cm_pivot.columns) - 1, {
                'type': 'formula',
                'criteria': 'ISEVEN(ROW()-5)',
                'format': even_row_format
            })
worksheet2.conditional_format(5, 0, len(cm_pivot) + 5, len(cm_pivot.columns) - 1, {
                'type': 'formula',
                'criteria': 'ISODD(ROW()-5)',
                'format': odd_row_format
            })

worksheet2.insert_image('A1','Logo.png')
worksheet2.hide_gridlines(2)
worksheet2.autofilter(4,0,cm_pivot.shape[0],cm_pivot.shape[1]-1)
worksheet2.write_row('A5',cm_pivot.columns,col_header)

cw_pivot.to_excel(recap,startrow=4,startcol=0, sheet_name='Sales Week '+str(data.Week.max()),index=False)
worksheet1=recap.sheets['Sales Week '+str(data.Week.max())]
worksheet1.write(0,1,text1,format_header2)
worksheet1.write(1,1,text4,format_header2)
worksheet1.write(2,1,text5,format_header2)

worksheet1.set_column('A:G',20,text_format)
worksheet1.set_column('C:C',45,text_format)
worksheet1.set_column('H:H',26,text_format)
worksheet1.set_column('I:P',13,num_format)
worksheet1.set_column('L:M',13,gc_format)
worksheet1.set_column('K:K',13,perc_format)
worksheet1.set_column('N:N',13,perc_format)
worksheet1.set_column('Q:Q',13,perc_format)
worksheet1.set_column('O:P',13,chk_format)
worksheet1.conditional_format(xlsxwriter.utility.xl_range(4,0,len(cw_pivot)+4,len(cw_pivot.columns)-1),
                              {'type': 'no_errors', 'format': border_format})

worksheet1.conditional_format(5, 0, len(cw_pivot) + 4, len(cw_pivot.columns) - 1, {
                'type': 'formula',
                'criteria': 'ISEVEN(ROW()-5)',
                'format': even_row_format
            })
worksheet1.conditional_format(5, 0, len(cw_pivot) + 4, len(cw_pivot.columns) - 1, {
                'type': 'formula',
                'criteria': 'ISODD(ROW()-5)',
                'format': odd_row_format
            })

worksheet1.insert_image('A1','Logo.png')
worksheet1.hide_gridlines(2)
worksheet1.autofilter(4,0,cw_pivot.shape[0],cw_pivot.shape[1]-1)
worksheet1.write_row('A5',cw_pivot.columns,col_header)

recap.close()

In [ ]:
# with pd.ExcelWriter('Weekly Recap for Week '+str(data.Week.max())+'v2.xlsx',engine='xlsxwriter') as writer:
#     # Defines the workbook
#     wb=writer.book
    
#     # Defines Dollar Format
#     num_format=wb.add_format({'num_format':'$#,##0',
#                                 'align':'center',
#                                 'valign':'center'})
    
#     # Defines Check Format
#     chk_format=wb.add_format({'num_format':'$#,##0.00',
#                                 'align':'center',
#                                 'valign':'center'})
    
#     # Defines the Percent Format
#     perc_format=wb.add_format({'num_format':'0.0%',
#                                 'align':'center',
#                                 'valign':'center'})
    
#     # Defines the guest count format
#     gc_format=wb.add_format({'num_format':'#,##0',
#                                 'align':'center',
#                                 'valign':'center'})
    
#     # Defines the text format
#     text_format=wb.add_format({
#                                 'align':'center',
#                                 'valign':'center'})
    
#     # Defines Header Format
#     header_format=wb.add_format({'bold':True,'italic':True,'align':'center','valign':'vcenter'})
    
#     # Defines border format
#     border_format=recap_workbook.add_format({'top':1,'bottom':1,'left':1,'right':1})
    
#     #Defines Header Text
#     text1='Ritas Franchise Company,LLC'
#     text2='Shop Ranking Report YTD'
#     text3='Shop Ranking Report for Month '+str(month_name)
#     text4='Shop Ranking Report for Week ' + str(data.Week.max())
#     text5='Sales thru '+str(data.EndDate.max().strftime('%m-%d-%y'))
    
#     # List of DataFrames and corresponding sheet names
#     sheets_data = [
#         (cy_pivot, 'YTD Sales thru '+str(data.EndDate.max().strftime('%m-%d-%y'))),
#         (cm_pivot, 'Sales thru '+str(month_name)),
#         (cw_pivot, 'Sales Week '+str(data.Week.max()))
#     ]
    
#     for df, sheet_name in sheets_data:
#         df.to_excel(writer, startrow=5, startcol=0, sheet_name=sheet_name, index=False)
#         ws = writer.sheets[sheet_name]
            
#         # Row banding formats (for alternating colors)
#         odd_row_format = wb.add_format({'bg_color': '#FFFFFF'})  # White for odd rows
#         even_row_format = wb.add_format({'bg_color': '#E2EFDA'})  # Light Green for even rows
            
#         # Applys the border around the dataframe
#         ws.conditional_format(xlsxwriter.utility.xl_range(5,0,len(df)+5,len(df.columns)-1),
#                                       {'type': 'no_errors', 'format': border_format})

#         # Apply alternating row colors using a single conditional format
#         ws.conditional_format(5, 0, len(df) + 5, len(df.columns) - 1, {
#                 'type': 'formula',
#                 'criteria': 'ISEVEN(ROW()-5)',
#                 'format': even_row_format
#             })
#         ws.conditional_format(5, 0, len(df) + 5, len(df.columns) - 1, {
#                 'type': 'formula',
#                 'criteria': 'ISODD(ROW()-5)',
#                 'format': odd_row_format
#             })
#         # Writes headers    
#         ws.write(0,1,text1,header_format)
#         ws.write(1,1,text2,header_format)
#         ws.write(2,1,text5,header_format)
        
#         # Sets and formats the columns based on defined formatting 
#         ws.set_column('A:G',20,text_format)
#         ws.set_column('C:C',45,text_format)
#         ws.set_column('H:H',26,text_format)
#         ws.set_column('I:P',13,num_format)
#         ws.set_column('L:M',13,gc_format)
#         ws.set_column('K:K',13,perc_format)
#         ws.set_column('N:N',13,perc_format)
#         ws.set_column('Q:Q',13,perc_format)
#         ws.set_column('O:P',13,chk_format)
        
#         #Inserts Logo, hides the gridlines and adds a filter to each worksheet
#         ws.insert_image('A1','Logo.png')
#         ws.hide_gridlines(2)
#         ws.autofilter(5,0,df.shape[0],df.shape[1]-1)

In [ ]:
# ue=cy_sales[cy_sales.ProductSizeName=='UberEats'].pivot_table(index=['ParentID','ShopName'],columns='Year',values='SalesMny',
#                                                            aggfunc='sum',fill_value=0).reset_index()
# ue[(ue[2023]==0)&(ue[2024]>0)].to_excel('Cierra Uber Eats.xlsx',index=False)

In [ ]:
data.Week.max()

In [ ]:
# total_df['Year']=total_df.StartDate.dt.year
# feb=total_df[(total_df.Year==2023)&(total_df.Month==2)&(total_df.ShopID<10000)&(total_df.SV=='No')].pivot_table(
#     index=['ShopID','ShopName'],columns='StartDate',values='SalesMny',aggfunc='sum').dropna()
# october=total_df[(total_df.Year==2023)&(total_df.Month==10)&(total_df.ShopID<10000)&(total_df.SV=='No')].pivot_table(
#     index=['ShopID','ShopName'],columns='StartDate',values='SalesMny',aggfunc='sum').dropna()
# october = october.loc[(october!=0).all(axis=1)]
# october = october.loc[(october>=0).all(axis=1)]
# with pd.ExcelWriter('2023 February and October Sales.xlsx',engine='xlsxwriter',datetime_format='mm/dd/yyyy') as writer:
#     feb.to_excel(writer, sheet_name='February',startrow=5,startcol=0)
#     october.to_excel(writer,sheet_name='October',startrow=5,startcol=0)
    
#     wb=writer.book
#     ws=writer.sheets['February']
#     ws1=writer.sheets['October']
#     text1='Ritas Franchise Company,LLC'
#     text2='2023 February Sales'
#     text3='2023 October Sales'
#     text4='Retail Sales Only (Special Venue/Mobiles/Satellites Excluded)'
#     text5='Shops Reported Sales Every Week'
    
#     format_header=wb.add_format({'bold':True,'italic':True,'align':'center','valign':'vcenter'})
#     format_dollar=wb.add_format({'num_format':'$#,##0','align':'center','valign':'vcenter'})
#     format_word=wb.add_format({'align':'center'})
#     border_format=wb.add_format({'top':1,'bottom':1,'left':1,'right':1})
#     ws.conditional_format(xlsxwriter.utility.xl_range(5,0,len(feb)+5,len(feb.columns)+1),
#                               {'type': 'no_errors', 'format': border_format})
#     ws1.conditional_format(xlsxwriter.utility.xl_range(5,0,len(october)+5,len(october.columns)+1),
#                               {'type': 'no_errors', 'format': border_format})
    
#     ws.write(0,1,text1,format_header)
#     ws.write(1,1,text2,format_header)
#     ws.write(2,1,text4,format_header)
#     ws.write(3,1,text5,format_header)
#     ws.set_column('A:A',20,format_word)
#     ws.set_column('B:B',40,format_word)
#     ws.set_column('C:G',20,format_dollar)
#     ws.hide_gridlines(2)
#     ws.insert_image('A1','Logo.png')
    
#     ws1.write(0,1,text1,format_header)
#     ws1.write(1,1,text3,format_header)
#     ws1.write(2,1,text4,format_header)
#     ws1.write(3,1,text5,format_header)
#     ws1.set_column('A:A',20,format_word)
#     ws1.set_column('B:B',40,format_word)
#     ws1.set_column('C:G',20,format_dollar)
#     ws1.hide_gridlines(2)
#     ws1.insert_image('A1','Logo.png')

In [ ]:
ax=cy_pivot[cy_pivot.Avg_Chk_24<30]['Avg_Chk_24'].hist(bins=10,grid=False,zorder=2,rwidth=.75,figsize=(12,10))
ax