In [14]:
import pandas as pd
import os
import numpy as np

In [3]:
os.chdir(r'L:\Invoice History Files')

In [6]:
detail=pd.read_excel('2022 Invoice History - ms reports.xlsx', sheet_name='Detail')

In [7]:
detail.columns

Index(['CUSTOMERNO', 'CUSTOMERNAME', 'ADDRESSLINE1', 'ADDRESSLINE2',
       'ADDRESSLINE3', 'City', 'STATE', 'ZIPCODE', 'INVOICENO', 'INVOICETYPE',
       'SHIPDATE', 'INVOICEDATE', 'INVOICEDUEDATE', 'CUSTOMERPONO', 'ITEMCODE',
       'ITEMCODEDESC', 'ITEMTYPE', 'QUANTITYSHIPPED', 'UNITPRICE',
       'UDF_ADVERTISING_AMT', 'UDF_ROYALTY_AMT', 'UDF_STD_UNIT_PRICE',
       'FREIGHTAMT', 'PRODUCTLINE', 'PRODUCTLINEDESC', 'BILLTOSTATE',
       'ARDIVISIONNO', 'UDF_ROYALTY_METHOD', 'COMMENTTEXT', 'UDF_DISTRIBUTOR',
       'Ext Base Cost', 'Ext Royalty', 'Ext Ad Fund'],
      dtype='object')

In [17]:
grouped=detail.groupby(['CUSTOMERNO','ITEMCODEDESC'])[['QUANTITYSHIPPED','UNITPRICE']].agg({'QUANTITYSHIPPED':'sum','UNITPRICE':'mean'}).reset_index()#.to_excel('Custmer Order Info.xlsx', index=False)

In [20]:
grouped.rename(columns={'CUSTOMERNO':'STORE_ID'},inplace=True)

AttributeError: 'NoneType' object has no attribute 'to_excel'

In [21]:
grouped.to_excel('Custmer Order Info (2).xlsx', index=False)

In [22]:
detail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 328015 entries, 0 to 328014
Data columns (total 33 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   CUSTOMERNO           328015 non-null  int64
 1   CUSTOMERNAME         328015 non-null  object
 2   ADDRESSLINE1         328015 non-null  object
 3   ADDRESSLINE2         294050 non-null  object
 4   ADDRESSLINE3         133974 non-null  object
 5   City                 328015 non-null  object
 6   STATE                328015 non-null  object
 7   ZIPCODE              328015 non-null  object
 8   INVOICENO            328015 non-null  int64
 9   INVOICETYPE          328015 non-null  object
 10  SHIPDATE             328015 non-null  datetime64[ns]
 11  INVOICEDATE          328015 non-null  datetime64[ns]
 12  INVOICEDUEDATE       328015 non-null  datetime64[ns]
 13  CUSTOMERPONO         327985 non-null  object
 14  ITEMCODE             328015 non-null  object
 15  ITEMCODEDESC         328015 non-null  object
 16  ITEMTYPE             328015 non-null  int64
 17  QUANTITYSHIPPED      328015 non-null  float64
 18  UNITPRICE            328015 non-null  float64
 19  UDF_ADVERTISING_AMT  328015 non-null  float64
 20  UDF_ROYALTY_AMT      328015 non-null  float64
 21  UDF_STD_UNIT_PRICE   328015 non-null  float64
 22  FREIGHTAMT           328015 non-null  float64
 23  PRODUCTLINE          328015 non-null  object
 24  PRODUCTLINEDESC      328015 non-null  object
 25  BILLTOSTATE          328013 non-null  object
 26  ARDIVISIONNO         328015 non-null  int64
 27  UDF_ROYALTY_METHOD   328015 non-null  object
 28  COMMENTTEXT          48725 non-null   object
 29  UDF_DISTRIBUTOR      326998 non-null  object
 30  Ext Base Cost        328015 non-null  float64
 31  Ext Royalty          328015 non-null  float64
 32  Ext Ad Fund          328015 non-null  float64
dtypes: datetime64[ns](3), float64(9), int64(4), object(17)
memory usage: 82.6+ MB

In [26]:
update=detail[detail['SHIPDATE']<='2022-08-07']

In [31]:
update.rename(columns={'CUSTOMERNO':'STORE_ID'},inplace=True)

C:\Users\jharned\AppData\Local\Temp\ipykernel_16340\61513678.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  update.rename(columns={'CUSTOMERNO':'STORE_ID'},inplace=True)

In [35]:
update.groupby(['STORE_ID','ITEMCODEDESC'])[['QUANTITYSHIPPED','UNITPRICE']].agg({'QUANTITYSHIPPED':'sum','UNITPRICE':'mean'}).reset_index().to_excel('Customer Order Info 8.7.22.xlsx', index=False)

In [36]:
update.groupby(['STORE_ID','ITEMCODEDESC'])[['QUANTITYSHIPPED','UNITPRICE','Ext Royalty']].agg({'QUANTITYSHIPPED':'sum','UNITPRICE':'mean','Ext Royalty':'sum'}).to_excel()

                                         QUANTITYSHIPPED   UNITPRICE  \
STORE_ID ITEMCODEDESC
1         WAFFLE UPCHARGE ROYALTY                   23.0    4.904348
         16 OZ CLEAR SUNDAE BOWL (8/63)              1.0   82.890000
         16 OZ LARGE LID (10/100)                    3.0   30.310000
         16# WHITE BAG - LOGO (1000/CS)              1.0   85.580000
         2.5 GAL CHOCO CUST CREDIT                  -4.0   57.030000
...                                                  ...         ...
5866     TEMP 12OZ PARFAIT CUP (10/100)              5.0  117.000000
         VANILLA CUSTARD (2/2.5GAL BAG)            189.0   68.990000
         VANILLA MIX (4/1GAL)                        4.0   42.400000
         WATERMELON MIX (4/1GAL)                     9.0   42.160000
         YESPAC SMALL PAPER CUP (10/100             29.0   48.460000

                                         Ext Royalty
STORE_ID ITEMCODEDESC
1         WAFFLE UPCHARGE ROYALTY              77.21
         16 OZ CLEAR SUNDAE BOWL (8/63)         0.00
         16 OZ LARGE LID (10/100)               0.00
         16# WHITE BAG - LOGO (1000/CS)         0.00
         2.5 GAL CHOCO CUST CREDIT            -62.36
...                                              ...
5866     TEMP 12OZ PARFAIT CUP (10/100)         0.00
         VANILLA CUSTARD (2/2.5GAL BAG)         0.00
         VANILLA MIX (4/1GAL)                   0.00
         WATERMELON MIX (4/1GAL)                0.00
         YESPAC SMALL PAPER CUP (10/100         0.00

[65134 rows x 3 columns]

In [37]:
detail

,CUSTOMERNO,CUSTOMERNAME,ADDRESSLINE1,ADDRESSLINE2,ADDRESSLINE3,City,STATE,ZIPCODE,INVOICENO,INVOICETYPE,...,PRODUCTLINE,PRODUCTLINEDESC,BILLTOSTATE,ARDIVISIONNO,UDF_ROYALTY_METHOD,COMMENTTEXT,UDF_DISTRIBUTOR,Ext Base Cost,Ext Royalty,Ext Ad Fund
0,1,PA WOODHAVEN,"Odase, Inc.",1227 Bristol Pike,NaN,Andalusia,PA,19020,1327597,IN,...,NR01,OTHER INGRED - REFRIG,PA,1,STANDARD,NaN,BAL/BUN,34.67,0.0,0.00
1,1,PA WOODHAVEN,"Odase, Inc.",1227 Bristol Pike,NaN,Andalusia,PA,19020,1327597,IN,...,NR01,OTHER INGRED - REFRIG,PA,1,STANDARD,NaN,BAL/BUN,57.48,0.0,0.00
2,1,PA WOODHAVEN,"Odase, Inc.",1227 Bristol Pike,NaN,Andalusia,PA,19020,1327597,IN,...,RO05,CUSTARD,PA,1,STANDARD,NaN,BAL/BUN,409.80,153.9,71.04
3,1,PA WOODHAVEN,"Odase, Inc.",1227 Bristol Pike,NaN,Andalusia,PA,19020,1327597,IN,...,RO05,CUSTARD,PA,1,STANDARD,NaN,BAL/BUN,271.20,102.6,47.36
4,1,PA WOODHAVEN,"Odase, Inc.",1227 Bristol Pike,NaN,Andalusia,PA,19020,1327640,IN,...,NR03,PAPER PRODUCTS,PA,1,STANDARD,NaN,BAL/BUN,82.89,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328010,5866,PA FEESERS WAREHOUSE,Feeser's Warehouse,ATTN: Scott Clouser,5561 Grayson Road,Harrisburg,PA,17111,1367994,IN,...,FS01,FUEL SURCHARGE,PA,1,EXEMPT,NaN,BAL/BUN,15.25,0.0,0.00
328011,5866,PA FEESERS WAREHOUSE,Feeser's Warehouse,ATTN: Scott Clouser,5561 Grayson Road,Harrisburg,PA,17111,1368275,IN,...,RO05,CUSTARD,PA,1,EXEMPT,NaN,BAL/BUN,1034.85,0.0,0.00
328012,5866,PA FEESERS WAREHOUSE,Feeser's Warehouse,ATTN: Scott Clouser,5561 Grayson Road,Harrisburg,PA,17111,1368275,IN,...,FS01,FUEL SURCHARGE,PA,1,EXEMPT,NaN,BAL/BUN,14.75,0.0,0.00
328013,5866,PA FEESERS WAREHOUSE,Feeser's Warehouse,ATTN: Scott Clouser,5561 Grayson Road,Harrisburg,PA,17111,1368349,IN,...,RO05,CUSTARD,PA,1,EXEMPT,NaN,BAL/BUN,1103.84,0.0,0.00
328014,5866,PA FEESERS WAREHOUSE,Feeser's Warehouse,ATTN: Scott Clouser,5561 Grayson Road,Harrisburg,PA,17111,1368349,IN,...,FS01,FUEL SURCHARGE,PA,1,EXEMPT,NaN,BAL/BUN,14.75,0.0,0.00