In [1]:
import pandas as pd
import os
import numpy as np
import pyodbc as odbc
import datetime as dt
from datetime import date,timedelta,datetime
import matplotlib.pyplot as plt
import seaborn as sns
import xlsxwriter
os.chdir(r'G:\FinanceReports\2024\Another Kathy Request')
# plt.style.use('ggplot')

In [2]:
# Names the needed driver, server name, and database
driver_name='SQL Server'
server_name='10.0.1.127'
database='MAS_RFC'

In [3]:
#Creates the connection string
connection_string=f"""
DRIVER={{{driver_name}}};
SERVER={server_name};
DATABASE={database};
Trust_Connection=yes"""
connection=odbc.connect(connection_string)
print(connection)

<pyodbc.Connection object at 0x0000023E102F0B90>

In [ ]:
# Four tables needed to run the report
# All four are needed in order run report
invoice_history=pd.read_sql_query("""SELECT * from MAS_RFC.dbo.AR_InvoiceHistoryHeader Where Year(InvoiceDate)>=2019""",connection)
customer=pd.read_sql_query('''select * from MAS_RFC.dbo.AR_Customer''',connection)
invoice_detail=pd.read_sql_query('''select InvoiceNo,ItemCode,ItemCodeDesc,ItemType,UnitPrice,QuantityShipped, UDF_ROYALTY_AMT,UDF_STD_UNIT_PRICE,UDF_ADVERTISING_AMT,ProductLine,CommentText from MAS_RFC.dbo.AR_InvoiceHistoryDetail''',connection)
product_line=pd.read_sql_query('''select * from MAS_RFC.dbo.IM_ProductLine''',connection)

C:\Users\jharned\AppData\Local\Temp\ipykernel_13024\4163164796.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  invoice_history=pd.read_sql_query("""SELECT * from MAS_RFC.dbo.AR_InvoiceHistoryHeader Where Year(InvoiceDate)>=2019""",connection)

In [ ]:
# Names the needed driver, server name, and database
driver_name='SQL Server'
server_name='10.0.1.218'
database='ritascoolnet_live'
#Creates the connection string
connection_string=f"""
DRIVER={{{driver_name}}};
SERVER={server_name};
DATABASE={database};
Trust_Connection=yes"""
#Creates the Connection to SQL Server
connection=odbc.connect(connection_string)
print(connection)

In [ ]:
# Pulls Marketing info needed like Coolnet Group, MSA, and DMA
data=pd.read_sql_query('''Select intstoreid as intStoreID,RitasID as ShopID, FC,CoolNetGroup,LegacyStoreType,State,MSAName,DMA,StoreName as ShopName,StoreType,CoOpName,OpenDate,StoreStatus,[Re Open Date] as ReOpenDate,City,TransferDate from ritascoolnet_live.dbo.vShopDetail''',
                        connection)

In [ ]:
# Grabs the necessary columns from Invoice History
inv_hist=invoice_history[['CustomerNo','InvoiceNo','InvoiceType','ShipDate','InvoiceDate','BillToState','InvoiceDueDate']]
# Merges Invoice History with Invoice Detail on InvoiceNo column
inv_merge=inv_hist.merge(invoice_detail,on='InvoiceNo',how='inner').drop_duplicates(keep='first')
inv_merge['Ext Base Cost']=inv_merge.QuantityShipped*inv_merge.UDF_STD_UNIT_PRICE
inv_merge['Ext Royalty']=inv_merge.QuantityShipped*inv_merge.UDF_ROYALTY_AMT
inv_merge['Ext Ad Fund']=inv_merge.QuantityShipped*inv_merge.UDF_ADVERTISING_AMT
cust=customer[['CustomerNo','CustomerName','City','ARDivisionNo','UDF_ROYALTY_METHOD','UDF_DISTRIBUTOR']]
all_merge=inv_merge.merge(cust,on='CustomerNo',how='inner').drop_duplicates(keep='first')
filtered=all_merge[(all_merge.ARDivisionNo=='01')&(all_merge.ARDivisionNo=='01')]
# filtered=all_merge[(all_merge.ItemType=='1')&(all_merge.ARDivisionNo=='01')]
total_df=filtered.merge(product_line[['ProductLine','ProductLineDesc']],on='ProductLine').drop_duplicates(keep='first')
total_df=total_df[total_df.InvoiceDate.dt.year<=2024]
total_df=total_df[(total_df.CustomerNo!='TRAINMS')&(total_df.CustomerNo!='EAGLES1')&(total_df.CustomerNo!='CANA001')]
total_df.loc[total_df.CustomerNo==1528,'BillToState']='PA'
total_df['CustomerNo']=total_df.CustomerNo.astype('int')
total_df=total_df.rename(columns={'CustomerNo':'ShopID'})
# total_df['OpenDate']=total_df.OpenDate.fillna('No Open Date')
# total_df['OpenDate']=pd.to_datetime(total_df['OpenDate'],errors='coerce')
# total_df.OpenDate.replace({pd.NaT: 'No Open Date'}, inplace=True)
total_df.loc[total_df.ShopID==1528,'BillToState']='PA'
total_df.loc[total_df.ShopID==1446,'BillToState']='PA'
total_df.loc[total_df.ShopID==1468,'BillToState']='MD'
total_df.loc[total_df.ShopID==1515,'BillToState']='AL'
total_df.loc[total_df.ShopID==1397,'BillToState']='AL'
total_df.loc[total_df.ShopID==1337,'BillToState']='FL'

In [ ]:
total_df.shape

In [ ]:
total_df['Year']=total_df.InvoiceDate.dt.year
total_food=total_df[(total_df.ProductLineDesc=='MIXES')|(total_df.ProductLineDesc=='CUSTARD')
         |(total_df.ProductLineDesc=='MIXES - SUGARFREE')|(total_df.ProductLineDesc=='CUSTARD - KOSHER')|
         ((total_df.ProductLineDesc=='BOTTLED WATER'))|(total_df.ProductLineDesc=='OTHER INGRED - AMBIENT')
        |(total_df.ProductLineDesc=='OTHER INGRED - REFRIG')|(total_df.ProductLineDesc=='NATURAL - MIXES')
        |(total_df.ProductLineDesc=='PRETZELS')|(total_df.ProductLineDesc=='MUSTARD - IN INVENTORY')
        |(total_df.ProductLineDesc=='CUSTARD CONE/CUP SETS')|(total_df.ProductLineDesc=='SUGAR')|(total_df.ProductLineDesc=='PAPER PRODUCTS')|
         (total_df.ProductLineDesc=='WAFFLE CONE')|(total_df.ProductLineDesc=='PRODUCT CREDITS')].pivot_table(index=['ShopID'],values='Ext Base Cost',columns='Year',aggfunc='sum',
                                                                                                             fill_value=0).reset_index()

In [ ]:
total_food

In [ ]:
total_ad_fund=total_df.pivot_table(index='ShopID',values='Ext Ad Fund',columns='Year',aggfunc='sum',fill_value=0).reset_index()
total_royalty=total_df.pivot_table(index='ShopID',values='Ext Royalty',columns='Year',aggfunc='sum',fill_value=0).reset_index()
total_df['Royalty Based Sales']=total_df['Ext Royalty']/.065
total_ars=total_df.pivot_table(index='ShopID',columns='Year',values='Royalty Based Sales',aggfunc='sum',fill_value=0)\
.reset_index()
total_ars

In [105]:
#Names the needed driver, server name, and database
driver_name='SQL Server'
server_name='10.0.1.218'
database='ritascoolnet_live'
#Creates the connection string
connection_string=f"""
DRIVER={{{driver_name}}};
SERVER={server_name};
DATABASE={database};
Trust_Connection=yes"""
#Creates the Connection to SQL Server
connection=odbc.connect(connection_string)
print(connection)
# Queries the tables from SQL
# Reads in the Weekly Sales in 2023
data=pd.read_sql_query('''SELECT *
  FROM [ritas_bi].[dbo].[tmp_raw_plda]
  WHERE YEAR(StartDate)>=2022
  ORDER BY Week DESC''',connection)
data3=pd.read_sql_query('''Select intstoreid as intStoreID,
RitasID as ShopID, FC,CoolNetGroup,LegacyStoreType,State,
MSAName,DMA,StoreName as ShopName,StoreType,CoOpName,OpenDate,
StoreStatus,[Re Open Date] as RelocationDate,City,TransferDate,
[Parent Shop #] as ParentID from ritascoolnet_live.dbo.vShopDetail''',
                        connection)
drive_thru=pd.read_sql_query('''Select intStoreID,dteClosedForRelocation,intParentStoreID as ParentID,
intRitasStoreID as ShopID,bitDriveThru as DT from ritascoolnet_live.dbo.GOOGLE_MAP_store''',connection)

C:\Users\jharned\AppData\Local\Temp\ipykernel_768\1412248589.py:26: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  drive_thru=pd.read_sql_query('''Select intStoreID,dteClosedForRelocation,intParentStoreID as ParentID,

In [116]:
drive_thru['DT']=pd.to_numeric(drive_thru['DT'],errors='coerce')
drive_thru['ShopID']=pd.to_numeric(drive_thru['ShopID'],errors='coerce')

In [118]:

data.loc[data.StartDate=='2023-03-20','Week']=12
data.loc[data.StartDate=='2023-03-27','Week']=13
drive_thru['DT']=np.where(drive_thru.DT>=1,'Yes','No')
data['Year']=data.StartDate.dt.year

In [119]:
merge=data.merge(data3[['intStoreID','ParentID']])
dt_merge=merge.merge(drive_thru[['intStoreID','ShopID','DT']],on=['intStoreID','ShopID'],how='outer')
dt_merge=merge.merge(drive_thru[['ParentID','DT']],on='ParentID',how='left')
total_sales=dt_merge.pivot_table(index=['ParentID','DT'],columns='Year',values='SalesMny',aggfunc='sum',fill_value=0)\
.reset_index()

In [17]:
stores=data3.sort_values(by=['ShopID','intStoreID']).drop_duplicates(subset=['ParentID','ShopID'],keep='last')
test=total_sales.merge(stores[['ParentID','ShopName','City','State','StoreStatus','StoreType','OpenDate','RelocationDate','TransferDate']],on='ParentID',how='left').drop_duplicates(keep='last',subset='ParentID')

In [18]:
test

,ParentID,DT,2022.0,2023.0,2024.0,ShopName,City,State,StoreStatus,StoreType,OpenDate,RelocationDate,TransferDate
1,1.0,No,372821.1790,409081.0250,381069.3305,Woodhaven Mobile,Andalusia,PA,Open,Cart,1984-05-04,NaT,NaT
2,2.0,No,499034.9450,570197.6675,513713.9210,3244 Red Lion Rd-Phila PA,Philadelphia,PA,Open,Walk-up,1987-04-01,NaT,2008-07-09
3,3.0,No,256647.8307,302488.1535,258854.2555,5901 Rising Sun Ave-Phila PA,Philadelphia,PA,Open,Walk-up,1988-06-01,NaT,2022-06-30
4,4.0,No,263541.0212,264795.2265,253743.6073,Pine Valley,Philadelphia,PA,Open,Walk-up,1990-04-06,NaT,2015-01-30
5,6.0,No,378659.3401,397503.9060,406810.7109,Rhawn Street,Philadelphia,PA,Open,Walk-up,1990-06-21,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1025,1561.0,No,0.0000,0.0000,36556.1557,27601 Southfield Rd-Lathrup Village MI,Lathrup Village,MI,Open,Walk-in / Walk-up,2024-08-01,NaT,NaT
1026,1563.0,No,0.0000,0.0000,238676.7400,1500 S Capitol St-Washington DC,Washington,DC,Open,Walk-up,2024-04-01,NaT,NaT
1027,1568.0,No,0.0000,0.0000,304527.5000,1 Lincoln Financial Way-Phila PA,Philadelphia,PA,Open,Cart,2023-05-06,NaT,NaT
1028,1573.0,No,0.0000,0.0000,621379.4400,1 Busch Gardens Blvd-Williamsburg VA,Williamsburg,VA,Open,Walk-in,2024-05-16,NaT,NaT
1029,1574.0,No,0.0000,0.0000,150719.1200,10500 SeaWorld Dr-San Antonio TX,San Antonio,TX,Open,Walk-up,2024-06-27,NaT,NaT

In [19]:
test['OpenDate']=test.OpenDate.astype('str').fillna('')
test['RelocationDate']=test.RelocationDate.astype('str').fillna('')
test['TransferDate']=test.TransferDate.astype('str').fillna('')
test=test.replace({'NaT':''})

In [20]:
stores['OpenDate']=stores.OpenDate.astype('str').fillna('')
stores['RelocationDate']=stores.RelocationDate.astype('str').fillna('')
stores['TransferDate']=stores.TransferDate.astype('str').fillna('')
stores=stores.replace({'NaT':''})

In [21]:
#test=test.drop_duplicates(subset=['ParentID','SalesMny'],keep='first')

In [24]:
total_sales[total_sales.DT=='Yes']

Year  ParentID   DT       2022.0       2023.0       2024.0
18        22.0  Yes  622403.3788  677496.7666  532054.0000
21        29.0  Yes  665958.9620  747102.6190  650285.3465
24        32.0  Yes       0.0000  656888.4670  791015.2246
31        41.0  Yes  280993.9398  293561.3629  281043.6101
37        48.0  Yes  293521.8265  342659.7458  352408.6461
45        60.0  Yes  417016.1679  474942.9572  454553.9615
54        73.0  Yes  509344.3144  487355.6581  341814.2571
70        97.0  Yes  440202.0661  491751.6615  478448.2730
90       127.0  Yes  804839.9400  953642.7300  780426.7900
104      149.0  Yes  426613.2051  405512.1360  314012.6230
115      161.0  Yes  455563.1857  735872.8972  751540.0971
128      181.0  Yes  257266.2430  275396.4245  272445.5430
147      207.0  Yes  239386.7108  293388.7295  287593.0683
157      223.0  Yes  296727.8085  440590.0830  386536.3022
162      230.0  Yes  361888.4520  394993.2006  378315.9787
165      237.0  Yes  449246.4995  490082.3723  459442.0531
177      254.0  Yes  692438.9290  769218.7805  695569.9814
196      290.0  Yes  431756.2740  595234.8929  519050.6498
292      445.0  Yes       0.0000  503527.5622  522750.3479
327      536.0  Yes  193105.4770  182431.9400  118234.0000
335      564.0  Yes  258799.7610  350227.5880  319019.1179
362      753.0  Yes  460499.9002  513464.7340  451293.9400
371      836.0  Yes  345577.1600  354667.8377  269518.0440
372      843.0  Yes  216081.7906  252306.7777  209531.6030
373      847.0  Yes  516413.3469  505256.6529  369680.2355
465     1355.0  Yes  121963.3600   96694.8860  114620.5819
485     1390.0  Yes   44011.9996   66037.8082   97889.5124
488     1394.0  Yes  319853.4865  305437.3754  281305.1517
496     1402.0  Yes  232555.0150       0.0000       0.0000
502     1407.0  Yes  462336.2380  365056.4844  307918.9706
511     1419.0  Yes  373523.6635  386910.4165  248444.9725
514     1423.0  Yes  435950.4065  654088.4585  565354.1785
526     1442.0  Yes       0.0000  491240.5194  445201.9363
530     1448.0  Yes  119259.7705       0.0000       0.0000
531     1449.0  Yes   77510.6008  293326.4766  194431.9655
534     1452.0  Yes       0.0000       0.0000  269374.6450
536     1453.0  Yes  206892.1529  179320.1560  116378.1617
539     1456.0  Yes   56940.3200  428242.5300  396153.0800
560     1482.0  Yes  220384.3307  399240.4340  316790.9635
563     1486.0  Yes       0.0000       0.0000  267926.4396
566     1490.0  Yes       0.0000   18827.1825  324368.2180
576     1512.0  Yes       0.0000   26636.4100  569186.4672
588     1528.0  Yes       0.0000       0.0000  550661.0870

In [23]:
all_sales=total_sales.merge(stores[['ParentID','ShopName']],on='ParentID')\
.drop_duplicates(keep='first',subset='ParentID').iloc[:,[0,-1,1,2,3,4]].drop('DT',axis=1)
total_food=total_food.merge(stores[['ParentID','ShopName']],left_on='ShopID',right_on='ParentID')\
.drop_duplicates(keep='first',subset='ShopID').iloc[:,[0,-1,1,2,3]]
total_ad_fund=total_ad_fund.merge(stores[['ParentID','ShopName']],left_on='ShopID',right_on='ParentID')\
.drop_duplicates(keep='first',subset='ShopID').iloc[:,[0,-1,1,2,3]]
total_royalty=total_royalty.merge(stores[['ParentID','ShopName']],left_on='ShopID',right_on='ParentID')\
.drop_duplicates(keep='first',subset='ShopID').iloc[:,[0,-1,1,2,3]]
total_ars=total_ars.merge(stores[['ParentID','ShopName']],left_on='ShopID',right_on='ParentID')\
.drop_duplicates(keep='first',subset='ShopID').iloc[:,[0,-1,1,2,3]]

In [88]:
all_sales

ParentID                                             395604.0
ShopName    Woodhaven3244 Red Lion Rd-Phila PARising SunPi...
2022.0                                         157787496.6065
2023.0                                         182009404.6644
2024.0                                         178436818.3849
dtype: object

In [103]:
with pd.ExcelWriter('Sales COGS Ad Fund Royalty 2022-24.xlsx') as writer:
    all_sales.to_excel(writer,sheet_name='POS Sales',startrow=5,startcol=0,index=False,engine='xlsxwriter')
    total_food.to_excel(writer,sheet_name='Food & Paper',startrow=5,startcol=0,index=False,engine='xlsxwriter')
    total_ad_fund.to_excel(writer,sheet_name='Ad Fund',startrow=5,startcol=0,index=False,engine='xlsxwriter')
    total_royalty.to_excel(writer,sheet_name='Royalty',startrow=5,startcol=0,index=False,engine='xlsxwriter')
    total_ars.to_excel(writer,sheet_name='RBS',startrow=5,startcol=0,index=False,engine='xlsxwriter')
    
    title='Ritas Franchise Company,LLC'
    text1='2022-2024 POS Sales YTD'
    text2='2022-2024 Food and Paper YTD'
    text3='2022-2024 AD Fund Revenue YTD'
    text4='2022-2024 Royalty Revenue YTD'
    text5='2022-2024 Royalty Based Sales YTD'
    text6='As of '+str(data.EndDate.max().strftime('%m-%d-%y'))
    
    wb=writer.book
    ws=writer.sheets['POS Sales']
    ws1=writer.sheets['Food & Paper']
    ws2=writer.sheets['Ad Fund']
    ws3=writer.sheets['Royalty']
    ws4=writer.sheets['RBS']
    
    dollar_format=wb.add_format({'num_format':'$#,##0',
                                'align':'center',
                                'valign':'vcenter'})
    title_format=wb.add_format({'bold':True,
                               'italic':True,
                               'align':'center',
                               'valign':'vcenter'})
    border_format=wb.add_format({'left':2,'right':2,'top':2,'bottom':2})
    num_format=wb.add_format({'align':'center','valign':'vcenter'})
    ws.conditional_format(xlsxwriter.utility.xl_range(5,0,len(all_sales)+5,len(all_sales.columns)-1),
                                  {'type': 'no_errors', 'format': border_format})
    ws1.conditional_format(xlsxwriter.utility.xl_range(5,0,len(total_food)+5,len(total_food.columns)-1),
                                  {'type': 'no_errors', 'format': border_format})
    ws2.conditional_format(xlsxwriter.utility.xl_range(5,0,len(total_ad_fund)+5,len(total_ad_fund.columns)-1),
                                  {'type': 'no_errors', 'format': border_format})
    ws3.conditional_format(xlsxwriter.utility.xl_range(5,0,len(total_royalty)+5,len(total_royalty.columns)-1),
                                  {'type': 'no_errors', 'format': border_format})
    ws4.conditional_format(xlsxwriter.utility.xl_range(5,0,len(total_ars)+5,len(total_ars.columns)-1),
                                  {'type': 'no_errors', 'format': border_format})
    ws.set_column('A:A',12,num_format)
    ws.set_column('B:B',47,num_format)
    ws.set_column('C:E',13,dollar_format)
    ws.autofilter(5,0,all_sales.shape[0],all_sales.shape[1]-1)
    ws.write(0,1,title,title_format)
    ws.write(1,1,text1,title_format)
    ws.write(2,1,text6,title_format)
    ws.insert_image('A1','Logo.png')
    ws.hide_gridlines(2)
    
    ws1.set_column('A:A',12,num_format)
    ws1.set_column('B:B',47,num_format)
    ws1.set_column('C:E',13,dollar_format)
    ws1.write(0,1,title,title_format)
    ws1.write(1,1,text2,title_format)
    ws1.write(2,1,text6,title_format)
    ws1.insert_image('A1','Logo.png')
    ws1.hide_gridlines(2)
    ws1.autofilter(5,0,total_food.shape[0],total_food.shape[1]-1)
    
    ws2.set_column('A:A',12,num_format)
    ws2.set_column('B:B',47,num_format)
    ws2.set_column('C:E',13,dollar_format)
    ws2.write(0,1,title,title_format)
    ws2.write(1,1,text3,title_format)
    ws2.write(2,1,text6,title_format)
    ws2.insert_image('A1','Logo.png')
    ws2.hide_gridlines(2)
    ws2.autofilter(5,0,total_ad_fund.shape[0],total_ad_fund.shape[1]-1)
    
    ws3.set_column('A:A',12,num_format)
    ws3.set_column('B:B',47,num_format)
    ws3.set_column('C:E',13,dollar_format)
    ws3.write(0,1,title,title_format)
    ws3.write(1,1,text4,title_format)
    ws3.write(2,1,text6,title_format)
    ws3.insert_image('A1','Logo.png')
    ws3.hide_gridlines(2)
    ws3.autofilter(5,0,total_royalty.shape[0],total_royalty.shape[1]-1)
    
    ws4.set_column('A:A',12,num_format)
    ws4.set_column('B:B',47,num_format)
    ws4.set_column('C:E',13,dollar_format)
    ws4.write(0,1,title,title_format)
    ws4.write(1,1,text5,title_format)
    ws4.write(2,1,text6,title_format)
    ws4.insert_image('A1','Logo.png')
    ws4.hide_gridlines(2)
    ws4.autofilter(5,0,total_ars.shape[0],total_ars.shape[1]-1)

In [25]:
food=total_df[(total_df.ProductLineDesc=='MIXES')|(total_df.ProductLineDesc=='CUSTARD')
         |(total_df.ProductLineDesc=='MIXES - SUGARFREE')|(total_df.ProductLineDesc=='CUSTARD - KOSHER')|
         ((total_df.ProductLineDesc=='BOTTLED WATER'))|(total_df.ProductLineDesc=='OTHER INGRED - AMBIENT')
        |(total_df.ProductLineDesc=='OTHER INGRED - REFRIG')|(total_df.ProductLineDesc=='NATURAL - MIXES')
        |(total_df.ProductLineDesc=='PRETZELS')|(total_df.ProductLineDesc=='MUSTARD - IN INVENTORY')
        |(total_df.ProductLineDesc=='CUSTARD CONE/CUP SETS')|(total_df.ProductLineDesc=='SUGAR')|(total_df.ProductLineDesc=='PAPER PRODUCTS')|
         (total_df.ProductLineDesc=='WAFFLE CONE')|(total_df.ProductLineDesc=='PRODUCT CREDITS')].groupby(['ShopID',pd.Grouper(key='InvoiceDate',freq='w'),'Year'])['Ext Base Cost'].sum().reset_index()

In [26]:
ad_fund=total_df.groupby(['ShopID',pd.Grouper(key='InvoiceDate',freq='w'),'Year'])['Ext Ad Fund'].sum().reset_index()
royalty=total_df.groupby(['ShopID',pd.Grouper(key='InvoiceDate',freq='w'),'Year'])['Ext Royalty'].sum().reset_index()
rbs=total_df.groupby(['ShopID',pd.Grouper(key='InvoiceDate',freq='w'),'Year'])['Royalty Based Sales'].sum().reset_index()

In [27]:
rbs=rbs.merge(stores[['ShopID','ShopName','City','State','StoreStatus','StoreType','OpenDate','RelocationDate','TransferDate']],on='ShopID',how='left')\
.drop_duplicates(subset=['ShopID','InvoiceDate','Royalty Based Sales'],keep='first')
rbs=rbs.merge(drive_thru[['ShopID','DT']],on='ShopID',how='left').drop_duplicates(subset=['ShopID','InvoiceDate','Royalty Based Sales'],keep='first')

In [28]:
rbs.OpenDate=rbs.OpenDate.replace(pd.NaT, '')
rbs.RelocationDate=rbs.RelocationDate.replace(pd.NaT, '')
rbs.TransferDate=rbs.TransferDate.replace(pd.NaT, '')
rbs['OpenDate']=rbs.OpenDate.astype('str').fillna('')
rbs['RelocationDate']=rbs.RelocationDate.astype('str').fillna('')
rbs['TransferDate']=rbs.TransferDate.astype('str').fillna('')
rbs=rbs.replace({'NaT':''})

In [29]:
food=food.merge(stores[['ShopID','ShopName','City','State','StoreStatus','StoreType','OpenDate','RelocationDate','TransferDate']],on='ShopID',how='left')\
.drop_duplicates(subset=['ShopID','InvoiceDate','Ext Base Cost'],keep='last')
food[food.ShopID==1208]
food=food.merge(drive_thru[['ShopID','DT']],on='ShopID',how='left').drop_duplicates(subset=['ShopID','InvoiceDate','Ext Base Cost'],keep='first')

In [30]:
food.OpenDate=food.OpenDate.replace(pd.NaT, '')
food.RelocationDate=food.RelocationDate.replace(pd.NaT, '')
food.TransferDate=food.TransferDate.replace(pd.NaT, '')
food['OpenDate']=food.OpenDate.astype('str').fillna('')
food['RelocationDate']=food.RelocationDate.astype('str').fillna('')
food['TransferDate']=food.TransferDate.astype('str').fillna('')
food=food.replace({'NaT':''})

In [31]:
royalty=royalty.merge(stores[['ShopID','ShopName','City','State','StoreStatus','StoreType','OpenDate','RelocationDate','TransferDate']],on='ShopID',how='left')\
.drop_duplicates(subset=['ShopID','InvoiceDate','Ext Royalty'],keep='first')
royalty=royalty.merge(drive_thru[['ShopID','DT']],on='ShopID',how='left').drop_duplicates(subset=['ShopID','InvoiceDate','Ext Royalty'],keep='first')

In [32]:
royalty.OpenDate=royalty.OpenDate.replace(pd.NaT, '')
royalty.RelocationDate=royalty.RelocationDate.replace(pd.NaT, '')
royalty.TransferDate=royalty.TransferDate.replace(pd.NaT, '')
royalty['OpenDate']=royalty.OpenDate.astype('str').fillna('')
royalty['RelocationDate']=royalty.RelocationDate.astype('str').fillna('')
royalty['TransferDate']=royalty.TransferDate.astype('str').fillna('')
royalty=royalty.replace({'NaT':''})

In [33]:
ad_fund=ad_fund.merge(stores[['ShopID','ShopName','City','State','StoreStatus','StoreType','OpenDate','RelocationDate','TransferDate']],on='ShopID',how='left')\
.drop_duplicates(subset=['ShopID','InvoiceDate','Ext Ad Fund'],keep='first')
ad_fund=ad_fund.merge(drive_thru[['ShopID','DT']],on='ShopID',how='left').drop_duplicates(subset=['ShopID','InvoiceDate','Ext Ad Fund'],keep='first')

In [34]:
ad_fund.OpenDate=ad_fund.OpenDate.replace(pd.NaT, '')
ad_fund.RelocationDate=ad_fund.RelocationDate.replace(pd.NaT, '')
ad_fund.TransferDate=ad_fund.TransferDate.replace(pd.NaT, '')
ad_fund['OpenDate']=ad_fund.OpenDate.astype('str').fillna('')
ad_fund['RelocationDate']=ad_fund.RelocationDate.astype('str').fillna('')
ad_fund['TransferDate']=ad_fund.TransferDate.astype('str').fillna('')
ad_fund=ad_fund.replace({'NaT':''})

In [35]:
sales=dt_merge.groupby(['ParentID','DT','Year','EndDate'])['SalesMny'].sum().reset_index()
sales

       ParentID  DT    Year    EndDate   SalesMny
0           1.0  No  2022.0 2022-02-27   1658.510
1           1.0  No  2022.0 2022-03-06   7596.662
2           1.0  No  2022.0 2022-03-13   6962.020
3           1.0  No  2022.0 2022-03-20  14956.600
4           1.0  No  2022.0 2022-03-27  10087.332
...         ...  ..     ...        ...        ...
56316    1574.0  No  2024.0 2024-08-18   8980.330
56317    1574.0  No  2024.0 2024-08-25   4697.070
56318    1574.0  No  2024.0 2024-09-01  10626.310
56319    1574.0  No  2024.0 2024-09-08   3820.940
56320    1574.0  No  2024.0 2024-09-15   2324.560

[56321 rows x 5 columns]

In [36]:
stores_2=stores[stores.ShopID<10000]
sales=sales.merge(stores[['ParentID','ShopName','City','State','StoreStatus','StoreType','OpenDate','RelocationDate','TransferDate']],on='ParentID',how='left')\
.drop_duplicates(keep='first',subset=['ParentID','EndDate','SalesMny'])

In [37]:
sales.OpenDate=sales.OpenDate.replace(pd.NaT, '')
sales.RelocationDate=sales.RelocationDate.replace(pd.NaT, '')
sales.TransferDate=sales.TransferDate.replace(pd.NaT, '')

In [38]:
sales['OpenDate']=sales.OpenDate.astype('str').fillna('')
sales['RelocationDate']=sales.RelocationDate.astype('str').fillna('')
sales['TransferDate']=sales.TransferDate.astype('str').fillna('')
sales=sales.replace({'NaT':''})

In [39]:
sales[sales.DT=='Yes']

,ParentID,DT,Year,EndDate,SalesMny,ShopName,City,State,StoreStatus,StoreType,OpenDate,RelocationDate,TransferDate
2038,22.0,Yes,2022.0,2022-01-09,10085.905,1010 Court St-Clearwater FL,Clearwater,FL,Open,Walk-up,1993-08-06,,2023-06-23
2039,22.0,Yes,2022.0,2022-01-16,8916.285,1010 Court St-Clearwater FL,Clearwater,FL,Open,Walk-up,1993-08-06,,2023-06-23
2040,22.0,Yes,2022.0,2022-01-23,7412.968,1010 Court St-Clearwater FL,Clearwater,FL,Open,Walk-up,1993-08-06,,2023-06-23
2041,22.0,Yes,2022.0,2022-01-30,4237.538,1010 Court St-Clearwater FL,Clearwater,FL,Open,Walk-up,1993-08-06,,2023-06-23
2042,22.0,Yes,2022.0,2022-02-06,8336.965,1010 Court St-Clearwater FL,Clearwater,FL,Open,Walk-up,1993-08-06,,2023-06-23
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99042,1528.0,Yes,2024.0,2024-08-18,20975.470,731 Wayne Ave-Chambersburg PA,Chambersburg,PA,Open,Walk-up,2024-05-08,,
99043,1528.0,Yes,2024.0,2024-08-25,19990.040,731 Wayne Ave-Chambersburg PA,Chambersburg,PA,Open,Walk-up,2024-05-08,,
99044,1528.0,Yes,2024.0,2024-09-01,17493.630,731 Wayne Ave-Chambersburg PA,Chambersburg,PA,Open,Walk-up,2024-05-08,,
99045,1528.0,Yes,2024.0,2024-09-08,15727.230,731 Wayne Ave-Chambersburg PA,Chambersburg,PA,Open,Walk-up,2024-05-08,,
99046,1528.0,Yes,2024.0,2024-09-15,19040.922,731 Wayne Ave-Chambersburg PA,Chambersburg,PA,Open,Walk-up,2024-05-08,,

In [40]:
years=[2022,2023,2024]
with pd.ExcelWriter('POS Sales 2022-24.xlsx',datetime_format='mm/dd/yyyy') as writer:
    for i in list(enumerate(years)):
        kathy=sales[sales.Year==i[1]].pivot_table(index=['ParentID','ShopName','City',
                                                   'State','StoreStatus',
                                                   'StoreType','DT','OpenDate',
                                                  'RelocationDate','TransferDate'],
                                           columns='EndDate',values='SalesMny',aggfunc='sum',fill_value=0)
        
        kathy.to_excel(writer,sheet_name=str(i[1])+' POS Sales',engine='xlsxwriter',startcol=0,startrow=5)
        
        title='Ritas Franchise Company,LLC'
        text1=str(i[1])+' POS Sales YTD'
        text6='As of '+str(data.EndDate.max().strftime('%m-%d-%y'))
        wb=writer.book
        ws=writer.sheets[str(i[1])+' POS Sales']
        
        dollar_format=wb.add_format({'num_format':'$#,##0',
                                'align':'center',
                                'valign':'vcenter'})
        title_format=wb.add_format({'bold':True,
                               'italic':True,
                               'align':'center',
                               'valign':'vcenter'})
        border_format=wb.add_format({'left':2,'right':2,'top':2,'bottom':2})
        num_format=wb.add_format({'align':'center','valign':'vcenter'})
        
        ws.conditional_format(xlsxwriter.utility.xl_range(5,0,len(kathy)+5,len(kathy.columns)+9),
                                  {'type': 'no_errors', 'format': border_format})
        
        
        ws.set_column('A:A',12,num_format)
        ws.set_column('B:B',47,num_format)
        ws.set_column('C:J',30,num_format)
        ws.set_column('K:BZ',13,dollar_format)
        ws.autofilter(5,0,kathy.shape[0],kathy.shape[1]-1)
        ws.write(0,1,title,title_format)
        ws.write(1,1,text1,title_format)
        ws.write(2,1,text6,title_format)
        ws.insert_image('A1','Logo.png')
        ws.hide_gridlines(2)

In [41]:
years=[2022,2023,2024]
with pd.ExcelWriter('Royalty Based Sales 2022-24.xlsx',datetime_format='mm/dd/yyyy') as writer:
    for i in list(enumerate(years)):
        kathy=rbs[rbs.Year==i[1]].pivot_table(index=['ShopID','ShopName','City',
                                                   'State','StoreStatus',
                                                   'StoreType','DT','OpenDate',
                                                  'RelocationDate','TransferDate'],
                                           columns='InvoiceDate',values='Royalty Based Sales',aggfunc='sum',fill_value=0)
        
        kathy.to_excel(writer,sheet_name=str(i[1])+' RBS',engine='xlsxwriter',startcol=0,startrow=5)
        
        title='Ritas Franchise Company,LLC'
        text1=str(i[1])+' Royalty Based Sales YTD'
        text6='As of '+str(data.EndDate.max().strftime('%m-%d-%y'))
        wb=writer.book
        ws=writer.sheets[str(i[1])+' RBS']
        
        dollar_format=wb.add_format({'num_format':'$#,##0',
                                'align':'center',
                                'valign':'vcenter'})
        title_format=wb.add_format({'bold':True,
                               'italic':True,
                               'align':'center',
                               'valign':'vcenter'})
        border_format=wb.add_format({'left':2,'right':2,'top':2,'bottom':2})
        num_format=wb.add_format({'align':'center','valign':'vcenter'})
        
        ws.conditional_format(xlsxwriter.utility.xl_range(5,0,len(kathy)+5,len(kathy.columns)+9),
                                  {'type': 'no_errors', 'format': border_format})
        
        
        ws.set_column('A:A',12,num_format)
        ws.set_column('B:B',47,num_format)
        ws.set_column('C:J',30,num_format)
        ws.set_column('K:BZ',13,dollar_format)
        ws.autofilter(5,0,kathy.shape[0],kathy.shape[1]-1)
        ws.write(0,1,title,title_format)
        ws.write(1,1,text1,title_format)
        ws.write(2,1,text6,title_format)
        ws.insert_image('A1','Logo.png')
        ws.hide_gridlines(2)

In [42]:
years=[2022,2023,2024]
with pd.ExcelWriter('Food & Paper 2022-24.xlsx',datetime_format='mm/dd/yyyy') as writer:
    for i in list(enumerate(years)):
        kathy=food[food.Year==i[1]].pivot_table(index=['ShopID','ShopName','City',
                                                   'State','StoreStatus',
                                                   'StoreType','DT','OpenDate',
                                                  'RelocationDate','TransferDate'],
                                           columns='InvoiceDate',values='Ext Base Cost',aggfunc='sum',fill_value=0)
        
        kathy.to_excel(writer,sheet_name=str(i[1])+' Food & Paper',engine='xlsxwriter',startcol=0,startrow=5)
        
        title='Ritas Franchise Company,LLC'
        text1=str(i[1])+' Food & Paper Cost YTD'
        text6='As of '+str(data.EndDate.max().strftime('%m-%d-%y'))
        wb=writer.book
        ws=writer.sheets[str(i[1])+' Food & Paper']
        
        dollar_format=wb.add_format({'num_format':'$#,##0',
                                'align':'center',
                                'valign':'vcenter'})
        title_format=wb.add_format({'bold':True,
                               'italic':True,
                               'align':'center',
                               'valign':'vcenter'})
        border_format=wb.add_format({'left':2,'right':2,'top':2,'bottom':2})
        num_format=wb.add_format({'align':'center','valign':'vcenter'})
        
        ws.conditional_format(xlsxwriter.utility.xl_range(5,0,len(kathy)+5,len(kathy.columns)+9),
                                  {'type': 'no_errors', 'format': border_format})
        
        
        ws.set_column('A:A',12,num_format)
        ws.set_column('B:B',47,num_format)
        ws.set_column('C:J',30,num_format)
        ws.set_column('K:BZ',13,dollar_format)
        ws.autofilter(5,0,kathy.shape[0],kathy.shape[1]-1)
        ws.write(0,1,title,title_format)
        ws.write(1,1,text1,title_format)
        ws.write(2,1,text6,title_format)
        ws.insert_image('A1','Logo.png')
        ws.hide_gridlines(2)

In [43]:
years=[2022,2023,2024]
with pd.ExcelWriter('Royalty Revenue 2022-24.xlsx',datetime_format='mm/dd/yyyy') as writer:
    for i in list(enumerate(years)):
        kathy=royalty[royalty.Year==i[1]].pivot_table(index=['ShopID','ShopName','City',
                                                   'State','StoreStatus',
                                                   'StoreType','DT','OpenDate',
                                                  'RelocationDate','TransferDate'],
                                           columns='InvoiceDate',values='Ext Royalty',aggfunc='sum',fill_value=0)
        
        kathy.to_excel(writer,sheet_name=str(i[1])+' Royalty',engine='xlsxwriter',startcol=0,startrow=5)
        
        title='Ritas Franchise Company,LLC'
        text1=str(i[1])+' Royalty Revenue YTD'
        text6='As of '+str(data.EndDate.max().strftime('%m-%d-%y'))
        wb=writer.book
        ws=writer.sheets[str(i[1])+' Royalty']
        
        dollar_format=wb.add_format({'num_format':'$#,##0',
                                'align':'center',
                                'valign':'vcenter'})
        title_format=wb.add_format({'bold':True,
                               'italic':True,
                               'align':'center',
                               'valign':'vcenter'})
        border_format=wb.add_format({'left':2,'right':2,'top':2,'bottom':2})
        num_format=wb.add_format({'align':'center','valign':'vcenter'})
        
        ws.conditional_format(xlsxwriter.utility.xl_range(5,0,len(kathy)+5,len(kathy.columns)+9),
                                  {'type': 'no_errors', 'format': border_format})
        
        
        ws.set_column('A:A',12,num_format)
        ws.set_column('B:B',47,num_format)
        ws.set_column('C:J',30,num_format)
        ws.set_column('K:BZ',13,dollar_format)
        ws.autofilter(5,0,kathy.shape[0],kathy.shape[1]-1)
        ws.write(0,1,title,title_format)
        ws.write(1,1,text1,title_format)
        ws.write(2,1,text6,title_format)
        ws.insert_image('A1','Logo.png')
        ws.hide_gridlines(2)

In [44]:
years=[2022,2023,2024]
with pd.ExcelWriter('Ad Fund Revenue 2022-24.xlsx',datetime_format='mm/dd/yyyy') as writer:
    for i in list(enumerate(years)):
        kathy=ad_fund[ad_fund.Year==i[1]].pivot_table(index=['ShopID','ShopName','City',
                                                   'State','StoreStatus',
                                                   'StoreType','DT','OpenDate',
                                                  'RelocationDate','TransferDate'],
                                           columns='InvoiceDate',values='Ext Ad Fund',aggfunc='sum',fill_value=0)
        
        kathy.to_excel(writer,sheet_name=str(i[1])+' Ad Fund',engine='xlsxwriter',startcol=0,startrow=5)
        
        title='Ritas Franchise Company,LLC'
        text1=str(i[1])+' Ad Fund Revenue YTD'
        text6='As of '+str(data.EndDate.max().strftime('%m-%d-%y'))
        wb=writer.book
        ws=writer.sheets[str(i[1])+' Ad Fund']
        
        dollar_format=wb.add_format({'num_format':'$#,##0',
                                'align':'center',
                                'valign':'vcenter'})
        title_format=wb.add_format({'bold':True,
                               'italic':True,
                               'align':'center',
                               'valign':'vcenter'})
        border_format=wb.add_format({'left':2,'right':2,'top':2,'bottom':2})
        num_format=wb.add_format({'align':'center','valign':'vcenter'})
        
        ws.conditional_format(xlsxwriter.utility.xl_range(5,0,len(kathy)+5,len(kathy.columns)+9),
                                  {'type': 'no_errors', 'format': border_format})
        
        
        ws.set_column('A:A',12,num_format)
        ws.set_column('B:B',47,num_format)
        ws.set_column('C:J',30,num_format)
        ws.set_column('K:BZ',13,dollar_format)
        ws.autofilter(5,0,kathy.shape[0],kathy.shape[1]-1)
        ws.write(0,1,title,title_format)
        ws.write(1,1,text1,title_format)
        ws.write(2,1,text6,title_format)
        ws.insert_image('A1','Logo.png')
        ws.hide_gridlines(2)