In [1]:
import pandas as pd
import os
import numpy as np
import pyodbc as odbc
import datetime as dt
from datetime import date,timedelta,datetime
import matplotlib.pyplot as plt
plt.style.use('ggplot')

In [20]:
# Names the needed driver, server name, and database
driver_name='SQL Server'
server_name='10.0.1.127'
database='MAS_RFC'
#Creates the connection string
connection_string=f"""
DRIVER={{{driver_name}}};
SERVER={server_name};
DATABASE={database};
Trust_Connection=yes"""
connection=odbc.connect(connection_string)
print(connection)

<pyodbc.Connection object at 0x0000025BEEF6E2A0>

# Reads All the Necessary Tables tp Create the General Ledger

In [3]:
#Department Names
dept=pd.read_sql_query("""select * from mas_rfc.dbo.gl_subaccount""",connection)
# All the different accounts. Use this to determine what accounts the a JE is affecting
account=pd.read_sql_query("""select * from mas_rfc.dbo.GL_Account""",connection)
# The actual General Ledger
gl=pd.read_sql_query("""select * from mas_rfc.dbo.GL_DetailPosting where Year(PostingDate)=2024""",connection)
#Reads in the Account Group
ag=pd.read_sql_query("""select * from mas_rfc.dbo.GL_AccountGroup""",connection)
#Account Category
acc_cat=pd.read_sql_query("""select * from mas_rfc.dbo.GL_AccountCategory""",connection)

C:\Users\jharned\AppData\Local\Temp\ipykernel_8976\1804209168.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dept=pd.read_sql_query("""select * from mas_rfc.dbo.gl_subaccount""",connection)
C:\Users\jharned\AppData\Local\Temp\ipykernel_8976\1804209168.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  account=pd.read_sql_query("""select * from mas_rfc.dbo.GL_Account""",connection)
C:\Users\jharned\AppData\Local\Temp\ipykernel_8976\1804209168.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  gl=pd.read_sql_query("""select * from mas_rfc.dbo.GL_DetailPosting where Year(PostingDate)=2024""",connection)
C:\Users\jharned\AppData\Local\Temp\ipykernel_8976\1804209168.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ag=pd.read_sql_query("""select * from mas_rfc.dbo.GL_AccountGroup""",connection)
C:\Users\jharned\AppData\Local\Temp\ipykernel_8976\1804209168.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  acc_cat=pd.read_sql_query("""select * from mas_rfc.dbo.GL_AccountCategory""",connection)

# Data Manipuation of the Tables to get GL in the Correct Format

In [10]:
# The actual General Ledger
os.chdir(r'L:\04 Month-End\Fin Stmts - 2024\2024 RFC\2024 Financials\02 February\Finals')
gl=pd.read_sql_query("""select * from mas_rfc.dbo.GL_DetailPosting where Year(PostingDate)=2024""",connection)
# Merges the account information with the General Ledger
gla=gl.merge(account[['AccountKey','AccountDesc','AccountType','AccountCategory','Account','AccountGroup']],on='AccountKey',how='left')
#Creates the Sub Account Code for the different Departments
gla['SubAccountCode']=gla.Account.str[-3:]
#Adds the Department Name
gla=gla.merge(dept[['SubAccountCode','SubAccountDesc']],on='SubAccountCode',how='left')
#Merges with the Account Group
gla_final=gla.merge(ag[['AccountType','AccountGroupDesc','AccountGroup']],on=['AccountType','AccountGroup'],how='left')
#Final Result
final_gl=gla_final.merge(acc_cat,on='AccountCategory',how='left')
final_gl['NetAmount']=final_gl.DebitAmount-final_gl.CreditAmount
final_gl[final_gl.PostingDate.dt.month==1].groupby('AccountCategoryDesc')['NetAmount'].sum()

C:\Users\jharned\AppData\Local\Temp\ipykernel_8976\635674288.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  gl=pd.read_sql_query("""select * from mas_rfc.dbo.GL_DetailPosting where Year(PostingDate)=2024""",connection)

AccountCategoryDesc
Assets                 -626410.89
Cost of Sales           510188.43
Equity                    2888.00
Expenses                799096.77
Liabilities             103344.55
Other Income/Expense    100667.39
Revenue                -889774.25
Name: NetAmount, dtype: float64

In [14]:
gl

,AccountKey,PostingDate,SourceJournal,JournalRegisterNo,SequenceNo,SourceModule,DocumentType,DocumentNo,DocSequenceNo,ReceiptNo,...,HeaderRec,LineBankCode,LineDocRefer,LineDate,DateCreated,TimeCreated,UserCreatedKey,DebitAmount,CreditAmount,WorkTicketKey
0,00000000Y,2024-01-03,AP,028233,00000001418973,AP,I,010224J,00000000000000,,...,,,,1753-01-01,2024-01-03,14.95173,0000000053,50.00,0.00,
1,00000000Y,2024-01-03,SO,026798,00000001418963,SO,S,,00000000000000,,...,,,,1753-01-01,2024-01-03,14.86077,0000000053,0.00,50.00,
2,00000000Y,2024-01-09,AP,028272,00000001420723,AP,I,010823J,00000000000000,,...,,,,1753-01-01,2024-01-09,16.10914,0000000053,50.00,0.00,
3,00000000Y,2024-01-09,SO,026831,00000001420714,SO,S,,00000000000000,,...,,,,1753-01-01,2024-01-09,15.93486,0000000053,0.00,50.00,
4,000000013,2024-01-02,CR,018325,00000001418464,AR,,,,,...,,,,1753-01-01,2024-01-02,10.7755,0000000053,0.00,3611.12,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11970,0000002TE,2024-03-21,SO,027209,00000001428922,SO,S,,00000000000000,,...,,,,1753-01-01,2024-03-21,10.2401,0000000053,0.00,5652.55,
11971,0000002TE,2024-03-28,SO,027260,00000001430287,SO,S,,00000000000000,,...,,,,1753-01-01,2024-03-28,14.18613,0000000053,0.00,3887.62,
11972,0000002TE,2024-03-31,JE,040918,00000001432005,GL,,,,,...,,,,1753-01-01,2024-04-03,17.55512,0000000053,0.00,3644.26,
11973,0000002TE,2024-04-01,JE,040918,00000001432006,GL,,,,,...,,,,1753-01-01,2024-04-03,17.55512,0000000053,3644.26,0.00,
11974,0000002TE,2024-04-03,SO,027299,00000001431561,SO,S,,00000000000000,,...,,,,1753-01-01,2024-04-03,17.19447,0000000053,0.00,3644.26,

In [11]:
final_gl[final_gl.PostingDate.dt.month<=2].pivot_table(index='AccountDesc',values='NetAmount',aggfunc='sum').to_excel('test-JH.xlsx')

In [17]:
final_gl[(final_gl.AccountDesc.str.contains('TAX DIS'))&(final_gl.PostingDate.dt.month<=2)]

,AccountKey,PostingDate,SourceJournal,JournalRegisterNo,SequenceNo,SourceModule,DocumentType,DocumentNo,DocSequenceNo,ReceiptNo,...,AccountDesc,AccountType,AccountCategory,Account,AccountGroup,SubAccountCode,SubAccountDesc,AccountGroupDesc,AccountCategoryDesc,NetAmount
174,00000005Y,2024-01-01,JE,039690,00000001420798,GL,,,,,...,TAX DISTRIBUTIONS,09,E,29040-01-000,29000,000,General,Equity,Equity,-530.0
175,00000005Y,2024-01-01,JE,039691,00000001420802,GL,,,,,...,TAX DISTRIBUTIONS,09,E,29040-01-000,29000,000,General,Equity,Equity,-970.0
176,00000005Y,2024-01-01,JE,039692,00000001420806,GL,,,,,...,TAX DISTRIBUTIONS,09,E,29040-01-000,29000,000,General,Equity,Equity,-15230.0
177,00000005Y,2024-01-01,JE,039693,00000001420810,GL,,,,,...,TAX DISTRIBUTIONS,09,E,29040-01-000,29000,000,General,Equity,Equity,-22260.0
178,00000005Y,2024-01-01,JE,039694,00000001420814,GL,,,,,...,TAX DISTRIBUTIONS,09,E,29040-01-000,29000,000,General,Equity,Equity,-1130.0
1187,00000005Y,2024-01-16,AP,028289,00000001421149,AP,I,RFCQ0423,00000000000000,,...,TAX DISTRIBUTIONS,09,E,29040-01-000,29000,000,General,Equity,Equity,15230.0
1188,00000005Y,2024-01-16,AP,028289,00000001421150,AP,I,RFCQ0423,00000000000001,,...,TAX DISTRIBUTIONS,09,E,29040-01-000,29000,000,General,Equity,Equity,530.0
1189,00000005Y,2024-01-16,AP,028289,00000001421151,AP,I,RFCQ0423-592,00000000000000,,...,TAX DISTRIBUTIONS,09,E,29040-01-000,29000,000,General,Equity,Equity,14.0
1190,00000005Y,2024-01-16,AP,028289,00000001421152,AP,I,RFCQ0423-592Q,00000000000000,,...,TAX DISTRIBUTIONS,09,E,29040-01-000,29000,000,General,Equity,Equity,2144.0
1191,00000005Y,2024-01-16,AP,028289,00000001421153,AP,I,RFCQ0423,00000000000002,,...,TAX DISTRIBUTIONS,09,E,29040-01-000,29000,000,General,Equity,Equity,1130.0
1192,00000005Y,2024-01-16,AP,028289,00000001421154,AP,I,RFCQ0423,00000000000003,,...,TAX DISTRIBUTIONS,09,E,29040-01-000,29000,000,General,Equity,Equity,730.0
1193,00000005Y,2024-01-16,MC,004003,00000001421269,AP,C,T0001162024,00000000000000,,...,TAX DISTRIBUTIONS,09,E,29040-01-000,29000,000,General,Equity,Equity,970.0
1194,00000005Y,2024-01-16,MC,004004,00000001421271,AP,C,T0001162024,00000000000001,,...,TAX DISTRIBUTIONS,09,E,29040-01-000,29000,000,General,Equity,Equity,22260.0

In [40]:
group=final_gl[final_gl.PostingDate.dt.month==1].groupby(['AccountCategoryDesc','AccountGroupDesc',
                                                   'AccountDesc'])['NetAmount'].sum().reset_index()

In [43]:
round(group.NetAmount.sum(),2)

0.0

In [30]:
group[group.AccountCategoryDesc=='Revenue']

,AccountCategoryDesc,AccountGroupDesc,AccountDesc,NetAmount
235,Revenue,Revenue,FRANCHISE FEE REVENUE,-37250.00
236,Revenue,Revenue,PRODUCT SALES,-1898852.11
237,Revenue,Revenue,PRODUCT SALES - FUEL SURCHARGE,-13946.82
238,Revenue,Revenue,ROYALTIES,-799298.48
239,Revenue,Revenue,ROYALTIES - AD REBATES,11393.96
240,Revenue,Revenue,ROYALTIES - CREDITS,192.56

In [52]:
final_gl[final_gl.apply(lambda row: row.astype(str).str.contains('leah').any(), axis=1)]

Empty DataFrame
Columns: [AccountKey, PostingDate, SourceJournal, JournalRegisterNo, SequenceNo, SourceModule, DocumentType, DocumentNo, DocSequenceNo, ReceiptNo, BatchType, BatchNo, PostingComment, HeaderRec, LineBankCode, LineDocRefer, LineDate, DateCreated, TimeCreated, UserCreatedKey, DebitAmount, CreditAmount, WorkTicketKey, AccountDesc, AccountType, AccountCategory, Account, AccountGroup, SubAccountCode, SubAccountDesc, AccountGroupDesc, AccountCategoryDesc, NetAmount]
Index: []

[0 rows x 33 columns]

In [48]:

final_gl.PostingCommentfinal_gl.PostingComment

0                                 01JMCR001 /IN: 010224J
1                            S/O Invoice Entry - 1/3/2024
2                                 01JMCR001 /IN: 010823J
3                            S/O Invoice Entry - 1/9/2024
4                      A/R Cash Receipts Entry - 1/2/2024
                              ...
7558                       To record Depreciation Expense
7559    To Record Depreciation Expense - Busch Gardens...
7560                       To record Depreciation Expense
7561               01COLO003 /IN: 00138451CS O/S Lighting
7562    01PREC003 /IN: INV#1 WE 1.05.24 & 01.12.24-Pro...
Name: PostingComment, Length: 7563, dtype: object

In [21]:
pd.read_sql_query("""select * from mas_rfh.dbo.GL_DetailPosting where Year(PostingDate)=2024""",connection)

C:\Users\jharned\AppData\Local\Temp\ipykernel_8976\3446862037.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("""select * from mas_rfh.dbo.GL_DetailPosting where Year(PostingDate)=2024""",connection)

,AccountKey,PostingDate,SourceJournal,JournalRegisterNo,SequenceNo,SourceModule,DocumentType,DocumentNo,DocSequenceNo,ReceiptNo,...,HeaderRec,LineBankCode,LineDocRefer,LineDate,DateCreated,TimeCreated,UserCreatedKey,DebitAmount,CreditAmount,WorkTicketKey
0,000000014,2024-01-01,JE,000435,00000000000940,GL,,,,,...,,,,1753-01-01,2024-02-07,14.59018,0000000048,0.0,1250.0,
1,000000014,2024-01-01,JE,000436,00000000000942,GL,,,,,...,,,,1753-01-01,2024-02-07,14.59018,0000000048,0.0,790.0,
2,000000014,2024-01-16,JE,000434,00000000000938,GL,,,,,...,,,,1753-01-01,2024-02-07,14.59018,0000000048,0.0,345.0,
3,000000014,2024-02-26,JE,000437,00000000000944,GL,,,,,...,,,,1753-01-01,2024-02-27,17.32529,0000000104,0.0,1821074.0,
4,000000014,2024-02-26,JE,000438,00000000000946,GL,,,,,...,,,,1753-01-01,2024-02-27,17.32529,0000000104,0.0,158354.0,
5,000000014,2024-02-26,JE,000440,00000000000948,GL,,,,,...,,,,1753-01-01,2024-02-27,17.32529,0000000104,0.0,20572.0,
6,000000014,2024-03-04,JE,000441,00000000000950,GL,,,,,...,,,,1753-01-01,2024-03-28,16.01839,0000000104,0.0,81414.0,
7,000000014,2024-03-04,JE,000442,00000000000952,GL,,,,,...,,,,1753-01-01,2024-03-28,16.01839,0000000104,0.0,936259.0,
8,000000014,2024-03-04,JE,000443,00000000000954,GL,,,,,...,,,,1753-01-01,2024-03-28,16.01839,0000000104,0.0,10576.0,
9,000000014,2024-03-14,JE,000444,00000000000956,GL,,,,,...,,,,1753-01-01,2024-03-28,16.01839,0000000104,0.0,198.0,
10,000000014,2024-03-14,JE,000445,00000000000958,GL,,,,,...,,,,1753-01-01,2024-03-28,16.01839,0000000104,0.0,1046.0,
11,000000014,2024-03-14,JE,000446,00000000000960,GL,,,,,...,,,,1753-01-01,2024-03-28,16.01839,0000000104,0.0,47.0,
12,000000016,2024-01-01,JE,000431,00000000000926,GL,,,,,...,,,,1753-01-01,2024-01-10,11.88254,0000000048,0.0,345.0,
13,000000016,2024-01-01,JE,000432,00000000000930,GL,,,,,...,,,,1753-01-01,2024-01-10,11.88254,0000000048,0.0,1250.0,
14,000000016,2024-01-01,JE,000433,00000000000934,GL,,,,,...,,,,1753-01-01,2024-01-10,11.88254,0000000048,0.0,790.0,
15,000000016,2024-01-01,JE,000435,00000000000939,GL,,,,,...,,,,1753-01-01,2024-02-07,14.59018,0000000048,1250.0,0.0,
16,000000016,2024-01-01,JE,000436,00000000000941,GL,,,,,...,,,,1753-01-01,2024-02-07,14.59018,0000000048,790.0,0.0,
17,000000016,2024-01-16,JE,000434,00000000000937,GL,,,,,...,,,,1753-01-01,2024-02-07,14.59018,0000000048,345.0,0.0,
18,000000016,2024-02-26,JE,000437,00000000000943,GL,,,,,...,,,,1753-01-01,2024-02-27,17.32529,0000000104,1821074.0,0.0,
19,000000016,2024-02-26,JE,000438,00000000000945,GL,,,,,...,,,,1753-01-01,2024-02-27,17.32529,0000000104,158354.0,0.0,
20,000000016,2024-02-26,JE,000440,00000000000947,GL,,,,,...,,,,1753-01-01,2024-02-27,17.32529,0000000104,20572.0,0.0,
21,000000016,2024-03-04,JE,000441,00000000000949,GL,,,,,...,,,,1753-01-01,2024-03-28,16.01839,0000000104,81414.0,0.0,
22,000000016,2024-03-04,JE,000442,00000000000951,GL,,,,,...,,,,1753-01-01,2024-03-28,16.01839,0000000104,936259.0,0.0,
23,000000016,2024-03-04,JE,000443,00000000000953,GL,,,,,...,,,,1753-01-01,2024-03-28,16.01839,0000000104,10576.0,0.0,
24,000000016,2024-03-14,JE,000444,00000000000955,GL,,,,,...,,,,1753-01-01,2024-03-28,16.01839,0000000104,198.0,0.0,
25,000000016,2024-03-14,JE,000445,00000000000957,GL,,,,,...,,,,1753-01-01,2024-03-28,16.01839,0000000104,1046.0,0.0,
26,000000016,2024-03-14,JE,000446,00000000000959,GL,,,,,...,,,,1753-01-01,2024-03-28,16.01839,0000000104,47.0,0.0,
27,000000017,2024-01-01,JE,000431,00000000000928,GL,,,,,...,,,,1753-01-01,2024-01-10,11.88254,0000000048,345.0,0.0,
28,000000017,2024-01-01,JE,000432,00000000000932,GL,,,,,...,,,,1753-01-01,2024-01-10,11.88254,0000000048,1250.0,0.0,
29,000000017,2024-01-01,JE,000433,00000000000936,GL,,,,,...,,,,1753-01-01,2024-01-10,11.88254,0000000048,790.0,0.0,